<!-- Begin pattern: long-form-end-piece //-->
<section class="long-form ">
	<div class="container">
		<div class="row">
			<div class="long-form__wrapper">
				<div class="long-form__content">
					{{{end-content}}}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End pattern: long-form-end-piece //-->