---
title: Example
layout: _base.hbs
core-assets: true
---

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Examples</h2>
            <p>A collection of examples built using the digital pattern library.</p>

<!-- HOME PAGES -->
            <h2>Home pages</h2>
        </div>
    </div>
</div>
<!-- Begin pattern: navbox-grid //-->
<div class="container">
	<div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="assets/docs/images/placeholders/homepage-example.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <a href="examples/homepage.html">University home page</a>
                </div>
            </div>
        <!-- End pattern: navbox //-->
        </div>
	</div>
</div>
<!-- End pattern: navbox-grid //-->


<!-- CONTENT PAGES -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Content pages</h2>
        </div>
    </div>
</div>
<!-- Begin pattern: navbox-grid //-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-image">
                    <img src="assets/docs/images/placeholders/about-example.jpg" alt="Description">
                </div>
                <div class="navbox-title">
                    <a href="examples/about.html">About</a>
                </div>
            </div>
            <!-- End pattern: navbox //-->
        </div>

        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-image">
                <img src="assets/docs/images/placeholders/content-example.jpg" alt="Description">
                </div>
                <div class="navbox-title">
                    <a href="examples/content.html">Content</a>
                </div>
            </div>
            <!-- End pattern: navbox //-->
        </div>

        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-image">
                    <img src="assets/docs/images/placeholders/gallery-example.jpg" alt="Description">
                </div>
                <div class="navbox-title">
                    <a href="examples/gallery.html">Gallery</a>
                </div>
            </div>
            <!-- End pattern: navbox //-->
        </div>
    </div>
</div>
<!-- End pattern: navbox-grid //-->

<!-- FORMS -->

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Forms</h2>
        </div>
    </div>
</div>
<!-- Begin pattern: navbox-grid //-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="assets/docs/images/placeholders/form-example.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <a href="examples/form.html">Sample forms</a>
                </div>
            </div>
        <!-- End pattern: navbox //-->
        </div>
    </div>
</div>

<!-- ERRORS -->

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Errors</h2>
        </div>
    </div>
</div>
<!-- Begin pattern: navbox-grid //-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="assets/docs/images/placeholders/error-example.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <a href="examples/error.html">Error page</a>
                </div>
            </div>
        <!-- End pattern: navbox //-->
        </div>
    </div>
</div>


<!-- LONG-FORM CONTENT -->
<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Long-form content</h2>
            <p>Only used for story pages.</p>
        </div>
    </div>
</div>
<!-- Begin pattern: navbox-grid //-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="assets/docs/images/placeholders/long-form-content-example.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <a href="examples/long-form-content.html">Long-form content</a>
                </div>
            </div>
        <!-- End pattern: navbox //-->
        </div>
    </div>
</div>
<!-- End pattern: navbox-grid //-->