---
title: Example
layout: _base.hbs
core-assets: true
---
<div class="page-intro__wrapper">
    <div class="page-intro">
        <div class="page-intro__text">
            <h1 class="page-intro__heading">Examples</h1>
            <p class="lead">A collection of example pages built using the digital pattern library.</p>
        </div>
    </div>
</div>
<!-- HOME PAGES -->
<nav class="navigation-grid collapse-top" role="navigation" aria-labelledby="label-home-pages">
    <div class="container">
        <h2 id="label-home-pages" class="navigation-grid__heading">Landing pages</h2>
        <ul class="navigation-grid__items">
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/homepage.html">Home</a></h3>
                <p class="navigation-grid-item__description">This reflects the current layout of the University home page.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/landing.html">Top level landing</a></h3>
                <p class="navigation-grid-item__description">This is recommended for key sections or stand alone sub-sites.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/news-landing.html">News headlines</a></h3>
                <p class="navigation-grid-item__description">The various news based patterns used to promote the important articles.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/about.html">Navigation page</a></h3>
                <p class="navigation-grid-item__description">Provide quick access to all the important sub-pages of a section.</p>
            </li>
        </ul>
    </div>
</nav>


<!-- CONTENT PAGES -->
<nav class="navigation-grid collapse-top" role="navigation" aria-labelledby="label-content-pages">
    <div class="container">
        <h2 id="label-content-pages" class="navigation-grid__heading">Content pages</h2>
        <ul class="navigation-grid__items">
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/content.html">Content</a></h3>
                <p class="navigation-grid-item__description">A typical page containing a main column and an aside using various types of content.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/gallery.html">Gallery</a></h3>
                <p class="navigation-grid-item__description">A gallery of images that can be viewed in a lightbox.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/people.html">People (with modal)</a></h3>
                <p class="navigation-grid-item__description">A list of contacts that link to further information about each person in a modal window.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/people-links.html">People (with links)</a></h3>
                <p class="navigation-grid-item__description">A list of contacts that link to further information about each person in a new page.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/people-profile.html">People profile</a></h3>
                <p class="navigation-grid-item__description">Details about an individual.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/search.html">Search results</a></h3>
                <p class="navigation-grid-item__description">Including tab, filters and facets will make finding information simpler.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/news.html">News article</a></h3>
                <p class="navigation-grid-item__description">A typical news article with header, content, media and comments.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/blog.html">Blog post</a></h3>
                <p class="navigation-grid-item__description">A typical blog post with header, content and comments.</p>
            </li>
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/event.html">Event</a></h3>
                <p class="navigation-grid-item__description">An event with detailed information and range of content types.</p>
            </li>
        </ul>
    </div>
</nav>

<!-- FORMS -->
<nav class="navigation-grid collapse-top" role="navigation" aria-labelledby="label-forms">
    <div class="container">
        <h2 id="label-forms" class="navigation-grid__heading">Forms</h2>
        <ul class="navigation-grid__items">
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/form.html">Common forms</a></h3>
                <p class="navigation-grid-item__description">A sample of common form field configurations.</p>
            </li>
        </ul>
    </div>
</nav>


<!-- LONG-FORM CONTENT -->
<nav class="navigation-grid collapse-top" role="navigation" aria-labelledby="label-long-forms">
    <div class="container">
        <h2 id="label-long-forms" class="navigation-grid__heading">Long-forms</h2>
        <ul class="navigation-grid__items">
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/long-form-content.html">Long form content</a></h3>
                <p class="navigation-grid-item__description">This should only be used for story pages.</p>
            </li>
        </ul>
    </div>
</nav>

<!-- Applications -->
<nav class="navigation-grid collapse-top" role="navigation" aria-labelledby="label-apps">
    <div class="container">
        <h2 id="label-apps" class="navigation-grid__heading">Applications</h2>
        <ul class="navigation-grid__items">
            <li class="navigation-grid-item">
                <h3 class="navigation-grid-item__heading"><a href="examples/application.html">Standard web application</a></h3>
                <p class="navigation-grid-item__description">Header, footer and collapsing side menu that is suitable for a wide range of web applications.</p>
            </li>
        </ul>
    </div>
</nav>