---
title: Example
layout: _base.hbs
core-assets: true
---

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Examples</h2>
            <p>A collection of example pages built using the digital pattern library.</p>
</div>
</div>
</div>

<!-- HOME PAGES -->
<div class="navbox-grid collapse-top">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Home pages</h2>
        </div>
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-title">
                    <a href="examples/homepage.html">University home page</a>
                </div>
            </div>
        <!-- End pattern: navbox //-->
        </div>
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-title">
                    <a href="examples/landing.html">Top level landing page</a>
                </div>
            </div>
        <!-- End pattern: navbox //-->
        </div>
	</div>
</div>
</div>
<!-- End pattern: navbox-grid //-->


<!-- CONTENT PAGES -->

<div class="navbox-grid">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Content pages</h2>
        </div>
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-title">
                    <a href="examples/about.html">About</a>
                </div>
            </div>
            <!-- End pattern: navbox //-->
        </div>

        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-title">
                    <a href="examples/content.html">Content</a>
                </div>
            </div>
            <!-- End pattern: navbox //-->
        </div>

        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-title" role="button">
                    <a href="examples/gallery.html">Gallery</a>
                </div>
            </div>
            <!-- End pattern: navbox //-->
        </div>

        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-title">
                    <a href="examples/people.html">People page with modal</a>
                </div>
            </div>
            <!-- End pattern: navbox //-->
        </div>

        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-title">
                    <a href="examples/people-links.html">People page with links</a>
                </div>
            </div>
            <!-- End pattern: navbox //-->
        </div>
    </div>
</div>
</div>
<!-- End pattern: navbox-grid //-->

<!-- FORMS -->

<div class="navbox-grid">
<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Forms</h2>
        </div>
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-title">
                    <a href="examples/form.html">Sample forms</a>
                </div>
            </div>
        <!-- End pattern: navbox //-->
        </div>
    </div>
</div>
</div>


<!-- LONG-FORM CONTENT -->
<div class="navbox-grid">
<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Long-form content</h2>
            <p>Only used for story pages.</p>
        </div>
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            <div class="navbox ">
                <div class="navbox-title">
                    <a href="examples/long-form-content.html">Long-form content</a>
                </div>
            </div>
        <!-- End pattern: navbox //-->
        </div>
    </div>
</div>
</div>
<!-- End pattern: navbox-grid //-->