---
title: Example pages
layout: _base.hbs
---

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h1>Example pages</h1>
            
            <p>A collection of example pages built using the digital pattern library.</p>

            <h2>Home pages</h2>

            <p>Example home pages built using the digital pattern library.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
	<div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="../docs/assets/docs/images/placeholders/homepage-example.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <p><a href="examples/homepage.html">University home page</a></p>
                </div>
            </div>
            
        <!-- End pattern: navbox //-->                
        </div>
	</div>
</div>
<!-- End pattern: navbox-grid //-->


<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Content pages</h2>

            <p>Example content pages built using the digital pattern library.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
    <div class="row">
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/placeholders/about-example.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="examples/about.html">About</a></p>
                        </div>
                    </div>    
                <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/placeholders/content-example.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="examples/content.html">Content</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/placeholders/gallery-example.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="examples/gallery.html">Gallery</a></p>
                        </div>
                    </div>
                    
                <!-- End pattern: navbox //-->                
                </div>
			</div>
		</div>
	<!-- End pattern: navbox-grid //-->
	</div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Web applications</h2>

            <p>Example web applications using the digital pattern library.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
	<div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="../docs/assets/docs/images/placeholders/web-apps-example.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <p><a href="examples/web-app.html">Web applications</a></p>
                </div>
            </div>
            
        <!-- End pattern: navbox //-->                
        </div>
	</div>
</div>
<!-- End pattern: navbox-grid //-->

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Long form content</h2>

            <p>Example long form page built using the digital pattern library.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
	<div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="../docs/assets/docs/images/placeholders/long-form-content-example.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <p><a href="examples/long-form-content-example.html">Long form content</a></p>
                </div>
            </div>
            
        <!-- End pattern: navbox //-->                
        </div>
	</div>
</div>
<!-- End pattern: navbox-grid //-->

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>HTML elements</h2>

            <p>Digital pattern library HTML elements.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
	<div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="../docs/assets/docs/images/placeholders/html-elements-example.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <p><a href="examples/html-elements.html">HTML elements</a></p>
                </div>
            </div>
            
        <!-- End pattern: navbox //-->                
        </div>
	</div>
</div>
<!-- End pattern: navbox-grid //-->