---
title: Digital Pattern Library
layout: _base.hbs
---

<div class="container">
    <div class="row">

        <div class="col-md-8 col-sm-6">
            <h2>Permission to use the DPL</h2>
            <p>The digital pattern library (DPL) is a resource created and owned by the <a href="http://digitalcommunications.wp.st-andrews.ac.uk/about/">digital communications team</a>. Find out what the DPL does on the <a href="{{rel "about.html"}}">about</a> page.</p>
            <p>The DPL is used to create both web applications and web pages. It follows the design principles of the digital communications team. The code in the DPL is version controlled via GitHub. It is content management system (CMS) and system agnostic.</p>
            <p>If you wish to use the DPL and you are a member of staff at the University of St&nbsp;Andrews, you must liaise with the digital communications team for access and training. Any member of staff using the DPL will be expected to attend the fortnightly DPL developers’ meeting on a regular basis.</p>
            <p>External agencies or partners who wish to use the DPL must request access from the digital communications team. Access to the DPL to external partners is granted on a case by case basis.</p>
            <p>All users of the DPL must have an understanding of <a href="https://www.st-andrews.ac.uk/digital-standards/service-manual/user-centred/">user-centred design</a>, and keep up to date with amendments to the <a href="https://www.st-andrews.ac.uk/digital-standards/service-manual/">digital communications team service manual</a>.</p>

            <p><strong>New web applications and webpages designed using the digital pattern library must be approved by the digital communications team before they are deployed to a production environment.</strong></p>

            <!-- Begin pattern: accordion //-->
            <div class="accordion">
                <h3>Obtaining permission to use the DPL</h3>
                <div>
                    <p>All users who wish to use the DPL to build a product must first organise a kick-off meeting with the digital communications team. At this meeting rules and responsibilities will be explained, and users will be required to sign a Memorandum of Understanding.</p>
                    <p>The Memorandum of Understanding will set out clear sign off gateways, which require users to share the information architecture (for web pages) and/or workflow (for web apps) as well as plans for content management with the digital communications team before the DPL is used to build or prototype a product. Once the IA or workflow has been agreed, the product must meet the <a href="https://www.st-andrews.ac.uk/digital-standards/service-manual/links/">relevant URL policy</a>. All products using any element of the DPL must conform to the <a href="https://www.st-andrews.ac.uk/digital-standards/service-manual/house-style/">house style</a>, <a href="https://www.st-andrews.ac.uk/digital-standards/service-manual/content-management/standards/">content standards</a> and <a href="https://www.st-andrews.ac.uk/digital-standards/service-manual/corporate-identity/">corporate identity policy</a> of the University.</p>
                    <p>A clear commitment must be given that no new product using the DPL will go live without the explicit, written sign-off by the digital communications team.</p>
                </div>
            </div>
            <!-- End pattern: accordion //-->

            <!-- Begin pattern: accordion //-->
            <div class="accordion">
                <h3>Code standards in the DPL</h3>
                <div>
                    <p>Developers using the DPL should not fork the code in GitHub. No patterns or elements (such as colours) in the DPL may be edited without liaising with the digital communications team. This is the case in both the DPL and in any content management system; patterns should not be modified in any manner. Do not use CSS to overrule DPL elements, patterns, fonts etc. All code written must follow the digital communications team’s <a href="https://www.st-andrews.ac.uk/digital-standards/service-manual/code-standards/">code standards</a>. Rules on all patterns must be adhered to - if in doubt, please ask.</p>
                    <p>New patterns may only be created by developers working directly alongside the digital communications team.</p>
                </div>
            </div>

            <!-- Begin pattern: accordion //-->
            <div class="accordion">
                <h3>Building patterns in a CMS</h3>
                <div>
                    <p>DPL patterns should only be added to our central CMS, T4, or to WordPress by the digital communications team.</p>
                    <p>Some patterns already exist within T4 and WordPress; developers are free to use these patterns in accordance with the rules of the patterns, and in accordance with this policy. There should be only one instance of each pattern in T4/WordPress. Do not duplicate patterns/content types. Any new pattern in T4/WordPress must follow the digital communications team's naming conventions.</p>
                </div>
            </div>
            <div class="alert alert-danger">
                <p><strong>You may not use the digital pattern library without signing a copy of these terms and conditions of use. For details contact the digital communications team via <a href="mailto:itservicedesk@st-andrews.ac.uk">Unidesk</a>.</strong></p>
                <p>This policy is supported by the digital communications take-down policy, which states that any incorrect usage of the DPL may result in a request to rollback or remove the product.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <h3>Current version</h3>

            <dl>
                <dt>Build number</dt>
                <dd>v{{pkg.version}}</dd>
            </dl>

            <dl>
                <dt>Build date and time</dt>
                <!-- Format should be: Thursday 29 September 2016
                Documentation for format can be found on Ruby Doc:
                http://ruby-doc.org/core-2.3.1/Time.html#M000392 -->
                <dd>{{formatDate date "%A %e %B %Y"}}<br>{{formatDate date "%H:%M"}}</dd>
            </dl>

            <hr>
            <h3>Digital standards</h3>
            <ul>
                <li><a href="http://www.st-andrews.ac.uk/digital-standards/service-manual/">Service manual</a></li>
                <li><a href="http://www.st-andrews.ac.uk/digital-standards/service-manual/code-standards/">Code standards</a></li>
            </ul>

            <hr>
            <p><a href="https://github.com/standrewsdigital/digital-pattern-library" class="btn btn-primary">GitHub repository</a></p>

            <p><a href="https://github.com/standrewsdigital/digital-pattern-library/milestones" class="btn btn-primary">Development milestones</a></p>

            <p><a href="https://github.com/standrewsdigital/digital-pattern-library/issues" class="btn btn-danger">Report an issue</a></p>

        </div>
    </div>
</div>