---
title: Digital Pattern Library
layout: _base.hbs
---

<div class="page-intro__wrapper">
    <div class="page-intro">
        <div class="page-intro__text">
            <h1 class="page-intro__heading page-intro__heading--large">Digital pattern library</h1>
            <p class="lead">The digital pattern library (DPL) is a resource to support University staff who are designing or developing new web pages and other digital outputs.</p>
            <p>The DPL is an evolving set of design patterns built collaboratively and tested with the people who use our products. Its purpose is to ensure a consistent user experience, look and feel for all new digital products at the University of St Andrews.</p>
            <p>The DPL is created and curated by the University’s <a href="http://digitalcommunications.wp.st-andrews.ac.uk/about/">digital communications team</a>. It follows best-practice design principles, is version controlled using GitHub and is platform agnostic.</p>

            <p><a href="patterns.html" class="btn btn-action">Explore the patterns</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

<div class="col-sm-8 margin-bottom">

            <h2>Help with the DPL</h2>

            <p>The digital communications team works with colleagues across the University to:</p>
            <ul>
                <li>consult on projects that use the DPL</li>
                <li>train developers on the use of existing patterns</li>
                <li>create new patterns.</li>
            </ul>
            <p>If you would like to use the digital pattern library for your own web project the digital communications team can help.</p>
            <p>Please contact the digital communications team by emailing <a href="mailto:itservicedesk@st-andrews.ac.uk">itservicedesk@st-andrews.ac.uk</a>.</p>

             <!-- Begin pattern: accordion group //-->
             <button class="accordion-group__toggle">Open all</button>
<ul class="accordion-group accordion-group__toggle-container">
    <li class="accordion-item">
                <div class="accordion-item__toggle">
                    <h3 class="accordion-item__toggle-title">
                        <button class="accordion-item__toggle-button">Kick-off meeting</button>
                    </h3>
                </div>
                <div class="accordion-item__content" id="" aria-hidden="true">
                    <p>All developers (including external agencies or partners) who wish to use the DPL to build a product must first organise a kick-off meeting with the digital communications team. You should set up this meeting as soon as possible near the start of your project (within the appraise or define stages).</p>
                    <p>At this meeting, you will agree on the rules, responsibilities and sign-off gateways with the digital communications team. These include:</p>
                    <ul>
                        <li>information architecture (for web pages)</li>
                        <li>workflows (for web applications)</li>
                        <li>adherence to digital standards, including user-centred design, content management, URL policy, house style, and corporate identity</li>
                        <li>training.</li>
                    </ul>
                    <p>At this meeting, you will provide clear written commitment that no new product using the DPL will go live without the explicit, written sign-off by the digital communications team.</p>
                </div>
            </li>
    <li class="accordion-item">
                <div class="accordion-item__toggle">
                    <h3 class="accordion-item__toggle-title">
                        <button class="accordion-item__toggle-button">Developing new patterns</button>
                    </h3>
                </div>
                <div class="accordion-item__content" id="" aria-hidden="true">
                    <p>To ensure design integrity and consistency of experience for our website users you must agree to the following:</p>
                    <ul>
                        <li>New patterns must be created only by developers working directly alongside the digital communications team.</li>
                        <li>No patterns or elements (such as colours) in the DPL may be edited without first liaising with the digital communications team.</li>
                        <li>CSS or JavaScript must not be used to overrule DPL elements, patterns, fonts, etc.</li>
                        <li>Developers using the DPL must not fork the version controlled repository.</li>
                    </ul>
                </div>
            </li>
    <li class="accordion-item">
                <div class="accordion-item__toggle">
                    <h3 class="accordion-item__toggle-title">
                        <button class="accordion-item__toggle-button">Going live</button>
                    </h3>
                </div>
                <div class="accordion-item__content" id="" aria-hidden="true">
                    <p>Before going live to a production environment with a new website or application, the digital communications team will carry out a final quality assurance process.</p>
                    <p>Once the digital communications team has given explicit and written sign-off the website or web application may be launched, subject to other University deployment guidelines.</p>
                </div>
            </li>
        </ul>
</div>
        <div class="col-sm-4 margin-bottom">
            <h3>Current version</h3>

            <dl>
                <dt>Build number</dt>
                <dd>v{{pkg.version}}</dd>
            </dl>

            <dl>
                <dt>Build date and time</dt>
                <!-- Format should be: Thursday 29 September 2016
                Documentation for format can be found on Ruby Doc:
                http://ruby-doc.org/core-2.3.1/Time.html#M000392 -->
                <dd>{{formatDate date "%A %e %B %Y"}}<br>{{formatDate date "%l.%M%P"}}</dd>
            </dl>

            <dl>
                <dt>What's new?</dt>
                <dd><a href="https://github.com/standrewsdigital/digital-pattern-library/blob/master/CHANGELOG.md">Change log</a></dd>
            </dl>

            <hr>
            <h3>Resources</h3>
            <ul>
                <li><a href="https://www.st-andrews.ac.uk/digital-standards">Digital standards</a></li>
                <li><a href="https://github.com/standrewsdigital/digital-pattern-library">GitHub repository</a></li>
            </ul>


        </div>
    </div>
</div>