---
title: Example pages
layout: _base.hbs
---

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h1>Pattern pages</h1>
            
            <p>A collection of all patterns used to support the University of St Andrews website.</p>
            <p>Patterns are a simple, reusable solution to a design problem.</p>

            <h2>Bootstrap patterns</h2>

            <p>Common Bootstrap elements styled to match the visual language of the digital pattern library</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
	<div class="row">
        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <p><a href="examples/bootstrap.html">Bootstrap components</a></p>
                </div>
            </div>
            
        <!-- End pattern: navbox //-->                
        </div>

        <div class="col-sm-4">
            <!-- Begin pattern: navbox //-->
            
            <div class="navbox ">
                    <div class="navbox-image">
                        <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                    </div>
                <div class="navbox-title">
                    <p><a href="examples/bootstrap2.html">Bootstrap components - advanced</a></p>
                </div>
            </div>
            
        <!-- End pattern: navbox //-->                
        </div>

	</div>
</div>
<!-- End pattern: navbox-grid //-->


<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Call to action patterns</h2>

            <p>Patterns used to bring attention and link to content of importance both on the University website and external.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
    <div class="row"><!-- Begin row //-->
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/featured-media/index.html">Featured media</a></p>
                        </div>
                    </div>    
                <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/hero-banner.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/hero-banner/index.html">Hero banner</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/kis-widget/index.html">KIS widget</a></p>
                        </div>
                    </div>
                    
                <!-- End pattern: navbox //-->                
                </div>
    </div><!-- End row //-->

    <div class="row"><!-- Begin row //-->    
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/secondary-call/index.html">Secondary call to action</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/text-banner/index.html">Text banner</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/tile/index.html">Tile</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
    </div><!-- End row //-->
        
    <div class="row"><!-- Begin row //-->         
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/tile-grid/index.html">Tile grid</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
			</div>
		</div>
	<!-- End pattern: navbox-grid //-->
	</div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Content patterns</h2>

            <p>Patterns used to display content in various mediums.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
    <div class="row"><!-- Begin row //-->
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/accordion.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/accordion/index.html">Accordion</a></p>
                        </div>
                    </div>    
                <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/contact-card.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/contact-card/index.html">Contact card</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/content-2col.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/content-2col/index.html">Content 2 column</a></p>
                        </div>
                    </div>
                    
                <!-- End pattern: navbox //-->                
                </div>
    </div><!-- End row //-->

    <div class="row"><!-- Begin row //-->    
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/content-full.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/content-full/index.html">Content full</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/content-updates.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/content-updates/index.html">Content updates</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/gallery.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/gallery/index.html">Gallery</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
    </div><!-- End row //-->
        
    <div class="row"><!-- Begin row //-->         
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/google-maps.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/google-maps/index.html">Google maps</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>

                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/info-bite.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/info-bite/index.html">Info bite (Deprecated)</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>

                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/info-bite-grid/index.html">Info bite grid (Deprecated)</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>


            </div>

            <div class="row"><!-- Begin row //-->    
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/intro/index.html">Intro</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/section-header/index.html">Section header</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/staff-profile/index.html">Staff profile</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
    </div><!-- End row //-->

    <div class="row"><!-- Begin row //-->    
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="examples/tables.html">Tables</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="examples/datatables.html">Tables - Data tables</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/tabs/index.html">Tabs</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
    </div><!-- End row //-->

    <!-- End pattern: navbox-grid //-->
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Core patterns</h2>

            <p>Patterns essential to building a basic University of St Andrews webpage.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
    <div class="row"><!-- Begin row //-->
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/breadcrumbs.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/breadcrumbs/index.html">Breadcrumbs</a></p>
                        </div>
                    </div>    
                <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/category-header.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/category-header/index.html">Category header</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/footer.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/footer/index.html">Footer</a></p>
                        </div>
                    </div>
                    
                <!-- End pattern: navbox //-->                
                </div>
    </div><!-- End row //-->

    <div class="row"><!-- Begin row //-->    
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/header.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/header/index.html">Header</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                                
            </div>
        </div>
    <!-- End pattern: navbox-grid //-->
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Long-form patterns</h2>

            <p>Patterns used to build long-form pattern pages.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
    <div class="row"><!-- Begin row //-->
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/long-form-content/index.html">Long-form content</a></p>
                        </div>
                    </div>    
                <!-- End pattern: navbox //-->                
                </div>
    <!-- End pattern: navbox-grid //-->
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Navigation patterns</h2>

            <p>Patterns used to connect content pages across the University of St Andrews website.</p>
        </div>
    </div>
</div>

<!-- Begin pattern: navbox-grid //-->

<div class="container">
    <div class="row"><!-- Begin row //-->
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/masonry/index.html">Masonry (deprecated)</a></p>
                        </div>
                    </div>    
                <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/masonry-grid/index.html">Masonry grid (deprecated)</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/navbox.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/navbox/index.html">Navbox</a></p>
                        </div>
                    </div>
                    
                <!-- End pattern: navbox //-->                
                </div>
    </div><!-- End row //-->

    <div class="row"><!-- Begin row //-->    
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/navbox-grid/index.html">Navbox grid</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/navigation-bar/index.html">Navigation bar</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/panel-grid/index.html">Panel grid</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
    </div><!-- End row //-->
        
    <div class="row"><!-- Begin row //-->         
                <div class="col-sm-4">
                    <!-- Begin pattern: navbox //-->
                    
                    <div class="navbox ">
                            <div class="navbox-image">
                                <img src="../docs/assets/docs/images/patterns/pattern.jpg" alt="Description">
                            </div>
                        <div class="navbox-title">
                            <p><a href="patterns/sticky-nav/index.html">Sticky nav</a></p>
                        </div>
                    </div>
                    
                    <!-- End pattern: navbox //-->                
                </div>
            </div>
        </div>
    <!-- End pattern: navbox-grid //-->
    </div>
</div>