
/*********************************/
/* BEGIN Pattern: tabs           */
/*********************************/

.tabs-container {
    margin-bottom: 20px;
}

.tab-pane {
    border:     1px solid rgb(204, 204, 204);
    border-top: none;
    padding:        15px;
    padding-bottom: 0;

}

.nav-tabs > li > a {
	margin-right: 0px;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
         -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
}

.tabs-container .tab-pane {
    hr {
        border-top: 1px solid #ededed;
        border-bottom: none;
        height: 1px;
        margin: 0 auto;
        width: 60%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    ul {
        padding: 5px 0 0 20px;
        margin:0;
    }
}

/*********************************/
/* END Pattern: tabs             */
/*********************************/
