
/*********************************/
/* BEGIN Pattern: tabs           */
/*********************************/


// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid $sta-grey;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -2px;

    // Actual tabs (as links)
    > a {
        background: none;
        margin-right: 3px;
        border: 1px solid transparent;
        border-bottom: none;
        border-radius: 0;
        padding: 10px 15px 8px 15px;

      &:hover {
        background: $sta-grey-light;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
        padding-bottom: 10px;

      &,
      &:hover,
      &:focus {
        background-color: white;
        border: 1px solid $sta-grey;
        border-bottom: none;
        box-shadow: 0 -5px $sta-grey;
        color: $sta-grey-dark;
        cursor: default;
        text-decoration: none;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}

.tabs-container {
    margin-bottom: 20px;
}

.tab-pane {
    border: 1px solid $sta-grey;
    border-top: none;
    padding: 15px;
    // padding-bottom: 0;

}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
         -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
}

.tabs-container .tab-pane {
    hr {
        border-top: 1px solid #ededed;
        border-bottom: none;
        height: 1px;
        margin: 0 auto;
        width: 60%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    ul {
        padding: 5px 0 0 20px;
        margin:0;
    }
}


/*********************************/
/* END Pattern: tabs             */
/*********************************/
