
/*********************************/
/* BEGIN Pattern: tabs          */
/*********************************/

.tabs-container {
    margin-bottom: 20px;
}

.tab-pane {
    padding: 15px;
    padding-bottom: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

/*********************************/
/* END Pattern: tabs            */
/*********************************/
