---
title: Tabs pattern
pattern: tabs
examples:
- name: full-details
---

<p>The tabs pattern is a dynamic pattern that shows content that is related, but the content in each tab doesn't need to be seen simultaneously.</p>

<h2>Usage</h2>

<ul>
   <li>Use tabs when you want to show content that is related but isn't meant to be compared.</li>
   <li>There should be between 2 and 5 tabs, as long as there isn't more than 1 row.</li>
   <li>Tabs are for text content only.</li>
   <li>This pattern should only be used in the main container, not in the aside.</li>
</ul>
