---
title: Font Awesome
---

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<blockquote>
	<p>Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.</p>
	<footer>Font Awesome website</footer>
</blockquote>
<p>We use Font Awesome 4.x icons to accent elements on webpages and web applications. See below for examples and the list of approved icons.</p>

<ul>
    <li>You may use only the approved icons, below.</li>
    <li>Use icons to accent existing elements.</li>
    <li>Basic functionality may use only icons.</li>
    <li>Complex interations should use text rather than icons.</li>
</ul>
<p>You may use any of the approved icons with <code>&lt;i class="fa fa-icon-name" title="icon title"&gt;</i></code>. See the <a href="http://fontawesome.io/">Font Awesome</a> website for more ways to configure the icons.</p>
<p>In order to use Font Awesome you will need to include a link to the CDN: <code>&lt;link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"&gt;</code></p>

<h2>Requesting more icons</h2>
<p>If you would like to use an icon that is not on the approved list (below) please contact the <a href="http://digitalcommunications.wp.st-andrews.ac.uk/about/">digital communications team</a>.</p>

{{#font-awesome-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{>  font-awesome}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> font-awesome}}</code></pre>
{{/font-awesome-options.options}}