---
title: Font Awesome
pattern: font-awesome
examples:
- name: sample-usage
- name: approved-icons

---

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<blockquote>
	<p>Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.</p> 
	<footer>Font Awesome website</footer>
</blockquote>

<p>We use Font Awesome icons to accent elements on webpages and web applications. See below for examples and the list of approved icons.</p>

<h2>Usage</h2>

<ul>
   <li>Use icons to accent exisiting elements</li>
   <li>Basic functionality CAN use only icons</li>
   <li>Complex interations should use text rather than icons</li>
</ul>

<p>In order to use Font Awesome you'll need to include a link to the CDN: <code>&lt;link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"&gt;</code></p>

<p>If you would like to use an icon that isn't on this list please ask us at the next DPL Developers meeting.</p>