<!-- Begin pattern: dummy pattern //-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{{#if example}}
    
  <div class="container">
      <div class="row">

          <div class="col-md-4 fa-examples">
                <p>Social media icons</p>
                <div class="btn-group">
                    <a class="" href="#">
                        <i class="fa fa-facebook-official fa-2x" title="Facebook"></i>
                    </a>
                    <a class="" href="#">
                        <i class="fa fa-instagram fa-2x" title="instagram"></i>
                    </a>
                    <a class="" href="#">
                        <i class="fa fa-snapchat-square fa-2x" title="Snapchat"></i>
                    </a>
                    <a class="" href="#">
                        <i class="fa fa-twitter-square fa-2x" title="Twitter"></i>
                    </a>
                    <a class="" href="#">
                        <i class="fa fa-youtube-square fa-2x" title="Youtube"></i>
                    </a>
                </div>

          </div>

          <div class="col-md-4 fa-examples">
                <p>File icons</p>
                <p><a href="#">University Prospectus <i class="fa fa-file-pdf-o" title="PDF"></i></a></p>
                <p><a href="#">University email signature <i class="fa fa-file-word-o" title="Word"></i></a></p>
                <p><a href="#">University powerpoint <i class="fa fa-file-powerpoint-o" title="Powerpoint"></i></a></p>
          </div>
      </div>
  </div>

{{else}}   
    <div class="container fa_icons_example">
        <h3>These are the approved icons.</h3>
        <div class="row">
            {{#each icons}}
                <div class="col-md-3 col-sm-4">
                    <div class="fa_icon">
                        <i class="fa fa-{{this}}" aria-hidden="true"></i> 
                        <span class="sr-only">Example of </span>{{this}}
                    </div>
                </div>    
            {{/each}}
        </div>
    </div>
{{/if}}


<!-- End pattern: dummy pattern //-->
