
/*********************************/
/* BEGIN Pattern: long-form      */
/*********************************/

.long-form {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-sans-serif  ;      
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 35px;
        margin-bottom: 20px; 
    }

    blockquote {
        border:none;
        margin: 20px 0 20px 20px;
        padding: 0;
        font-size: 22px;
        font-style: italic;

        &:nth-child(1) { // remove top margin when first element.
            margin-top: 0;
        }
    }

    abbr {
        font-family: 'PT Serif Caption', Gerogia, 'Times New Roman', Times, serif;
        font-size: 18px;
        text-transform: uppercase;
    }

    .lead {
        font-size: 30px;
        font-family: $font-family-sans-serif;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-weight: normal;
        border-bottom: 1px solid rgb(68, 68, 68);
    }

    .end {
        margin: 40px 0;
        font-family: $font-family-sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        
        &:before {
            @extend .genericon;
            content: '\f449';
            font-size: 36px;
            margin-left: -8px;
            margin-top: -5px;
            padding-right: 10px;
        }
        // -webkit-font-smoothing: antialiased;
    }

    p {
        // This only affects paged media (like print view), and is not very widely supported by browsers yet.
        orphans: 3;
        widows: 3;
    }

}

@media (min-width: 992px) {

    .long-form {
        h1 {
            font-size: 65px;
        }
        h2 {
            font-size: 55px;
        }
        blockquote {        
            margin: 60px;
        }
        .lead {
            font-size: 36px;
        }
    }


}

/* Width options */

.long-form-wrapper {
    z-index: 1200;
}

.long-form {
    .long-form-wrapper {
        @extend .col-md-8;
        @extend .col-md-offset-2;
    }
}

.long-form.long-form-medium {
    .long-form-wrapper {
        @extend .col-md-10;
        @extend .col-md-offset-1;
    }
}

.long-form.long-form-full {
    .long-form-wrapper {
        @extend .col-md-12;
        @extend .col-md-offset-0;
    }
}

// Vertical padding options 


.long-form {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 992px) {
   .long-form {
        padding-top: 70px;
        padding-bottom: 70px;
    } 
}

.long-form.long-form-no-padding {
    padding-top: 0px;
    padding-bottom: 70px;   
}



.long-form-bg-dark, .long-form-bg-light {
    background-size: cover;
    background-position: center center;
}

.long-form-bg-dark {
    color: white;

    a {
        border-bottom-color: rgb(200, 200, 200);
    }
    small {
        color: rgb(230, 230, 230);   
    }


}

.long-form-bg-darken {
    position: relative;
    z-index: 1000;


    &:after {
        content: " ";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
        z-index: 1001;
    }
}

.long-form-bg-light-grey {
    background-color: #f0f0f0;
}


.long-form-credits {
    @extend .long-form-medium;
    background-color: #f0f0f0;
    color: #666;
    
    font-size: 16px;
    
    
    h3 {
        font-size: 20px;
    }

    .long-form-content {
        position: relative; // needed to act as an achor for the watermark.   
        padding-bottom: 120px;

        // Show a watermark logo
        &:before {
            content: " ";
            position: absolute;
            bottom: 10px;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: url(../images/furniture/UStA_Logo_BK.svg);
            background-repeat: no-repeat;
            background-position: -28px bottom; // neg margin because bg image has padding and we want the logo to align with left edge of container.
            background-size: 250px;    
            opacity: 0.75;
        }
    }



    
}



///////////////////////////////////////////////////////////
// Special Features                                      //
///////////////////////////////////////////////////////////


// Pull quotes

.long-form .pull-quote {
    font-size: 28px;
    font-style: italic;
    line-height: 1.8;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 50px 20px 0px;
    position: relative;
    margin: 40px 0;

    .pull-quote-share {
        position: absolute;
        bottom: -35px ;
        right: 30px;
        background-color: white;
        padding: 0 15px;

        a {
            text-decoration: none;
            border-bottom: none;
        }
        .genericon {
            font-size: 30px;
            color: #aaa;
            padding-right: 7px;
        }
    }

    &.pull-quote-right {
        text-align: right;
        padding-right: 0;
        padding-left: 50px;

        .pull-quote-share {
            right: auto;
            left: 30px;
        }
    }


}

@media (min-width: 992px) {
    .long-form .pull-quote {
        margin: 40px -20%;    
    }
}

// Asides 

aside.pull-quote {

}

/* parallel-left and parallel-right asides */

aside.parallel-left > * {
    float: left;
    padding: 10px 20px 10px;
    padding-left: 0;
    width: 150px;    
}

aside.parallel-right > * {
    float: right;
    padding: 10px 20px 10px;
    padding-right: 0;
    width: 150px;
}


@media (min-width: 992px) {

    aside.parallel-left > * {
        padding: 10px 0 0;
        position: absolute;
        left: -170px;
    }

    aside.parallel-right > * {
        padding: 10px 0 0;
        position: absolute;
        right: -170px;
    }

}

// Figures

figure {
    margin-bottom: 25px; // to match <p> styling.

    figcaption {
        font-size: 14px;
        font-family: $font-family-sans-serif;
        padding: 8px 0;
    }


    
}

@media (min-width: 992px) {
    figure {
        // positioning within content.
        &.left, &.left-out {
            float: left;
            padding: 15px 0 10px;
            padding-right: 30px;
            margin-bottom: 0;
        }
        &.right, &.right-out {
            float: right;
            padding: 15px 0;
            padding-left: 30px;
            margin-bottom: 0;
        }

        &.left-out {
            margin-left: -25%;
        }

        &.right-out {
            margin-right: -25%;
        }

        &.full {
            width: 100%;
        }
    }
}

figure.image {
    img {
        width: 100%;
    }
}

figure.quote {

}

figure.video {

}

figure.audio {

}

// Thumbnail gallery

.long-form-thumbnail-gallery {
    text-align: center;

 

    h4 {
        position: relative;
        font-size: 22px;
        font-style: italic;
        font-weight: normal;
        font-family: 'PT Serif', Gerogia, 'Times New Roman', Times, serif;
        text-align: center;
        margin-bottom: 10px;

    }

    figure.image {
        display: inline-block;
        padding-right: 20px;
        padding-bottom: 10px;

        figcaption {
            text-align: left;    
        }
    }

    img {
        // max-width: 100%;
        height: 170px;
        //height: auto !important;
        width: auto !important;
        
    }

}

// Styles for a div that JS creates. 
// this gives us the light-box style image zooms.
.long-form-viewer {
    z-index: 1400;
    position: fixed;
    background-color: rgba(255,255,255,1);
    top: 0;
    width: 100%;
    height: 100%;

    figure.image {
        object-fit: contain;
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-bottom: 15px;
        
        img {
            object-fit: contain;
            max-width: 100%; // show it's natural size.
            max-height: 90%; // and height
        }
        figcaption {
            text-align: center;
        }

    }
}

@media (min-width: 992px) {
//     .long-form-viewer {
//         z-index: 1400;
//         position: fixed;
//         background-color: rgba(255,255,255,0.95);
//         top: 0;
//         width: 100%;
//         height: 100%;

        figure.image {
            padding-top: 50px;
//             display: block;
//             margin: 10% auto;
//             width: auto;
//             text-align: center;
//             max-height: 90%;

//             img {
//                 width: auto; // show it's natural size.
//                 max-width: 90%; // but give a max width,
//                 max-height: 80%; // and height
//             }

         }
//     }  
}

// Slider gallery

.long-form.long-form-slider-gallery {
    background-color: #f0f0f0;
    padding: 50px 0;
    overflow-x: scroll;
    min-height: 420px; // 50 + 50 + 300 + 20
                       // padding top and bottom (of the gallery) +
                       //   height of the image slides +
                       //   a little for the caption

    .slides-container {
        position: relative;
        overflow-x: visible;
        
    }

    .slides {
        position: absolute;
        display: table-row;
        overflow-x: scroll;

        figure.image {
            display: table-cell;
            padding-right: 20px;
            img {
                height: 300px;
                width: auto;
            }
        }
    }
}




/*********************************/
/* END Pattern: long-form        */
/*********************************/
