// Pull quote
// ====================

.long-form__content .pull-quote {
    
    font-size: 28px;
    font-style: italic;
    line-height: 1.8;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 50px 20px 0px;
    position: relative;
    margin: 40px 0;

    .pull-quote-share {
        position: absolute;
        bottom: -35px ;
        right: 30px;
        background-color: white;
        padding: 0 15px;

        a {
            text-decoration: none;
            border-bottom: none;
        }
        .genericon {
            font-size: 30px;
            color: #aaa;
            padding-right: 7px;
        }
    }

    &.pull-quote-right {
        text-align: right;
        padding-right: 0;
        padding-left: 50px;

        .pull-quote-share {
            right: auto;
            left: 30px;
        }
    }
}


@media (min-width: 992px) {
    .long-form__content .pull-quote {
        margin: 40px -20%;    
    }
}


