---
title: Long form
pattern: long-form
examples:
- name: example1
related:
- name: content-full
- name: content-2col

---

<p>The Long form pattern is a flexible pattern that can be repeated in a page to achieve a variety of effects.</p>

<h2>Usage</h2>

<ul>
	<li>Accordions can be used anywhere in a content section.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> long-form }}</div>


<h2>Options</h2>

<ul>
    <li><em>None</em></li>
</ul>
