
<!-- Begin pattern: long-form //-->

<section class="long-form OPTIONAL-VARIANTS" style="background-image: url({{asset "docs/images/long-form-content/bg-antiques.jpg"}});">
    <div class="container"><div class="row"><div class="long-form-wrapper">

        <div class="long-form-content">

            ... content ...

        </div>

    </div></div></div>

</section>

<!-- End pattern: long-form //-->
