<div id="university-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p id="footer-charity" role="contentinfo">&copy; <script>document.write(new Date().getFullYear());</script> University of St Andrews is a charity registered in Scotland, No SC013532.</p>

                <ul id="footer-links">
                    <li><a href="/terms/">Terms and conditions</a></li>
                    <li><a href="/help/">Website help</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul id="social">
                    <li><a href="https://www.facebook.com/uniofsta"><img src="{{asset "core/images/furniture/facebook-logo-svg.svg"}}" alt="Facebook"></a></li>
                    <li><a href="https://twitter.com/univofstandrews/"><img src="{{asset "core/images/furniture/twitter-logo-svg.svg"}}" alt="Twitter"  /></a></li>
                </ul>
            </div>
        </div> <!-- End .row //-->
    </div> <!-- End .container //-->
</div> <!-- End #university-footer //-->