
/*********************************/
/* BEGIN Pattern: staff-profile  */
/*********************************/

.staff-profile {
	margin-bottom: $half-gutter;
	
    @media (min-width: 576px){
		display: -ms-grid;
	    display: grid;
	    -ms-grid-columns: 1fr 30px 150px; // 2 column grid
	    grid-template-columns: 1fr 150px; // 2 column grid
	    grid-column-gap: 30px;
    } 

    @media (min-width: 768px){
	    -ms-grid-columns: 1fr 30px 200px; // 2 column grid
	    grid-template-columns: 1fr 200px; // 2 column grid
    }

	// UNDERLINE STYLE
	a {
		text-decoration: underline;
	}

	.paired-values-list {
		margin-bottom: 0;
	}
}

.staff-profile + .staff-profile {
    border-top: 1px $sta-grey-light-hover solid;
	padding-top: $half-gutter;
}

.staff-profile__details {
    @media (min-width: 576px){
	    -ms-grid-column: 1;
	    -ms-grid-row: 1;
	}
}

.staff-profile__contact {
	margin-top: 25px;
    @media (min-width: 576px){
	    -ms-grid-column: 1;
	    -ms-grid-row: 2;
	    grid-column:1;
	    grid-row: 2;
	}
}

.staff-profile__image {
	margin:1em 0;
    @media (min-width: 576px){
	    -ms-grid-column: 3;
	    -ms-grid-row: 1;
	    -ms-grid-row-span: 2;
	    grid-column-start: 2;
	    grid-column-end: 3;
	    grid-row-start: 1;
	    grid-row-end: 3;
	    margin: 0;
	    width: 150px;
	}

    @media (min-width: 768px){
    	width: 200px;
    }
}

.staff-profile__heading {
	margin: 0;
	padding: 0;
	@extend %font-scale-2;
}
// Increase size if used on a h1
h1.staff-profile__heading {
	@extend %font-scale-3;
}

.staff-profile__subheading {
	font-weight: normal;
	margin: 0;
	padding: 0;
	@extend %font-scale-1;
}

.staff-profile__intro {
	margin-bottom: 0; // Move spacing to top of next element for consistent bottom spacing regardless of content
	margin-top: 0.5em;
	max-width: 40em; // set limit to ensure readable line length
	
	// Need to elaborate on link styles to provide secondary importance styles such as these
	a {
		font-weight: normal;
	}
}

// Styles for full profile layout

.staff-profile__image-wrapper {
	margin:0 0 1em 0;
}

/*********************************/
/* END Pattern: staff-profile    */
/*********************************/
