
/*********************************/
/* BEGIN Pattern: staff-profile  */
/*********************************/

.staff-details {
  margin-bottom:15px;
}

.staff-profile dt {
  float:left;
  clear:left;
  padding-right:10px;
} 
.staff-profile dd {
  float:left;
  clear:none;
}

.staff-profile img {
  margin-top:15px;
  margin-bottom:30px;
}



/*********************************/
/* END Pattern: staff-profile    */
/*********************************/
 