---
title: Staff profile
---

<p>The staff profile pattern includes a role, title and name, short biography, contact details, optional photo and optional call to action.</p>

<ul>
	<li>The biography should be no more than 140 characters.</li>
	<li>Image must be 200 &times; 200 pixels square.</li>
	<li>If using a call-to-action, an image must be present as well.</li>
	<li>When the call-to-action is present, then the heading links to the call to action URL too.</li>
	<li>"Email", "Phone" and "Fax" should always be present if available for the person. However, additional fields may be used: "Website", "Twitter"</li>
</ul>

{{#staff-profile-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> staff-profile}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> staff-profile}}</code></pre>
{{/staff-profile-options.options}}