<!-- Begin pattern: accordion-deprecated //-->
{{#each accordion-deprecated}}
<div class="accordion">
    <h3 aria-expanded="false" aria-controls="" role="tab" tabindex="0">{{accordion-heading}}</h3>
    <div id="" aria-hidden="true" role="tabpanel"><p>{{accordion-content}}</p></div>
</div>
{{/each}}
<!-- End pattern: accordion-deprecated //-->
