
<p>OLD ACCORDION pattern</p>
<p>Used to test backwards compatibility, do not use this HTML in new sites.</p>


<div class="accordion">
  <h3><a class="toggleLink" href="#"><i class="chevron"></i>MLitt, MRes, MSc</a></h3>
	<div class="toggle">
			<p>These are all taught courses. They will feature two semesters of full-time or equivalent part-time study, together with a dissertation of up to 15,000 words or a project, to be completed by the end of the academic year.</p>
</div>
</div>
