
/*********************************/
/* BEGIN Pattern: contents     */
/*********************************/

.contents {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin:0.5em 0 0 0;

      ul li {
        font-size: 1rem;
        &:before {
          content: '-';
          margin-right:0.5em;
        }
      }

      &.active {
        a {
          color: $sta-grey-dark;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }

}

.contents-aside {
  padding: calc(1vw + 1rem) 0;
}

.contents-aside--sticky {
  // Sticks position when alongside content and browser has reasonable height
  @media (min-width: 900px) and (min-height: 600px){
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }
}


/*********************************/
/* END Pattern: contents      */
/*********************************/
