
/*********************************/
/* BEGIN Pattern: contents     */
/*********************************/

.contents {

  ul {
    list-style: none;
    padding: 0;

    > li {
      margin:0.5em 0 0 0;

      ul li {
        font-size: 1rem;
        &:before {
          content: '-';
          margin-right:0.5em;
        }
      }

      &.active {
        box-shadow: inset 3px 0 0 $sta-blue-light;
        margin-left: -15px;
        padding-left: 15px;
        a {
          color: $sta-grey-dark;
          text-decoration: none;
        }
      }
    }
  }

  a {
    font-weight: normal;
  }

}

.contents-aside {
  padding: calc(1vw + 1rem) 0;
}

.contents-aside--sticky {
  // Sticks position when alongside content and browser has reasonable height
  @media (min-width: 900px) and (min-height: 600px){
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }
}

.contents__heading {
  margin: 0;
  @include ms-respond(font-size,0);
}

/*********************************/
/* END Pattern: contents      */
/*********************************/
