
/*********************************/
/* BEGIN Pattern: contents     */
/*********************************/

.contents {

  ul {
    font-size: 1rem;
    list-style: none;
    padding: 0;

    > li {
      margin-bottom:0.5em;

      ul li {
        margin-bottom: 0.3125rem;
      }
    }
  }

  a {
    font-weight: normal;
  }

}

.contents-aside {
  padding-top: calc(1vw + 1rem);
}

.contents-aside--sticky {
  // Sticks position when alongside content and browser has reasonable height
  @media (min-height: 300px){
    position: sticky;
    top: 0;
  }
}

.contents__heading {
  margin-top: 0;
  @include ms-respond(font-size,0);
}

/*********************************/
/* END Pattern: contents      */
/*********************************/
