
/*********************************/
/* BEGIN Pattern: kis-widget     */
/*********************************/

.kis-widget {
    overflow: hidden;
    border: 0px none transparent;
    width: 700px;
    height: 160px;
}

.subject-popover .popover {
    max-width: 645px;
}

.honours-degree-item {
    padding-bottom: 4px;
}

.honours-degree-item button {
    padding: 0 6px;
    margin-right: 4em;
    border-radius: 4px;
    font-size: 14px;
}

/*********************************/
/* END Pattern: kis-widget       */
/*********************************/
