---
title: KIS widget
---

<p>KIS stands for Key Information Set. The KIS is an official overview of comparable information on higher education courses for prospective students. See the <a href="http://unistats.direct.gov.uk/">Unistats website</a> for more information.</p>

<p>The KIS widget is a legal requirement for all of the undergraduate course pages. </p>

<ul>
   <li>This pattern is only for use on the undergraduate course pages.</li>
</ul>

{{#kis-widget-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> kis-widget}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> kis-widget}}</code></pre>
{{/kis-widget-options.options}}
