---
title: KIS widget
pattern: kis-widget
examples:
- name: subject-list
- name: subject-banner
- name: subject-both

---

<p>KIS stands for Key Information Set. The KIS is an official overview of comparable information on higher education courses for prospective students. See the <a href="http://unistats.direct.gov.uk/">Unistats website</a> for more information.</p>

<p>The KIS widget is a legal requirement for all of the undergraduate course pages. </p>

<h2>Usage</h2>

<ul>
   <li>This pattern is only for use on the undergraduate course pages.</li>
</ul>

<h2>Options</h2>

<ul>
   <li>List of undergraduate courses with a button that opens the KIS widget in a pop-up window.</li>
   <li>KIS widget displayed on its own.</li>
   <li>KIS widget below a list of undergraduate courses.</li>
</ul>
