{{#if columns}}
<div class="container subject course">
    <div class="row">
        <div class="col-md-12">
            <h2>Joint Honours degrees</h2>
            <p>Students may also apply to study English alongside any of the following subjects:</p>
        </div>
        <ul>
            {{#columns}}
                <div class="col-md-4">
                    {{#courses}}
                    <li class="honours-degree-item">
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-placement="top" data-content="<iframe id='unistats-widget-frame' class='kis-widget' title='Unistats KIS Widget' src='{{default kis-url "[KIS URL]"}}'></iframe>" data-original-title="" data-html="true" title="" data-container=".container.subject">KIS</button>
                        </div>
                        <a href="#">{{default subject "[subject]"}}</a>
                    </li>
                    {{/courses}}
                </div>
            {{/columns}}
        </ul>
    </div>
</div>
{{/if}}
{{#if kis-banner}}
<div class="kis-widget-red course">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <iframe id="unistats-widget-frame" class="kis-widget" title="Unistats KIS Widget" src='{{default kis-banner "[KIS banner URL]"}}'>
                </iframe>
            </div>
        </div>
    </div>
</div>
{{/if}}