---
title: KIS widget
pattern: kis-widget
examples:
- name: subject-list
- name: subject-banner
- name: subject-both

---

<p>This displays the KIS widget for all of our undergraduate subject pages, this is required by law for all undergraduate courses. </p>

<p>KIS stands for Key Information Set. The KIS is an official overview of comparable information on higher education courses for prospective students. See the <a href="http://unistats.direct.gov.uk/">Unistats website</a> for more information.</p>

<h2>Usage</h2>

<ul>
   <li>This pattern is only for use on the subjects pages.</li>
   <li>This widget is a legal requirement for all undergraduate subject pages.</li>
</ul>

<h2>Options</h2>

<ul>
   <li>These widgets can be used separately or together.</li>
</ul>
