---
title: KIS widget
pattern: kis-widget
examples:
- name: subject-list

---

<p>This displays the KIS widget for all of our subjects page, this is required by law for all undergraduate courses.</p>

<h2>Usage</h2>

<ul>
   <li>This pattern is only for use on the subjects pages.</li>
   <li>This legally must be included on all undergraduate subjects pages.</li>
   <li>You must have the class subject on the page.
</ul>

<h2>Syntax</h2>
<div class="pattern-source">{{> kis-widget }}</div>