---
title: Masonry grid (deprecated)
---

<div class="alert alert-danger">
  <strong>This pattern is depreciated.</strong> Do not attempt to use this pattern for any new website development. It will be removed in a future update.
</div>

<p>The masonry grid pattern arranges masonry items in a customisable grid.</p>

{{#masonry-grid-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{>  masonry-grid}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> masonry-grid}}</code></pre>
{{/masonry-grid-options.options}}