---
title: Masonry grid
pattern: masonry-grid
examples:
- name: example1
related:
---

<p>The Masonry grid pattern arranges masonry items in a grid.</p>

<h2>Rules</h2>

<ul>
	<li>Use one of the agreed layouts.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> masonry-grid }}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>
