---
title: Masonry grid (deprecated)
---

<div class="alert alert-danger">
  <strong>This pattern is deprecated.</strong> Do not attempt to use this pattern for any new website developments. It will be removed in a future update.
</div>

    <p>The masonry grid pattern arranges <a href="../masonry/index.html">masonry</a> items in a customisable grid.</p>

{{#masonry-grid-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>{{> masonry-grid}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> masonry-grid}}</code></pre>
{{/masonry-grid-options.options}}