---
title: Masonry Grid
pattern: masonry-grid
examples:
- name: example1
related:
---

A tile grid contains a heading, a call to browse button and a grid layout of tiles. It is used to show a collection of news and/or events.

<h2>Rules</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> masonry-grid }}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>
