
	/**********************/
	/* Pattern: Button    */
	/**********************/

	.button, a.button {
		background-color: $sta-blue;
		color: white;
		display: inline-block;
		text-decoration: none;
		position: relative;
		overflow: hidden;
		padding: .3em .5em .5em;
	}
	.button:hover, a.button:hover {
		background-color: $sta-blue-hover;
	}

	.button-cta {
		@extend .button;
	}
	.button-cta:hover {
		@extend .button:hover;	
	}

	.button-wide, a.button-wide {
		@extend .button;
		padding-right:1.5em;
		padding-left:1.5em;
	}

	.button-wide:hover, a.button-wide:hover {
		@extend .button:hover;	
	}

	.button.chevron {
		@extend .button;
	}
	.button.chevron:after {
		content: " ";
    position: relative;
    top: .3em;
    right: 0;
    height: 1.8em;
    width: 1.8em;
    display: inline-block;
    padding: 0;
    margin-left: 1em;

    background-image: url(../images/furniture/chevron@2x.png);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center center;
	}
	.button.chevron:hover {
		@extend .button:hover;	
	}

  .button.large {
    font-size: 1.5em;
    padding: .2em .5em;

  }

	// .button-toggle-vert {
	// 	@extend .button;
	// }
	// .button-ctb:hover {
	// 	@extend .button:hover;	
	// }
 //  .button-toggle-vert {
 //    height: 3.5em;
 //  }
 //  .button-toggle-vert img {
 //    height: 2em;
 //    padding-bottom: .4em;
 //  }
	// .button-toggle-vert:after {
	// 	content: " ";
 //        position: relative;
 //        top: .6em;
 //        left: 0em;
 //        height: 1.8em;
 //        width: 1.8em;
 //        display: inline-block;
 //        padding: 0;
 //        margin-left: 0em;

 //        // background-color: #ccc;
 //        background-image: url(../images/furniture/chevron@2x.png);
 //        background-size: 1em;
 //        background-repeat: no-repeat;
 //        background-position: center center;

	// 	-moz-transform:rotate(90deg);
 //        -o-transform:rotate(90deg);
 //        -webkit-transform:rotate(90deg);
 //        -ms-transform:rotate(90deg);
 //        transform:rotate(90deg);
	// }
	// .button-toggle-vert.button-toggle-vert-up:after {
	// 	-moz-transform:rotate(270deg);
 //        -o-transform:rotate(270deg);
 //        -webkit-transform:rotate(270deg);
 //        -ms-transform:rotate(270deg);
 //        transform:rotate(270deg);
	// }
	






  .button-toggle-vert {
    @extend .button;
    padding: 1em .5em;
    margin-left: 13px;
  }

  .button-toggle-vert img.icon {
    height: 30px;
    width: 30px;
    margin-right: 0px;
  }

  .button-toggle-vert img.chevron {
    width: 15px;
    -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
  }

  .button-toggle-vert.button-toggle-vert-up img.chevron {
        -moz-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        -webkit-transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        transform:rotate(270deg);
  }

  @media (max-width: 480px) {
    .button-toggle-vert {
      padding: .5em .3em;
      margin-left: 10px;
    }

    .button-toggle-vert img.icon {
      height: 15px;
      width: 15px;
      margin-right: 0px;
    }
  }


/*	.button-search {
		background-image: url("../images/furniture/search-512.png");
		background-repeat: no-repeat;
		background-size: auto 75%;
		background-position: left center;
		width: 6em;
	}
	.button-search span {
		display: none;
	} */

	/* BUTTON COLORS */

	/* Default */



