<!-- Begin pattern: panel //-->

{{#each panels}}
	<div class="{{column-size}}">
		<div class="panel {{color}}">

			<div class="panel-heading">
				<h3 class="panel-title"><a href="#">{{title}}</a></h3>
			</div>

			<div class="panel-body">
				<p>{{description}}</p>
			</div>

		</div>
	</div>	
{{/each}}

<!-- End pattern: panel //-->
