
/*********************************/
/* BEGIN Pattern: panel          */
/*********************************/

.panel-grid {
    padding: $page-gutter 0 $page-gutter-overflow 0; 
    @include clearfix-alt; // alternate clearfix (utilities) to sort bootstrap floated elements
}
.navbox-grid + .panel-grid,
.panel-grid + .panel-grid {
    padding-top: 0; // Remove extra gap when two grids ajoin
}

.panel {
    background-color: white;
    border: 0;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
       -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 0 auto 30px; // compressed bottom margin on stacked layouts
}

.panel-heading.big-target-click-zone {
    cursor: pointer;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    font-size: inherit;
    padding: 0.8rem 3rem 0.8rem 1rem;
    position: relative;
}

.panel-title {
    @include ms-respond(font-size,1);
    font-weight: bold;
    line-height: inherit;

    a {
        display: block;
        text-decoration: none;
        margin: -0.8rem -3rem -0.8rem -1rem;
        padding: 0.8rem 3rem 0.8rem 1rem;

        &:hover {
            background: inherit;
            color: inherit;
            text-decoration: none;
        }
        &:focus {
            background: inherit;
            box-shadow: none;
            color: inherit;
            text-decoration: underline;
            outline: 3px solid $sta-orange-highlight;
        }
        &:active {
            background:$sta-orange-highlight;
            color: $sta-grey-dark;
        }

        &:before{
            @extend .fa;
            @extend .fa-chevron-right;
            @include ms-respond(font-size,1);
            display:inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1rem;
            text-decoration: none;
        }
    }
}

.panel-body {
    padding: 1rem;
}

.panel-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*********************************/
/* END Pattern: panel            */
/*********************************/
