---
title: Panel
---

<p>The panel pattern shows a title link, description, and optional background colour, designed to be combined together into a panel grid.</p>

<h3>Rules for the panel</h3>
<ul>
	<li>Panel elements never appear outside of a Panel grid.</li>
</ul>

{{#panel-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
<div class="row">
		{{> panel}}
</div>	
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> panel}}</code></pre>
{{/panel-options.options}}