<!-- Begin pattern: panel //-->

<article class="panel {{default color "[color]"}}">

    <div class="panel-heading">
        <h3 class="panel-title"><a href="{{default url "[url]"}}">{{default title "[title]"}}</a></h3>
    </div>

    <div class="panel-body">
    <p>{{default description "[description]"}}</p>
</div>

</article>

<!-- End pattern: panel //-->
