<!-- Begin pattern: long-form text backgrounds//-->
<section class="long-form">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    {{{quote}}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End pattern: long-form text backgrounds //-->

