
/*********************************/
/* END Pattern: category-header  */
/*********************************/

// Deprecated styling
#category-header{
    background: $sta-blue-light;

    h2,
    .category-header__title {
        @extend %font-scale-2;
        line-height: 1.35;
        margin: ms(-3) 0;

        a {
            font-family: 'PT Serif', georgia, serif;
            color: white;
            font-weight: normal;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &:focus {
                color: $sta-grey-dark;
                text-decoration: underline;
            }

            &:active {
                text-decoration: none;
            }
        }

    }
}

/*********************************/
/* END Pattern: category-header  */
/*********************************/
