---
title: Category header
pattern: category-header
examples:
- name: example1
- name: example2
related:
- name: header
- name: navigation-bar

---

<p>The Category header pattern contains the name of the current category or section and a link to it. In the case of <a href="../../examples/web-app.html">web applications</a> the name of the web application is shown in the category header.</p>

<h2>Usage</h2>

<ul>
	<li>Should be used directly below the header and before any Navbars.</li>
    <li>Web applications typically show a solid color background, rather than the transparent background image.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> category-header}}</div>

<h2>Options</h2>

<ul>
	<li><em>None</em></li>
</ul>
