<!-- Begin pattern: category-header //-->

<div class="{{class}}" id="category-header">
    <div class="container">
        <h2><a href="{{url}}">{{title}}</a></h2>
    </div>
</div>

<!-- End pattern: category-header //-->