<!-- Begin pattern: category-header //-->

<div {{#if class}}class="{{class}}"{{/if}} id="category-header">
    <div class="transparent-overlay">
        <div class="container">
            <h2><a href="{{url}}">{{title}}</a></h2>
        </div>
    </div>
</div>

<!-- End pattern: category-header //-->