
<!-- Begin pattern: category-header //-->


<div class="{{ class }}" id="category-header">
    <div class="container">
        <h2><a href="{{default url "[url]"}}">{{default title "title"}}</a></h2>
    </div>
</div>


<!-- End pattern: category-header //-->