---
title: Category header
pattern: category-header
examples:
- name: image-background-with-transparent-overlay
- name: solid-background
---

<p>The category header pattern contains the name of the current category or section and a link to it. In the case of <a href="../../examples/web-app.html">web applications</a> the name of the web application is shown in the category header.</p>

<h2>Usage</h2>

<ul>
	<li>Should be used directly below the header and before the navigation bar.</li>
    <li>Web applications typically show a solid colour background, rather than the transparent background image.</li>
</ul>

<h2>Options</h2>

<ul>
	<li>An image with a transparent colour overlay or a solid colour can be used for the background.</li>
</ul>
