---
title: Category Header
pattern: category-header
examples:
- name: example1
- name: example2
related:
- name: header
- name: navigation-bar

---

A category header contains the name of the current category and a link to it.

<h2>Rules</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> category-header}}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>

<h2>Examples</h2>

<ul>
	{{#examples}}
	<li><a href="examples/{{name}}.html">{{name}}</a></li>
	{{/examples}}
</ul>

<h2>Related patterns</h2>

<ul>
	{{#related}}
	<li><a href="../{{name}}/index.html">{{name}}</a></li>
	{{/related}}
</ul>
