---
title: Category header
pattern: category-header
examples:
- name: example1
- name: example2
related:
- name: header
- name: navigation-bar

---

<p>The Category header pattern contains the name of the current category and a link to it.</p>

<h2>Usage</h2>

<ul>
	<li>Should be used below the Navbar and before the Breadcrumbs on a content page.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> category-header}}</div>


<h2>Options</h2>

<ul>
	<li><em>None</em></li>
</ul>
