
/*********************************/
/* BEGIN Pattern: datatables     */
/*********************************/

.dataTable .even td.sorting_1 {
	background-color: #f9f9f9;
}

.dataTable .odd td.sorting_1 {
	background-color: #f1f1f1;
}

.dataTable tr.odd {
	background-color: #f9f9f9;
}

div .table tbody tr td, div .table thead tr th {
	padding-left: 10px;
}

.table-hover>tbody>tr:hover {
    background-color: #f5fcff;
}
/*********************************/
/* END Pattern: datatables       */
/*********************************/
