
/*********************************/
/* BEGIN Pattern: datatables     */
/*********************************/

.dt-bootstrap .dataTables_filter {
	color: inherit;
}

// Selected column
.dataTable th.sorting_desc,
.dataTable th.sorting_asc {
	background-color: $sta-grey-dark;
}
.dataTable.table-primary th.sorting_desc,
.dataTable.table-primary th.sorting_asc {
	background-color: $sta-blue-shade25;
}
.dataTable.table-secondary th.sorting_desc,
.dataTable.table-secondary th.sorting_asc {
	background-color: $sta-blue-light-shade25;
}
.dataTable.table-tertiary-1 th.sorting_desc,
.dataTable.table-tertiary-1 th.sorting_asc {
	background-color: $sta-green-shade25;
}
.dataTable.table-tertiary-2 th.sorting_desc,
.dataTable.table-tertiary-2 th.sorting_asc {
	background-color: $sta-burgundy-shade25;
}
.dataTable.table-tertiary-3 th.sorting_desc,
.dataTable.table-tertiary-3 th.sorting_asc {
	background-color: $sta-purple-shade25;
}

.dataTable td.sorting_1 {
	border-left: 1px $sta-grey-highlight dashed;
	border-right: 1px $sta-grey-highlight dashed;
}

.dataTable .even td.sorting_1 {
	background-color: $sta-grey-light;
}

.dataTable .odd td.sorting_1 {
	background-color: $sta-grey-mid2;
}

.dataTable tr.odd {
	background-color: $sta-grey-light;
}

div .table tbody tr td, div .table thead tr th {
	padding-left: 10px;
}

.table-hover>tbody>tr:hover {
    background-color: tint($sta-grey,70%);

	&.even td.sorting_1 {
		background-color: tint($sta-grey,60%);
	}

	&.odd td.sorting_1 {
		background-color: tint($sta-grey,50%);
	}

}
.table-hover.table-primary>tbody>tr:hover {
    background-color: tint($sta-blue,70%);

	&.even td.sorting_1 {
		background-color: tint($sta-blue,60%);
	}

	&.odd td.sorting_1 {
		background-color: tint($sta-blue,50%);
	}
}
.table-hover.table-secondary>tbody>tr:hover {
    background-color: tint($sta-blue-light,70%);

	&.even td.sorting_1 {
		background-color: tint($sta-blue-light,60%);
	}

	&.odd td.sorting_1 {
		background-color: tint($sta-blue-light,50%);
	}
}
.table-hover.table-tertiary-1>tbody>tr:hover {
    background-color: tint($sta-green,70%);

	&.even td.sorting_1 {
		background-color: tint($sta-green,60%);
	}

	&.odd td.sorting_1 {
		background-color: tint($sta-green,50%);
	}
}
.table-hover.table-tertiary-2>tbody>tr:hover {
    background-color: tint($sta-burgundy,70%);

	&.even td.sorting_1 {
		background-color: tint($sta-burgundy,60%);
	}

	&.odd td.sorting_1 {
		background-color: tint($sta-burgundy,50%);
	}
}
.table-hover.table-tertiary-3>tbody>tr:hover {
    background-color: tint($sta-purple,70%);

	&.even td.sorting_1 {
		background-color: tint($sta-purple,60%);
	}

	&.odd td.sorting_1 {
		background-color: tint($sta-purple,50%);
	}
}
/*********************************/
/* END Pattern: datatables       */
/*********************************/
