---
title: Intro
---

<p>The intro pattern presents a centred heading and paragraph. Ideally used in between other full width image-heavy content.</p>

{{#intro-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> intro}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> intro}}</code></pre>
{{/intro-options.options}}