---
title: Intro
---

<div class="row">
	<div class="col-md-8">
<div class="alert alert--warning"><h2 class="alert__heading">This pattern is no longer supported</h2><p>This pattern is deprecated and will be removed in a future version of the digital pattern library. Please refer to the <a href="../page-intro/index.html">page intro pattern</a> for the correct method.</p></div>
<p class="lead">The intro pattern presents a centred heading and a paragraph. It is used as a key strapline on a homepage to provide the user with a brief overview of the website.</p>

<h2>Rules for the intro</h2>
<ul>
	<li>Must only be used on the homepage of a website.</li>
	<li>Must only be used under a <a href="../hero-banner/index.html">hero banner</a>.</li>
	<li>The header must not exceed 100 characters in length.</li>
	<li>The paragraph must not exceed 400 characters in length.</li>
	<li>Must only have one paragraph.</li>
	<li>Background colour must be white.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#intro-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/intro-options.options}}
</ul>
</div>
</div>
{{#intro-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3>{{option-heading}}</h3><div class='alert alert--warning'><h4 class="alert__heading">This option is no longer supported</h4><p>This implementation is now deprecated and will be removed in a future release.</p></div>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
	{{> intro}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> intro}}</code></pre>
<!--endnoindex-->
{{/intro-options.options}}