---
title: Intro
---

	<p>The intro pattern presents a centred heading and paragraph. Ideally used between full width image based content.</p>

	<h3>Rules for intro</h3>

	<ul>
		<li>Must only be used on full-width pages.</li>
		<li>Must not be the first pattern on a page.</li>
	</ul>

{{#intro-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> intro}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> intro}}</code></pre>
{{/intro-options.options}}