---
title: Intro
pattern: intro
examples:
- name: intro1
related:
- name: external-home
---

<p>Intro combines a centered heading and paragraph. Ideally used in between other full width image-heavy content.</p>


<h2>Rules</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> intro intro-example}}</div>

<h2>Options</h2>

<ul>
	<li>...</li>
</ul>


<h2>To do</h2>
<ul>
	<li>...</li>
</ul>



