---
title: Intro
pattern: intro
examples:
- name: intro1
related:
- name: external-home
---

<p>The Intro pattern presents a centered heading and paragraph. </p>

<h2>Rules</h2>

<ul>
	<li>Ideally used in between other full width image-heavy content.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> intro intro-example}}</div>

<h2>Options</h2>

<ul>
	<li>...</li>
</ul>
