---
title: Intro
---

<p>The intro pattern presents a centred heading and a paragraph. It is used as a key strapline on a homepage to provide the user with a brief overview of the website.</p>

<h3>Rules for the intro</h3>
<ul>
	<li>Must only be used on the homepage of a website.</li>
	<li>Must only be used under a <a href="../hero-banner/index.html">hero banner</a>.</li>
	<li>The header must not exceed 100 characters in length.</li>
	<li>The paragraph must not exceed 400 characters in length.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#intro-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/intro-options.options}}
</ul>

{{#intro-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> intro}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> intro}}</code></pre>
{{/intro-options.options}}