
<!-- Begin pattern: intro //--> 
	
  <div class="container">
    <div class="intro">
      <hr/>
      {{#if heading}}<h3>{{{heading}}}</h3>{{else}}<h3>[heading]</h3>{{/if}}
      {{#if paragraph}}<p>{{{paragraph}}}</p>{{else}}<p>[paragraph]</p>{{/if}}
      <hr/>
    </div>
  </div>

<!-- End pattern: intro //-->		
