
/*********************************/
/* BEGIN Pattern: hero-banner    */
/*********************************/

.hero-section {

@media (min-width:768px){

  position: relative;
  overflow: hidden;
  height: 480px;

  img {
     position: absolute;
     left: 50%;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     max-width: none;
     min-height: 100%;
     min-width: 100%;
  }

  .container {
    height: 100%;
    position: relative;
    z-index: 100;
  }   

}

@media (min-width:1200px){
  height: 580px;
}

@media (min-width:1600px){
  height: 680px;
}

figcaption {
  position: absolute;
  display: none;
}

}


// TEST 1
// Heading / intro / cta
// Constrained within semi opaque white box
.test1 {

  .hero-section__content {
    padding: 20px 0 30px 0;
  }

  .hero-section__heading {
    margin: 0;
    padding: 0;

    line-height: 1;
  }

  .hero-section__intro {
    margin: 15px 0 0 0;
    padding: 0;
  }

  .btn {
    margin: 15px 10px 0 0;
    font-weight: bold;
    line-height: 1;
    background: $sta-blue-light;
    border-bottom: 5px solid $sta-blue-light-hover;
  }  

@media (min-width:768px){
    .hero-section__content {
      background: rgba(#fff,0.9);
      border: 1px solid #fff;
      position: absolute;
      bottom: $half-gutter;
      left: 15px;
      max-width: 500px;
      padding: 30px;
      margin-left: -30px;
    }

  .hero-section__heading {
    font-size: 50px;
    line-height: 1;
  }

  .hero-section__intro {

  }

  .btn {
    font-size: 1.2em;
    line-height: 1;
  }   

}

}

/*********************************/
/* END Pattern: hero-banner      */
/*********************************/
