
/*********************************/
/* BEGIN Pattern: hero-banner    */
/*********************************/

.hero-section {

 .hero-section__content {
    padding: 0 0 30px 0;
  }

  .hero-section__heading {
    background: rgba($sta-blue,1);
    color: white;
    font-size: 36px;
    line-height: 1.1;
    margin: 0 -15px;
    padding: 10px 15px;

    &--burgundy {
      background: rgba($sta-burgundy,1);
    }

    &--orange {
      background: rgba($sta-orange,1);
    }

    &--green {
      background: rgba($sta-green,1);
    }

    &--purple  {
      background: rgba($sta-purple,1);
    }
  }

  .hero-section__intro {
    margin: 15px 0 0 0;
    padding: 0;
  }

  .btn {
    background: $sta-blue-light;
    border: none;
    border-color: $sta-blue-light;
    border-bottom: 3px $sta-blue-hover solid;
    font-weight: bold;
    line-height: 1;
    margin: 15px 10px 0 0;
    position:relative;
    padding:15px 45px 12px 15px;
    text-align: left;

    &:before {
      @extend .fa;
      @extend .fa-chevron-right;
      font-size: 24px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateY(1px);
      right: 15px;
    }

    &:hover,
    &:focus {
      background:$sta-blue-light-hover;
    }
  }  

@media (max-width:540px){
  .btn {
    width: 100%;
  }
}

// Position content over image
@media (min-width:768px){
  position:relative;
  overflow: hidden;
  height: 480px;

  img {
     position: absolute;
     left: 50%;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     max-width: none;
     min-height: 100%;
     min-width: 100%;
  }

  .container {
    height: 100%;
    position: relative;
    z-index: 90; // Moved down from 100 so search autocomplete will sit above it.
  }  

    .hero-section__content {
      position: absolute;
      bottom: $half-gutter;
      left: 15px;
      margin: 0;
      max-width: 580px;
      padding: 0;
    }

  .hero-section__heading {
    background: rgba($sta-blue,0.9);
    color: white;
    font-size: 48px;
    line-height: 1.1;
    margin: 0 0 0 -30px;
    padding: 20px 30px; 

    &--burgundy {
      background: rgba($sta-burgundy,0.9);
    }

    &--orange {
      background: rgba($sta-orange,0.9);
    }

    &--green {
      background: rgba($sta-green,0.9);
    }

    &--purple  {
      background: rgba($sta-purple,0.9);
    }
  }

  .hero-section__content-group {
    background: rgba(white,0.95);
    padding:30px;
    margin-left: -30px;
  }
  
  .hero-section__intro {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }

  // Increase size of button
  .btn {
    font-size: 1.2em;
    line-height: 1;
    margin-top:25px;
    border-bottom-width: 5px;
    padding-bottom: 10px;
    padding-right: 50px;

    &:before {
      font-size: 30px;
      transform: translateY(-50%) translateY(3px);
    }
  }   

}


@media (min-width:992px){
  height: 530px;
  .hero-section__heading {
    font-size: 52px;
    line-height: 1.1;
  }
}

@media (min-width:1200px){
  height: 540px;
}

@media (min-width:1400px){
  height: 580px;
}

// Supersize on big screens
@media (min-width:1601px){
  height: 600px;

  .hero-section__heading {
    font-size: 56px;
    line-height: 1.1;
  }

}


}

/*********************************/
/* END Pattern: hero-banner      */
/*********************************/
