<!-- Begin pattern: hero-banner //--> 

	<div class="hero-banner">
      <div class="container">
        <div class="call-heading">{{heading}}</div>
        <p>{{paragraph}}</p>
        <p><a class="btn btn-primary btn-lg" href="{{action-url}}">{{action-text}}</a></p>
      </div>
  </div>

<!-- End pattern: hero-banner //-->		