---
title: Hero Banner
pattern: hero-banner
examples:
- name: hero-banner1
related:
---

<p>Hero banner displays a large image, a heading, some intro text and a call to action.</p>


<h2>Rules</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> hero-banner hero-banner-example}}</div>

<h2>Options</h2>

<ul>
	<li>Left</li>
  <li>Center</li>
  <li>Right</li>
</ul>

<h2>Examples</h2>

<ul>
	{{#examples}}
	<li><a href="examples/{{name}}.html">{{name}}</a></li>
	{{/examples}}
</ul>

<h2>Related patterns</h2>

<ul>
	{{#related}}
	<li><a href="../{{name}}/index.html">{{name}}</a></li>
	{{/related}}
</ul>

<h2>To do</h2>
<ul>
	<li>Update the call to action button with the right button.</li>
  <li>Add ability to have left/center/right justification.</li>
</ul>


</div>

