---
title: Hero banner
pattern: hero-banner
examples:
- name: hero-banner
- name: hero-banner-with-sections
- name: hero-banner-no-background
related:
---

<p>The hero banner pattern displays a large heading, introductory text and a call to action over an optional, large background image.</p>

<h2>Background image template</h2>
<p>So it may be positioned reliably across a variety of screen sizes, the background image must use the Photoshop template below.</p>
<p><img src="{{asset "docs/images/cta/hero-banner-photoshop-template.jpg"}}" style="width:100%; max-width:992px;"></p>
<p><a href="../../assets/docs/images/cta/hero-banner-photoshop-template.psd">Hero banner Photoshop template</a> (PSD, 4.3 MB)</p>
<ul>
    <li><strong>Blurred section</strong>
        <ul>
            <li>This area should have a duplicate of the main hero banner image.</li>
            <li>A layer mask is then applied to this layer. The layer mask has a gradient fill applied for the right side of this layer to become transparent.</li>
            <li>A gaussian blur smart filter is then applied, set at 5.0px.</li>
            <li>A darkened layer sits above this image with a mask applied to make call-to-action text.</li>
        </ul>
    </li>
    <li><strong>Focus section</strong>
        <ul>
            <li>This area should contain the main focal point of the image.</li>
            <li>It is recommended that the main focus should complement the composition.</li>
        </ul>
    </li>
</ul>

<h2>Usage</h2>
<ul>
    <li>Background images are optional, but if present should be 1905px &times; 362px and created using the background image template (see above).</li>
</ul>

<h2>Options</h2>
<ul>
	<li>There is no default background image, you will need to supply an image by attaching an inline style on <code>&lt;div class="hero-banner"&gt;</code>. For example: <code>&lt;div class="hero-banner" style="background-image: url(path/to/image.jpg)"&gt;</code>.</li>
</ul>