---
title: Hero banner
---

<p>The hero banner pattern displays a large heading, introductory text and a call-to-action over an optional, large background image.</p>

<h3>Options for the hero banner</h3>
<ul>
    <li><a href="#hero-banner">Hero banner</a></li>
    <li><a href="#hero-banner-with-transparent-overlay">Hero banner with transparent overlay</a></li>
    <li><a href="#hero-banner-with-video">Hero banner with embedded video</a></li>
</ul>

<h3>Rules</h3>
<ul>
    <li>Hero banners must only be used at the top of a page directly under the <a href='../navigation-bar/index.html'>navigation bar</a>navigation bar.</li>
    <li>Breadcrumbs must not be used on pages featuring a hero banner.</li>
    <li>Hero banners must not be used on content pages, with the exception of long-style pages. For example, the current <a href="https://www.st-andrews.ac.uk/study/accommodation/halls/catered-standard/">halls of residence</a> pages.</li>
</ul>
<h3>Image guidelines</h3>
<ul>
    <li>Hero banners must always have an image background.</li>
    <li>The size of a hero banner image must be 1905 &times; 362 pixels and created using the <a href="../../assets/docs/images/cta/hero-banner-photoshop-template.psd">background image Photoshop template</a> (PSD, 4.3 MB).</li>
    <li>There is no default background image, you will need to supply an image by attaching an inline style on <code>&lt;div class="hero-banner"&gt;</code>. For example: <code>&lt;div class="hero-banner" style="background-image: url(path/to/image.jpg)"&gt;</code>.</li>
    <li>The main focus of this pattern is the call-to-action text so the background image shouldn't be overly complicated.
    </li>
    <li>Multiple images must not be used (for example, to form a collage) as they are complicated.</li>
    <li>Photographs including people are encouraged in the hero banner.</li>
    <li>Photographs of the St Andrews skyline are encouraged in the hero banner.</li>
    <li>Close ups of subjects, such as people's faces, are discouraged. The hero banner image should have room to breathe.</li>
</ul>

<h3>Text guidelines</h3>
<ul>
    <li>The hero banner heading must not exceed 40 characters.</li>
    <li>The hero banner paragraph text must not exceed 230 characters.</li>
    <li>There must only be one paragraph on a hero banner.</li>
</ul>

<h3>Video guidelines</h3>
<ul>
    <li>Videos embeded on the hero banner must be hosted on either YouTube or Vimeo.</li>
    <li>When sourcing embed code from YouTube, disable "Show suggested videos when the video finishes" and "Show video title and player actions". This will only show the player controls.</li>
    <li>When sourcing embed code from Vimeo, disable "Portrait", "Title", and "Byline".</li>
</ul>   

<h3>Background image template</h3>
<p>The background image must created using the Photoshop template below so it can be positioned reliably across a variety of screen sizes.</p>
<p><img src="{{asset "docs/images/cta/hero-banner-photoshop-template.jpg"}}" style="width:100%; max-width:992px;"></p>
<p><a href="../../assets/docs/images/cta/hero-banner-photoshop-template.psd">Hero banner Photoshop template</a> (PSD, 4.3 MB)</p>
<ul>
    <li><strong>Focus section</strong>
        <ul>
            <li>This area should contain the main focal point of the image.</li>
            <li>It is recommended that the main focus should complement the composition.</li>
        </ul>
    </li>
</ul>

{{#hero-banner-options.options}}
<hr>
<h3 id="{{option-anchor}}">{{option-heading}}</h3>
{{{option-description}}}
</div>{{> hero-banner}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> hero-banner}}</code></pre>
{{/hero-banner-options.options}}