/************************************/
/* BEGIN Pattern: fonts             */
/************************************/

.pt-sans {
    font-size: 50px;
    font-family: "PT Sans";
}

.pt-serif {
    font-size: 50px;
    font-family: "PT Serif";
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/**********************************/
/* END Pattern: fonts             */
/**********************************/