<!-- Begin pattern: fonts //-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="{{{class}}}">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                <p class="{{{class}}}">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
            </section>
        </div>
    </div>
</div>

<!-- End pattern: fonts //-->

