
/**********************************/
/* BEGIN Pattern: form-errors     */
/**********************************/

.alert h3, .alert h4 {
	margin-top: 0;
}

.has-error {
	&.form-group {
		border-left: 5px solid $sta-red;
		padding-left: 25px;
	}

	.help-block {
		color: inherit;
	}

	.text-danger {
		display: block;
		margin-bottom: 5px;
	}
}

.form-group li {
	list-style-type: none;
}

/**********************************/
/* BEGIN Pattern: form-errors     */
/**********************************/
