<div class="alert alert-danger" role="alert" aria-labelledby="error-summary-heading-example" tabindex="-1">
    <h3 id="summary-heading-example">Incomplete personal details</h3>
    <p>Optional description of errors and how to correct them.</p>
    <ul>
        <li><a href="#example-full-name">Please enter your full name</a></li>
        <li><a href="#example-telephone-number">Please enter a valid telephone number</a></li>
    </ul>
</div>

<fieldset><legend>Your personal details</legend>

    <div class="form-group has-error">
        <label for="example-full-name" id="error-full-name">Full name</label>
        <span class="help-block">As shown on your birth certificate or passport</span>
        <label class="text-danger" id="error-message-full-name"><strong>Please enter your full name</strong></label>
        <input class="form-control " id="example-full-name" type="text" name="fullName" value="" aria-describedby="error-message-full-name">
    </div>

    <div class="form-group has-error">
        <label for="example-telephone-number" id="error-telephone-number">Telephone number</label>
        <label class="text-danger" id="error-message-telephone-number"><strong>Please enter a valid telephone number using only digits</strong></label>
        <input class="form-control has-error" id="example-telephone-number" type="text" name="Telephone" value="" aria-describedby="error-message-telephone-number">
    </div>

    <input class="btn btn-primary" type="submit" value="Continue">
</fieldset>