# Editorconfig file
# For more info see: http://editorconfig.org/ 


# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

# Space indentation, 4 spaces
indent_style = space
indent_size = 4
