/*********************************/
/* BEGIN Pattern: numerical list */
/*********************************/

.numerical-list {
    counter-reset: list-counter;
    .list-group-item {
        counter-increment: list-counter;
        &:before {
            color: $sta-blue-light;
            content: counter(list-counter);
            @include ms-respond(font-size, 2);
            line-height: 1;
            float:right;
            margin-left: ms(2);
        }

        &:active {
            &:before {
                color: $sta-grey-dark;
            }
        }
    }
}

/*********************************/
/* END Pattern: numerical list   */
/*********************************/