<!-- Begin pattern: numerical list //-->

            <h3>{{title}}</h3>
            <div class="list-container">
                <ul>
                {{#each news-item}}
                    <li>
                        <a href="#">
                            <span class="list-container__number">1</span>
                            <span class="list-container__title">{{news-title}}</span>
                        </a>
                    </li>
                {{/each}}
                </ul>
            </div>

<!-- End pattern: numerical list //-->