<!-- Begin pattern: numerical list //-->

            <h2>{{title}}</h2>
                <div class="list-group numerical-list">
                {{#each news-item}}
                <a class="list-group-item" href="#"><span class="item-label">{{news-title}}</span></a>
                {{/each}}
                </div>

<!-- End pattern: numerical list //-->