{{#if sta-grid__main}}
<div class="sta-container sta-grid__main">
    <div class="sta-grid-item__main"></div>
</div>
{{/if ~}}
{{#if sta-grid__main--with-offsets}}
<div class="sta-container sta-container--wide sta-grid__main--with-offsets">
    <div class="sta-grid-item__offset-1"></div>
    <div class="sta-grid-item__main"></div>
    <div class="sta-grid-item__offset-2"></div>
</div>
{{/if ~}}
{{#if sta-grid__main-aside}}
<div class="sta-container sta-grid__main-aside">
    <div class="sta-grid-item__main"></div>
    <div class="sta-grid-item__aside"></div>
</div>
{{/if ~}}
{{#if sta-grid__aside-main}}
<div class="sta-container sta-grid__aside-main">
    <div class="sta-grid-item__aside"></div>
    <div class="sta-grid-item__main"></div>
</div>
{{/if ~}}
{{#if sta-grid__main-aside-empty}}
<div class="sta-container sta-grid__main-aside">
    <div class="sta-grid-item__main"></div>
</div>
{{/if ~}}
{{#if sta-grid__main-aside--with-offsets}}
<div class="sta-container sta-container--wide sta-grid__main-aside--with-offsets">
    <div class="sta-grid-item__main"></div>
    <div class="sta-grid-item__aside"></div>
    <div class="sta-grid-item__offset-1"></div>
    <div class="sta-grid-item__offset-2"></div>
</div>
{{/if ~}}