<!-- Begin pattern: category-header //-->

<div class="" id="category-header">
    <div class="container">
        <h2><a href="#">Category title</a></h2>
    </div>
</div>

<!-- End pattern: category-header //-->