---
title: Section header
---

<p>The Section header pattern contains the name of a section with either a full-width dark or light colour background image. Only for use on the subject pages to clearly delineate the different sections.</p>

<ul>
   <li>For subject pages only</li>
   <li>Only with a full-width background image</li>
   <li>One line of text</li>
   <li>Image needs to be 1700 by 300 pixels</li>
</ul>

{{#tabs-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{>  section-header}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> section-header}}</code></pre>
{{/tabs-options.options}}