---
title: Section header
pattern: section-header
examples:
- name: section-header-dark-text
- name: section-header-white-text
---

<p>The Section header pattern contains the name of a section with either a full-width dark or light colour background image. Only for use on the subject pages to clearly delineate the different sections.</p>

<h2>Usage</h2>

<ul>
   <li>For subject pages only</li>
   <li>Only with a full-width background image</li>
   <li>One line of text</li>
   <li>Image needs to be 1200 by 300 pixels</li>
</ul>

<h2>Syntax</h2>
<div class="pattern-source">{{> section-header }}</div>

<h2>Options</h2>

<ul>
   <li>Dark grey text on light background</li>
   <li>White text on dark background</li>
</ul>