/*************************************/
/* BEGIN Pattern: showcase-banner  */
/*************************************/
.showcase-banner {
	color: white;
	padding: $page-gutter 0;


	&.sta-orange-1 {
		background-color: $sta-orange;
	}

	&.sta-orange-2 {
		background-color: shade($sta-orange, 15%);
	}

	&.sta-orange-3 {
		background-color: shade($sta-orange, 25%);
	}

	&.sta-dkgreen-1 {
		background-color: shade($sta-green, 15%);
	}

	&.sta-dkgreen-2 {
		background-color: shade($sta-green, 25%);
	}

	&.sta-dkgreen-3 {
		background-color: shade($sta-green, 35%);
	}

	&.sta-purple-1 {
		background-color: $sta-purple;
	}

	&.sta-purple-2 {
		background-color: shade($sta-purple, 15%);
	}

	&.sta-purple-3 {
		background-color: shade($sta-purple, 25%);
	}
	
	@media (max-width:767px){
		h2, h3 {
			margin-top: 0;
		}
	}

	.navbox {
		margin-bottom:0; // Let the wrapper do the vertical spacing
	}
}


/*************************************/
/* END Pattern: showcase-banner    */
/*************************************/