<!-- Begin pattern: showcase-banner //-->
{{#each panels}}
<section class="showcase-banner {{colour}}">
	<div class="container">
		<div class="row">
		{{#each columns}}
			<div class="{{column-size}}">
				{{#if box-size}}		
				{{> navbox}}
				{{/if}}
				{{#if title}}		
				<h2>{{title}}</h2>
				<p class="lead">{{paragraph}}</p>
				{{/if}}		
			</div>
		{{/each}}
		</div>
	</div>
</section>
{{/each}}
<!-- End pattern: showcase-banner //-->