
/*********************************/
/* BEGIN Pattern: glyphicons     */
/*********************************/

.bs-glyphicons-list {
    list-style: none;
}

.bs-glyphicons-list div.col-md-3 {
    margin-bottom: 10px;
}

.bs-glyphicons-list .glyphicon {
    margin-right: 10px;
}
/*********************************/
/* END Pattern: glyphicons       */
/*********************************/
