{{#if example}}
    <div class="row">
        <div class="col-md-4">
            <div class="btn-toolbar" role="toolbar"> 
                <div class="btn-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Right Align"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Justify"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>
                </div> 
            </div>
        </div>

    </div>
{{else}}
    <div class="bs-glyphicons">
        <div class="row">
            <ul class="bs-glyphicons-list">
                {{#each icons}}
                <li class="col-md-3 col-sm-4">
                    <span class="glyphicon glyphicon-{{this}}" aria-hidden="true"></span>
                    <span class="glyphicon-class">glyphicon-{{this}}</span>
                </li>
                {{/each}}               
            </ul>
        </div>
    </div>
{{/if}}
