---
title: Glyphicons
---

<blockquote>
	<p>GLYPHICONS is a library of precisely prepared monochromatic icons and symbols, created with an emphasis to simplicity and easy orientation.</p>
	<footer>Glyphicon website</footer>
</blockquote>
<p>Use glyphicon icons to accent elements on webpages and web applications. See below for examples and the list of approved icons.</p>

<ul>
    <li>You may use only the approved icons, below.</li>
    <li>Use icons to accent existing elements.</li>
    <li>Basic functionality may use only icons.</li>
    <li>Complex interactions should use text rather than icons.</li>
</ul>
<p>You may use any of the approved icons with <code>&lt;span class="glyphicon glyphicon-search" aria-hidden="true"&gt;&lt;/span&gt;</code>. See the <a href="http://getbootstrap.com/components/#glyphicons">Bootstrap glyphicon</a> section for more ways to configure the icons.</p>

<h3>Requesting more icons</h3>
<p>If you would like to use an icon that is not on the approved list (below) please contact the <a href="http://digitalcommunications.wp.st-andrews.ac.uk/about/">digital communications team</a>.</p>

{{#glyphicons-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> glyphicons}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> glyphicons}}</code></pre>
{{/glyphicons-options.options}}