
/*********************************/
/* BEGIN Pattern: featured media */
/*********************************/

.featured-media {
    color: rgb(255, 255, 255);
    padding: 40px 0 20px 0;
}
.featured-media a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;
}


/*********************************/
/* END Pattern: featured media   */
/*********************************/
