
/*********************************/
/* BEGIN Pattern: featured media */
/*********************************/

@mixin featured-media-overlay ($color-overlay, $color-cta, $color-cta-hover, $transparent-overlay: null){
   @if ($transparent-overlay) {
       &:after {
           background-color: rgba($color-overlay,0.75);
       }
        .featured-media__heading {
            text-shadow: 2px 2px 9px rgba(68,68,68,0.7);
        }
    } @else {
        background-color: $color-overlay;
    }
   .btn, .btn-primary {
        background-color: $color-cta;
        border: 0;
        border-bottom: 5px solid $color-cta-hover;
   }

   .btn:hover, .btn:focus {
        background-color: $color-cta-hover;
        border: 0;
        border-bottom: 5px solid $color-cta-hover;
    }

}

.featured-media {
    background: rgba($sta-blue,0.75);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    z-index: 0;
    padding: $page-gutter 0;

    &.featured-media--overlay {
        &:after {
            content: ' ';
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }        
    }

    &.featured-media--sta-blue {
        @include featured-media-overlay ($sta-blue, $sta-orange, $sta-orange-hover)
    }

    &.featured-media--sta-blue-light {
        @include featured-media-overlay ($sta-blue-light, $sta-orange, $sta-orange-hover)
    }

    &.featured-media--sta-green {
        @include featured-media-overlay ($sta-green, $sta-orange, $sta-orange-hover)
    }

    &.featured-media--sta-burgundy {
        @include featured-media-overlay ($sta-burgundy, $sta-blue, $sta-blue-hover)
    }

    &.featured-media--sta-purple {
        @include featured-media-overlay ($sta-purple, $sta-green, $sta-green-hover)
    }

    &.featured-media--sta-orange {
        @include featured-media-overlay ($sta-orange, $sta-green, $sta-green-hover)
    }

    &.featured-media--blue-transparent-overlay {
        @include featured-media-overlay ($sta-blue, $sta-orange, $sta-orange-hover, true)
    }

    &.featured-media--orange-transparent-overlay {
        @include featured-media-overlay ($sta-orange, $sta-green, $sta-green-hover, true)
    }

    &.featured-media--burgundy-transparent-overlay {
        @include featured-media-overlay ($sta-burgundy, $sta-blue, $sta-blue-hover, true)
    }

    &.featured-media--purple-transparent-overlay {
        @include featured-media-overlay ($sta-purple, $sta-green, $sta-green-hover, true)
    }

    &.featured-media--featured-image{
        background-image: url(../images/secondary-call/9.jpg); background-size: cover;
    }

    a:not(.btn) {
        color: white;
        font-weight: bold;
        text-decoration: underline;
    }

    .btn {
        margin-bottom:25px;

        @media (min-width: 992px){
            margin-bottom:0;
        }
    }

    img,
    .embed-responsive {
        max-width:100%;
        margin-bottom:20px;
    }

    .featured-media__heading {
        @include ms-respond(font-size,4);
        @media (max-width:767px){
            margin-top: 0;
        }
    }
}
/*********************************/
/* END Pattern: featured media   */
/*********************************/