<!-- Begin pattern: featured media //-->

<div class="featured-media{{background}}" {{#if bg-img}}style="background-image: url({{bg-img}}); background-size: cover;"{{/if}}>
    <div class="container">
        {{{column1}}}
        {{{column2}}}
    </div>
</div>

<!-- End pattern: featured media //-->
