---
title: Featured media
---

<p>This pattern is for displaying content such as testimonials or reputations with full width background. Text is displayed within the left or right column with an image or video beside it, in a separate column.</p>

<h2>Usage</h2>

<ul>
   <li>One column must contain text and the other column must contain an image or a video.</li>
   <li>Images must be sized <code>445px x 297px</code>.</li>
   <li>Must use a colour or image background.</li>
   <li>All text, including links, must be white. Links must also be underlined.
</ul>

<h2>Options</h2>

<ul>
   <li>Text can be placed in either the left or right column with an image or a video in the other column.</li>
   <li>The background can either be an image or coloured, the colour background cannot be white, grey or yellow.</li>
</ul>

{{#featured-media-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
	{{> featured-media}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> featured-media}}</code></pre>
{{/featured-media-options.options}}
