---
title: Featured media
pattern: featured media
examples:
- name: text-video-with-colour-background
- name: video-text-with-image-background
- name: text-image-with-colour-background
- name: image-text-with-image-background

---

<p>This pattern is for displaying content such as testimonials or reputations. Text is displayed within the left or right column with an image or video beside it, in a second column.</p>

<h2>Usage</h2>

<ul>
   <li>Must contain text in one column and an image or video in the other column.</li>
   <li>Images need to be sized <code>445px x 297px</code>.</li>
   <li>Must use a colour or image background.</li>
</ul>

<h2>Options</h2>

<ul>
   <li>Text can be placed in either the right or left hand column with the media in the opposite column.</li>
   <li>The background can either be an image or a colour, the colour cannot be white, grey or yellow.</li>
</ul>