<!-- Begin pattern: featured media //-->

<div class="featured-media{{background}}">
    <div class="container">
        {{{column1}}}
        {{{column2}}}
    </div>
</div>

<!-- End pattern: featured media //-->
