---
title: Contact card
pattern: contact-card
examples:
- name: contact-card-1
related:
- name: tile
---

<p>Several sentence description of the pattern.</p>

<h2>Usage</h2>

<ul>
   <li>When to use, rule 1</li>
   <li>How to use, rule 2</li>
   <li>When not to use, rule 3</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> first-name }}</div>

<h2>Options</h2>

<ul>
   <li>Option 1</li>
   <li>Option 2</li>
</ul>