---
title: Contact card
---

<p>The contact card pattern includes a name, title, contact details and image. Student card is also the same but without an image.</p>


<ul>
	<li>Name should be linked to PURE profile for more info.</li>
	<li>Image must be <code>127px</code> high by <code>111px</code> wide.</li>
</ul>

{{#contact-card-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> contact-card}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> contact-card}}</code></pre>
{{/contact-card-options.options}}