---
title: Contact Card
pattern: contact-card
examples:
- name: example1
- name: example2
related:

---

<p>The Staff profile pattern includes a name, title, contact details and image. Student profile is also the same but without an image.</p>

<h2>Usage</h2>

<ul>
	<li>Name should be linked to PURE profile for more info.</li>
	<li>Image must be <code>127px</code> high by <code>111px</code> wide.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> contact-card}}</div>


<h2>Options</h2>

<ul>
	<li>"Email" and "Phone" should always be present if available for the person.</li>
</ul>
