---
title: Content full
pattern: content-full
examples:
- name: example1
related:
---

<p>The Content full pattern contains a full-width section for content.</p>

<h2>Usage</h2>

<ul>
	<li>There should be no more than one Content pattern on a page.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> content-full asdf }}</div>


<h2>Options</h2>

<ul>
	<li><em>None</em></li>
</ul>
