---
title: Content full
pattern: content-full
examples:
- name: normal-content-full
- name: subject-content-full
---

<p>The Content full pattern contains a full-width section for content.</p>

<h2>Usage</h2>

<ul>
	<li>There should be no more than one content pattern on a page.</li>
    <li><code>subject-content-full</code> uses a larger title and should only be used on the subject pages.</li>
</ul>

<h2>Options</h2>

<ul>
	<li><em>None</em></li>
</ul>
