---
title: Content full
pattern: content-full
examples:
- name: example1
related:
---

<p>The Content full pattern contains a full-width section for content.</p>

<h2>Rules</h2>

<ul>
	<li>There should only be one content section on a page.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> content-full asdf }}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>
