
/*********************************/
/* BEGIN Pattern: code           */
/*********************************/

/* Background colour for code snippets */
pre, pre code.pattern-source {
    background-color: $sta-grey-light;
}
pre {
    border-color:$sta-grey;
    font-size: 1rem;
    line-height: 1.5;
    max-height: 15em;
    overflow: auto;
    padding: 0;

    &.pre-expanded {
      max-height: 100%;
    }
}

code {
  word-wrap: break-word;
}


.hljs-comment,
.hljs-quote {
  color: $sta-grey;
}


.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: $sta-blue-light;
}


.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: $sta-green;
}


.hljs-attribute {
  color: $sta-orange;
}


.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: $sta-burgundy;
}


.hljs-title,
.hljs-section {
  color: $sta-blue;
}


.hljs-keyword,
.hljs-selector-tag {
  color: $sta-purple;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: $sta-grey-light;
  color: $sta-grey-dark;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
