---
title: Code
---

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">

<p>The introduction may be several paragraphs long if required. It should introduce the pattern, explain what it is and when and where it may be used.</p>

<p>You may use any formatting as required, such as paragraphs and unordered lists:</p>

<ul>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Dolores tempore enim debitis totam</li>
</ul>

<p>Documentation should follow the writing for the web guidelines and adhere to the house style guide.</p>

{{#code-options.options}}
<hr>
<h3>{{option-header}}</h3>
{{{option-description}}}

<span class="label label-default">Code</span>
<pre>
    <code class="{{code-class}} pattern-source">{{> code}}</code>
</pre>
{{/code-options.options}}