
/**********************/
/* Pattern: Tile      */
/**********************/


 .tile {
 	clear: both;
 	background-color: white;
 	margin-bottom: 3em;
 	-webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.38);
	-moz-box-shadow:    4px 4px 8px 0px rgba(0, 0, 0, 0.38);
	box-shadow:         4px 4px 8px 0px rgba(0, 0, 0, 0.38);
 }

 .tile img {
 	height: 200px;
 	width: 100%;
 	position: relative;
 	z-index: 0;

 }

 .tile h3 {
 	margin-top: -2.6em;
 	font-size: 1.3em;
 	line-height: 2.6em;
 	background: $sta-blue-50;
 	position: relative;
 	z-index: 100;
 	padding: 0 .8em;
 	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
 }
 .tile:hover h3 {
 	background: $sta-blue-hover;
 }
 	
 .tile.green h3 {
 	background: $sta-green-50;
 }

 .tile.green:hover h3 {
 	background: $sta-green-hover;
 }

 .tile.purple h3 {
 	background: $sta-purple-50;
 }

 .tile.purple:hover h3 {
 	background: $sta-purple-hover;
 }

 .tile.red h3 {
 	background: $sta-red-50;
 }

 .tile.red:hover h3 {
 	background: $sta-red-hover;
 }

 .tile h3 a {
 	color: white;
	text-decoration: none;
 }

 .tile p {
 	font-size: 1em;
 	height: 7em;
 	line-height: 1.2em;
 	padding: 0 1em;
 	margin: 1.5em 0;
 }

 .tile-date {
 	float: left;
 	font-weight: bold;
 	padding-left: 1em;

 }

 .tile-type {
 	float: right;
 	padding-right: 1em;
 	font-weight: bold;
 	color: $sta-grey-med;
 }




 