
/*********************************/
/* BEGIN Pattern: tile           */
/*********************************/

 .tile {
 	clear: both;
 	background-color: white;
 	margin-bottom: 3em;
 	-webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.38);
	-moz-box-shadow:    4px 4px 8px 0px rgba(0, 0, 0, 0.38);
	box-shadow:         4px 4px 8px 0px rgba(0, 0, 0, 0.38);
 }

.tile-image-title {
  position: relative;
}

 .tile img {
 	height: 200px;
 	width: 100%;
 	position: relative;
 	z-index: 0;
 }

 .tile h3 {
  width: 100%;
 	font-size: 1.3em;
 	line-height: 1.3em;
 	background: $sta-blue-50;
 	position: absolute;
  bottom: 0;
 	z-index: 100;
 	padding: .5em .8em;
  margin: 0;
 	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
 }
 .tile:hover h3 {
 	background: $sta-blue-hover;
 }

 .tile h3 a {
 	color: white;
	text-decoration: none;
 }

 .tile p {
 	font-size: 1em;
 	height: 5em;
 	line-height: 1.2em;
 	padding: 0 1em;
 	margin: 1.5em 0;
 }

 .tile-date {
 	float: left;
  font-size: 15px;
 	font-weight: bold;
 	padding-left: 1em;

 }

 .tile-type {
 	float: right;
  font-size: 15px;
 	padding-right: 1em;
 	font-weight: bold;
 	color: $sta-grey-med;
 }

/* Colors */

.tile.green h3 {
  background: $sta-green-50;
}

.tile.green:hover h3 {
  background: $sta-green-hover;
}

.tile.purple h3 {
  background: $sta-purple-50;
}

.tile.purple:hover h3 {
  background: $sta-purple-hover;
}

.tile.red h3 {
  background: $sta-red-50;
}

.tile.red:hover h3 {
  background: $sta-red-hover;
}

@media (max-width: 767px) {
  .tile p {
    height: auto;
  }
}

/*********************************/
/* END Pattern: tile             */
/*********************************/
 