---
title: Tile
---

<p>The tile pattern is a clickable, single-action item. It includes an image, title and description. It's ideally used for displaying an event or news item.</p>

<p>The description text should be 3 to 4 lines in length, or roughly 80 to 140 characters.</p>

{{#tile-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> tile}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> tile}}</code></pre>
{{/tile-options.options}}
