---
title: Secondary call-to-action
---

<p>The Secondary call-to-action pattern displays a heading, some intro text and a button with a large background image.</p>

<ul>
	<li>Only show at the bottom of the page, above the footer.</li>
</ul>

<ul>
  	<li><strong>Alignment</strong><br>
      By adding a class of <code>center</code> (default), <code>right</code>, or <code>left</code>, you can specify how the content should be aligned.
    </li>
    <li><strong>Background Image</strong><br>
        By adding a class of the from <code>secondary-call-*</code>, where <code>*</code> is a number between 0 and 10, you can select a preferred background image from 10 additional ones.
    </li>
    <li><strong>Multiple Call to actions</strong><br>
        You can include more than more one call to action if needed.
    </li>
</ul>

{{#secondary-call-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{>  secondary-call}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> secondary-call}}</code></pre>
{{/secondary-call-options.options}}
