---
title: Secondary call-to-action
---

<p>The secondary call-to-action pattern displays a heading, some intro text and a button with a large background image.</p>

<p>Only show at the bottom of the page, immediately above the footer.</p>

<ul>
  	<li><strong>Alignment</strong><br>
      By adding a class of <code>center</code> (default), <code>right</code>, or <code>left</code>, you can specify how the content should be aligned.
    </li>
    <li><strong>Background image</strong><br>
        By adding a class of the from <code>secondary-call-*</code>, where <code>*</code> is a number between 0 and 9, you may select a preferred background image from additional variants.
    </li>
    <li><strong>Multiple calls to action</strong><br>
        You may include more than more one call to action if needed.
    </li>
</ul>

{{#secondary-call-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>{{> secondary-call}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> secondary-call}}</code></pre>
{{/secondary-call-options.options}}
