
/*********************************/
/* BEGIN Pattern: article-header    */
/*********************************/

.article-header {
	border-bottom: 1px $sta-grey-mid2 solid;
	margin-bottom: $half-gutter;

	// Line up any buttons in a row

	.dropdown,
	.btn {
		display: inline-block;
		margin: 0;

		&:first-child {
			margin-right:1em;
		}
	}
}

.article-header__heading {
	margin-bottom: 0.75rem;
}

.article-header__meta {
	align-items: center;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	// add bottom margin to each element
	& > * {
		margin-bottom: 1rem;
	}
}

// Wrapper for multi line items that take up remaining space
.article-header__meta--group {
	flex: 1 1 auto;
}

.article-header__meta-image {
    border: 2px solid $sta-grey-light2;
    border-radius: 50%;
	height: 50px;
	width: 50px;
    overflow: hidden;
    position: relative;
    margin-right: 1rem;

	img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
	}

}

a.article-header__meta-image {
	outline: 0; // disable default focus

	&:active {
			box-shadow: 0px 0px 0px 3px $sta-orange-highlight;
	}

	&:hover {
		img {
			opacity: 0.8;
		}
	}

	&:focus {
		box-shadow: 0px 0px 0px 3px $sta-orange-highlight;
	}
}

.article-header__meta-author,
.article-header__meta-date {
	font-size: 1rem;
    margin-right: 1rem;
}

.article-header__meta-share {
	.share-options ul {
		margin-bottom: 0;
	}
}



/*********************************/
/* END Pattern: article-header      */
/*********************************/
