
/*********************************/
/* BEGIN Pattern: sticky-nav     */
/*********************************/

/* LONG FORM NAV STYLES */

#nav-top {
    display: none;
    transition: background .2s linear, border-radius 1s ease-in 1s;
    top: 0;
    width: 100%;
    z-index: 999;
}

#internal-nav {
	height: 45px;
}

#nav-top .top-link {
    display: none;
}

#nav-top.affix .top-link {
    display: block;
}

#nav-top.affix {
    top: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
}
#nav-top li.active {
    background-color: $sta-blue-hover;
} 

#nav-top .navbar.nav {
    min-height: 45px;
}

@media (min-width: 768px) {
    #nav-top {
        display: block;
    }
}

/* A cool hack to get the offset right when linking to internal id's
 * whilst also having a nav bar absolutely positioned on the top.
 * Hat tip -  UCL.
 */

.copy__anchor:before {
    content: '';
    display: block;
    height: 80px;
    margin-top: -80px;
    position: relative;
    width: 0;
}

/*********************************/
/* END Pattern: sticky-nav       */
/*********************************/
