---
title: Sticky nav
---

<p>The sticky nav is for linking within a page to in-page content only; it appears below the normal navigation bar and will affix to the top as you scroll down to it.</p>

{{#sticky-nav-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>{{> sticky-nav}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> sticky-nav}}</code></pre>
{{/sticky-nav-options.options}}