---
title: Sticky Nav
---

<p>The Sticky nav is for linking within a page to in-page content only, and it appears below the normal nav and will affix to the top as you scroll down to it.</p>

<h2>Usage</h2>

<ul>
	<li>...</li>
</ul>

<h2>Options</h2>

<ul>
    <li><em>None</em></li>
</ul>

{{#sticky-nav-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> sticky-nav}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> sticky-nav}}</code></pre>
{{/sticky-nav-options.options}}