---
title: Sticky Nav
pattern: sticky-nav
examples:
- name: example1
  width: 30%;
---

<p>The Sticky nav is for linking within a page to in-page content only, and it appears below the normal nav and will affix to the top as you scroll down to it.</p>

<h2>Usage</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> sticky-nav sticky-nav}}</div>


<h2>Options</h2>

<ul>
    <li><em>None</em></li>
</ul>