/***********************************/
/* BEGIN Pattern: featured-people  */
/***********************************/

.featured-people  {
	color: white;
	padding: 20px 0 0 0;

	@media (min-width: 768px){
		padding: 30px 0 10px 0;
	}

	@media (min-width: 992px){
		padding: 50px 0 30px 0;
	}

	&.sta-blue-light {
    	background-color: $sta-blue-light;
  	}

  	&.sta-purple {
    	background-color: $sta-purple;
  	}

	&.sta-dkgreen {
    	background-color: $sta-dkgreen;
  	}

  	&.sta-burgundy {
    	background-color: $sta-burgundy;
  	}

  	&.sta-orange {
    	background-color: $sta-orange;
  	}

  	// img.link-active {
  	// 	border: 5px solid $sta-yellow;
  	// }

	img {
    	@include -dpl-transition();
    	border: 5px solid rgba($sta-yellow, 0);
    	border-radius: 50%;
    	display: block;
    	margin: 0 auto;
    	width: 200px;
	}

	a {
		color: white;

		&:hover,
		&:focus {
			img {
				border-color: rgba($sta-yellow, 1);
			}
		}
	}

	h3 { // scale big heading font
		font-size: 1.5em;
		margin: 0 0 30px 0;

		@media (min-width: 480px){
			font-size: 1.8em;
		}

		@media (min-width: 768px){
			font-size: 2.5em;
		}
	}

	h4 {
		font-size: 24px;
		margin: 15px 0 0 0;
	}

	small {
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	p {
		margin: 15px 0 0 0;
	}

	.featured-people__person {
		@include clearfix-alt; // alternate clearfix (utilities)
		margin-bottom: 30px;
		padding: 0 40px;
		text-align: center;
		
		&.featured-people__person--single {
			padding:0;
			@media (min-width: 992px)  {
				text-align:left;
			}
		}
	}

}

/***********************************/
/* END Pattern: featured-people    */
/***********************************/