<!-- Begin pattern: featured people //-->
<div class="container">
	<div class="row">
		<h3>Featured people</h3>
		{{#each columns}}
		<div class="col-md-4">
			<img src='../../assets/core/images/contact-card-default.gif'>
			<h4>{{name}}</h4>
			<p>{{title}}</p>
			<p>{{description}}</p>
		</div>
		{{/each}}
	</div>
</div>
<!-- End pattern: featured people  //-->