<!-- Begin pattern: post-header //-->

<div class="post-header">
                <h1><a href="#">{{heading}}</a></h1>
                <div class="post-header__post-date col-md-6">{{date}}</div>
                <div class="post-header__share-options col-md-6">
                    {{> share-options}}
<div class="clearfix"></div>
              </div>
            </div>

<!-- End pattern: post-header //-->