

	.button.large.chevron.full-width {
		font-size: 1.3em;
		font-weight: normal;
		color: white;
		background-color: $sta-blue;
		background-image: url(../images/furniture/chevron@2x.png);
		background-repeat: no-repeat;
		background-position: 95% 50%;
		background-size: 1em;
		width: 100%;
		display: block;
		padding-left: .8em;
		text-decoration: none;
	}