    .chevron-left:after,
    .chevron-up:after,
    .chevron-right:after,
    .chevron-down:after {
        content: " ";
        position: relative;
        top: .3em;
        left: 0em;
        height: 1.8em;
        width: 1.8em;
        display: inline-block;
        padding: 0;
        margin-left: 1em;

        background-image: url(../images/furniture/chevron@2x.png);
        background-size: 1.5em;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .chevron-left:after {
        -moz-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    .chevron-up:after {
        -moz-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        -webkit-transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        transform:rotate(270deg);
    }
    .chevron-down:after {
        -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
    }