/**************************/
/* Pattern: External Home */
/**************************/

.primary-call {
	background: url('../images/cta/external.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
