/*********************************/
/* BEGIN Pattern: navigation-grid */
/*********************************/

.navigation-grid {
	
	// Dynamic padding based on size of viewport
	padding: $page-gutter 0;

	.navigation-grid-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.navigation-grid-item {

		margin: 10px 0;
		
		/* 
		Clear respective items based on the number of columns
		This should be replaced by CSS grids asap
		*/

		// 2 columns
		@media (max-width: 991px) and (min-width: 768px) {
			&:nth-child(2n+1) {
				clear:left;
			}
		}
		
		// 3 columns
		@media (min-width: 992px) {
			&:nth-child(3n+1) {
				clear:left;
			}
		}

	}

	.navigation-grid-item__heading {
		// Replace with dynamic font sizes
		font-size: 18px;
		@media (min-width: 576px) {
			font-size: 22px;
		}
		margin: 0 0 4px 0;

		a {
			text-decoration:underline $sta-blue-light;
		}
	}

	.navigation-grid-item__description {
		// Replace with dynamic font sizes
		font-size: 14px;
		@media (min-width: 576px) {
			font-size: 16px;
		}
		margin: 0;
	}

}

/*********************************/
/* END Pattern: navigation-grid   */
/*********************************/