<!-- Begin pattern: navigation-grid //-->
<nav class="navigation-grid" role="navigation" aria-labelledby="{{option-anchor}}">
	<div class="container">
		<h2 id="{{option-anchor}}" class="sr-only">Title for screen readers</h2>
		<div class="row">
		{{#links}}
			<div class="navigation-grid-item col-sm-6 col-md-4">
				<h3 class="navigation-grid-item__heading"><a href="#">{{title}}</a></h3>
				{{#if description-text}}
				<p class="navigation-grid-item__description">{{description}}</p>
				{{/if}}
			</div>
		{{/links}}
		</div>
	</div>
</nav>
<!-- End pattern: navigation-grid //-->