
/*********************************/
/* BEGIN Pattern: text-banner    */
/*********************************/


.text-banner {
    background-color: $sta-grey;
}

.text-banner a {
    color: white;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        // Apply contrast 
        color: $sta-grey-dark;
        background: $sta-orange-highlight;
        box-shadow: 0 3px $sta-orange-highlight;
        text-decoration: underline;
        outline: 3px solid $sta-orange-highlight; 
    } 
}

.text-banner p {
    color: white;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
}

// Alignment classes.
.text-banner.left p {
    text-align: left;
}

.text-banner.right p {
    text-align: right;
}

// Color classes.
.text-banner.primary {
    background-color: $sta-blue;
}

.text-banner.secondary {
    background-color: $sta-blue-light;
}

.text-banner.success {
    background-color: $sta-green;
}

.text-banner.info {
    background-color: $sta-blue-light;
}

.text-banner.warning {
    background-color: $sta-orange;
}

.text-banner.danger {
    background-color: $sta-red;
}


/*********************************/
/* END Pattern: text-banner      */
/*********************************/
