<!-- Begin pattern: text-banner //-->
<div class="text-banner {{ style-type }}">
    <div class="container">
        <p>{{{ default message "[text banner message]" }}}</p>
    </div>
</div>
<!-- End pattern: text-banner //-->