<!-- Begin pattern: text-banner //-->
<header class="text-banner {{ style-type }}">
    <div class="container">
        <p>{{{ default message "[text banner message]" }}}</p>
    </div>
</header>
<!-- End pattern: text-banner //-->