---
title: Text Banner
pattern: text-banner
examples:
- name: example1
---

<p>Full-width text banner message with optional background colors.</p>


<h2>Rules</h2>

<ul>
  <li>Use this pattern with a short text anywhere on the page.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> text-banner}}</div>

<h2>Options</h2>

<ul>
  <li></li>
</ul>
