---
title: Text banner
---

<p>The text banner pattern is full-width, short message with a background colour.</p>

<ul>
    <li>Must be used only at the very top of a page.</li>
    <li>May be used to indicate the status of a page, e.g. alpha or beta version, to alert the user that this is an example page, etc.</li>
</ul>

{{#text-banner-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
{{>  text-banner}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> text-banner}}</code></pre>
{{/text-banner-options.options}}