
<!-- Begin pattern: text-banner //--> 

<div class="text-banner {{ style-type }}">
  <p class="message">
    {{{ default message "[text banner message]" }}}
  </p>
</div>


<!-- End pattern: text-banner //--> 
