---
title: Text banner
pattern: text-banner
examples:
- name: example1
- name: example2
- name: example3
- name: example4
- name: example5
- name: example6
- name: example7
- name: example8
- name: example9
---

<div class="alert alert-danger"> 
  <strong>This pattern is depreciated</strong> Please don't use it for any new websites. It will be removed in a future upadate. 
</div>

<p>The Text banner pattern is full-width message with a background color.</p>

<h2>Usage</h2>

<ul>
    <li>Use this pattern with a short text anywhere on the page.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> text-banner}}</div>

<h2>Options</h2>

<ul>
    <li><strong>Alignment</strong><Br> By default the text is centre aligned. You can alter the alignment by adding a <code>.left</code> or <code>.right</code> class.</li>
    <li><strong>Background color</strong><br> You can add the following classes to alter the background color:
        <ul>
            <li><code>.primary</code></li>
            <li><code>.secondary</code></li>
            <li><code>.success</code></li>
            <li><code>.info</code></li>
            <li><code>.warning</code></li>
            <li><code>.danger</code></li>
        </ul>
    </li>
</ul>
