
/*********************************/
/* BEGIN Pattern: info-bite-grid */
/*********************************/

.info-bite-grid .portrait-container {
    float: right!important;
}

@media (max-width: 992px) {
    .info-bite-grid .portrait-container {
        float: left!important;
    }
}

@media (max-width: 767px) {
    .info-bite-grid .portrait-container {
        float: none!important;
    }
}

/*********************************/
/* END Pattern: info-bite-grid   */
/*********************************/
