---
title: Info bite grid
pattern: info-bite-grid
examples:
- name: example1
- name: example2
- name: example3
related:
- name: info-bite
---

<div class="alert alert-danger"> 
  <strong>This pattern is depreciated</strong> Please don't use it for any new websites. It will be removed in a future upadate. 
</div>

<p>The Info bite grid pattern presents a set of Info bites in a grid.</p>

<h2>Usage</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> info-bite-grid }}</div>


<h2>Options</h2>

<ul>
    <li><em>None</em></li>
</ul>
