---
title: Info bite grid
pattern: info-bite-grid
examples:
- name: example1
- name: example2
- name: example3
related:
- name: info-bite
---

<p>The Info bite grid pattern presents a set of Info bites in a grid.</p>

<h2>Rules</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> info-bite-grid }}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>
