---
title: Dummy pattern
pattern: dummy-pattern
examples:
- name: full-details
- name: no-image
related:
- name: tile-grid

---

<!--
INSTRUCTIONS, PT.1

START HERE...

1. The name of the directory should be the same as the pattern name (in this example `dummy-pattern`), and the name of this file.

2. Give the pattern a title. This should be human-readable and may contain spaces.

3. Change the names of the examples above. These are in the /examples directory. Use descriptive names rather than example-1, example-2, etc. It makes it much easier

4. Edit the syntax section below to replace `dummy-pattern` below with the name of your .hbs file in the root of this pattern directory.

5. In the 'related' section above

Now edit the `dummy-pattern.hbs` file.
-->

<p>Several sentence description of the pattern.</p>

<h2>Usage</h2>

<ul>
   <li>When to use, rule 1</li>
   <li>How to use, rule 2</li>
   <li>When not to use, rule 3</li>
</ul>

<h2>Syntax</h2>
<div class="pattern-source">{{> dummy-pattern }}</div>

<h2>Options</h2>

<ul>
   <li>Option 1</li>
   <li>Option 2</li>
</ul>