<!-- Begin pattern: image pattern peter //-->

<div class="image-pattern-peter">

    <figure class="figure">

        <img src='{{default url '[path/to/image.jpg]'}}' alt='{{default alt '[alt]'}}'>
        {{#if caption}}
            <figcaption class="figure-caption text-center">{{default caption '[caption]'}}</figcaption>
        {{/if}}

    </figure>

    {{#if paragraph}}
        <p>{{paragraph}}</p>
    {{/if}}

</div>


<!-- End pattern: image pattern peter //-->
