/**
 * Colours
 *
 * Define the colours for use throughout the St Andrews theme.
 *
 */

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
/* Variables for adjusting colors */
$hover-darken:          7%;
$transparency:          0.25;
$select-lightness:      5%;


/* ST ANDREWS COLORS */

/* Blue (sta-blue) */
$sta-blue:              rgb(0, 83, 155);
$sta-blue-tint25:       tint($sta-blue, 25%);
$sta-blue-tint50:       tint($sta-blue, 50%);
$sta-blue-shade25:      shade($sta-blue, 25%);

$sta-blue-hover:        darken($sta-blue, $hover-darken);
$sta-blue-T:            transparentize($sta-blue,$transparency);
$sta-blue-T-hover:      darken($sta-blue-T, $hover-darken);
$sta-blue-S:            lighten($sta-blue,$select-lightness);
$sta-blue-S-hover:      darken($sta-blue-S, $hover-darken);


/* Blue-light (sta-blue-light) */
$sta-blue-light:            rgb(0, 113, 179);
$sta-blue-light-tint25:     tint($sta-blue-light, 25%);
$sta-blue-light-tint50:     tint($sta-blue-light, 50%);
$sta-blue-light-shade25:    shade($sta-blue-light, 25%);

$sta-blue-light-hover:  darken($sta-blue-light, $hover-darken);
$sta-blue-light-T:      transparentize($sta-blue-light,$transparency);
$sta-blue-light-T-hover:darken($sta-blue-light-T, $hover-darken);
$sta-blue-light-S:      lighten($sta-blue-light,$select-lightness);
$sta-blue-light-S-hover:darken($sta-blue-light-S, $hover-darken);


/* Red (sta-red) */
$sta-red:               rgb(234, 26, 19);
$sta-red-tint25:        tint($sta-red, 25%);
$sta-red-tint50:        tint($sta-red, 50%);
$sta-red-shade25:       shade($sta-red, 25%);

$sta-red-hover:         darken($sta-red, $hover-darken);
$sta-red-T:             transparentize($sta-red,$transparency);
$sta-red-T-hover:       darken($sta-red-T, $hover-darken);
$sta-red-S:             lighten($sta-red,$select-lightness);
$sta-red-S-hover:       darken($sta-red-S, $hover-darken);


/* Yellow (sta-yellow) */
$sta-yellow:            rgb(255, 223, 0);
$sta-yellow-hover:      darken($sta-yellow, $hover-darken);

$sta-yellow-T:          transparentize($sta-yellow,$transparency);
$sta-yellow-T-hover:    darken($sta-yellow-T, $hover-darken);

$sta-yellow-S:          lighten($sta-yellow,$select-lightness);
$sta-yellow-S-hover:    darken($sta-yellow-S, $hover-darken);


/* Grey (sta-grey) */
$sta-grey:              rgb(106, 106, 107);

$sta-grey-hover:        darken($sta-grey, $hover-darken);
$sta-grey-T:            transparentize($sta-grey,$transparency);
$sta-grey-T-hover:      darken($sta-grey-T, $hover-darken);
$sta-grey-S:            lighten($sta-grey,$select-lightness);
$sta-grey-S-hover:      darken($sta-grey-S, $hover-darken);


/* Grey (sta-grey-light) */
$sta-grey-light:        rgb(240,240,240);
$sta-grey-light2:        rgb(250, 250, 250);
$sta-grey-mid2:       rgb(222,222,222);

$sta-grey-light-hover:  darken($sta-grey-light, $hover-darken);

$sta-grey-light-T:      transparentize($sta-grey-light,$transparency);
$sta-grey-light-T-hover:darken($sta-grey-light-T, $hover-darken);

$sta-grey-light-S:      lighten($sta-grey-light,$select-lightness);
$sta-grey-light-S-hover:darken($sta-grey-light-S, $hover-darken);

/* Grey-dark (sta-grey-dark) */
$sta-grey-dark:         rgb(32, 32, 36);
$sta-grey-dark2:         rgb(15, 15, 17);

$sta-grey-dark-hover:   darken($sta-grey-dark, $hover-darken);

$sta-grey-dark-T:       transparentize($sta-grey-dark,$transparency);
$sta-grey-dark-T-hover: darken($sta-grey-dark-T, $hover-darken);

$sta-grey-dark-S:       lighten($sta-grey-dark,$select-lightness);
$sta-grey-dark-S-hover: darken($sta-grey-dark-S, $hover-darken);


/* Cyan (sta-cyan) */
$sta-cyan:              rgb(0, 127, 175);
$sta-cyan-hover:        darken($sta-cyan, $hover-darken);

$sta-cyan-T:            transparentize($sta-cyan,$transparency);
$sta-cyan-T-hover:      darken($sta-cyan-T, $hover-darken);

$sta-cyan-S:            lighten($sta-cyan,$select-lightness);
$sta-cyan-S-hover:      darken($sta-cyan-S, $hover-darken);


/* Cyan (sta-cyan-light) */
$sta-cyan-light:        rgb(101, 180, 220);
$sta-cyan-light-hover:  darken($sta-cyan-light, $hover-darken);

$sta-cyan-light-T:      transparentize($sta-cyan-light,$transparency);
$sta-cyan-light-T-hover:darken($sta-cyan-light-T, $hover-darken);

$sta-cyan-light-S:      lighten($sta-cyan-light,$select-lightness);
$sta-cyan-light-S-hover:darken($sta-cyan-light-S, $hover-darken);


/* Orange (sta-orange) */
$sta-orange:            rgb(191, 89, 9);

$sta-orange-hover:      darken($sta-orange, $hover-darken);

$sta-orange-T:          transparentize($sta-orange,$transparency);
$sta-orange-T-hover:    darken($sta-orange-T, $hover-darken);

$sta-orange-S:          lighten($sta-orange,$select-lightness);
$sta-orange-S-hover:    darken($sta-orange-S, $hover-darken);


/* Green (sta-green) */
$sta-green:             rgb(0, 133, 63);
$sta-green-tint25:      tint($sta-green, 25%);
$sta-green-tint50:      tint($sta-green, 50%);
$sta-green-shade25:     shade($sta-green, 25%);

$sta-green-hover:       darken($sta-green, $hover-darken);

$sta-green-T:           transparentize($sta-green,$transparency);
$sta-green-T-hover:     darken($sta-green-T, $hover-darken);

$sta-green-S:           lighten($sta-green,$select-lightness);
$sta-green-S-hover:     darken($sta-green-S, $hover-darken);


/* Dark Green (sta-dkgreen) */
$sta-dkgreen:           rgb(0, 89, 83);
$sta-dkgreen-hover:     darken($sta-dkgreen, $hover-darken);

$sta-dkgreen-T:         transparentize($sta-dkgreen,$transparency);
$sta-dkgreen-T-hover:   darken($sta-dkgreen-T, $hover-darken);

$sta-dkgreen-S:         lighten($sta-dkgreen,$select-lightness);
$sta-dkgreen-S-hover:   darken($sta-dkgreen-S, $hover-darken);


/* Purple (sta-purple) */
$sta-purple:            rgb(123, 67, 154);
$sta-purple-tint25:     tint($sta-purple, 25%);
$sta-purple-tint50:     tint($sta-purple, 50%);
$sta-purple-shade25:    shade($sta-purple, 25%);

$sta-purple-hover:      darken($sta-purple, $hover-darken);

$sta-purple-T:          transparentize($sta-purple,$transparency);
$sta-purple-T-hover:    darken($sta-purple-T, $hover-darken);

$sta-purple-S:          lighten($sta-purple,$select-lightness);
$sta-purple-S-hover:    darken($sta-purple-S, $hover-darken);


/* Burgundy (sta-burgundy) */
$sta-burgundy:          rgb(198, 12, 70);
$sta-burgundy-tint25:   tint($sta-burgundy, 25%);
$sta-burgundy-tint50:   tint($sta-burgundy, 50%);
$sta-burgundy-shade25:  shade($sta-burgundy, 25%);

$sta-burgundy-hover:    darken($sta-burgundy, $hover-darken);

$sta-burgundy-T:        transparentize($sta-burgundy,$transparency);
$sta-burgundy-T-hover:  darken($sta-burgundy-T, $hover-darken);

$sta-burgundy-S:        lighten($sta-burgundy,$select-lightness);
$sta-burgundy-S-hover:  darken($sta-burgundy-S, $hover-darken);

/* Additional colours - AA Compliant for UI & Graphical elements only*/
$sta-orange-highlight: #FFB400;
$sta-grey-highlight: #949494;


/* ST ANDREWS COLORS FOR PRINT */

/* Blue (sta-blue-print) */
.sta-blue-print         {background-color: rgb(0, 83, 155);}

/* Red (sta-red-print) */
.sta-red-print          {background-color: rgb(238, 49, 42);}

/* Yellow (sta-yellow-print) */
.sta-yellow-print       {background-color: rgb(255, 223, 0);}

/* Black (sta-black-print) */
.sta-black-print        {background-color: rgb(35, 31, 32);}

/* Light Blue (sta-blue-light-print) */
.sta-blue-light-print   {background-color: rgb(0, 174, 239);}

/* Mid Blue (sta-blue-mid-print) */
.sta-blue-mid-print     {background-color: rgb(0, 125, 197);}

/* Burgundy (sta-burgundy-print) */
.sta-burgundy-print     {background-color: rgb(198, 12, 70);}

/* Purple (sta-purple-print) */
.sta-purple-print       {background-color: rgb(123, 67, 154);}

/* Orange (sta-orange-print) */
.sta-orange-print       {background-color: rgb(245, 132, 43);}

/* Green (sta-green-print) */
.sta-green-print        {background-color: rgb(84, 185, 72);}

/* Mid Green (sta-green-mid-print) */
.sta-green-mid-print    {background-color: rgb(0, 133, 63);}

/* Dark Green (sta-green-dark-print) */
.sta-green-dark-print   {background-color: rgb(0, 89, 83);}



/* PALETTES */

/**
 * Each color has these six named variations.
 * This SASS map gives names and an order to the variations to that they
 * can be used programmatically in functions.
 */
$color_variations: (
    'base': 1,
    'base-hover': 2,
    'transparent': 3,
    'transparent-hover': 4,
    'selected': 5,
    'selected-hover': 6
);


/**
 * Palette: St Andrews Colors (all colors)
 *
 * This palette is unique in that in has all the colors and the name for each
 * color is just the name in the source
 * Note: this palette has a different data type – it's not a map, it's a list.
 * this is because of how we need to use this palette in src/styles/docs.scss
 */
$palette-sta : (
    'sta-blue' $sta-blue,
    'sta-blue-tint25' $sta-blue-tint25,
    'sta-blue-tint50' $sta-blue-tint50,
    'sta-blue-shade25' $sta-blue-shade25,
    'sta-blue-light' $sta-blue-light,
    'sta-blue-light-tint25' $sta-blue-light-tint25,
    'sta-blue-light-tint50' $sta-blue-light-tint50,
    'sta-blue-light-shade25' $sta-blue-light-shade25,
    'sta-red' $sta-red,
    'sta-red-tint25' $sta-red-tint25,
    'sta-red-tint50' $sta-red-tint50,
    'sta-red-shade25' $sta-red-shade25,
    'sta-orange-highlight' $sta-orange-highlight,
    'sta-grey' $sta-grey,
    'sta-grey-light' $sta-grey-light,
    'sta-grey-light2' $sta-grey-light2,
    'sta-grey-mid2' $sta-grey-mid2,
    'sta-grey-dark' $sta-grey-dark,
    'sta-grey-dark2' $sta-grey-dark2,
    'sta-grey-highlight' $sta-grey-highlight,
    'sta-orange' $sta-orange,
    'sta-green' $sta-green,
    'sta-green-tint25' $sta-green-tint25,
    'sta-green-tint50' $sta-green-tint50,
    'sta-green-shade25' $sta-green-shade25,
    'sta-purple' $sta-purple, 
    'sta-purple-tint25' $sta-purple-tint25,
    'sta-purple-tint50' $sta-purple-tint50,
    'sta-purple-shade25' $sta-purple-shade25,
    'sta-burgundy' $sta-burgundy, 
    'sta-burgundy-tint25' $sta-burgundy-tint25,
    'sta-burgundy-tint50' $sta-burgundy-tint50,
    'sta-burgundy-shade25' $sta-burgundy-shade25
);


/**
 * Palette: Default
 *
 * Most palettes follow a similar template of defining the 6 color variations
 * for primary, secondary and up to 3 tertiary colors.
 */
$palette-default: (
    'primary':
        $sta-blue $sta-blue-hover
        $sta-blue-T $sta-blue-T-hover
        $sta-blue-S $sta-blue-S-hover,
    'secondary':
        $sta-blue-light $sta-blue-light-hover
        $sta-blue-light-T $sta-blue-light-T-hover
        $sta-blue-light-S $sta-blue-light-S-hover,
    'tertiary-1':
        $sta-green $sta-green-hover
        $sta-green-T $sta-green-T-hover
        $sta-green-S $sta-green-S-hover,
    'tertiary-2':
        $sta-burgundy $sta-burgundy-hover
        $sta-burgundy-T $sta-burgundy-T-hover
        $sta-burgundy-S $sta-burgundy-S-hover,
    'tertiary-3':
        $sta-purple $sta-purple-hover
        $sta-purple-T $sta-purple-T-hover
        $sta-purple-S $sta-purple-S-hover
);


/**
 * Palette: Study
 *
 * This palette defines the colors used on the Study section of St Andrews.
 */
$palette-study: (
    'primary':
        $sta-cyan $sta-cyan-hover
        $sta-cyan-T $sta-cyan-T-hover
        $sta-cyan-S $sta-cyan-S-hover,
    'secondary':
        $sta-cyan-light $sta-cyan-light-hover
        $sta-cyan-light-T $sta-cyan-light-T-hover
        $sta-cyan-light-S $sta-cyan-light-S-hover,
        'tertiary-1':
        $sta-green $sta-green-hover
        $sta-green-T $sta-green-T-hover
        $sta-green-S $sta-green-S-hover,
        'tertiary-2':
        $sta-purple $sta-purple-hover
        $sta-purple-T $sta-purple-T-hover
        $sta-purple-S $sta-purple-S-hover
);


/**
 * Palette: Boostrap contexts
 *
 * This palette defines the colors to be used for Bootstrap contexts.
 */
$palette-context: (
    'success': $sta-green,
    'info': $sta-blue,
    'warning': $sta-orange,
    'danger': $sta-red 
);


@function -dpl-color($palette,$color,$variation) {
    $i: map-get($color_variations,$variation);
    $value: nth(map-get($palette,$color),$i);
    @return $value;
}

@function -dpl-wash-out($color) {
    $color: adjust-lightness($color, 5%);
    $color: adjust-saturation($color, -20%);
    @return $color;
}
