@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url("//fonts.gstatic.com/s/ptsans/v7/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff") format('woff'), url("../fonts/pt-sans/regular/PTS55F-webfont.woff") format("woff");
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url("//fonts.gstatic.com/s/ptsans/v7/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff") format('woff'), url("../fonts/pt-sans/bold/PTS75F-webfont.woff") format("woff");
}
