.icon {
    position: relative;
    display: inline-block;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.chevron {
    @extend .fa;
    @extend .fa-chevron-right;

    &.large {
        font-size: 1.4em;
    }

    &.down {
        @extend .fa-chevron-down;
    }

    &.left {
        @extend .fa-chevron-left;
    }

    &.up {
        @extend .fa-chevron-up;
    }
}