
i.icon {
  position: relative;
  display: inline-block;

  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

i.chevron {
  @extend i.icon;
  top: 2px;
  height: .9em;
  width: 0.9em;
  margin: auto;
  background: url('../images/furniture/chevron@2x.png') no-repeat;
  background-size: contain;
  background-position: left center;
}
i.chevron.large {
  height: 1.4em;
  width: 1.4em;
  top: .3em;
  margin-right: 0;
}

i.chevron.down {
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

i.chevron.left {
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  background-position: right center;
}

i.chevron.up {
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
