/* General links */
/* FIX: we may be able to remove some of these when we have the 
   official Bootstrap source included */

a {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.content a {
  font-weight: bold;
  color: $sta-blue;
}
