

body {
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444444;
	font-size: 18px;
}

p, ul, ol {
	margin: 0 0 25px;
}

a {
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

#main-content a:link{
   font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

acronym {
	font-size: 0.8em;
}

hr {
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	height: 8px;
	margin: 0 auto;
	width: 60%;
	margin-top: 30px;
	margin-bottom: 30px;
}

img {
	max-width: 100%;
	height: auto!important;
}

.container {
	max-width: 100%; /* Removes unwanted horizontal scroll bar */
}

table {
	border: solid 1px #444;
    width: 100%;
}

th, td {
	border: solid 1px #444;
    padding: 4px;
}

th {
	background-color: #0088cc;
    color: #fff;
}

tr:nth-child(odd) {
	background-color: #dbedf9;
}

iframe {
	border: 0;
    max-width: 100%;
}

.over {
	cursor: pointer;
}

.alert {
	background-color: #dbedf9;
}

.figure {
	margin-bottom: 25px;
}

.figure p {
	margin-bottom: 0;
}

.figure .figcaption {
	font-size: 0.9em;
}



#accessibility .skip {
	position: absolute;
    left: -1000px
}

#accessibility .skip:focus {
	top: 0;
    left: 0;
    background-color: #dbedf9;
    z-index: 1;
    padding: 1em;
}



/* Website title */

#website-title h1 {
	margin: 0;
	font-family: Georgia, serif;
}

#website-title a {
	position: relative;
	padding-right: 40px;
	padding-left: 100%;
	margin-left: -100%;
	font-size: 32px;
	border-radius: 0;
}

#website-title .oblique {
	width: 0;
	height: 0;
	border-bottom: 66px solid #fff;
	border-left: 26px solid transparent;
	position: absolute;
	top: -2px;
	right: -1px;
}




/* Buttons */

.btn {
	border-radius: 0;
}

.btn-default, .btn-primary {
	background-color: #0088cc;
	color: #fff!important;
	border: 0;
	font-size: 18px;
}

.btn-default:hover, .btn-primary:hover, .btn-default:focus, .btn-primary:focus {
	background-color: #005580;
	color: #fff;
}

/* Option boxes */

.image-container {
	position: relative;
	margin-bottom: 20px;
}

.image-container {
	margin-bottom: 10px;
}

.category-images p {
	margin-bottom: 30px;
}

.image-bg img {
	width: 100%!important;
	height: auto!important;
}

.image-text-box {
	background: rgba(59,160,211,0.8);
	background-repeat: repeat;
	bottom: 0;
	color: #fff!important;
	width: 100%;
	position: absolute;
	padding: 15px 15px;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #444;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

#study-home .row .category-images:nth-child(1) .image-text-box {
	background: rgba(0,127,175,0.8);
}

#study-home .row .category-images:nth-child(2) .image-text-box {
	background: rgba(54,135,44,0.8);
}

#study-home .row .category-images:nth-child(3) .image-text-box {
	background: rgba(139,103,170,0.8);
}

.image-container:hover .image-text-box, .image-container:focus .image-text-box {
	background: rgba(0,85,128,0.8);
}

#study-home .row .category-images:nth-child(1) .image-container:hover .image-text-box, #study-home .row .category-images:nth-child(1) .image-container:focus .image-text-box {
	background: rgba(0,85,128,0.8);
}

#study-home .row .category-images:nth-child(2) .image-container:hover .image-text-box, #study-home .row .category-images:nth-child(2) .image-container:focus .image-text-box {
	background: rgba(53,86,53,0.8);
}

#study-home .row .category-images:nth-child(3) .image-container:hover .image-text-box, #study-home .row .category-images:nth-child(3) .image-container:focus .image-text-box {
	background: rgba(102,76,124,0.8);
}

.image-text-box a {
	color: #fff!important;
	text-decoration: none;
	margin-right: 4px;
}

.image-text-box p {
	margin-bottom: 0;
}

.image-text-box acronym {
	display: none;
}

.text-box-pointer {
	float: right;
}

.text-box-pointer img {
	height: 35px!important;
    width: 30px!important;
}


/*POSTGRADUATE GREEN PASSIVE*/

#id-43302 .subnav,
#id-43302 .navigation-bar .currentbranch0 a {
	background-color: #4d8346;
}

/*POSTGRADUATE GREEN HOVER*/
#id-43302 .subnav li a:hover, #id-43302 .navigation-bar .currentbranch0 a:hover, #id-43302 .subnav li a:focus, #id-43302 .navigation-bar .currentbranch0 a:focus {
background-color: #365b31;
}

/*POSTGRADUATE GREEN OPACITY*/
#id-43302 #category-title h2,
#id-43302 .image-text-box {
background-color: rgba(77,131,70,0.8);
}

#id-43302 #category-title .oblique {
border-top-color: rgba(77,131,70,0.8);
}

/*POSTGRADUATE GREEN OPACITY HOVER*/
#id-43302 .image-container:hover .image-text-box, .image-container:focus .image-text-box {
background: rgba(54,91,49,0.8);
}

/*POSTGRADUATE GREEN LINK PASSIVE*/
#id-43302 #main-content a {
color: #4d8346;
}

/*POSTGRADUATE GREEN LINK HOVER*/
#id-43302 #main-content a:hover {
color: #365b31;
}

/*POSTGRADUATE GREEN ACCORDION PASSIVE*/
#id-43302 .accordion a.toggleLink {
background-color: #4d8346;
}

/*POSTGRADUATE GREEN ACCORDION HOVER*/
#id-43302 .accordion a.toggleLink:hover {
background-color: #365b31;
}

/*POSTGRADUATE GREEN DIRECTIONAL MENU PASSIVE*/
#id-43302 .directional-menu p a {
background-color: #4d8346;
}

/*POSTGRADUATE GREEN DIRECTIONAL MENU HOVER*/
#id-43302 .directional-menu .directional-menu-text-box:hover p a, .directional-menu .directional-menu-text-box:focus p a {
background-color: #365b31;
}

/*POSTGRADUATE GREEN BUTTON PASSIVE*/
#id-43302 .btn-primary{
background-color: #4d8346;
color: #fff!important;
}

/*POSTGRADUATE GREEN BUTTON HOVER*/
#id-43302 .btn-primary:hover {
background-color: #365b31;
color: #fff!important;
}

/*-------------------------*/

/*NON-DEGREE PURPLE PASSIVE*/
#id-43303 .subnav,
#id-43303 .navigation-bar .currentbranch0 a {
	background-color: #8b67aa;
}

/*NON-DEGREE PURPLE HOVER*/
#id-43303 .subnav li a:hover, #id-43303 .navigation-bar .currentbranch0 a:hover, #id-43303 .subnav li a:focus, #id-43303 .navigation-bar .currentbranch0 a:focus {
background-color: #614877;
}

/*NON-DEGREE PURPLE OPACITY*/
#id-43303 #category-title h2,
#id-43303 .image-text-box {
background-color: rgba(139,103,170,0.8);
}

#id-43303 #category-title .oblique {
border-top-color: rgba(139,103,170,0.8);
}

/*NON-DEGREE PURPLE OPACITY HOVER*/
#id-43303 .image-container:hover .image-text-box, .image-container:focus .image-text-box {
background: rgba(97,72,119,0.8);
}

/*NON-DEGREE PURPLE LINK PASSIVE*/
#id-43303 #main-content a {
color: #8b67aa;
}

/*NON-DEGREE PURPLE LINK HOVER*/
#id-43303 #main-content a:hover {
color: #614877;
}

/*NON-DEGREE PURPLE ACCORDION PASSIVE*/
#id-43303 .accordion a.toggleLink {
background-color: #8b67aa;
}

/*NON-DEGREE PURPLE ACCORDION HOVER*/
#id-43303 .accordion a.toggleLink:hover {
background-color: #614877;
}

/*NON-DEGREE PURPLE DIRECTIONAL MENU PASSIVE*/
#id-43303 .directional-menu p a {
background-color: #8b67aa;
}

/*NON-DEGREE PURPLE DIRECTIONAL MENU HOVER*/
#id-43303 .directional-menu .directional-menu-text-box:hover p a, .directional-menu .directional-menu-text-box:focus p a {
background-color: #614877;
}

/*NON-DEGREE PURPLE BUTTON PASSIVE*/
#id-43303 .btn-primary{
background-color: #8b67aa;
color: #fff!important;
}

/*NON-DEGREE PURPLE BUTTON HOVER*/
#id-43303 .btn-primary:hover {
background-color: #614877;
color: #fff!important;
}

.btn-header {
background-color: #0088cc!important;
color: #fff;
}

.btn-header:hover {
background-color: #005580!important;
color: #fff;
}

/* Directional pages */

.directional-menu p a {
	display: block;
	color: #ffffff!important;
	padding: 10px;
	text-decoration: none;
	background-color: #0088cc;
    font-size: 24px;
	margin-top: 20px;
    margin-bottom: 10px;
}

.directional-menu p {
	margin-bottom: 0;
}

.directional-menu .directional-menu-text-box:hover p a, .directional-menu .directional-menu-text-box:focus p a {
	background-color: #005580;
}

.directional-menu i.chevron {
	background: url('../images/furniture/chevron@2x.png') no-repeat;
    background-size: 30px;
    height: 35px;
    width: 30px;
    display: inline-block;
    position: relative;
    top: 9px;
	margin-left: 20px;
    float: right;
    right: 10px;
}


/* Accordions */

.accordion a.toggleLink {
	display: block;
	color: #ffffff!important;
	background-color: #0088cc;
	padding: 10px 15px;
	text-decoration: none;
}

.accordion a.toggleLink:hover {
	background-color: #005580;
}

.accordion i.chevron {
	background: url('../images/furniture/chevron@2x.png') no-repeat;
	background-size: 18px;
	height: 20px;
	width: 17px;
	display: inline-block;
	position: relative;
	top: 3px;
	margin-left: 6px;
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
	zoom:1;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	float: right;
}

.accordion .open i.chevron {
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	zoom:1;
}



/* Main content */

#main-content {
	margin-bottom: 20px;
}

#main-content a:first-child+h2 {
	margin-top: 0;
}

.ytyt-images .col-sm-4 {
	margin-bottom: 20px;
}


/* Sidebar */

.sidebar ul {
	padding-left: 25px;
}


/* Google Map */

#map-canvas {
	max-width: 100%;
}

#map-canvas img {
	max-width: 10000%;
}


/* Media queries */

@media (min-width: 1200px) {
	.image-bg {
		min-height: 240px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.image-text-box {
		background: rgb(59,160,211);
		top: 0;
		position: relative;
		font-size: 18px;
	}

	.image-container:hover .image-text-box, .image-container:focus .image-text-box {
		background: rgb(0,85,128);
	}

	.category-images .text-box-pointer img {
		height: 26px!important;
		width: auto!important;
	}

	.image-bg {
		min-height: 147px;
	}
}

@media (max-width: 991px) {
	#search-form {
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) {
	
	.navbar-brand {
		display: none;
	}
	
}

@media (max-width: 767px) {

	p#subcollection {
		display: none;
	}

	#website-title a {
		font-size: 24px;
	}

	#page-title .diagonal {
		display: none;
	}

	#page-title h2 {
		padding-right: 100%;
		margin-right: -100%;
	}

	.study-levels .col-sm-4, #content-wrapper {
		margin-bottom: 40px;
	}

	.image-container {
		max-height: 250px;
		overflow: hidden;
	}

	.image-text-box {
		background: rgba(59,160,211,0.8);
		bottom: 0;
		position: absolute;
		font-size: 24px;
	}

	.image-container:hover .image-text-box, .image-container:focus .image-text-box {
		background: rgba(0,85,128,0.8);
	}
	
}

@media (max-width: 480px) {   

	#content-wrapper img {
    	float: none!important;
        margin: 10px 0;
        display: block;
    }
    
    .image-container img {
    	margin: 0!important;
    }

}


