
/**
 * All of the styles in this file need to be relocated to an
 * appropriately named file that corresponds to their purpose.
 */

a {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  font-weight: 700;
}
