@mixin rotate($deg) {
    -webkit-transform:  rotate($deg);
       -moz-transform:  rotate($deg);
         -o-transform:  rotate($deg);
        -ms-transform:  rotate($deg);
            transform:  rotate($deg);
}

@mixin -dpl-transition() {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

body {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
    font-variant-ligatures: common-ligatures;
}

.clear {
	clear:both
}

@mixin clearfix-alt{ //apply mixin rather than using extra clearfix div
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.full-width {
	width: 100%;
}

// Spacing
$base-spacing: 1em;
$large-spacing: $base-spacing*2;
$small-spacing: $base-spacing/2;

$page-gutter: calc(3vw + 1em);
$half-gutter: calc(1.5vw + 1em);

.top-buffer {
	margin-top: 30px;
}

.bottom-buffer {
	margin-bottom: 50px;
}

img {
    height: auto;
    max-width: 100%;
}

/* Remove mobile safari default styles */

textarea, input[type~=text], input[type~=submit] {
    -webkit-appearance: none;
    border-radius: 0;
}

/* PLACEHOLDERS */
/* General card */
%card {
    background-color: white;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
}

/* DPL HELPERS */
.pattern-wrapper {
    border-bottom:1px $sta-grey dashed;
    border-top:1px $sta-grey dashed;
    margin-bottom: 30px;
}
