

@mixin rotate($deg) {
    -moz-transform:     rotate($deg);
    -o-transform:       rotate($deg);
    -webkit-transform:  rotate($deg);
    -ms-transform:      rotate($deg);
    transform:          rotate($deg);
}

@mixin -dpl-transition() {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: common-ligatures;
    text-shadow:none;
    text-rendering: optimizeLegibility;
}

.clear {
	clear:both
}

.full-width {
	width: 100%;
}

.top-buffer {
	margin-top: 30px;
}

.bottom-buffer {
	margin-bottom: 50px;	
}

/* Remove mobile safari default styles */

textarea, input[type~=text], input[type~=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}
