@charset "utf-8";
/*
Stylesheet      St Andrews Documentation Style (doc.css)
URL             http://www.st-andrews.ac.uk
Version         0.2
Authors         Samuel Parsons (sjp27)
Description     Documentation styles. Includes Bootstrap framework.
Last Updated    6 January 2017
*/

@import 'colors';

.swatch {

    @each $name, $color in $palette-sta {

        &.#{$name} .swatch__colour {
            background-color: $color;
        }

    }
}


ul.dpl-only li {
    margin-top: 10px;
}

#internal-nav-dep {
    display: none;
}

body {
    position: relative;
}
