@charset "utf-8";
/*
Stylesheet      St Andrews Documentation Style (doc.css)
URI             http://www.st-andrews.ac.uk
Version         0.1
Authors         Samuel Parsons (sjp27)
Description     Documentation styles. Includes Bootstrap framework.
Last Updated    3 October 2014
*/

@import 'colors';
@import 'fonts';
@import 'bootstrap-custom';
@import 'utilities';


body {
    margin: 0;
    padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

hr {
    /*border: none;
    border-bottom: 1px solid #999;*/
}

.navbar {
    margin-bottom: 0;
}

#pattern-nav {
    float: right;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
#pattern-nav h4 {
    margin-top: 0;
    white-space: nowrap;
}


.pattern-source, .code {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

code {
    word-wrap: break-word;
}


.grey-3-box {
    width: 24%;
    margin-right: 3%;
    float: left;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0 1em;
}
@media (max-width: 767px) {
    .grey-3-box {
        width: auto;
        margin: 1em 0;
        float: none;
    }
}

.header-bar {
    padding: 1em;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;

    background-color: #f0f0f0;
    border-bottom: 1px solid #333;
}
.header-bar > * {
    display: inline;
    padding-right: 2em;
}

.example h3 {
    background-color: #666;
    color: white;
    padding: .5em 1em;
}

.example iframe {
    border: none;
    height: 500px;
    width: 100%;
}
.example .code {
    display: none;
}

// Swatches
// This is quite elaborate to achieve a specific grouping
// of the base color and 5 variants for each of the st andrews colours.

.swatch {
    // cursor: pointer;
    position: relative;
    // max-width: 600px;
    display: block;
    padding: 0;
    margin: 0 0 25px;

    background-image: url(../images/colours-swatch-bg-image.jpg);
    background-position-y: 30px;
    // background-position: 110% 100%;

        .swatch__title {
            padding: 0.5em;
            color: white;
            font-weight: bold;
        }


        .swatch__base,
        .swatch__selected,
        .swatch__transparent,
        .swatch__base-hover,
        .swatch__selected-hover,
        .swatch__transparent-hover {

            padding: 0.5em;
            margin: 0;

            width: 33.333%;
            color: white;
            float: left;
        }

        .swatch__base,
        .swatch__selected,
        .swatch__transparent {
            height: 150px;
        }

        .swatch__base-hover,
        .swatch__selected-hover,
        .swatch__transparent-hover {
            height: 150px;
        }

        // Populate elements with appropriate colors.

        @each $name, $color,$color-hover,$color-T,$color-T-hover,$color-S,$color-S-hover in $palette-sta {

            &.#{$name} .swatch__title,
            &.#{$name} .swatch__base {
                background-color: $color;
            }
            &.#{$name} .swatch__base-hover {
                background-color: $color-hover;
            }

            &.#{$name} .swatch__transparent  {
                background-color: $color-T;
            }
            &.#{$name} .swatch__transparent-hover {
                background-color: $color-T-hover;
            }
            &.#{$name} .swatch__selected  {
                background-color: $color-S;
            }
            &.#{$name} .swatch__selected-hover {
                background-color: $color-S-hover;
            }
        }

}

.palette_swatch {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;

    @each $name, $color in $palette-sta {

        &.#{$name} {
            background-color: $color;
        }

    }
}

#palettes_container ul li {
    margin-bottom: 20px;
}
.swatch.contrast_text > * {
    color: #444;
}

body {
    margin-bottom: 2em;
}
body > footer {
    display: block;
    width: 100%;
    padding: 5px 15px;
    background-color: rgba(255,255,255,.7);
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
}
