---
title: Info Bite
pattern: info-bite
examples:
- {name: example1, width: 300px}
- {name: example2, width: 300px}
- {name: example3, width: 300px}
- {name: example4, width: 630px}
- {name: example5, width: 300px, height: 630px}
- {name: example6, width: 300px}
related:
- name: info-bite-grid
---

The info bite is a short snippet of information shown on either a solid color
or an image with a semi-opaque color on top.

<h2>Rules</h2>

<ul>
	<li>Used in situations where you want to convey short bites of information, possibly in a grid.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> info-bite }}</div>


<h2>Options</h2>

<ul>
	<li>The link in the <code>.bite</code> is optional.</li>
	<li>The image and therefore the <code>&lt;div class="image"&gt;...&lt;div&gt;</code> is optional.</li>
</ul>


<h2>To do</h2>
<ul>
	<li>...</li>
</ul>
