---
title: Info bite (deprecated)
---

<div class="alert alert-danger">
  <strong>This pattern is depreciated.</strong> Do not attempt to use this pattern for any new website development. It will be removed in a future update.
</div>

<p>The info bite pattern is a short snippet of information shown on either a solid background colour
or a background image with a semi-opaque colour overlay. Info bite is used in situations where you want to convey short snippets or 'bites' of information, quite possibly in a grid.</p>

{{#info-bite-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}

<div style="width:{{div-width}};">
{{> info-bite}}
</div>
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> info-bite}}</code></pre>
{{/info-bite-options.options}}