
/*********************************/
/* BEGIN Pattern: form-banner    */
/*********************************/

.form-banner {
    padding: $page-gutter 0;

    a {
        color: inherit;
        text-decoration: underline;
    }

    &.form-banner__grey {
        background-color: $sta-grey-light;
    }

    &.form-banner__blue {
        background-color: $sta-blue-light;
        color: #fff;
    }

    &.form-banner__dkgreen {
        background-color: $sta-green-shade25;
        color: #fff;
    }

    &.form-banner__constrained {
        // Now boxed in so change padding
        padding: $half-gutter;
    }
}

.form-banner__heading {
    @include ms-respond(font-size, 2);
    margin-bottom: 5px;
    margin-top: 0;
}

.form-banner__sub-heading {
    @include ms-respond(font-size, 1);
}


/*********************************/
/* END Pattern: form-banner      */
/*********************************/