<!-- Begin pattern: form banner //-->
<div class="form-banner {{align}} {{background}}">
    <div class="container">
        {{{column1}}}
        {{{column2}}}
    </div>
</div>
<!-- End pattern: form banner //-->
