<p>The following snippet of text is a wrapped in paragraph tags and includes a <a href="#">hyperlink</a>.</p>
<p>The following snippet of text is <b>rendered as bold text</b>.</p>
<p>The following snippet of text is <strong>rendered as strong text</strong>.</p>
<p>The following snippet of text is <i>rendered as italicized text</i>.</p>
<p>The following snippet of text is <em>rendered as emphasised text</em>.</p>