---
title: Typography
---

<p>Words are cool.</p>

<ul>
	<li>List item.</li>
</ul>

<hr>
<h3>Headers</h3>

<ul>
	<li>List item.</li>
</ul>

{{> typography-headings}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> typography-headings}}</code></pre>

<hr>
<h3>Body text</h3>

<ul>
	<li>List item.</li>
</ul>

{{> typography-body-text}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> typography-body-text}}</code></pre>

<hr>
<h3>Emphasis classes</h3>

<ul>
	<li>List item.</li>
</ul>

{{> typography-emphasis-classes}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> typography-emphasis-classes}}</code></pre>

<hr>
<h3>Blockquotes - left alignment</h3>

<ul>
	<li>List item.</li>
</ul>

{{> typography-blockquotes-left}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> typography-blockquotes-left}}</code></pre>

<hr>
<h3>Blockquotes - right alignment</h3>

<ul>
	<li>List item.</li>
</ul>

{{> typography-blockquotes-right}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> typography-blockquotes-right}}</code></pre>