<blockquote class="pull-right">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <small>Someone famous in <cite>Source Title</cite></small>
</blockquote>