
/*********************************/
/* BEGIN Pattern: tile           */
/*********************************/

.tile {
    background-color: white;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.38);
       -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.38);
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.38);
    clear: both;
    margin: 0 auto 3em;
    max-width: 360px;
}

.tile-image-title {
    position: relative;
}

.tile img {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

.tile h3 {
    background: $sta-blue-T;
    bottom: 0;
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 0;
    padding: .5em .8em;
    position: absolute;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 100;
    @include -dpl-transition();
}

.tile:hover {
    cursor: pointer;
}

.tile:hover h3 {
    background: $sta-blue-T-hover;
}

.tile h3 a {
 	color: white;
	text-decoration: none;
}

.tile p {
 	font-size: 1em;
 	height: 5em;
 	line-height: 1.2em;
 	margin: 1.5em 0;
    padding: 0 1em;
}

.tile-date {
    color: $sta-grey;
    float: left;
    font-size:   15px;
    font-weight: bold;
    padding-left: 1em;
}

.tile-type {
    color: $sta-grey;
    float: right;
    font-size:   15px;
    font-weight: bold;
    padding-right: 1em;
}

/* Colors */

.tile.green h3 {
    background: $sta-green-T;
}

.tile.green:hover h3 {
    background: $sta-green-T-hover;
}

.tile.purple h3 {
    background: $sta-purple-T;
}

.tile.purple:hover h3 {
    background: $sta-purple-T-hover;
}

.tile.red h3 {
    background: $sta-red-T;
}

.tile.red:hover h3 {
    background: $sta-red-T-hover;
}

@media (max-width: 767px) {
    .tile {
        margin-bottom: 2em;
    }
    .tile p {
        height: auto;
    }
}

/*********************************/
/* END Pattern: tile             */
/*********************************/
