---
title: Dummy pattern
---

<!--
INSTRUCTIONS, PT.1

START HERE...

1. The name of the directory should be the same as the pattern name (in this example `dummy-pattern`), and the name of this file.

2. Give the pattern a title. This should be human-readable and may contain spaces.

3. Change the names of the examples above. These are in the /examples directory. Use descriptive names rather than example-1, example-2, etc. It makes it much easier

Now edit the `dummy-pattern.hbs` file.
-->

<p>The introduction may be several paragraphs long if required. It should introduce the pattern, explain what it is and when and where it may be used.</p>

<p>You may use any formatting as required, such as paragraphs and unordered lists:</p>

<ul>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Dolores tempore enim debitis totam</li>
</ul>

<p>Documentation should follow the writing for the web guidelines and adhere to the house style guide.</p>

{{#dummy-pattern-options.options}}
<hr>
<h3>{{option-header}}</h3>
{{{option-description}}}
{{> dummy-pattern}}
<span class="label label-default">Code</span>
<div class="pattern-source html">{{> dummy-pattern}}</div>
{{/dummy-pattern-options.options}}