
/*********************************/
/* BEGIN Pattern: content-halves */
/*********************************/


section.sta-grey-light {
	background-color: $sta-grey-light;
}

.course table {
	margin-bottom: 20px;
}

.course table tr {
	vertical-align: top;
}

// @media (max-width: 600px) {
// 	.course table {
// 		table-layout: auto;
// 	}
// }
/*********************************/
/* END Pattern: content-halves   */
/*********************************/
