---
title: Content halves
---

<p>The content halves pattern contains two equal width content columns. There is the option of a heading above the columns and a full-width background colour.</p>
<ul>
	<li>Content must be present in both columns.</li>
	<li>A video is allowed in the second column.</li>
	<li>No images are allowed in either column.</li>
	<li>When using the optional heading above the columns it must use heading 2 with and sub-headings in the content as heading 3.</li>
	<li>If using a background colour, it must use colours from the DPL palette and comply with accessibility for contrast between text and background: a contrast ratio of 0.8 or above.</li>
</ul>

{{#content-halves-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
{{> content-halves}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> content-halves}}</code></pre>
{{/content-halves-options.options}}
