<!-- Begin pattern: content-halves //-->
{{#if background}}
<section class="{{background}}">
{{/if}}
    <div class="container">
        {{#if heading}}
        <div class="row"><div class="col-xs-12 col-sm-6"><h2>{{heading}}</h2></div></div>
        {{/if}}
        <div class="row">
            <div class="col-sm-6">
            {{#if column1}}
                {{{column1}}}
            {{/if}}
            </div>
            <div class="col-sm-6">
            {{#if column2}}
                 {{{column2}}}
            {{/if}}
            </div>
        </div>
    </div>
{{#if background}}
</section>
{{/if}}
<!-- End pattern: content-halves //-->