/*********************************/
/* BEGIN Pattern: navbox         */
/*********************************/

.navbox {
	margin-bottom: 0;
    position: relative;

    img { 
        height: auto; 
        max-width: 100%; 
   }  
}

.navbox-grid {
    padding: $page-gutter 0 $page-gutter-overflow 0; 
    @include clearfix-alt; // alternate clearfix (utilities) to sort bootstrap floated elements

    .navbox {
        margin-bottom: 30px; // add bottom padding when part of a grid
    }

    .navbox + p {
        margin-top: -15px !important; // reduce gap if followed by a p
    }
}
.panel-grid + .navbox-grid,
.navbox-grid + .navbox-grid {
    padding-top: 0; // Remove extra gap when two grids ajoin
}

// .navbox-image img {
// 	height: auto !important;
//     width: 100% !important;
// }

.navbox-title {
	background:        $sta-blue-T;
	background-repeat: repeat;
	// color: white !important;
	font-size:   24px;
    font-weight: bold;
	padding: 15px 15px;
    position: absolute;
    bottom: 0;
	text-shadow: 1px 1px 1px rgb(68, 68, 68);
    width: 100%;
	// @include -dpl-transition();
}

.navbox-title:before {
	@extend i.chevron;
	content: '';
	float: right;
	height: 35px;
	top: 0;
    width: 30px;
}

.navbox-title a {
	color: white;
	margin-right: 4px;
    text-decoration: none;
}

.navbox:hover {
	cursor: pointer;
}

.navbox-image:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47;
}

.navbox-title:hover, .navbox:hover .navbox-title{
	background: $sta-cyan-T;
}

.navbox-title p {
	margin-bottom: 0;
}

.navbox-title acronym {
	display: none;
}

/* .navbox-title is the first child of .navbox when
	 .navbox-image is not showing (i.e. not present). */

.navbox-title:first-child {
	background: $sta-blue;
	position: relative;
	bottom: auto;
}

.navbox-title:first-child:hover,
.navbox:hover .navbox-title:first-child{
	background: $sta-cyan;
}

/* when a element immediately follows a navbox add a top margin to it */

.navbox + * {
	margin-top: 15px !important;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .navbox-image {
        max-height: 196px;
        overflow: hidden;
    }
}

@media (max-width: 991px) and (min-width: 768px) {

	/* Make the title show below instead of on top of the image... */
    .navbox-image {
        max-height: 145px;
        overflow: hidden;
    }

    .navbox-title {
        font-size: 21px;
        position: absolute;
    }

    .navbox-title:before {
        display: none;
    }

}

@media (max-width: 767px) {

	.navbox-image {
        max-height: 100%;
		overflow: hidden;
        position: absolute;
        width: 100%;
  	}

  	.navbox-image img {
  		margin-top: -20%;
        width: 100%;
  	}

  	.navbox-title {
		position: relative;
        top: 0;
	}

}

/*********************************/
/* END Pattern: navbox           */
/*********************************/