---
title: Navbox 
pattern: navbox
examples:
- name: example1
---

<p>Featured navigation box with image and link to sub-page.</p>

<h2>Rules</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> navbox navbox-example}}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>


<h2>To do</h2>
<ul>
	<li>...</li>
</ul>

</div>