/***************************************/
/* BEGIN Pattern: long-form sections  */
/**************************************/

.long-form {
    // Lots of padding on top and bottom by default
    padding-top:    40px !important;
    padding-bottom: 40px;

    // Position backgrounds images correctly if specified later
    background-position: center center;
    background-size:     cover;

    // Typography
    font-family: $font-family-serif;
    font-size:   22px;
    line-height: 1.5;
    word-wrap: break-word;

    // Positioning
    position: relative; // A hook for other absolute positioning inside
    z-index: 0;
}


.long-form__wrapper {
    z-index: 1;
    @extend .col-md-8;
    @extend .col-md-offset-2;
}

// Inverse text
.long-form--inverse {
    color: white;

    small {
        color: rgb(230, 230, 230);
    }
}

// Background light grey
.long-form--bg-light-grey {
    background-color: rgb(240, 240, 240);
}


// Lightened background image
.long-form--bg-lighten {
    &:after {
        background-color: rgba(255,255,255,0.6);
        content: ' ';
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.long-form__content {

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-sans-serif;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    h5 {
        color: rgb(119, 119, 119);
        font-size:   .9em;
        font-weight: normal;
        text-transform: uppercase;
    }

    abbr {
        font-size:   18px;
        text-transform: uppercase;
    }

    a {
        color: inherit;
        font-weight: normal;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            // Apply contrast 
            color: $sta-grey-dark;
            background: $sta-orange-highlight;
            box-shadow: 0 3px $sta-orange-highlight;
            text-decoration: underline;
            outline: 3px solid $sta-orange-highlight; 
        }    
    }

    p {
        // This only affects paged media (like print view), and is not very widely supported by browsers yet.
        orphans: 3;
        widows: 3;
    }

    figure {
        margin-bottom: 25px; // to match <p> styling.

        figcaption {
            font-family: $font-family-sans-serif;
            font-size:   14px;
            padding: 8px 0;
        }

        &.image {
            img {
                width: 100%;
            }
        }
    }

}

@media (min-width: 992px) {
    .long-form__content {

        h1 {
            font-size: 65px;
        }

        h2 {
            font-size: 55px;
        }

    }

}


/*************************************/
/* END Pattern: long-form sections  */
/************************************/