
/*********************************/
/* BEGIN Pattern: alerts         */
/*********************************/

@mixin alert-status ($status-color) {
    border-color: $status-color;

    a {
        color: $status-color;  

        &:focus {
            // Apply contrast 
            color: $sta-grey-dark;
            background: $sta-orange-highlight;
            box-shadow: 0 3px $sta-orange-highlight;
            text-decoration: underline;
            outline: 3px solid $sta-orange-highlight; 
        }  
    }
}

.alert {
    // Override bootstrap
    background: white; 
    border: 5px solid transparent;
    border-radius: 0px;
    color: inherit; 
    margin-bottom: 20px;
    padding: 25px;

    a {
        text-decoration: underline;
        
        &:hover {
            // Remove underline when hovered
            text-decoration: none;
        }
    }

    &:focus {
        outline: none;
    }
}

.alert--success,
.alert-success {
    @include alert-status ($sta-green);
}

.alert--info,
.alert-info {
    @include alert-status ($sta-blue-light);
}

.alert--warning,
.alert-warning {
    @include alert-status ($sta-orange);
}

.alert--danger,
.alert-danger {
    @include alert-status ($sta-red);
}

.alert__heading {
    margin-top: 0;
}

/*********************************/
/* END Pattern: alerts           */
/*********************************/
