---
title: Alerts
---

<p class="alert alert-info">See CONTRIBUTING.md for details on how to create a new pattern.</p>

<p>The introduction may be several paragraphs long if required. It should introduce the pattern, explain what it is and when and where it may be used.</p>

<p>You may use any formatting as required, such as paragraphs and unordered lists:</p>

<ul>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Dolores tempore enim debitis totam</li>
</ul>

<p>Documentation should follow the writing for the web guidelines and adhere to the house style guide.</p>

<hr>
<h3>Options available</h3>
<ul>
{{#alerts-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/alerts-options.options}}
</ul>

{{#alerts-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>{{>  alerts}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> alerts}}</code></pre>
{{/alerts-options.options}}