---
title: Gallery
pattern: gallery
examples:
- name: example-gallery
related:
- name: theatre
---

The Gallery pattern demonstrates a method of displaying a large number of images on a page and makes use of a jQuery plugin to view the images in an immersive experience.

<h2>Usage</h2>

<ul>
  <li>Use this pattern whenever you wish to present a large number of images in small form that link to a larger immersive experience.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> gallery gallery-1}}</div>


<h2>Options</h2>

<ul>
    <li><code>id</code>s on the <code>&lt;figure&gt;</code> elements are optional. If present, then users can permalink to that image in the viewer.</li>
    <li><code>&lt;figcaption&gt;</code>s in the <code>&lt;figure&gt;</code> elements are optional. If present, then they will be shown in the viewer.</li>
</ul>