/*********************************/
/* BEGIN Pattern: gallery         */
/*********************************/

.gallery__images, .lightbox_gallery_images {
    @extend .row;

    figure {
        @extend .col-md-3;
        @extend .col-sm-4;
        @extend .col-xs-6;
        margin-bottom: 1.5em;

        img {
            width: 100%;
        }

        .lightbox-caption {
            display: none;
        }

        .btn {
            margin-top: 20px; 
        }

        figcaption + p {
            margin-top:10px;
        }


        // Fix float clear bug
        @media (max-width: 767px){
            &:nth-child(2n+1){
                clear:left;
            }
        }

        @media (max-width: 991px) and (min-width: 768px){
            &:nth-child(3n+1){
                clear:left;
            }
        }

        @media (min-width: 992px){
            &:nth-child(4n+1){
                clear:left;
            }
        }

    }

}

.lightbox .lb-data .lb-caption {
    font-size: 18px;
}

@media (max-width: 360px) {
    .gallery__images figure, .lightbox_gallery_images figure {
        width: 100%;
    }
}
/*********************************/
/* END Pattern: gallery          */
/*********************************/