---
title: Gallery
pattern: gallery
examples:
- name: example-gallery
related:
- name: theatre
---

The Gallery pattern demonstrates a method of displaying a large number of images on a page and makes use of the <a href="../theatre/index.html">Theatre</a> pattern to view the images in an immersive experience.

<h2>Usage</h2>

<ul>
  <li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> gallery gallery-1}}</div>


<h2>Options</h2>

<ul>
    <li>...</li>
</ul>