
/*********************************/
/* BEGIN Pattern: navigation-bar */
/*********************************/


div.container ul.show-navigation { 
  display: block; 
} 
 
.navigation-bar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 999;
}

.navigation-bar a {
    font-weight: normal;
}

.navigation-bar ul.navigation-bar-nav {
	float: left;
	margin: 0;
	padding: 0;
}

.navigation-bar ul.navigation-bar-nav li {
	float: left;
	font-size: 18px;
    list-style: none;
}

.navigation-bar ul.navigation-bar-nav li a {
	color: white;
	display: block;
    padding: 10px 15px;
    position: relative;
	text-decoration: none;
}

// This rule compensates for the padding added to the a tag.
// This rule pulls the first <li> <a> to left by 15px
// to compensate for the padding added to all <li> <a>'s
// and line the first element up with the .container  edge.
.navigation-bar ul.navigation-bar-nav:nth-child(2) li:nth-child(1) a {
    margin-left: -15px;
}

.navigation-bar ul.navigation-bar-nav li a:hover, .navigation-bar ul.navigation-bar-nav li a:focus {
	color: white;
}

// Target select item in T4 and WordPress respectively
.navigation-bar .currentbranch0 a,
.navigation-bar .current-menu-item a, .navigation-bar .current-menu-ancestor a {
}

.subnav {
}

.toggle-navigation {
	display: none;
}

/* Navbar collapse for phones*/

@media (max-width: 991px) {
	.navigation-bar .container {
		width: 100%;
	}

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navigation-bar ul.navigation-bar-nav {
    	float: none;
    }

    .navigation-bar ul.navigation-bar-nav li {
        display: block;
        float: none;
    }

    .navigation-bar ul.navigation-bar-nav li a {
        border-bottom: solid 1px rgba(255,255,255,0.3);
        padding-top:    10px;
        padding-bottom: 10px;
        text-align: center;
        text-decoration: none;
    }

    .toggle-navigation {
    	border-bottom: solid 0px white;
        display: block;
        font-size: 20px;
        text-align: center;
    }

	.toggle-navigation a {
		color: white;
		display: block;
		font-weight: bold;
        padding: 6px;
        text-decoration: none;
        width: 100%;
	}

	.toggle-navigation a:hover, .toggle-navigation a:focus {
		cursor: pointer;
	}

	.navigation-bar .container {
		padding: 0;
	}

	ul.navigation-bar-nav {
		display: none;
	}
}

/* Navigation bar colors */

	/* blue */
	.navigation-bar {
		background-color: $sta-blue;
	}

	.navigation-bar ul.navigation-bar-nav li a:hover, .navigation-bar ul.navigation-bar-nav li a:focus {
		background-color: $sta-blue-hover;
	}

    // Target select item in T4 and WordPress respectively
	.navigation-bar .currentbranch0 a,
    .navigation-bar .current-menu-item a, .navigation-bar .current-menu-ancestor a {
		background-color: $sta-blue-light;
	}

	.subnav {
		background-color: $sta-blue-light;
	}

	@media (max-width: 991px) {
		.toggle-navigation a:hover, .toggle-navigation a:focus {
			background-color: $sta-blue-hover;
			cursor: pointer;
		}
	}

	/* blue-study */
	.accent-blue-study .navigation-bar,
	.navigation-bar.blue-study {
		background-color: $sta-cyan;
	}

	.accent-blue-study .navigation-bar ul.navigation-bar-nav li a:hover,
	.accent-blue-study .navigation-bar ul.navigation-bar-nav li a:focus,
	.navigation-bar.blue-study ul.navigation-bar-nav li a:hover,
	.navigation-bar.blue-study ul.navigation-bar-nav li a:focus {
		background-color: $sta-cyan-hover;
	}

    // Target select item in T4 and WordPress respectively
	.accent-blue-study .navigation-bar .currentbranch0 a,
	.navigation-bar.blue-study .currentbranch0 a,
    .accent-blue-study .navigation-bar .current-menu-item a,
    .navigation-bar.blue-study .current-menu-item a,
    .accent-blue-study .navigation-bar .current-menu-ancestor a,
    .navigation-bar.blue-study .current-menu-ancestor a {
		background-color: $sta-cyan-light;
	}

	.accent-blue-study .subnav,
	.subnav.blue-study {
		background-color: $sta-cyan-light;
	}

	@media (max-width: 991px) {
		.accent-blue-study .toggle-navigation a:hover,
		.blue-study .toggle-navigation a:focus,
		.accent-blue-study .toggle-navigation a:hover,
		.blue-study .toggle-navigation a:focus {
			background-color: $sta-cyan-hover;
			cursor: pointer;
		}
	}


/*********************************/
/* END Pattern: navigation-bar   */
/*********************************/
