/*********************************/
/* BEGIN Pattern: navigation-bar */
/*********************************/

div.container ul.show-navigation {
  display: block;
}

.navigation-bar a {
    font-weight: normal;
}

.navigation-bar .container {
	padding: 0; // Collapse padding and let link padding align items instead
}

.navigation-bar ul.navigation-bar-nav {
	padding: 0;
	margin: 0;
}

.navigation-bar ul.navigation-bar-nav li {
	float: left;
    list-style: none;
}

.navigation-bar ul.navigation-bar-nav li a {
	color: white;
	display: block;
    padding: 10px 15px;
    position: relative;
	text-decoration: none;
}

.navigation-bar ul.navigation-bar-nav li a:hover {
	color: white;
	text-decoration: underline;
	z-index: 3;
}

.navigation-bar ul.navigation-bar-nav li a:focus {
	outline:3px solid $sta-orange-highlight;
	background-color: inherit;
	text-decoration: underline;
	z-index: 5; //Focus has highest priority
}

.navigation-bar ul.navigation-bar-nav li a:active {
	color: $sta-grey-dark;
	background-color: $sta-orange-highlight !important;
}

.toggle-navigation {
	display: none;
}

/* Navbar collapse for phones*/

@media (max-width: 991px) {
	.navigation-bar .container {
		width: 100%;
	}

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navigation-bar ul.navigation-bar-nav {
    	float: none;
    }

    .navigation-bar ul.navigation-bar-nav li {
        display: block;
        float: none;
    }

    .navigation-bar ul.navigation-bar-nav li a {
        border-bottom: solid 1px rgba(255,255,255,0.3);
        padding-top:    10px;
        padding-bottom: 10px;
        text-align: center;
        text-decoration: none;
    }

    .toggle-navigation {
    	border-bottom: solid 0px white;
        display: block;
        @include ms-respond(font-size,1);
        text-align: center;
    }

	.toggle-navigation a {
		color: white;
		cursor: pointer;
		display: block;
		font-weight: bold;
        padding: 6px;
        text-decoration: none;
        width: 100%;
	}

	.navigation-bar .container {
		padding: 0;
	}

	ul.navigation-bar-nav {
		display: none;
	}
}

/* Navigation bar colours */

/* blue */
.navigation-bar {
	background-color: $sta-blue;
}

.navigation-bar ul.navigation-bar-nav li a:hover {
	background-color: $sta-blue-shade25;
}

// Target select item in T4 and WordPress respectively
.navigation-bar .currentbranch0 a,
.navigation-bar .current-menu-item a, .navigation-bar .current-menu-ancestor a {
	background-color: $sta-blue-light;
}

.subnav {
	background-color: $sta-blue-light;
}

@media (max-width: 991px) {
	.toggle-navigation a:hover {
		background-color: $sta-blue-shade25;
	}
}

// Toggle buttons
.navigation-button {
	background: transparent;
	border: none;
	color: white;
	font-weight: bold;
	outline: none;
    padding: 10px 15px;
	width: 100%;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
        outline: 3px solid $sta-orange-highlight; 
	}

	&:active {
		background: $sta-orange-highlight;
		color: $sta-grey-dark;
        outline: 3px solid $sta-orange-highlight; 
        text-decoration: underline;
	}
}

/*
/* blue-study 
.accent-blue-study .navigation-bar,
.navigation-bar.blue-study {
	background-color: $sta-cyan;
}

.accent-blue-study .navigation-bar ul.navigation-bar-nav li a:hover,
.navigation-bar.blue-study ul.navigation-bar-nav li a:hover {
	background-color: $sta-cyan-hover;
}

// Target select item in T4 and WordPress respectively
.accent-blue-study .navigation-bar .currentbranch0 a,
.navigation-bar.blue-study .currentbranch0 a,
.accent-blue-study .navigation-bar .current-menu-item a,
.navigation-bar.blue-study .current-menu-item a,
.accent-blue-study .navigation-bar .current-menu-ancestor a,
.navigation-bar.blue-study .current-menu-ancestor a {
	background-color: $sta-cyan-light;
}

.accent-blue-study .subnav,
.subnav.blue-study {
	background-color: $sta-cyan-light;
}

@media (max-width: 991px) {
	.accent-blue-study .toggle-navigation a:hover {
		background-color: $sta-cyan-hover;
	}
}
*/

/*********************************/
/* END Pattern: navigation-bar   */
/*********************************/