---
title: Navigation bar
---

<p>The navigation bar pattern displays a primary horizonal and optional secondary navigation.</p>

<p>Each menu should contains 5 to 8 links.</p>

{{#navigation-bar-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>{{> navigation-bar}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> navigation-bar}}</code></pre>
{{/navigation-bar-options.options}}
