---
title: Navigation bar
pattern: navigation-bar
examples:
- name: example1
- name: example2
- name: example3
- name: example4
related:
---

<p>Navigation bar pattern displays a horizontal primary and optional secondary navigation.</p>

<h2>Rules</h2>

<ul>
<li>Each menu should contains 5-8 links</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> navigation-bar navigation-bar-2}}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>

<h2>To do</h2>



</div>

