
<!-- Begin pattern: navigation-bar //-->
{{#if blue}} <div class="accent-blue-study"> {{/if}}

<nav class="navigation-bar" role="navigation">
	<div class="container">
		<div class="toggle-navigation primary-toggle">
			<a class="navigation-button">Navigation <i class="chevron left"></i></a>
		</div>
		<ul class="navigation-bar-nav primary-nav">
			{{#primary}}
				<li>
					{{#if selected}}
						<span class="currentbranch0">
					{{/if}}
					<a href="{{url}}">{{title}}</a>
					{{#if selected}}
						</span>
					{{/if}}
				</li>
			{{/primary}}
		</ul>
	</div>
</nav>

{{#if secondary}}
	<nav class="navigation-bar subnav" role="navigation">
		<div class="container">
			<div class="toggle-navigation secondary-toggle">
				<a class="navigation-button">Section navigation <i class="chevron left"></i></a>
			</div>
			<ul class="navigation-bar-nav secondary-nav">
				{{#secondary}}
					<li>
						{{#if selected}}
							<span class="currentbranch1">
						{{/if}}
						<a href="{{url}}">{{title}}</a>
						{{#if selected}}
							</span>
						{{/if}}
					</li>
				{{/secondary}}
			</ul>
		</div>
	</nav>
{{/if}}


{{#if blue}} </div> {{/if}}
<a name="content-begin"></a>

<!-- End pattern: navigation-bar //-->
