---
title: Navigation bar
---

<p>The Navigation bar pattern displays a primary horizonal and optional secondary navigation.</p>

<h2>Usage</h2>

<ul>
    <li>Each menu should contains 5-8 links</li>
</ul>

<h2>Options</h2>

<ul>
	<li><strong>Secondary navigation</strong><br>
        Secondary navigation is achieved by using the same pattern for primary, but adding a <code>secondary</code> class to the main element.
    </li>
</ul>

{{#navigation-bar-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>{{> navigation-bar}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> navigation-bar}}</code></pre>
{{/navigation-bar-options.options}}
