<!-- Begin pattern: navigation-bar //-->
<nav class="navigation-bar" aria-label="Main menu">
	<div class="container">
		<div class="toggle-navigation primary-toggle">
			<button class="navigation-button" aria-expanded="false" aria-controls="primary-nav">Navigation <i class="chevron down"></i></button>
		</div>
		<ul class="navigation-bar-nav primary-nav" id="primary-nav">
		{{#primary}}
			<li>
			{{#if selected}}
				<span class="currentbranch0">
			{{/if}}
				<a href="#">{{title}}</a>
			{{#if selected}}
				</span>
			{{/if}}
			</li>
		{{/primary}}
		</ul>
	</div>
</nav>
{{#if secondary}}
<nav class="navigation-bar subnav" aria-label="Section menu">
	<div class="container">
		<div class="toggle-navigation secondary-toggle">
			<button class="navigation-button" aria-expanded="false" aria-controls="secondary-nav">Section navigation <i class="chevron down"></i></button>
		</div>
		<ul class="navigation-bar-nav secondary-nav" id="secondary-nav">
		{{#secondary}}
			<li>
				{{#if selected}}
				<span class="currentbranch1">
				{{/if}}
				<a href="#">{{title}}</a>
				{{#if selected}}
				</span>
				{{/if}}
			</li>
		{{/secondary}}
		</ul>
	</div>
</nav>
{{/if}}
<!-- End pattern: navigation-bar //-->