---
title: Content 2 Column
pattern: content-2col
examples:
- name: example1
- name: example2
- name: example3
related:
---

A content 2 column contains a 2/3-width column for the main content and  and a 1/3-width column for related content.

<h2>Rules</h2>

<ul>
	<li>There should only be one content section on a page.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> content-2col asdf }}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>
