---
title: Content 2 column
pattern: content-2col
examples:
- name: example1
- name: example2
- name: example3
- name: example4
- name: example5
related:
---

<p>The Content 2 column pattern contains either a 2/3-width column for the main content and a 1/3-width column for related content, or two equal width content columns. There is the option of a heading above the columns and a full-width background colour.</p>

<h2>Usage</h2>

<ul>
	<li>Content must be present in both columns when using equal width columns.
	<li>When no content is required in the second column, a 2/3 width column must be used.</li>
	<li>When using equal width columns a video is allowed in the second column.</li>
	<li>When using equal width columns no images are allowed in either column.</li>
	<li>When using the optional heading above the columns it must use heading 2 with and sub-headings in the content as heading 3.</li>
	<li>If using a background colour, it must use colours from the DPL palette and comply with accessibility for contrast between text and background: a contrast ratio of 0.8 or above.</li>
</ul>

<h2>Options</h2>

<ul>
	<li>Heading 2 above the columns.</li>
	<li>Full width background colour.</li>
	<li>Two columns split 2/3 and 1/3 or 1/2 and 1/2.</li>
</ul>
