<div class="theatre">
    
    <h2 class="theatre__title">{{gallery-title}}</h2>

    <div class="theatre__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</div>

    <div class="theatre__images">

        <figure id="immerse-3vde9c">
            <img src="{{thumbnail}}" alt="{{alt}}">
            <figcaption>{{caption}}</figcaption>
        </figure>

        ...

    </div>

</div>