---
title: Panel grid
---

<p>The panel grid pattern arranges panel items in a two column grid.</p>

<h3>Rules for the panel grid</h3>
<ul>
	<li>Panels must be arranged equally into two columns.</li>
	<li>Panel elements must never appear outside of a grid.</li>
</ul>

{{#panel-grid-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> panel-grid}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> panel-grid}}</code></pre>
{{/panel-grid-options.options}}