<!-- Begin pattern: panel-grid //-->

<div class="panel-grid">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="col-md-6">
					{{> panel panel-1}}
				</div>

				<div class="col-md-6">
					{{> panel panel-2}}
				</div>

			</div>	

			<div class="col-md-12">

				<div class="col-md-6">
					{{> panel panel-3}}
				</div>

				<div class="col-md-6">
					{{> panel panel-4}}
				</div>
			</div>	

			<div class="col-md-12">

				<div class="col-md-6">
					{{> panel panel-5}}
				</div>

				<div class=" col-md-6">
					{{> panel panel-6}}
				</div>
			</div>

		</div>  <!-- // End .row -->

	</div> <!-- // End .container -->

</div>  <!-- // End .masonry-grid -->

<!-- End pattern: masonry-grid //-->