---
title: Panel grid
pattern: panel-grid
examples:
- name: panel-grid
related:
---

<p>The panel grid pattern arranges panel items in a two column grid.</p>

<h2>Usage</h2>

<ul>
	<li>Panels arranged equally into two columns.</li>
	<li>Panel elements never appear outside of a grid.</li>
</ul>


<h2>Options</h2>

<ul>
    <li><em>None</em></li>
</ul>