---
title: Panel grid
---

<p>The panel grid pattern arranges panel items in a column grid.</p>

<h3>Rules for the panel grid</h3>
<ul>
	<li>Panels must be arranged equally into two or three columns.</li>
	<li>Panel elements must never appear outside of a grid.</li>
	<li>There is no limitation on combination of colours used for panel headings.</li>
	<li>Panel headings must link to other webpages.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#panel-grid-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/panel-grid-options.options}}
</ul>

{{#panel-grid-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> panel-grid}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> panel-grid}}</code></pre>
{{/panel-grid-options.options}}