

// Slider gallery

.long-form--gallery-slider {
    background-color: rgb(240, 240, 240);
    min-height: 420px; // 50 + 50 + 300 + 20
                       // padding top and bottom (of the gallery) +
                       //   height of the image slides +
                       //   a little for the caption
    overflow-x: scroll;
    padding: 50px 0;

    .slides-container {
        overflow-x: visible;
        position: relative;
    }

    .slides {
        display: table-row;
        position: absolute;
        // overflow-x: scroll;

        figure.image {
            display: table-cell;
            padding-right: 20px;
            img {
                height: 300px;
                width: auto;
            }
        }
    }
}

