<!-- Begin pattern: photosphere //-->

<script src='https://storage.googleapis.com/vrview/2.0/build/vrview.min.js'></script>

<div class='embed-responsive embed-responsive-16by9'>
	<div id='{{id}}'></div>
</div>


<!-- End pattern: photosphere //-->