<!-- Begin pattern: featured news //-->

<div id="featured-story">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Featured item</h2>
            </div>
            <div class="col-md-12">
                <div class="featured-image">
                    <a href="#"><img width="360" height="240" src="http://placehold.it/360x240" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Placeholder image"></a>
                </div>
                <h3><a href="#">Featured item title</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula nisi ac odio euismod, quis porta felis interdum. Vestibulum euismod neque felis, at condimentum nisi porttitor bibendum. Ut pellentesque ex non ipsum cursus faucibus. Aliquam id viverra massa. Suspendisse tincidunt sed nisi quis hendrerit. Aenean maximus elementum ligula, et viverra …</p>
                <p>Thursday 16 February 2017 | <a href="#">Category</a></p>
            </div>
        </div> 
    </div>
</div>

<!-- End pattern: featured news //-->
