---
title: Featured news
---

<p>Featured news is used to promote a particular item such as a blog post, news article or story at the top of the page.</p>

<ul>
    <li>Title must have no more than 80 characters.</li>
    <li>Description must have no more than 300 characters.</li>
	<li>Must have an image 360 x 240 pixels.</li>
</ul>

<hr>
<h3>Default</h3>
{{> featured-news}}

<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> featured-news}}</code></pre>