---
title: Featured news
---

<div class="row">
	<div class="col-md-8">
<p class="lead">Featured news is used to promote a particular item such as a blog post, news article or story at the top of the page.</p>

<h2>Rules for featured news</h2>
<ul>
    <li>The title must be no more than 125 characters.</li>
    <li>The description must be no more than 220 characters.</li>
	<li>The image must be 750 &times; 500 pixels.</li>
	<li>Should have an associated category link.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#featured-news-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/featured-news-options.options}}
</ul>
</div>
</div>
{{#featured-news-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	{{> featured-news}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> featured-news}}
```
{{/markdown}}
<!--endnoindex-->
{{/featured-news-options.options}}