<!-- Begin pattern: featured news //-->

<div id="featured-story">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Featured item</h2>
            </div>
            <div class="col-xs-12">
                <div class="featured-image">
                    <a href="#"><img src="{{asset url}}" alt="Placeholder image"></a>
                </div>
                <div class="clearfix visible-xs"></div>
                <h3><a href="#">{{title}}</a></h3>
                <p>{{text}}</p>
                <p>Thursday 16 February 2017 | <a href="#">Category</a></p>
            </div>
        </div> 
    </div>
</div>

<!-- End pattern: featured news //-->
