---
title: Featured news
---

<p>Featured news is used to promote a particular item such as a blog post, news article or story at the top of the page.</p>

<h3>Rules for featured news</h3>
<ul>
    <li>The title must be no more than 125 characters.</li>
    <li>The description must be no more than 300 characters.</li>
	<li>The image must be 750 &times; 500 pixels.</li>
	<li>Should have an associated category link.</li>
	<li>The heading may be changed to the context of the site, e.g. featured news, featured story or featured post.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#featured-news-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/featured-news-options.options}}
</ul>

{{#featured-news-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
	{{> featured-news}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> featured-news}}</code></pre>
{{/featured-news-options.options}}