
/*********************************/
/* BEGIN Pattern: search-results */
/*********************************/


.search-results {
	list-style: none;
	padding-left: 0;
}

.search-result {
 	margin-bottom: $third-gutter; 
  	@include clearfix;
	
	.search-result__link {
		text-decoration: none;

		.search-result__heading {
			color: $sta-blue-light; // TEST LINK COLOUR CHANGE / BEHAVIOUR
			text-decoration: underline;
		}

		&:active {
			.search-result__heading {
				text-decoration: none;
			}
		}

		&:hover {
			.search-result__heading {
				color: $sta-blue-light-hover;
			}
		}

		&:focus {
			outline: 0; // disable default focus

			.search-result__heading {
				outline: 2px dotted $sta-orange-highlight;
				outline-offset: 0;
				background: lighten($sta-orange,50%);
			}

			.search-result__thumbnail {
				outline: 2px solid $sta-orange-highlight;
				outline-offset: 0;
			}
		}
	}

	//Collapse padding on contact-card when included in search results
	.contact-card {
		padding: 0;
	}
}

.search-result__heading {
	@include ms-respond(font-size, 1);
	display: inline;
	line-height: 1.1;
  	margin: 0;
}

.search-result__label {
	color: $sta-grey;
	display: inline;
	font-size: 1rem;
	font-weight: normal;
	
	&:before {
		content:' - ';
	}
}

.search-result__url {
  color: $sta-green;
  display: block;
  font-style: normal;
  font-weight: normal;
  text-transform:lowercase;
  word-break: break-all;
}

.search-result__summary {
	margin-bottom: 0;
}

.search-result__thumbnail {
	float:left;
	margin-top: 0.5em;
	margin-right: 1em;
	max-width: 140px; // Make smaller on small screens

	@media (min-width: 576px){
		max-width: 180px;
	}
}

/* REMOVE THIS META STYLE AS NOW USING metadata-list PATTERN */
.search-result__meta {
margin:0;
font-size:1rem;
color: #6a6a6a;
overflow:auto;

	a {
		color: #6a6a6a;
		font-weight: normal;
		text-decoration: underline;

		&:hover {
			color: $sta-grey-dark;
		}

		&:active {
			text-decoration: none;
		}

		&:focus {
			outline: 2px dotted $sta-orange-highlight;
			outline-offset: 0;
			background: lighten($sta-orange,50%);
		}
	}
}

.search-result__meta dd,
.search-result__meta dt {
  display:inline-block;
  margin:5px 0 0 0;
}
.search-result__meta dt {
  width: 22px;
}
.search-result__meta dd {
  margin:5px 20px 0 0;
}

@media (max-width:540px){
  .search-result__meta dt {
  clear:left;
  float:left;
  width:22px;
  display:block;
  }
  .search-result__meta dd {
  margin-right:0;
  display:block;
  }
}

.search-result__meta dt.no-icon {
	margin-right: 5px;
  	width: auto !important;

  	&:after {
  		content: ':';
  	}
}

.search-result__meta dt.search-result__meta--full {
  clear:left;
  float:left;
  width:22px;
  display:block;
}
.search-result__meta dd.search-result__meta--full {
  margin-right:0;
  display:block;
}

/* REMOVE UP TO HERE */

// Group heading (inherited from Funnelback) is used to separate results based on match score

// If not first child then add margin to top
.search-results__group-heading:not(:first-child) {
	margin-top: 3em;
}

/*********************************/
/* END Pattern: search-results   */
/*********************************/
