<!-- Begin pattern: image //-->
<figure>	
	{{{video}}}
    {{#if caption}}
    {{{caption}}}
    {{/if ~}}
    {{#if transcript}}
	<!-- Begin pattern: accordion //-->
    <div class="accordion-item">
    	<div class="accordion-item__toggle">
        	<div class="accordion-item__toggle-title">
            	<button class="accordion-item__toggle-button" aria-expanded="false">Video transcript</button>
            </div>
        </div>
        <div class="accordion-item__content" aria-hidden="true"><p>[MUSIC]</p>
<p>Student Services are here to support you throughout your time at University of St Andrews.</p>
<p>>> LARA: I'm Dr Lara Mesichke and I'm the director of Student Services. We're here to support you from the moment you become a student at the University of St Andrews. Student services provides a wide range of support for students when life or health affect their studies.</p>
<p>The <a href="https://www.st-andrews.ac.uk/students/advice/">advice and support centre</a> is the information point for any queries, signposting to helpful resources or booking appointments with our team.</p>
<p>Our wellbeing, counselling, and mental health service has been accredited by the Royal College of Psychiatrists in association with the British Psychological Society pronouncing our service as safe, well-lead, effective, caring, and responsive to people's needs. Contact the wellbeing, counselling and mental health service <a href="mailto:support.advice@st-andrews.ac.uk">support.advice@st-andrews.ac.uk</a>.</p>
<p>We offer one-to-one or group support. We also work with students wanting to develop their individual strengths through coaching sessions.</p>
<p>Our disability team work with students to ensure that the appropriate support is in place. Whether that's in the classroom or whether it's in the University residences. Contact the disability team <a href="mailto:disability@st-andrews.ac.uk">disability@st-andrews.ac.uk</a>.</p>
<p>For queries when applying for your visa, our international team are available to assist.</p>
<p>Our money team are here to help you make the most of your money or explore options if you're experiencing financial need. Contact the money team <a href="mailto:moneyadvice@st-andrews.ac.uk">moneyadvice@st-andrews.ac.uk</a>.</p>
<p>The <a href="https://www.st-andrews.ac.uk/students/advice/health/">student health hub</a>, located in the St Andrews Community Hospital, helps students access the excellent NHS health care and other services should they need them.</p>
<p><a href="https://www.st-andrews.ac.uk/study/accommodation/halls/living/wardens/">Our wardens</a> live and work in the University residences, providing support and developing these individual communities.</p>
<p>We've been operating online since lockdown began and as many students told us that they preferred this we will continue to offer online appointments alongside face to face. All students will complete an online induction module, this will be the central place for key information and support as you transition to St Andrews. The University of St Andrews takes a whole institution approach to wellbeing and mental health with many staff and students providing advice and support throughout our whole community.</p>
<p>[MUSIC]</p>
        </div>
   	</div>
    <!-- End pattern: accordion //-->
    {{/if}}
</figure>
<!-- End pattern: image //-->