
/*********************************/
/* BEGIN Pattern: content-updates  */
/*********************************/

.card.card-news-horizontal figure {
    padding-right: 15px;
    float: left;
    width: 40%;
}

figure {
    margin: 0;
}

/*********************************/
/* END Pattern: content-updates     */
/*********************************/
