
/**********************************/
/* BEGIN Pattern: content-updates */
/**********************************/

.card.card-news-horizontal figure {
    float: left;
    padding-right: 15px;
    width: 40%;
}

figure {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

/*********************************/
/* END Pattern: content-updates  */
/*********************************/
