---
title: Content news updates
pattern: content-updates
examples:
- name: example1
related:
---

<p>The Content news updates pattern contains a 2/3-width column for the featured news update and a 1/3-width column for other updates.</p>

<h2>Usage</h2>

<ul>
	<li>There should only be one recent updates section on a page.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> content-updates asdf }}</div>


<h2>Options</h2>

<ul>
	<li><em>None</em></li>
</ul>
