<!-- Begin pattern: image //-->
<figure>	
    {{#if link}}<a href="#">{{/if}}<img src="{{image}}" alt="Alternative text for this image"/>{{#if link}}</a>{{/if}}
    {{{caption}}}
</figure>
<!-- End pattern: image //-->