
/*****************************/
/* BEGIN Pattern: more-news  */
/*****************************/

.archive-page {

    hr {
        border-bottom: none;
    }

    img {
        height: auto;
        max-width: 100%;
    }

}

/****************************/
/* END Pattern: more-news   */
/****************************/
