<!-- Begin pattern: more-news //-->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-9 col-sm-6">
                <h3><a href="#">Digital pattern library – streamlining Bootstrap</a></h3>
                <p>The digital pattern library is built upon Bootstrap, an HTML, CSS and JavaScript framework that comes with a large number of components. While everything is possible, not everything is permissible which is why we have been focusing on creating patterns that …</p>
                <p>Tuesday 7 February 2017 | <a href="#">Digital pattern library</a></p>
            </div>
            <div class="col-md-3 col-sm-6 news-image hidden-xs">
                <img width="360" height="240" src="http://digitalcommunications.wp.st-andrews.ac.uk/files/2017/02/bootstrap-360x240.jpg" alt="Bootstrap">
            </div>
            <hr>
        </div>
    </div>
</div>

<!-- End pattern: more-news //-->
