---
title: More news
---
<div class="row">
	<div class="col-md-8">
<div class="alert alert--warning"><h2 class="alert__heading">This pattern is no longer supported</h2><p>This pattern is deprecated and will be removed in a future version of the digital pattern library. Please refer to the <a href="../article-list/index.html">article list pattern</a> for the correct method.</p></div>
<p class="lead">The more news pattern is for showing a list of news articles or blog posts that provide links to the full article. These are previous posts or articles that are not featured items.</p>

<h2>Rules for more news</h2>
<ul>
	<li>There must be a thumbnail image. Use a placeholder if an image is not available.</li>
    <li>The description must be no more than 220 characters.</li>
	<li>Thumbnail image must be 360px by 240px.</li>
	<li>If there are more than ten items on a page, then the page must use <a href="../pagination/index.html#pager">pager pagination</a>.</li>
	<li>On small screen widths the description text is removed, this can be overridden by adding the class <code>publication</code> alongside the <code>more-news__description</code> class.</li>
</ul>

<h2>Options available</h2>
<ul>
{{#more-news-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/more-news-options.options}}
</ul>
</div>
</div>
{{#more-news-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3>{{option-heading}}</h3><div class='alert alert--warning'><h4 class="alert__heading">This option is no longer supported</h4><p>This implementation is now deprecated and will be removed in a future release.</p></div>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
	{{>  more-news}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> more-news}}
```
{{/markdown}}
<!--endnoindex-->
{{/more-news-options.options}}