---
title: More news
---

<p class="lead">The more news pattern is for showing a list of news articles or blog posts that provide links to the full article. These are previous posts or articles that are not featured items.</p>

<h3>Rules for more news</h3>
<ul>
	<li>There must be a thumbnail image. Use a placeholder if an image is not available.</li>
    <li>The description must be no more than 220 characters.</li>
	<li>Thumbnail image must be 360px by 240px.</li>
	<li>If there are more than ten items on a page, then the page must use <a href="../pagination/index.html#pager">pager pagination</a>.</li>
	<li>On small screen widths the description text is removed, this can be overridden by adding the class <code>publication</code> alongside the <code>more-news__description</code> class.</li>
</ul>

<h3>Options available</h3>
<ul>
{{#more-news-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/more-news-options.options}}
</ul>

{{#more-news-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
	<div class="container">
	{{>  more-news}}
</div>
</div>
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> more-news}}</code></pre>
<!--endnoindex-->
{{/more-news-options.options}}