<section class="long-form long-form--gallery-slider">

    <div class="container"><div class="row">

        <div class="col-md-4 long-form__content">
            
            <h3>People involved with Light Box</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud ex</p>

        </div>
            
        <div class="col-md-8 slider-container long-form__content">
            <div class="slides">

            <figure class="image">
                <img src="{{asset "docs/images/long-form-content/presentation-aton.png"}}" alt="Lens">
                <figcaption>Lens</figcaption>
            </figure>

            <figure class="image">
                <img src="{{asset "docs/images/long-form-content/support-light-fantastic.jpg"}}" alt="Field">
                <figcaption>Field</figcaption>
            </figure>

            <figure class="image">
                <img src="{{asset "docs/images/long-form-content/portrait-john-allen.jpg"}}" alt="Prof John Allen">
                <figcaption>Prof John Allen</figcaption>
            </figure>

            <figure class="image">
                <img src="{{asset "docs/images/long-form-content/portrait-ifor-samuel.jpg"}}" alt="Ifor Samuel">
                <figcaption>Prof Ifor Samuel</figcaption>
            </figure>

            </div>

        </div>


    </div></div>

</section>