<!-- Begin pattern: content-whole //-->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <h2 {{class}}>{{title}}</h2>
                {{{text}}}
            </section>
        </div>
    </div>
</div>
<!-- End pattern: content-whole //-->