---
title: Content whole
pattern: content-whole
examples:
- name: content-whole
- name: subject-content-whole
---

<p>The content whole pattern contains a whole-width section for content.</p>

<h2>Usage</h2>

<ul>
	<li>Use sparingly and in consultation with the digital communications team.</li>
    <li>The example <code>subject-content-whole</code> uses a larger title and should only be used on the subject pages.</li>
</ul>