---
title: Content whole
---

<p>The content whole pattern contains a whole-width section for content.</p>

<ul>
	<li>Use sparingly and in consultation with the digital communications team.</li>
    <li>The example <code>subject-content-whole</code> uses a larger title and should only be used on the subject pages.</li>
</ul>


{{#content-whole-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
{{> content-whole}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> content-whole}}</code></pre>
{{/content-whole-options.options}}