
/*********************************/
/* BEGIN Pattern: filter-box     */
/*********************************/

.filter-box {
  background: rgb(240,240,240);
  padding: 1.5625rem;
  margin-bottom: 1.5625rem;
}

.filter-box__label {
  margin:0;
}

.filter-box__list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;

    a {
      font-weight: bold;
    }
  }
}

.filter-box__list-group {
	li:not(:first-child) a {
		font-weight: normal;
	}
}

.filter-box__clear {
  font-weight: normal;
  text-decoration: underline;

  i {
	  margin-right: 5px;
	}
}

// Add top margin to button if used.
.filter-box__list + .btn {
  margin: 1rem 0 0 0;
}

/*********************************/
/* END Pattern: filter-box       */
/*********************************/
