---
title: Event card
---

<p>Event cards are used to promote featured events on a homepage.</p>

<h3>Rules for event card</h3>
<ul>
    <li>All featured events must have an associated good quality image.</li>
</ul>

{{#event-card-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> event-card}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> event-card}}</code></pre>
{{/event-card-options.options}}