---
title: Buttons
---

<p>Buttons are call to actions that link to other pages.</p>

<ul>
	<li>These buttons are to be used within content fields of a page.</li>
	<li>Buttons are not to be used mid-sentance. They should always appear on their own line seperated from written content.</li>
	<li>These buttons are different to buttons used within the <a href="../hero-banner/index.html">hero banner</a> and <a href="../secondary-call/index.html">secondary call to action</a> banners.</li>
</ul>

<hr>
<h3>Default buttons</h3>

{{> buttons}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> buttons}}</code></pre>