---
title: Buttons
---

<p>Buttons are call to actions that link to other pages.</p>

<ul>
	<li>These buttons are to be used within content fields of a page.</li>
	<li>Buttons are not to be used mid-sentance. They should always appear on their own line seperated from written content.</li>
	<li>These buttons are different to buttons used within the <a href="../hero-banner/index.html">hero banner</a> and <a href="../secondary-call/index.html">secondary call to action</a> banners.</li>
</ul>

<hr>
<h3>Primary button</h3>

<ul>
	<li>Primary buttons are to used on all pages using the primary blue theme.</li>
</ul>

{{> primary-button}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> primary-button}}</code></pre>

<hr>
<h3>Secondary and tertiary buttons</h3>

<ul>
	<li>Secondary and tertiary buttons are to used on all pages using the secondary and tertiary palette themes.</li>
</ul>

{{> secondary-buttons}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> secondary-buttons}}</code></pre>

<hr>
<h3>Label buttons</h3>

<ul>
	<li>Label buttons are to be used on forms and other tasks which involve a user to complete a task.</li>
</ul>

{{> label-buttons}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> label-buttons}}</code></pre>