<p>
<a type="button" class="btn btn-lg btn-primary" href="#">PDF document <i class="fa fa-file-pdf-o" title="PDF"></i></a>
<a type="button" class="btn btn-lg btn-primary" href="#">ZIP file <i class="fa fa-file-zip-o" title="Zip"></i></a>
<a type="button" class="btn btn-lg btn-primary" href="#">Word document <i class="fa fa-file-word-o" title="Word"></i></a>
<a type="button" class="btn btn-lg btn-primary" href="#">Powerpoint presentation <i class="fa fa-file-powerpoint-o" title="Powerpoint"></i></a>
</p>