<p>
<a type="button" class="btn btn-lg btn-success" href="#">Success</a>
<a type="button" class="btn btn-lg btn-info" href="#">Info</a>
<a type="button" class="btn btn-lg btn-warning" href="#">Warning</a>
<a type="button" class="btn btn-lg btn-danger" href="#">Danger</a>
</p>