<p>
<button type="button" class="btn btn-lg btn-secondary">Secondary</button>
<button type="button" class="btn btn-lg btn-tertiary-1">Tertiary 1</button>
<button type="button" class="btn btn-lg btn-tertiary-2">Tertiary 2</button>
<button type="button" class="btn btn-lg btn-tertiary-3">Tertiary 3</button>
</p>