<p>
<a type="button" class="btn btn-lg btn-secondary" href="#">Secondary</a>
<a type="button" class="btn btn-lg btn-tertiary-1" href="#">Tertiary 1</a>
<a type="button" class="btn btn-lg btn-tertiary-2" href="#">Tertiary 2</a>
<a type="button" class="btn btn-lg btn-tertiary-3" href="#">Tertiary 3</a>
</p>