<!-- Begin pattern: page intro //-->

<div class="container">
    <div class="page-intro">
        <div class="page-intro__text">
            <h1 class="page-intro__heading{{golarge}}">{{heading}}</h1>
            {{#if lead}}
            {{{lead}}}
            {{/if}}
            {{#if bodytext}}
            {{{bodytext}}}
            {{/if}}
        </div>
    </div>
</div>

<!-- End pattern: page intro //-->