---
title: Typefaces
---

<p>There are two main typefaces used across the University website.</p>

<h3>Primary typeface</h3>

<p>The University of St Andrews' primary typeface for web is <b>PT Sans</b>.</p>

<p>This typeface should mainly be used for large and small headings. The common equivalent typeface available on all computers is <b>Arial</b>.</p>

<h3>Secondary typeface</h3>

<p>The University of St Andrews' secondary typeface for web is <b>PT Serif</b>.</p>

<p>The common equivalent typeface available on all computers is <b>Georgia</b>.</p>

<h3>Options available</h3>
<ul>
	<li>PT Sans</li>
		<ul>
    		<li><a href="#PT Sans - regular">Regular</a></li>
    		<li><a href="#PT Sans - bold">Bold</a></li>
    		<li><a href="#PT Sans - italic">Italic</a></li>
    	</ul>
    <li>PT Serif</li>
    	<ul>		
    		<li><a href="#PT Serif - regular">Regular</a></li>
    		<li><a href="#PT Serif - bold">Bold</a></li>
    		<li><a href="#PT Serif - italic">Italic</a></li>
    	</ul>	
</ul>

<hr>
<h3>PT Sans</h3>
<h4 id="PT Sans - regular">Regular</h4>

<!-- Begin pattern: typeface //-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-sans">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                <p class="pt-sans">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                <p class="pt-sans">1 2 3 4 5 6 7 8 9 0</p>
            </section>
        </div>
    </div>
</div>

<!-- End pattern: typeface //-->

<hr>
<h4 id="PT Sans - bold">Bold</h4>

<!-- Begin pattern: typeface //-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-sans bold">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                <p class="pt-sans bold">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                <p class="pt-sans bold">1 2 3 4 5 6 7 8 9 0</p>
            </section>
        </div>
    </div>
</div>

<!-- End pattern: typeface //-->


<hr>
<h4 id="PT Sans - italic">Italic</h4>

<!-- Begin pattern: fonts //-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-sans italic">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                <p class="pt-sans italic">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                <p class="pt-sans italic">1 2 3 4 5 6 7 8 9 0</p>
            </section>
        </div>
    </div>
</div>

<!-- End pattern: fonts //-->


<hr>
<h3>PT Serif</h3>
<h4 id="PT Serif - regular">Regular</h4>

<!-- Begin pattern: fonts //-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-serif">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                <p class="pt-serif">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                <p class="pt-serif">1 2 3 4 5 6 7 8 9 0</p>
            </section>
        </div>
    </div>
</div>

<!-- End pattern: fonts //-->


<hr>
<h4 id="PT Serif - bold">Bold</h4>

<!-- Begin pattern: fonts //-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-serif bold">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                <p class="pt-serif bold">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                <p class="pt-serif bold">1 2 3 4 5 6 7 8 9 0</p>
            </section>
        </div>
    </div>
</div>

<!-- End pattern: fonts //-->


<hr>
<h4 id="PT Serif - italic">Italic</h4>

<!-- Begin pattern: fonts //-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-serif italic">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                <p class="pt-serif italic">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                <p class="pt-serif italic">1 2 3 4 5 6 7 8 9 0</p>
            </section>
        </div>
    </div>
</div>

<!-- End pattern: fonts //-->


</div>