---
title: Form validation
---

<p>You must:</p>

<ul>
	<li>Show an error summary at the top of the page so it is visible when the page is refreshed and is immediately read out by assistive technology. Write a message that helps the user to understand why the error occurred and what to do about it.</li>
	<li>Include a heading in the error summary to alert the user to the error.</li>
	<li>In the error summary, link to each of the problematic questions.</li>
	<li>Error message for each invalid answer must appear above the input field.</li>
</ul>

<h3>Validation of input fields</h3>

<div class="container">
	<span class="label label-default">Example</span>
	<div class="pattern-example">
		{{> form-validation-input}}
	</div>	
</div>

<div class="container">
	<span class="label label-default">Code</span>
	<pre><code class="pattern-source html">{{> form-validation-input}}</code></pre>
</div>

<h3>Validation of radio buttons</h3>

<div class="container">
	<span class="label label-default">Example</span>
	<div class="pattern-example">
		{{> form-validation-radio}}
	</div>	
</div>

<div class="container">
	<span class="label label-default">Code</span>
	<pre><code class="pattern-source html">{{> form-validation-radio}}</code></pre>
</div>