
/**********************************************/
/* BEGIN Pattern: secondary-call-to-action    */
/**********************************************/

.secondary-call {
  padding: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
  background: url('../images/secondary-call.jpg');
  background-position: center;
  text-align: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.secondary-call .call-heading {
  color: #ffffff;
  font-size: 24px;
  margin: 10px auto;
  font-weight: bold;
  line-height: 1.2;
  width: 85%;
}

.secondary-call p {
  color: #ffffff;
  width: 85%;
  line-height: 1.5;
  font-size: 21px;
  margin: 10px auto;
}

.secondary-call .left p, .secondary-call .left .call-heading {
  text-align: left;
    width: 100%;
}

.secondary-call .right p, .secondary-call .right .call-heading {
  text-align: right;
    width: 100%;
}

.secondary-call .btn:hover, 
.secondary-call .btn:focus {
  background-color: #005580;
}


.footer-cta-0 {
  background-image: url('../images/footer-cta/footer_0.jpg');
}

.footer-cta-1 {
  background-image: url('../images/footer-cta/footer_1.jpg');
}

.footer-cta-2 {
  background-image: url('../images/footer-cta/footer_2.jpg');
}

.footer-cta-3 {
  background-image: url('../images/footer-cta/footer_3.jpg');
}

.footer-cta-4 {
  background-image: url('../images/footer-cta/footer_4.jpg');
}

.footer-cta-5 {
  background-image: url('../images/footer-cta/footer_5.jpg');
}

.footer-cta-6 {
  background-image: url('../images/footer-cta/footer_6.jpg');
}

.footer-cta-7 {
  background-image: url('../images/footer-cta/footer_7.jpg');
}

.footer-cta-8 {
  background-image: url('../images/footer-cta/footer_8.jpg');
}

.footer-cta-9 {
  background-image: url('../images/footer-cta/footer_9.jpg');
}


@media (max-width: 991px) {

  .secondary-call .left p, .secondary-call .left .call-heading, .secondary-call .right p, .secondary-call .right .call-heading {
      text-align: center;
  }
}


@media (max-width: 767px) {


  .secondary-call .btn {
    font-size: 18px;
  }

  .secondary-call p {
    font-size: 18px;
  }
}

/**********************************************/
/* END Pattern: secondary-call-to-action      */
/**********************************************/