---
title: Secondary call to action
pattern: secondary-call-to-action
examples:
- name: secondary-call-to-action1
related:
---

<p>Secondary call to action displays a large image, a heading, some intro text and a call to action.</p>


<h2>Rules</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> secondary-call-to-action}}</div>

<h2>Options</h2>

<ul>
	<li>Left</li>
  <li>Center</li>
  <li>Right</li>
</ul>

<h2>To do</h2>
<ul>
	<li>Update the call to action button with the right button.</li>
  <li>Add ability to have left/center/right justification.</li>
</ul>


</div>

