---
title: Subject combo
---

<p>The subject combo shows what combination of courses may be taken alongside a Modern Languages course.</p>

<h3>Rules for the subject combo</h3>
<ul>
    <li>All list items must link to a subject page.</li>
    <li>This pattern must only be used on the Modern Languages subject pages.</li>
</ul>

<hr>
<h3>Options available</h3>
<ul>
{{#subject-combo-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/subject-combo-options.options}}
</ul>



{{#subject-combo-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
{{> subject-combo}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> subject-combo}}</code></pre>
{{/subject-combo-options.options}}
