---
title: Subject combo
---

<div class="row">
	<div class="col-md-8">
<p class="lead">The subject combo shows what combination of courses may be taken alongside an undergraduate modern languages course.</p>

<h2>Rules for the subject combo</h2>
<ul>
    <li>All list items must link to a subject page.</li>
    <li>This pattern must only be used on the undergraduate in modern languages course pages.</li>
</ul>
<h2>Options available</h2>
<ul>
{{#subject-combo-options.options}}
    <li><a href="#{{option-anchor}}">{{option-heading}}</a></li>
{{/subject-combo-options.options}}
</ul>
</div>
</div>


{{#subject-combo-options.options}}
<hr>
<div class="row">
	<div class="col-md-8">
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
</div>
<!--noindex-->
	<span class="label label-default">Example</span>
</div>
<div class="pattern-wrapper">
{{> subject-combo}}
</div>
<div class="container">
<span class="label label-default">Code</span>
{{#markdown}}
```html
{{> subject-combo}}
```
{{/markdown}}
<!--endnoindex-->
{{/subject-combo-options.options}}
