 <!-- Begin pattern: navbox-grid //-->

<div class="container" id="homepage-content" role="main">
	<div class="row">
		{{#items}}
			<div class="col-sm-4 category-images">
			{{>navbox}}				
			</div>
		{{/items}}
	</div>
</div>

<!-- End pattern: navbox-grid //-->			