
<!-- Begin pattern: navbox-grid //-->


<div class="container">
	<div class="row">
    {{#if items}}
		{{#items}}
			<div class="col-sm-4">
			{{>navbox}}
			</div>
		{{/items}}
    {{else}}
      <div class="col-sm-4">
      {{>navbox}}
      </div>
      <div class="col-sm-4">
      {{>navbox}}
      </div>
      <div class="col-sm-4">
      {{>navbox}}
      </div>
    {{/if}}
	</div>
</div>


<!-- End pattern: navbox-grid //-->
