---
title: Navbox grid
---

<p>The navbox grid pattern presents a set of navboxes in a grid.</p>

<ul>
    <li>Navbox grid does not need to have all 3 boxes with content, it may have just 1 or 2 following a row of 3.</li>
	<li>Use a grid whenever presenting a group of navboxes.</li>
</ul>

{{#navbox-grid-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
{{> navbox-grid}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> navbox-grid}}</code></pre>
{{/navbox-grid-options.options}}
