---
title: Navbox grid
pattern: navbox-grid
examples:
- name: 3-navbox-grid
- name: 4-navbox-grid
- name: 5-navbox-grid
- name: 6-navbox-grid
- name: navbox-grid-hidden
---

<p>The Navbox grid pattern presents a set of Navboxes in a grid. Also does not need to have all 3 boxes with content, may have just 1 or 2 following a row of 3.</p>

<h2>Usage</h2>

<ul>
	<li>Use a grid whenever presenting a group of Navboxes.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> navbox-grid navbox-grid-example}}</div>


<h2>Options</h2>

<ul>
    <li>Option to disable the no. 2 and 3 or just he no. 3 navboxes using the bootstrap CSS helper class <code>hidden</code></li>
</ul>