<!-- Begin pattern: navbox-grid //-->

<div class="container">
    <div class="row">
        {{#if items}}
            {{#items}}
                <div class="col-sm-4">
                    {{>navbox}}
                </div>
            {{/items}}
        {{else}}
            {{#if items_masonry}}
                {{#items_masonry}}
                    {{#if open}}<div class="row">{{/if}}
                        <div class="col-sm-{{column_size}}">
                            {{>navbox}}
                        </div>
                    {{#if close}}</div>{{/if}}
                {{/items_masonry}}
            {{else}}
                <div class="col-sm-4">
                    {{>navbox}}
                </div>
                <div class="col-sm-4">
                    {{>navbox}}
                </div>
                <div class="col-sm-4">
                    {{>navbox}}
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>

<!-- End pattern: navbox-grid //-->