<!-- Begin pattern: navbox-grid //-->
	{{> navbox}}

	{{#if sidebar}}
        <div class="col-sm-4 content" {{#if role}}role="{{role}}"{{/if}}>
            {{{sidebar}}}
        </div>
    {{/if}}
<!-- End pattern: navbox-grid //-->