
<!-- Begin pattern: navbox-grid //-->


<div class="container">
	<div class="row">
    {{#if items}}
		{{#items}}
			<div class="col-sm-4">
			{{>navbox}}
			</div>
		{{/items}}
    {{else}}
      {{#if items_masonry}}
      {{#items_masonry}}
        <div class="col-sm-{{column_size}}">
        {{>navbox}}
        </div>
      {{/items_masonry}}
    {{else}}
      <div class="col-sm-4">
      {{>navbox}}
      </div>
      <div class="col-sm-4">
      {{>navbox}}
      </div>
      <div class="col-sm-4">
      {{>navbox}}
      </div>
    {{/if}}
    {{/if}}
	</div>
</div>


<!-- End pattern: navbox-grid //-->
