---
title: Navbox grid
pattern: navbox-grid
examples:
- name: example1
- name: example2
---

<p>A set of featured navigation boxes with image and link to sub-page.</p>

<h2>Rules</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> navbox-grid navbox-grid-example}}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>
