---
title: Navbox grid
pattern: navbox-grid
examples:
- name: example1
- name: example2
- name: blank_num3
---

<p>The Navbox grid pattern presents a set of Navboxes in a grid.</p>

<h2>Usage</h2>

<ul>
	<li>Use a grid whenever presenting a group of Navboxes.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> navbox-grid navbox-grid-example}}</div>


<h2>Options</h2>

<ul>
    <li><em>None</em></li>
</ul>
