/*********************************/
/* BEGIN Pattern: external-home  */
/*********************************/

.primary-call {
	background: url('../images/cta/external.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/*********************************/
/* END Pattern: external-home    */
/*********************************/
