<!-- Begin pattern: external-home //-->
      <div id="accessibility"><a class="skip" href="#homepage-content">Skip to content</a></div>


		{{>header}}

		{{>navigation-bar navigation-bar-home}}


      <!-- navigation object : Homepage hero banner -->		<div class="jumbotron primary-call">
			<div class="container">
				<div class="call-heading">Scotland's first university</div>
				<p>St Andrews is Scotland's first university and third oldest in the English-speaking world, founded in 1413. It has established a reputation as one of Europe's leading centres for teaching and research.</p>
				<p><a class="btn btn-primary btn-lg" href="#">Call to action</a></p>
			</div>
		</div>
      
		{{>navbox-grid navbox-grid-1}}

    <hr>
      
	<div class="container">
	<div class="standalone-heading">
	<h3>Seven centuries of academic excellence and groundbreaking&nbsp;research</h3>
	<p>Over the last 600 years, the University of St Andrews has established a reputation as one of the world&rsquo;s leading research and teaching centres. Today, we offer a flexible degree structure based on your choice of subject specialism or research, creating an environment which nurtures inquisitive minds and a culture of shared&nbsp;learning.</p>
	</div>
	</div>

    <hr>
        

 	{{>tile-grid tile-grid-1}} 
    
 	{{>footer footer-home}}


<!-- End pattern: external-home //-->