<!-- Begin pattern: external-home //-->
      <div id="accessibility"><a class="skip" href="#homepage-content">Skip to content</a></div>


		{{>header}}

		{{>navigation-bar navigation-bar-home}}


     {{> hero-banner hero-banner-1}}
      
		{{>navbox-grid navbox-grid-1}}

    <hr>


    {{> intro intro-example}}

    <hr>
        

 	{{>tile-grid tile-grid-1}} 
    
 	{{>footer footer-home}}


<!-- End pattern: external-home //-->