
/*********************************/
/* BEGIN Pattern: accordion    */
/*********************************/


.accordion h3 {
  background-color: $sta-blue;
  color: #ffffff;
  padding: 10px 15px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.accordion h3:hover {
  background-color: $sta-blue-select;
}

.accordion h3 i.chevron {
  height: 20px;
  width: 17px;
  display: inline-block;
  position: relative;
  float: right;
  top: 3px;
  margin-left: 6px;
  background: url('../images/furniture/chevron@2x.png') no-repeat;
  background-size: 18px;
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  zoom:1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion h3.open i.chevron {
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  zoom:1;
}



/*********************************/
/* END Pattern: accordion      */
/*********************************/
