
<!-- Begin pattern: accordion //-->


<div class="accordion">
	<h3><i class="chevron"></i>Geography</h3>
	<div>
		<p>The East Neuk of Fife, where St Andrews is located, enjoys a microclimate of mild sunny summer days with contrasting blustery rain, crisp frosts, and the occasional snowfall in winter. It is much drier than the western parts of the country but it is prone to strong winds blowing in off the North Sea.</p>
		<p>One of the most popular aspects of St Andrews is its beautiful beaches. Enjoy a quiet thoughtful stroll or a bracing walk with friends along the two miles of the West Sands, or go surfing, sailing or sea kayaking on the waves of the East Sands. You can also experience a spectacular walk to the end of the stone pier, where you will find historic views of the twelfth century cathedral and castle.</p>
	</div>
</div>

<div class="accordion">

	<h3><i class="chevron"></i>Recreation</h3>
	<div>
		<p>There is a lot to do, both by day and by night in St Andrews. The town is home to dozens of caf&eacute;s, bars and restaurants to suit all tastes and budgets. The local independent cinema shows current blockbusters and arthouse films.</p>
		<p>Shopping in St Andrews is unique. Among quirky local shops and independent boutiques you will find high street fashion outlets, bookshops, supermarkets, bakeries and stationers.</p>
		<p>St Andrews is also well-known internationally as the home of golf. There are seven local courses, many of which often play host to international competitions, and the University itself has over <a href="/sport/sport/">50 registered sports clubs</a>.</p>
	</div>

	<h3><i class="chevron"></i>Beyond St Andrews</h3>
	<div>
		<p>If you wish to travel further afield you can nip down to Anstruther (9 miles / 14 km away) for fish and chips at the town's award-winning fish bar. Dundee is only 13 miles / 21 km away and Edinburgh is an hour by train. There are express buses that run to most major Scottish cities almost hourly. Naturally, there are many opportunities to travel north to the stunning Highlands and Islands for which Scotland is world renowned.</p>
	</div>

</div>



<!-- End pattern: accordion //-->
