---
title: Accordion
pattern: accordion
examples:
- name: example1
- name: example2

---

<div class="alert alert-info">The accordion pattern is backwards-compatible with previous implementations used on the Study at St Andrews website. See example 2. This support will be removed at some point, so DO NOT use the markup in example 2.</div>

<p>The Accordion pattern presents an expandable and collapsible section of content.</p>

<h2>Usage</h2>

<ul>
	<li>Accordions can be used anywhere in a content section.</li>
</ul>




<h2>Options</h2>

<ul>
    <li><em>None</em></li>
</ul>
