
/*********************************/
/* BEGIN Pattern: footer         */
/*********************************/


#website-footer {
	background-color: $sta-grey-dark;
	border-top: 5px solid $sta-grey;
	color: $sta-grey-light;
	padding: $third-gutter 0;
}

#website-footer a {
	color: $sta-cyan-light;

	&:hover {
		color: $sta-cyan-light-hover;
	}
	&:focus {
		color: $sta-grey-dark;
	}
}

#university-footer {
	background-color: $sta-grey-dark2;
	border-top: 1px solid $sta-grey;
	color: $sta-grey-light;
	padding: $third-gutter 0;
}

#university-footer a { 
	color: $sta-grey-light;
	font-weight: normal;
	white-space: nowrap;

	&:hover {
		color: $sta-grey-mid2;
	}
	
	&:focus {
		color: $sta-grey-dark;
	}
}

#website-footer ul, #university-footer ul {
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
}

#website-footer ul li {
	margin:0 0 5px 0;
}

// Use this for secondary branding such as the library logo
.website-footer__image {
	margin-top: 20px;
	max-width: 280px;
}

#university-footer ul li {
	display: inline;
	margin: 0 15px 0 0;
	padding: 0;
}

#university-footer p, #university-footer ul {
	margin: 0 0 5px 0;
}

.feedback-footer {
	background: $sta-grey-light;
	border-top: 5px solid $sta-grey-mid2;
	padding: $third-gutter 0;

	.btn {
		margin-right: 5px;
	}
}

.feedback-footer__heading {
	margin-right: 10px;
	@media (max-width: 400px) {
		// Force buttons on to new line
		display: block;
		margin-bottom: 5px;
	}
}

.feedback-footer + #website-footer {
	border-top: 1px solid $sta-grey;
}

#social {
	a {

		&:focus {
			box-shadow: none;
			background-color: transparent;
			outline:3px solid $sta-orange-highlight;
			outline-offset: 2px;
			color: $sta-grey-mid2;
		}
	}
}

#affiliation-banner {
	background-color: $sta-grey-light;
	padding: $page-gutter 0;
}

.affiliation-logo {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px; /* <<< this is a magic number and we don't know why.*/

	img {
		max-width: 200px;
	}

	a {
		&:focus {
			box-shadow: none;
			background-color: transparent;
			outline:3px solid $sta-orange-highlight;
			outline-offset: 2px;
		}
	}
}

@media (max-width: 768px) {
	#affiliation-banner {
		display: none;
	}

	#social {
		margin: 15px 0 0 0 !important;
	}
}	

/*********************************/
/* END Pattern: footer           */
/*********************************/
