
/*********************************/
/* BEGIN Pattern: footer         */
/*********************************/

footer a:link {
   font-weight: bold;
}

#website-footer {
	background-color: $sta-grey-dark;
	border-top: 5px solid $sta-grey;
	color: rgb(170, 170, 170);
	padding: 20px 0;
}

#website-footer a, #university-footer a {
	color: $sta-cyan-light;
}

#website-footer a:hover, #university-footer a:hover {
  	color: $sta-cyan-light-hover;
}

#university-footer {
	background-color: $sta-grey-dark-hover;
	border-top: 1px solid $sta-grey-T-hover;
	color: $sta-grey-light;
	padding: 10px 0;
}

#website-footer ul, #university-footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#university-footer ul li {
	display: inline;
	list-style-type: none;
	margin: 0 10px 0 0;
	padding: 0;
}

#university-footer p, #university-footer ul {
	margin: 0 0 10px 0;
}

#university-footer #social a {
	color: $sta-grey-light;
}

#affiliation-banner {
	background-color: $sta-grey-light;
	padding: 60px 0;
}

.affiliation-logo {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px; /* <<< this is a magic number and we don't know why.*/
}

.affiliation-logo img{
	width: 25%;
}

@media (max-width: 768px) {
	#affiliation-banner {
		display: none;
	}
}	

/*********************************/
/* END Pattern: footer           */
/*********************************/
