---
title: Footer
pattern: footer
examples:
- name: example1
---

<p>The Footer pattern contains site wide links and contact details along with links to Univeristy social media accounts.</p>

<h2>Usage</h2>

<ul>
	<li>The Footer should be at the bottom of all pages.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> footer}}</div>

<h2>Options</h2>

<ul>
	<li><em>None</em></li>
</ul>
