---
title: Footer
---

<!--
pattern: footer
examples:
- name: copyright-footer
- name: navigation-menu-footer
- name: old-copyright-footer
 -->

<div class="alert alert-info">The footer pattern has been updated so that the social media icons are now added using <a href="../font-awesome/">Font Awesome</a> rather then using SVG images – see <code>old-copyright-footer</code> example below. This support will be removed in a future version of the DPL, so please do not use the <code>old-category-header</code> markup.</div>

<p>The footer pattern presents the information that should be found at the bottom of all pages.</p>

<p>There are two components of the footer: the <code>copyright-footer</code> and navigation menu footer. The <code>copyright-footer</code> contains copyright, legal information and social media links. The <code>navigation-menu-footer</code> contains links and contact information relevant to the website.</p>

{{#footer-options.variants}}
<hr>
<h3>{{option-header}}</h3>
{{{option-description}}}
{{> footer}}
<span class="label label-default">Code</span>
<div class="pattern-source html">{{> footer}}</div>
{{/footer-options.variants}}