---
title: Footer
pattern: footer
examples:
- name: footer-full
- name: footer-university-only
---

<p>The Footer pattern demonstrates the information that should be found at the bottom of all pages.</p>

<p>There are two components of the footer: the <em>website footer</em> and <em>University footer</em>. The website footer contains links and contact information relevant to the website the page is located. The University footer contains copyright, legal information and social media links. </p>



<h2>Usage</h2>

<ul>
	<li>The <em>University footer</em> must appear at the bottom of all pages without any modifications.</li>
    <li>The <em>website footer</em> should be used if needed and should contain content relevant to the section of the website where the page is located.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> footer}}</div>

