
/*********************************/
/* BEGIN Pattern: tile-grid      */
/*********************************/

.tile-grid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: inherit;
    padding: $page-gutter 0;

    &.white {
        background-color: white;
    }

    &.light-grey {
        background-color: $sta-grey-light;
    }
    
    .read-more {
        a {
            margin-bottom: 30px;
        }
    }
}

.tile-grid__heading,
.tile-grid h2 {
    color: white;
    //font-size: 2.5em;
    @extend %font-scale-4;
    margin: 0 0 15px 0;
    padding: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

    /*
    @media (max-width: 767px) {
        font-size: 1.8em;
    }

    @media (max-width: 479px) {
        font-size: 1.5em;
    }  */

    &.sta-grey {
        color: inherit;
        text-shadow: none;
    } 
}

.tile-grid__tiles {
    //Wrapper for tiles - CHANGE TO CSS GRID

    .tile-grid__tile {
        //New selector for tiles
        margin-top: 30px;

        // Always remove top margin on first tile
        &:nth-child(1){
            margin-top: 0;
        }

        // Remove top margin on 2nd tile when in 2-up grid
        @media (min-width: 768px){
            &:nth-child(2) {
                margin-top: 0;
            }   
        }

        // Remove top margin on 2nd and 3rd tiles when in 3-up grid
        @media (min-width: 992px){
            &:nth-child(2),
            &:nth-child(3) {
                margin-top: 0;
            }   
        }
    }
}

.tile {
    background-color: white;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
       -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: auto;
    max-width: 360px;
    @include clearfix-alt;
}

.tile.tile-responsive {
    background-color: white;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
       -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: auto;       
    max-width: 100%;
}

.tile-image-title {
    position: relative;
}

.tile img {
    height: auto;
 	position: relative;
    width: 100%;
}

.tile h3 {
    background: $sta-blue-T;
    @include ms-respond(font-size,1);
    margin: 0;
    padding: .8rem 1rem;
    position: absolute;
    bottom: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    width: 100%;
    @include -dpl-transition();
}

.tile:hover {
    cursor: pointer;
}

.tile:hover h3 {
    background: $sta-blue-T-hover;
}

.tile h3 a {
    color: white;
	text-decoration: none;
}

.tile p {
 	height: 7rem;
 	margin: 1rem 0;
    overflow: hidden;
    padding: 0 1rem;
}

.tile-date {
    color: $sta-grey;
    float: left;
    font-size: 1rem;
    font-weight: normal;
    padding: 0 0.5rem 0.8rem 1rem;
}

.tile-type {
    color: $sta-grey;
    float: right;
    font-size: 1rem;
    font-weight: normal;
    padding: 0 1rem 0.8rem 0.5rem;

    a {
        color: $sta-grey;
        font-weight: normal;
        text-decoration: underline;

        &:hover {
            color: $sta-grey-hover;
        }

        &:focus {
            outline: 2px dotted $sta-orange-highlight;
            outline-offset: 0;
            background: lighten($sta-orange,50%);
        }
    }
}

/* Colors */

.tile.green h3 {
    background: $sta-green-T;
}

.tile.green:hover h3 {
    background: $sta-green-T-hover;
}

.tile.purple h3 {
    background: $sta-purple-T;
}

.tile.purple:hover h3 {
    background: $sta-purple-T-hover;
}

.tile.red h3 {
    background: $sta-red-T;
}

.tile.red:hover h3 {
    background: $sta-red-T-hover;
}

@media (max-width: 767px) {

    .tile p {
        height: auto;
    }
}




/*********************************/
/* END Pattern: tile-grid        */
/*********************************/
