
/*********************************/
/* BEGIN Pattern: tile-grid      */
/*********************************/

.tile-grid {
	padding: 30px;
	font-weight: 200;
	line-height: 2.1428571435;
	color: inherit;
	background-color: $sta-grey-med;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
}

.tile-grid h2 {
	font-size: 2.5em;
	color: white;
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.tile-grid .bg2 {
	background-image: url('../images/background/bg2.jpg');
}




.read-more {
	@extend .button;
	width: 100%;
	margin-top: -2px;

}
.read-more a {
	display: inline-block;
	color: white;
	font-size: 1.5em;
	padding: 0.4em .5em .2em;
	line-height: 1.2em;
	text-decoration: none;
}

.read-more-chevron {
	float: right;
	padding-top: .4em;
	padding-right: .5em;
}


@media (max-width: 767px) {
	.tile-grid h2 {
		font-size:1.5em;
	}
	.read-more {
		width: auto;
		padding-bottom: 5px;
	}
	.read-more a {
		font-size: 1em;
		line-height: 1em;
		padding: .2em .3em 0.0em;
	}
	.read-more-chevron {
		padding-top: 0.05em;
	}
	.read-more-chevron i.chevron.large {
		height: .9em;
  	width: 0.9em;
  	top: 2px;
  	margin-right: 0;
  	margin-left: 1em;
	}

}

/*********************************/
/* END Pattern: tile-grid        */
/*********************************/
