---
title: Tile Grid
pattern: tile-grid
examples:
- name: example1
related:
- name: tile
---

A tile grid contains a heading, a call to browse button and a grid layout of tiles. 

<h2>Rules</h2>

<ul>
	<li>It is used to show a collection of news and/or events.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> tile-grid tile-grid-example}}</div>


<h2>Options</h2>

<ul>
	<li>By default there is no background image, you'll need to supply this by attaching inline style on <code>&lt;div class="tile-grid"&gt;</code>. For example:
		<code>&lt;div class="tile-grid" style="background-image: url(path/to/image.jpg)"&gt;</code>. The image will be be set to <code>cover</code> the background, so select a large image. The example image is <code>2100 x 1400</code>.
	</li>
</ul>
