

<!-- Begin pattern: tile-grid //-->

<div class="tile-grid">
  
  <div class="container">

  	<div class="row top-buffer">
	    <div class="col-md-8 bottom-buffer">
	    	{{#if heading}}
	      <h2>{{{ heading }}}</h2>
	      {{else}}
				<h2>[heading]</h2>
	      {{/if}}
	    </div>
	    <div class="col-md-4 bottom-buffer">
	    	<div class="read-more">
			    <div class="read-more-chevron"><i class="chevron large"></i></div>
		    	<a href="{{default call-to-browse-url "[call-to-browse-url]"}}">{{default call-to-browse-text "call-to-browse-text"}}</a> 
	    	</div>
	    </div>
	</div>

	<div class="row">
	    <div class="col-sm-6 col-md-4">
			{{> tile tile-1 }}
		</div>

		 <div class="col-sm-6 col-md-4">
			{{> tile tile-2}}
	    </div>

	    <div class="col-sm-6 col-md-4">
			{{> tile tile-3}}
		</div>

		 <div class="col-sm-6 col-md-4">
			{{> tile tile-4}}
	    </div>

	    <div class="col-sm-6 col-md-4">
			{{> tile tile-5}}
		</div>

		 <div class="col-sm-6 col-md-4">
			{{> tile tile-6}}
	    </div>
	</div>  <!-- // End .row -->

  </div> <!-- // End .container -->

</div>  <!-- // End .tile-grid -->

<!-- End pattern: tile-grid //-->