---
title: Tile grid
pattern: tile-grid
examples:
- name: example1
- name: example2
related:
- name: tile
---

<p>The tile grid pattern contains a heading, a call to browse button and a grid layout of tiles; it is used to show a collection of news and/or events.</p>

{{#tile-grid-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>{{> tile-grid}}<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> tile-grid}}</code></pre>
{{/tile-grid-options.options}}

