<div class="tile-grid">
  
  <div class="container">

  	<div class="row top-buffer">
	    <div class="col-md-8 bottom-buffer">
	      <h2>{{{ tile-grid.heading }}}</h2>
	    </div>
	    <div class="col-md-4 bottom-buffer">
	    	<div><a class="button large chevron full-width" href="{{tile-grid.call-to-browse-url}}">{{tile-grid.call-to-browse-text}}</a></div>
	    </div>
	</div>

	<div class="row">
	    <div class="col-sm-6 col-md-4">
			{{> tile }}
		</div>

		 <div class="col-sm-6 col-md-4">
			{{> tile}}
	    </div>

	    <div class="col-sm-6 col-md-4">
			{{> tile}}
		</div>

		 <div class="col-sm-6 col-md-4">
			{{> tile}}
	    </div>

	    <div class="col-sm-6 col-md-4">
			{{> tile}}
		</div>

		 <div class="col-sm-6 col-md-4">
			{{> tile}}
	    </div>
	</div>  <!-- // End .row -->

  </div> <!-- // End .container -->

</div>  <!-- // End .tile-grid -->