---
title: Example about page
---

{{> text-banner examples-text-banner.about}}

{{> header examples-header}}

{{> category-header examples-about.category-header}}

{{> navigation-bar examples-about.navigation-bar}}

{{> breadcrumbs examples-about.breadcrumbs}}

{{> page-intro examples-about.intro}}

<div class="container">
    {{> navbox examples-about.navbox-grid}}
</div>

{{> secondary-call examples-about.secondary-call}}

{{> footer examples-footer}}