<div id="app-wrapper" aria-expanded="true">
    <nav id="app-nav" class="app-navbar app-navbar--fixed">
        <div class="app-navbar__container ">
            <button id="app-sidebar-toggle" class="app-navbar__menu-toggle" aria-expanded="true" aria-label="Toggle navigation" aria-controls="app-sidebar-nav">
                <i class="fas fa-bars app-navbar__menu-toggle-icon" aria-hidden="true"></i><span class="sr-only">Toggle navigation</span> 
            </button>

            <div id="branding-and-title" class="app-brand">
                <a href="#" class="app-brand__link">
                <span id="header-crest" class="app-brand__logo"><span class="sr-only">University of St Andrews</span></span>
                <span id="brand-title" class="app-brand__title">Application Name</span>
                </a>
            </div>
            <div id="logged-in" class="app-logged-in"><span class="app-logged-in__info">You are signed in as </span><a href="">Bob Smith</a></div>
        </div>
    </nav>
    <div id="app-sidebar" class="app-sidebar">
        <nav id="app-sidebar-nav" class="app-sidebar__nav">
            <ul class="app-sidebar__nav-list">
                <li class="active">
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="Home">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-home" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="Admin">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-cog" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">Admin</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="Academic activities">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">Academic activities</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="Admin tasks">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-dashboard" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">Admin tasks</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="Applications">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-edit" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">Applications</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="C-View">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">C-View</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="My details and development">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-address-card" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">My details and development</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="Events">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-calendar" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">Events</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="Library and IT">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-laptop" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">Library and IT</span>
                    </a>
                </li>
            </ul>
            <ul class="app-sidebar__nav-list app-sidebar__nav-divider">
                <li>
                    <a href="#" class="app-sidebar__nav-item app-sidebar__nav-item--link" title="Sign out">
                        <span class="app-sidebar__nav-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span><span class="app-sidebar__nav-text">Sign out</span>
                    </a>
                </li>
            </ul>
            <div class="app-sidebar__nav-divider app-sidebar__expanded-only">
                <div class="app-sidebar__nav-item">
                    <p>This is some plain text <a href="">with a link</a> that inherits the same padding as the other items in the sidebar.</p>
                </div>
            </div>
        </nav>
        <div id="app-sidebar-scrim"></div>
    </div>
    <div id="app-content" class="app--padding">
        <p>Vestibulum a sodales nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas finibus ullamcorper lectus, elementum ultrices enim condimentum et. Suspendisse potenti. Ut ut elit blandit, tincidunt libero vitae, pulvinar elit. Donec consectetur purus tristique, euismod turpis sit amet, scelerisque sapien. Praesent mollis eros quam, sed pharetra ligula posuere sit amet. Duis non nisi egestas metus imperdiet facilisis. Maecenas libero odio, mattis at sollicitudin id, commodo non tortor. Ut viverra mattis lorem eget tincidunt. Vivamus egestas metus non urna fermentum lacinia.</p>
        <p>Sed id eleifend velit. Donec consequat felis eget metus elementum commodo. Suspendisse sit amet ligula velit. Morbi sagittis tempor dolor, volutpat laoreet felis finibus at. Vivamus suscipit ante non diam semper eleifend. Pellentesque imperdiet lectus sollicitudin lacus aliquam elementum. Proin quis dapibus elit, eu gravida tellus. Maecenas magna ante, maximus ut hendrerit maximus, luctus in velit. Aliquam in velit ut nunc tempus interdum. Proin sollicitudin, erat et hendrerit tincidunt, magna arcu porttitor nibh, et dictum risus lorem a mi. Aliquam erat volutpat. Sed sed purus arcu.</p>
        <p>In egestas congue urna. Aliquam feugiat placerat dolor, sit amet sagittis diam accumsan et. Nam a dignissim velit. Curabitur non lorem eget eros ornare imperdiet id vitae nisi. Sed et sodales velit. Aenean varius nulla quis ligula volutpat, id tincidunt lectus vehicula. Donec metus odio, viverra eget auctor eget, viverra id tortor.</p>
        <p>Vestibulum condimentum bibendum mauris at egestas. Maecenas sed sagittis urna, id congue libero. Etiam sit amet magna vel mi porttitor aliquet vel id magna. Aliquam a mattis ante. Praesent aliquet dui magna, ac condimentum tortor vehicula quis. Suspendisse potenti. Aenean quis placerat est.</p>
        <p>In pretium pharetra gravida. Vivamus tincidunt purus non tellus convallis tristique. Sed posuere mi vitae rutrum porta. Sed quis libero dapibus, mollis mi vel, hendrerit metus. Cras posuere sagittis nisi eu aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum lorem nunc, iaculis ut erat bibendum, dignissim rutrum ligula. Nullam semper erat neque, finibus scelerisque nunc suscipit at. Aliquam risus odio, rutrum eu augue quis, sollicitudin sodales nisl. Integer ut sagittis libero, id commodo sem.</p>
        <p>Proin condimentum, sapien sed ultricies gravida, velit lectus varius tortor, eget pharetra augue libero eu erat. Integer at ex non leo dapibus bibendum sit amet nec erat. Vestibulum gravida tempus enim non porttitor. Phasellus sit amet congue magna, ut venenatis leo. Aliquam ornare in velit aliquet tristique. Etiam mattis magna in arcu dictum, sit amet rhoncus nulla pretium. Aenean efficitur dapibus ipsum, a sollicitudin sapien laoreet vitae. Praesent sollicitudin neque a sapien ullamcorper, at elementum mi tincidunt. Suspendisse a tristique massa. Cras ut semper mauris, tempor egestas purus. Curabitur maximus nunc risus, sit amet suscipit metus fermentum in.</p>
    </div>
    <footer id="app-footer">
        <div class="app-footer">
            <p>&copy; 2020 The University of St Andrews is a charity registered in Scotland, No: SC013532</p>
            <ul class="app-footer__links">
                <li><a href="https://www.st-andrews.ac.uk/terms/cookie-policy/">Cookie policy</a></li>
                <li><a href="https://www.st-andrews.ac.uk/terms/">Terms and conditions</a></li>
                <li><a href="https://www.st-andrews.ac.uk/help/">Website help</a></li>
            </ul>
        </div>
    </footer>
</div>