---
title: Example course page
---

{{> text-banner examples-text-banner.course}}

{{> header}}

{{> category-header examples-content-course.category-header}}

{{> navigation-bar examples-content-course.navigation-bar}}

{{> breadcrumbs examples-content-course.breadcrumbs5}}

<main id="content-begin">

<!-- Key info area-->	
<div class="page-intro__wrapper no-margin-bottom">
	<div class="page-intro page-intro--has-media">
		<div class="page-intro__text">
			<h1 class="page-intro__heading">Biology BSc (Hons) <small>2022 entry</small></h1>
			<p class="lead">Study life at all levels of organisation, from the molecular biology of virus replication to the study of animals and plants in their natural habitats. Gain skills and knowledge needed to become a biologist in areas such as drug design, investigating the molecular basis of Alzheimer’s disease, or the conservation of marine mammals.  </p>
			<div class="alert alert-info">
	        	<dl class="paired-values-list collapse-top font-scale-1 collapse-bottom" aria-label="Key information">
	          		<dt class="paired-values-list__name font-weight--bold">UCAS code</dt>
	          		<dd class="paired-values-list__value">C100</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Start date</dt>
	          		<dd class="paired-values-list__value">5 September 2022</dd>
	          		<dt class="paired-values-list__name font-weight--bold">End date</dt>
	          		<dd class="paired-values-list__value">30 June 2026</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Duration</dt>
	          		<dd class="paired-values-list__value">4 years</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Study mode</dt>
	          		<dd class="paired-values-list__value">Full time</dd>       
	        	</dl>
	        </div>
		</div>
		<div class="page-intro__media">
			<figure class="page-intro__media-wrapper"><img src="https://www.st-andrews.ac.uk/assets/university/subjects/images/biology/biology-750x500.jpg" alt="Student observing test tubes in a lab"></figure>
		</div>
	</div>
</div>
<div id="nav-top" class="sticky-cta affix-top">
	<div class="sta-container">
		<a class="btn btn-action" href="https://www.st-andrews.ac.uk/study/register/">Register your interest</a><a class="btn btn-action-secondary" href="https://www.st-andrews.ac.uk/study/apply/ug/">How to apply</a>
		<div class="sticky-cta__label"><span class="font-weight--bold">Biology BSc (Hons)</span> 2022 entry</div>
    </div>
</div>
<!-- Main content area -->
<div class="section__anchor--sticky margin-bottom--half">
  <div class="sta-container sta-grid__main-aside">
    <aside class="sta-grid-item__aside">
    	<div id="sticky-nav__active-section" style="display:none:"></div>
    	<nav class="sta-contents sta-contents-aside sta-contents-aside--sticky" aria-labelledby="sta-contents-heading">
    		<h2 id="sta-contents-heading" class="sta-contents__heading">On this page</h2>
	    	<ul id="sta-contents-sticky">
	    		<li><a href="#overview">Overview</a></li>
	    		<li><a href="#entry-requirements">Entry requirements</a></li>
	    		<li><a href="#course-details">Course details</a></li>
	    		<li><a href="#fees">Fees</a></li>
	    		<li><a href="#joint-honours">Joint Honours degrees</a></li>
	    		<li><a href="#alternate-routes">Alternate routes</a></li>
	    		<li><a href="#careers">Careers</a></li>
	    		<li><a href="#contact">Contact</a></li>
	    		<li><a href="#meet">Meet us</a></li>
	    		<li><a href="#discoveruni">Discover Uni</a></li>
	    	</ul>
	    </nav>
    </aside>
    <article class="sta-grid-item__main content">
    	
    	<section id="overview" class="heading-section content-section section__anchor--sticky">
			<p>In the first two years of this course, you will be introduced to core material relevant to all biology programmes, such as animal and plant biology, molecular biology, cell biology and genetics.</p>  
			<p>In your third year, you will begin studying more specialised modules that will prepare you for your Honours degree. In fourth year, you will continue specific research in your chosen area through student-led, enquiry-based learning.</p> 
			<p>At St Andrews, you will have access to high-tech equipment, laboratories and expertise to help you learn and to develop your skillset as a modern biologist.</p>  
			<p>Centres of research within the School of Biology offer you the experience to work alongside experts while developing your own research in your Honours years. Find out more about <a href="https://www.st-andrews.ac.uk/biology/research/centres/">biology centres and institutes</a> at St Andrews.</p> 
			<figure class="blockquote">
		    <blockquote class="font-scale-1">
		        <p>&ldquo;A big motivation of mine for studying at St Andrews was the excellent research that is being carried out. As a biologist with the aim of going into research, it was important to me that the university had the facilities and people that would drive me in that direction. I love how personal the teaching style is here – students are welcome to chat to the lecturers and they are always happy to help.&rdquo;</p>
		    </blockquote>
		    <figcaption class="blockquote__author">
		<div class="blockquote__author-thumbnail">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.st-andrews.ac.uk/assets/university/subjects/images/biology/rebekka -biology.jpg" alt="Rebekka">
		</div>
		<div><strong>Rebekka</strong>  <br>- Vienna, Austria</div>
	</figcaption>
		</figure>
		</section>
		<section id="entry-requirements" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Entry requirements</h2>
			<div class="callout callout--info" >
			    <h3 class="callout__heading">Do I need to have studied this subject before? </h3><p>Yes, you must have studied Biology (or Human Biology) at SQA Higher, GCE A-Level or equivalent. Preference will be given to applicants who have strong science qualifications above the stated minimum requirements.</p>
			</div>
			<p>The grades below are the overall standards required to consider you for entry.</p> 
			<p><span class="font-weight--bold">For applicants in the UK</span>, there are three categories of entry requirements: Standard, Minimum and Gateway. The category you should look at depends on your contextual data. If you are unsure which category you fall under, please use our <a href="https://www.st-andrews.ac.uk/subjects/entry/indicator">academic entry qualification indicator</a> and see <a href="https://www.st-andrews.ac.uk/subjects/entry/academic-entry-explained/">academic entry explained</a> for more information.</p>
			<!-- Begin pattern: accordion //-->
<ul class="accordion-group">
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">SQA Highers</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">AAAB <div class="font-scale-reset">including Biology (or Human Biology) and one other science from Chemistry, Mathematics or Physics.</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">AABB <div class="font-scale-reset">including Biology (or Human Biology) and one other science from Chemistry, Mathematics or Physics.</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold">Gateway entry grades</dt>
	          		<dd class="paired-values-list__value">BBBB</dd>
	        	</dl>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">GCE A-Levels</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">AAB <div class="font-scale-reset">including Biology and one other science from Chemistry, Mathematics or Physics.</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">ABB <div class="font-scale-reset">including Biology and one other science from Chemistry, Mathematics or Physics.</div></dd>
	        	</dl>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">IB points</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list  paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">36 (HL 6,6,5) <div class="font-scale-reset">including HL6 in Biology and HL6 in Chemistry, Mathematics, or Physics.</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">36 (HL 6,5,5) <div class="font-scale-reset">including HL6 in Biology and HL5 in Chemistry, Mathematics, or Physics.</div></dd>
	        	</dl>
	</div>
</li>
</ul>
<!-- End pattern: accordion //-->
<p>The University accepts a wide range of qualifications. If you do not have an SQA Higher, GCE A-Level or International Baccalaureate, please see <a href="https://www.st-andrews.ac.uk/subjects/entry/">entry requirements by country</a>.</p>
<h3>General entry requirements</h3>
<p>In addition to meeting the specific entry requirements for this course, you will also need to meet the University’s general entry requirements.</p> 
		<!-- Begin pattern: accordion //-->
<ul class="accordion-group">
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h4 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">SQA qualifications</button>
        </h4>
    </div>
    <div class="accordion-item__content">
<p>SQA National 5 (B) in English and one SQA National 5 (B) from the following:</p>
<ul>
	<li>Biology</li>
	<li>Chemistry</li>
	<li>Computing science</li>
	<li>Geography</li>
	<li>Lifeskills Mathematics (A grade)</li>
	<li>Mathematics</li>
	<li>Physics</li>
	<li>Psychology.</li>
</ul>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h4 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">GCSE qualifications</button>
        </h4>
    </div>
    <div class="accordion-item__content">
<p>GCSE (5) in English language or English literature, and one GCSE (5) from the following:</p>
<ul>
	<li>Biology</li>
	<li>Chemistry</li>
	<li>Computing Science</li>
	<li>Geography</li>
	<li>Mathematics</li>
	<li>Physics</li>
	<li>Psychology.</li>
</ul>
	</div>
</li>
</ul>
<!-- End pattern: accordion //-->
<h3>English language requirements for international applicants</h3>
<p>If English is not your first language, you will need to provide evidence your English language ability. Find out more about <a href="https://www.st-andrews.ac.uk/subjects/entry/language-requirements/undergraduate/">English language requirements</a>.</p>
		</section>
		<section id="course-details" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Course details</h2>


			<h3 id="modules">Modules</h3>
			<div class="tabs-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active in" role="presentation"><a aria-selected="true" href="#tab-1" data-toggle="tab" aria-controls="tab-1" role="tab">First year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-2" data-toggle="tab" aria-controls="tab-2" role="tab">Second year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-3" data-toggle="tab" aria-controls="tab-3" role="tab">Honours</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-1" role="tabpanel">
                        <p>In your first year, you must take the following two modules:</p>
                        <!-- Begin pattern: search results //-->
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL1101&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Biology 1</h4>
						        </a>
						        <p class="search-result__summary">Introduces you to molecular and cellular biology, covering cell diversity and the origins of life, cellular structures and fundamental processes.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL1102&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Biology 2</h4>
						        </a>
						        <p class="search-result__summary">Introduces you to the diversity of life on Earth and addresses key elements of organismal and ecological aspects of life.</p>
						    </li>
						</ul>
						<!-- End pattern: search results //-->
                    </div>
                    <div class="tab-pane fade " id="tab-2" role="tabpanel">
                        <p>In second year, you must take the following module:</p>
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2300&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Research Methods in Biology</h4>
						        </a>
						        <p class="search-result__summary">Develops essential academic and transferable skills, with major emphasis on problem solving. This is achieved through a combination of interactive lectures, independent data-handling workshops and group work on a mini research project.</p>
						    </li>
						</ul>
						<p>You must also take at least three of the following modules:</p>
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2309&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Applied Molecular Biology</h4>
						        </a>
						        <p class="search-result__summary">Examines case studies to provide examples of how molecular biology techniques are applied in research to address real-life questions and problems.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2306&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Biochemistry</h4>
						        </a>
						        <p class="search-result__summary">A number of central metabolic pathways and their control are studied in detail, alongside examples of their importance in disease and recent metabolomic studies.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2301&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Cell Biology</h4>
						        </a>
						        <p class="search-result__summary">Introduces the concept of ‘a cell’, moving on to discuss different types of prokaryotic and eukaryotic cell.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2305&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Cell Systems</h4>
						        </a>
						        <p class="search-result__summary">Explores how cells interact with one another to form complex tissues and organisms.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2307&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Ecology</h4>
						        </a>
						        <p class="search-result__summary">Introduces basic concepts in population and community ecology and how they relate to biodiversity.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2303&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Evolutionary Biology</h4>
						        </a>
						        <p class="search-result__summary">Gives an overview of the history and major principles of modern evolutionary biology.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2310&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Comparative Physiology</h4>
						        </a>
						        <p class="search-result__summary">Covers the principles of physiological adaptation in a range of animals, including examples from all major taxa and from all habitats.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2304&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Invertebrate Zoology</h4>
						        </a>
						        <p class="search-result__summary">Surveys the major invertebrate groups, emphasising the diversity of body plans while demonstrating how the common functional requirements such as feeding, reproduction, respiration and excretion are achieved.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2302&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Molecular Biology</h4>
						        </a>
						        <p class="search-result__summary">Introduces modern molecular biology, covering fundamental biological processes such as transcription, translation, and DNA replication and repair.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2311&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">The Oceans</h4>
						        </a>
						        <p class="search-result__summary">Introduces basic concepts in biological and physical oceanography, and provides an understanding of physical processes such as circulation patterns, waves and tides, and how these physical processes affect plants and animals living in the different ocean biomes.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=BL2308&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Vertebrate Zoology</h4>
						        </a>
						        <p class="search-result__summary">Explores the diversity of vertebrate animals, beginning with the closest relatives of vertebrates and the evolutionary origins of the group.</p>
						    </li>
						</ul>
						
                    </div>
                    <div class="tab-pane fade " id="tab-3" role="tabpanel">
                        <p>In third year, you will choose from a wide range of advanced modules covering core topics. Modules that have been offered in previous years include:</p> 
                        <ul>
							<li>Advanced Biochemistry</li> 
							<li>Animal Behaviour: A Quantitative Approach</li> 
							<li>Evolution</li> 
							<li>Genes, Cells and Development</li> 
							<li>Protein Structure and Function</li> 
							<li>Terrestrial Zoology.</li> 
						</ul> 

						<p>In fourth year, you will study your chosen subject area at a deeper scientific level and will also have the opportunity to select from a wide range of small, group-specialised modules. These modules are taught by academics at the forefront of their discipline.</p> 

						<p>In this year, you will also undertake a substantial final-year research project. This research project is designed to develop skills in experimental design and problem-solving, the evaluation and interpretation of data, and communication. These skills are desired by both prospective employers and by graduate schools offering postgraduate degrees. The project can also lead to your first publication in a scientific journal. The project occupies half of the year and is selected and supervised by a member of academic staff.</p> 
                    </div>
                </div>
            </div>


			
			<h3 id="format">Teaching format</h3>
			<p>Your biology modules are taught through a combination of:</p>
			<ul>
				<li>Lectures – these larger classes provide information, stimulate thought, and suggest directions for further reading and personal study. Typical lecture sizes are between 250 to 330 students in first year, 80 to 175 students in second year, and 20 to 140 students in third year.</li> 
				<li>Seminars and tutorials - these smaller classes allow you to actively work together with your tutors and your peers to discuss topics from lectures, present papers and discuss texts and issues relevant to the course.  </li> 
				<li>Practical classes – these classes are taught in the laboratory and in the field to enabel you to learn the wide range of skills required by a modern biologist. You will be provided with teaching microscopes and taught in state-of-the-art teaching laboratories. You will also be given the opportunity to expand on your presentation and IT skills. Practical class sizes are typically between 80 to 100 students in first year, 40 to 60 students in second year, and 20 to 60 students in third year. </li>  
			</ul>
 			<p>In fourth year, modules are taught in much smaller classes of between 5 and 25 students. Fourth year also allows you to focus on a major project which occupies half of the year.  </p>  
 			<p>Outside of class, you will be expected to undertake independent work and study. This may involve, for example:</p> 
			<ul>
				<li>working on individual and group projects</li> 
				<li>undertaking research in the library or in PC classrooms</li> 
				<li>preparing coursework assignments and presentations</li> 
				<li>preparing for examinations.</li> 
			</ul>
			<h3 id="coursework-grades">Coursework and grades</h3>
			<p>During your first and second year, all modules are graded by an equal weighting of coursework and written examinations.</p>
			<p>In third year, most modules give a higher weighting to examinations.</p>  

			<p>In fourth year, some modules are entirely assessed by coursework, while others still include written examinations in addition to coursework.</p> 

			<p>Group activities may also be graded, and in this case marking methods will be communicated to you in advance.</p> 

			<p>The School of Biology aims to provide feedback on assessments and coursework within three weeks to help you improve on future assessments.</p> 

			<p>Most examinations are held at the end of the semester during a dedicated exam period. There is a dedicated revision week before exams which provides you time to prepare.</p>

			<h3 id="other-subjects">Taking other subjects</h3>
			<p>In addition to biology, you will be required to study an additional two subjects in your first year. This allows you to explore other courses of interest. In your second year, you will usually carry on at least one of these subjects. Find out more about the <a href="https://www.st-andrews.ac.uk/subjects/study-options/ug/degree-routes/honours/">Honours degree structure</a>.</p>
			<p>You can also take biology as part of a joint Honours degree in which you will take core modules in two or three subjects. See more information on <a href="#joint-honours">joint options</a> below.</p>


			<h3 id="study-abroad">Study abroad</h3>
			<p>Students taking biology  may apply to participate in the University-wide St Andrews Abroad programme or in the School Abroad exchange programme. For information about study abroad options, please see the <a href="https://www.st-andrews.ac.uk/study-abroad/">study abroad</a> site.</p>

		</section>
		<section id="fees" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Fees</h2>
			<dl class="paired-values-list paired-values-list--divided collapse-top" aria-label="Tuition fees by fee status">
			    <dt class="paired-values-list__name font-weight--bold">Home-funded</dt>
			    <dd class="paired-values-list__value">Tuition fees for Scottish applicants have yet to be set for 2022 entry.</dd>
			    <dt class="paired-values-list__name font-weight--bold">Rest of the UK</dt>
			    <dd class="paired-values-list__value">Tuition fees for applicants from the rest of the UK have yet to be set for 2022 entry.</dd>
			    <dt class="paired-values-list__name font-weight--bold">EU and overseas</dt>
			    <dd class="paired-values-list__value">Tuition fees for EU and overseas applicants have yet to be set for 2022 entry.</dd>
			</dl>
			<p>More information on tuition fees can be found on the <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/">undergraduate fees and funding</a> page.</p>
			<h3>Additional costs</h3>
			<p>You may incur additional costs in the course of your education at the University over and above tuition fees in an academic year. See an <a href="https://www.st-andrews.ac.uk/students/money/internationalstudents/ugcoa/">estimated cost of attendance</a>.</p>
			<h3>Funding and scholarships</h3>
<p>The University of St&nbsp;Andrews offers a number of <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/scholarships/">scholarships</a> and <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/financial-assistance/">support packages</a> to undergraduate students each year.</p>
		</section>
		<section id="joint-honours" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Joint Honours degrees</h2>
			<p>You can also take biology as part of a <a href="https://www.st-andrews.ac.uk/subjects/study-options/ug/degree-routes/honours/joint/">joint Honours degree</a> in which you will take core modules of your chosen subjects.</p>

			    	<table class="dataTable table table-primary dpl-form" role="grid">
					    <thead>
					        <tr role="row">
					            <th class="sorting_asc" tabindex="0" aria-sort="ascending"  aria-label="Course name: activate to sort column descending">Course name</th>
					            <th class="sorting" tabindex="0" aria-label="UCAS code: activate to sort column ascending">UCAS&nbsp;code</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/biology/biology-bsc/biology-and-chemistry-joint/">Biology and Chemistry</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/biology/biology-bsc/biology-and-computer-science-joint/">Biology and Computer Science</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Biology and <a href="https://www.st-andrews.ac.uk/subjects/economics/economics-bsc-2022/">Economics</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Biology and <a href="https://www.st-andrews.ac.uk/subjects/geography/geography-bsc-2022/">Geography</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Biology and <a href="https://www.st-andrews.ac.uk/subjects/earth-environmental-sciences/geology-bsc-2022/">Geology</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/biology/biology-bsc/biology-and-mathematics-joint/">Biology and Mathematics</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Biology and <a href="https://www.st-andrews.ac.uk/subjects/philosophy/philosophy-ma-2022/">Philosophy</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Biology and <a href="https://www.st-andrews.ac.uk/subjects/psychology/psychology-bsc-2022/">Psychology</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Biology and <a href="https://www.st-andrews.ac.uk/subjects/psychology/psychology-bsc-2022/">Psychology (with British Psychological Society accreditation)</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/biology/biology-bsc/biology-and-statistics-joint/">Biology and Statistics</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Biology and <a href="https://www.st-andrews.ac.uk/subjects/sustainable-development/sustainable-development-bsc-2022/">Sustainable Development</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Biology with <a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Biology with <a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a></td>
					        	<td>TBC</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/psychology/psychology-bsc-2022/">Psychology</a> with Biology</td>
					        	<td>TBC</td>
					       	</tr>
					    </tbody>
					</table>
			<p>Normally, for joint degree programmes, the subject with the higher entry requirements determines the grades you need. However, the Chemistry, Computer Science, Mathematics and Statistics joint degree programmes have different entry requirements. Select the joint option above to see the entry requirements.</p>
			<p><a href="https://www.st-andrews.ac.uk/subjects/study-options/ug/degree-routes/honours/joint/" class="btn btn-action-secondary">What is a joint Honours degree?</a></p>
			
		</section>
		
		<section id="alternate-routes" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Alternate routes</h2>
			<h3>Direct entry to second year</h3> 

			<p>If you have excellent qualifications, you may be able to apply for <a href="https://www.st-andrews.ac.uk/subjects/biology/biology-bsc/direct/">direct entry to second year</a>. This allows you to bypass first-year modules and complete your degree in only three years instead of four. </p>  
			<h3>Integrated Masters</h3> 

			<p>Integrated Masters courses allow you to combine undergraduate and postgraduate study into a single five-year programme and graduate with a Masters degree. St Andrews offers the <a href="https://www.st-andrews.ac.uk/subjects/biology/biology-mbiol-2022/">Biology MBiol integrated Masters programme</a>.</p>  
		</section>
		
		<section id="careers" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Careers</h2>
			<p>Biology graduates at St Andrews have found careers as:</p>
			<ul>
				<li>professional biologists in biological research, conservation, higher education, and the pharmaceutical and biomedical industries</li>
				<li>researchers and advisers in government</li>
				<li>journalists</li>
				<li>advisers, researchers and managers in the National Health Service</li>
				<li>teachers</li>
				<li>forensic scientists</li>
				<li>management consultants</li>
				<li>marketing and advertising experts.</li>  
			</ul>
			<p>The University has a dedicated <a href="https://www.st-andrews.ac.uk/careers/">Careers Centre</a> which can provide advice and support throughout your degree and beyond to help you build your employability skills.</p>
			<hr>


			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Graduate destination', 'Percentage'],
          ['Full-time employment or full-time further study', 67],
          ['Other (Including caring, retired, volunteering, due to start work and unemployed)', 33]
        ]);

        var options = {
          chartArea:{left:0,top:0,width:'100%',height:'100%'},
          pieHole: 0.4,
          legend: 'none',
          pieSliceText: 'none',
          fontName: 'pt sans',
          enableInteractivity: false,
          slices: {
            1: { color: '#00853f' },
            0: { color: '#bfe1cf' }
          },
          reverseCategories: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


			<figure style="display:flex;align-items:center;">
				<div id="chart_div" style="height:200px;width:200px;margin-bottom:1em;margin-right:2em;"></div>
				<p><span class="font-scale-5 font-weight--bold">67%</span><br><span class="font-scale-1 font-weight--bold">of graduates in full-time employment or full-time further study.</span></p>
			</figure>
			<p><a href="https://www.st-andrews.ac.uk/careers/exploring-your-future/destinations/" class="btn btn-action-secondary">Graduate destinations</a></p>
			<hr>
			<h3>Progressing to postgraduate study</h3> 
			<p>Many graduates choose to continue their studies by taking a taught Masters course or by pursuing a research degree (such as a PhD).</p>  
			<p><a href="https://www.st-andrews.ac.uk/subjects/biology/" class="btn btn-action-secondary">Postgraduate courses in biology at St Andrews</a></p>  
		</section>
		<section id="contact" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Contact us</h2>
			<dl class="paired-values-list paired-values-list--divided collapse-top">
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-phone" aria-hidden="true" title="Phone"></i><span class="sr-only">Phone</span></dt>
			    <dd class="paired-values-list__value">+44 (0)1334 46 3401</dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-envelope" aria-hidden="true" title="Email"></i><span class="sr-only">Email</span></dt>
			    <dd class="paired-values-list__value"><a href="mailto:bioadmissions@st-andrews.ac.uk">bioadmissions@st-andrews.ac.uk</a></dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-map-marker-alt" aria-hidden="true" title="Address"></i><span class="sr-only">Address</span></dt>
			    <dd class="paired-values-list__value">School of Biology<br>
				University of St Andrews<br>
				Biomedical Sciences Research Complex<br>
				North Haugh<br>
				St Andrews<br>
				KY16 9ST</dd>
			</dl>
			<p><a href="https://www.st-andrews.ac.uk/biology/" class="btn btn-action-secondary">School of Biology website</a></p>
		</section>


		<section id="meet" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Meet us</h2>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/online-information-events/">Online information events</a></h3>
			<p>Join us for one of our information events where you can find out about different levels of study and specific courses we run. There are also sessions available for parents and college counsellors.</p>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/ug/">Undergraduate virtual days</a></h3>
			<p>We encourage all students who are thinking of applying to the University to attend one of our online visiting days.</p> 
 
		</section>

		<section id="discoveruni" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Discover Uni</h2>
			<p>Discover Uni provides official statistics about higher education courses taken from national surveys and data collected from universities and colleges about all their students. You can use this data to compare information for different degree programmes to help you make a decision about what and where to study.</p>
			<figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="USHFBIOSBIO" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
			<div class="accordion-item">
	<div class="accordion-item__toggle">
		<h3 class="accordion-item__toggle-title">
			<button class="accordion-item__toggle-button" aria-controls="">Joint degree data</button>
		</h3>
	</div>
	<div class="accordion-item__content" id="" aria-hidden="true">
		<ul><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOJECN/FullTime/">Biology and Economics</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOJGGY/FullTime/">
Biology and Geography</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOJGLG/FullTime/">
Biology and Geology</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOJMTH/FullTime/">
Biology and Mathematics</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOJPHI/FullTime/">
Biology and Philosophy</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOJBPS/FullTime/">
Biology and Psychology</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOJSTA/FullTime/">
Biology and Statistics</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOJSUD/FullTime/">
Biology and Sustainable Development</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOWARB/FullTime/">
Biology with Arabic</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOWFRN/FullTime/">
Biology with French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFPSYWBIO/FullTime/"> 
Psychology with Biology</a></li></ul>
</div></div>
<script>(function (d) {"use strict";var widgetScript = d.createElement("script");widgetScript.id = "unistats-widget-script";widgetScript.src = "//discoveruni.gov.uk/widget/embed-script";var scriptTags = d.getElementsByTagName("script")[0];if (d.getElementById("unistats-widget-script")) { return; }scriptTags.parentNode.insertBefore(widgetScript, scriptTags);} (document));</script>
		</section>

    </article>
  </div>
</div>
<!-- Prefooter -->
<aside class="sta-grey-light padding-top--half padding-bottom--half"> 
	<div class="sta-container sta-grid__main-aside">
	    <div class="sta-grid-item__main content no-margin-top">
	    	<h2>Legal notices</h2>
			<p>Admission to the University of St&nbsp;Andrews is governed by our:</p>

			<h3>Curriculum development</h3>
			<p>As a research intensive institution, the University ensures that its teaching references the research interests of its staff, which may change from time to time. As a result, programmes are regularly reviewed with the aim of enhancing students' learning experience.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/course-revision-protocol.pdf">Our approach to course revision is described online</a>&nbsp;<acronym>(PDF, 72 KB)</acronym>.</p>
			<h3>Tuition fees</h3>
			<p>The University will clarify compulsory fees and charges it requires any student to pay at the time of offer. The offer will also clarify conditions for any variation of fees.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/fee-setting-protocol.pdf">The University’s approach to fee setting is described online</a>&nbsp;<acronym>(PDF, 84 KB)</acronym>.</p>
		</div>
	</div>
</aside>
</main>

{{> footer examples-footer}}