---
title: Example course page
---

{{> text-banner examples-text-banner.course}}

{{> header}}

{{> category-header examples-content-course.category-header}}

{{> navigation-bar examples-content-course.navigation-bar}}

{{> breadcrumbs examples-content-course.breadcrumbs3}}

<main id="content-begin">

<!-- Key info area-->	
<div class="page-intro__wrapper no-margin-bottom">
	<div class="page-intro page-intro--has-media">
		<div class="page-intro__text">
			<h1 class="page-intro__heading">Management (MLitt) <small>2021 entry</small></h1>
			<p class="lead">Gain the analytical and management skills required for a professional position with managerial and leadership responsibilities. No previous experience in business or management is needed for this Masters course, and students who successfully complete the programme will receive accreditation from the Chartered Management Institute.</p>
			<div class="alert alert-info">
	        	<dl class="paired-values-list collapse-top font-scale-1 collapse-bottom" aria-label="Key information">
	          		<dt class="paired-values-list__name font-weight--bold">Course type</dt>
	          		<dd class="paired-values-list__value">Postgraduate</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Start date</dt>
	          		<dd class="paired-values-list__value">6 September 2021</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >End date</dt>
	          		<dd class="paired-values-list__value">30 September 2022</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Duration</dt>
	          		<dd class="paired-values-list__value">1 year</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Study mode</dt>
	          		<dd class="paired-values-list__value">Full time</dd>       
	        	</dl>
	        </div>
		</div>
		<div class="page-intro__media">
			<figure class="page-intro__media-wrapper"><img src="../assets/docs/images/placeholders/750x500.png" alt=""></figure>
		</div>
	</div>
</div>
<div id="nav-top" class="sticky-cta affix-top">
	<div class="sta-container">
		<a class="btn btn-action" href="https://portal.st-andrews.ac.uk/postgrad-application/index.php?m=course&dept=20SCMAN">Apply now</a><a class="btn btn-action-secondary" href="https://www.st-andrews.ac.uk/study/register/management/">Register your interest</a>
		<div class="sticky-cta__label"><span class="font-weight--bold">Management (MLitt)</span> 2021 entry</div>
    </div>
</div>
<!-- Main content area -->
<div class="section__anchor--sticky margin-bottom--half">
  <div class="sta-container sta-grid__main-aside">
    <aside class="sta-grid-item__aside">
    	<nav class="sta-contents sta-contents-aside sta-contents-aside--sticky" aria-labelledby="sta-contents-heading">
    		<h2 id="sta-contents-heading" class="sta-contents__heading">On this page</h2>
	    	<ul id="sta-contents-sticky">
	    		<li><a href="#overview">Overview</a></li>
	    		<li><a href="#entry-requirements">Entry requirements</a></li>
	    		<li><a href="#course-details">Course details</a></li>
	    		<li><a href="#fees">Fees</a></li>
	    		<li><a href="#after">After the MLitt</a></li>
	    		<li><a href="#how-to-apply">How to apply</a></li>
	    		<li><a href="#nextsteps">What to do next</a></li>
	    		<li><a href="#contact">Contact</a></li>
	    	</ul>
	    </nav>
    </aside>
    <article class="sta-grid-item__main content">
    	
    	<section id="overview" class="heading-section content-section section__anchor--sticky">
			<div class="callout callout--info">
				<h2 class="callout__heading">Application deadline</h2>
				<p>Wednesday 11 August 2021</p>
			</div>
			<p>The Management MLitt is specifically designed for students from a non-business discipline who have little or no work experience. The course provides a solid foundation in contemporary management methods and core business principles.</p>  
			<p>If you successfully complete the programme, you will receive accreditation from the <a href="https://www.st-andrews.ac.uk/dpl/1.27.0-alpha/examples/course.html">Chartered Management Institute</a>. Chartered managers are recognised as having exceptional management and leadership skills, and will demonstrate to employers you are qualified to the highest level.  </p>
			<figure class="blockquote">
		    <blockquote class="font-scale-1">
		        <p>&ldquo;I like how the lecturers allow us space to develop our own learning and study styles within the context of our core courses. It really taught me how to take the initiative, communicate with staff and enhance my academic writing. St Andrews is full of passionate and friendly students and provides a melting pot of international perspectives in both academic and everyday life.&rdquo;</p>
		    </blockquote>
		    <figcaption class="blockquote__author">
		        <div class="blockquote__author-thumbnail">
		            <img src="../assets/docs/images/profile-pictures/female-002-medium.jpg" alt="Lauren">
		        </div>
		        <div><strong>Lauren</strong> <br>- Georgia, USA</div>
		    </figcaption>
		</figure>
		</section>
		<section id="entry-requirements" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Entry requirements</h2>
			<p><strong>A good 2.1 undergraduate Honours degree in a subject other than business or management</strong> from the UK or the equivalent international qualification.</p>
			<p>Students with a background in business or management are advised to consider these alternate programmes:</p>
			<ul> 
				<li><a href="https://www.st-andrews.ac.uk/subjects/management/international-business-mlitt/">International Business (MLitt)</a></li>
				<li><a href="https://www.st-andrews.ac.uk/subjects/management/marketing-mlitt/">Marketing (MLitt)</a></li>
				<li><a href="https://www.st-andrews.ac.uk/subjects/management/human-resource-management-mlitt/">Human Resource Management (MLitt)</a>.</li>
			</ul> 
			<p>If you studied your first degree outside the UK, see the <a href="https://www.st-andrews.ac.uk/subjects/entry/">international entry requirements</a>.</p>
			<p>The qualifications listed are indicative minimum requirements for entry. Some academic Schools will ask applicants to achieve significantly higher marks than the minimum. Obtaining the listed entry requirements will not guarantee you a place, as the University considers all aspects of every application including, where applicable, the writing sample, personal statement, and supporting documents.</p> 
		</section>

<section id="course-details" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Course details</h2>


			<h3 id="modules">Modules</h3>
			<div class="tabs-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active in" role="presentation"><a aria-selected="true" href="#tab-1" data-toggle="tab" aria-controls="tab-1" role="tab">Compulsory</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-2" data-toggle="tab" aria-controls="tab-2" role="tab">Optional</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-3" data-toggle="tab" aria-controls="tab-3" role="tab">Dissertation</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-1" role="tabpanel">
                        <!-- Begin pattern: search results //-->
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Strategic Management</h4>
						        </a>
						        <p class="search-result__summary">Develops students' knowledge and understanding of the strategy process and develops an appreciation of organisational responses to the rapidly changing global economy.</p>
						    </li>
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Marketing</h4>
						        </a>
						        <p class="search-result__summary">Principles and Practice: offers a critical review of current theory and practice and looks at how marketing is evolving in light of changes to the business context, particularly from a managerial perspective.</p>
						    </li>
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading"> Managing Human Resources</h4>
						        </a>
						        <p class="search-result__summary">Reviews the key theoretical and practical aspects involved in managing human resources.</p>
						    </li>
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Corporate Finance and Accounting</h4>
						        </a>
						        <p class="search-result__summary">Introduces students to the basic principles and practices of accounting and corporate finance.</p>
						    </li>
						</ul>
						<!-- End pattern: search results //-->
                    </div>
                    <div class="tab-pane fade " id="tab-2" role="tabpanel">
                        <p>Students choose two optional modules, taking one in each semester.&nbsp;For the latest optional module information, see the <a href="https://portal.st-andrews.ac.uk/catalogue/">module catalogue</a>.</p>
						<p>Here is a sample of optional modules that may be offered.</p>
						<ul>
						<li>Alternative Investment</li>
						<li>Behavioural Finance</li>
						<li>Creative Marketing Communications</li>
						<li>Entrepreneurship and Business&nbsp;Development</li>
						<li>Entrepreneurship, Innovation and Creativity</li>
						<li>Ethics, Organisations and Management</li>
						<li>Financial Systems</li>
						<li>International Financial Management</li>
						<li>International Marketing</li>
						<li>Leadership in Organisations</li>
						<li>Managerial Decision-making</li>
						<li>Managing Natural Resources</li>
						<li>Managing People in Global Markets</li>
						<li>Marketing and Society</li>
						<li>Managing Non-Governmental Organisations</li>
						<li>Risk Management</li>
						<li>Scenario Thinking and Strategy.</li>
						</ul>
						<p>Optional modules are subject to change each year and require a minimum number of participants to be offered; some may only allow limited numbers of students.</p>
                    </div>
                    <div class="tab-pane fade " id="tab-3" role="tabpanel">
                        <p>Students attend lectures throughout Semesters 1 and 2 to prepare them for conducting the research portion of the dissertation. The dissertation is normally on a specific area of Management, however at the School of Management, you will have the freedom to develop a topic of your own, which is of interest to you and will contribute towards career development or further study goals.</p>
						<p>Students are assigned a supervisor based on a research proposal submitted in the second semester. They will then research and write a 15,000-word dissertation over the summer to be submitted on a date specified in August.</p>
						<p>If students choose not to complete the dissertation requirement for their Masters degree (MLitt), there are exit awards available that allow suitably qualified candidates to receive a Postgraduate Diploma. By choosing an exit award, you will receive a PGDip instead of a MLitt.</p>
                    </div>
                </div>
            </div>


			
			<h3 id="format">Teaching format</h3>
			<p>The course includes two semesters of teaching followed by a written dissertation you will complete over the summer.</p>  
			<p>Typically, each module consists of three to five contact hours per week, including:</p> 
			<ul>
				<li>lectures</li> 
				<li>small group tutorials</li>  
				<li>workshops</li>  
				<li>seminars.</li> 
			</ul> 
			<p>The average lecture class size is around 30 students. Larger lectures can go up to 100 students, but are normally supplemented by small group tutorials. Seminar class sizes are usually between 15 and 18 students.</p>  

			<h3 id="coursework-grades">Coursework and grades</h3>
			<p>Assessment for each module is either entirely by coursework, or through a combination of coursework and a two-hour examination and the end of the semester. Coursework may include:</p>
			<ul>
				<li>group presentations or reports</li> 
				<li>case analyses or case studies</li> 
				<li>essays</li> 
				<li>quizzes.</li> 
			</ul>

			<h3 id="study-abroad">Extracurricular learning opportunities</h3>
			<p>The School of Management hosts events and guest lectures throughout the year, providing students with opportunities to socialise and engage with visiting scholars, professionals and practitioners.</p> 
			<p>In addition, the School offers a professional development programme called Masters Extra (MX). This programme includes talks, workshops, networking opportunities, activities and guest lectures from leading academics and experienced managers. </p>

		</section>

		
		<section id="fees" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Fees</h2>
			<dl class="paired-values-list paired-values-list--divided font-scale-1 collapse-top" aria-label="Tuition fees by fee status">
			    <dt class="paired-values-list__name font-weight--bold">Home-funded</dt>
			    <dd class="paired-values-list__value">&pound;11,990</dd>
			    <dt class="paired-values-list__name font-weight--bold">Overseas</dt>
			    <dd class="paired-values-list__value">&pound;24,240</dd>
			</dl>
			<p>More information on tuition fees can be found on the <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/postgraduate/">postgraduate fees and funding</a> page.</p>
			<h3>Additional costs</h3> 
			<p>You may incur additional costs during your education at the University over and above tuition fees in an academic year. See an <a href="#">estimated cost of attendance</a>.</p> 
			<h3>Funding and scholarships</h3> 
			<p>The University of St Andrews offers a number of <a href="#">scholarships</a>, and you may be eligible for a <a href="#">postgraduate loan</a>.</p>  
			<h4><a href="#">Jane M Klausman Women in Business Scholarship</a></h4> 
			<p>For women pursuing a business or business-related degree.</p>
			<h4><a href="#">Recent graduate discount</a></h4> 
			<p>The University of St Andrews offers a 10% discount in postgraduate tuition fees to students who are eligible to graduate or who have graduated from St Andrews within the last three academic years and are starting a postgraduate programme with the University of St Andrews.</p>
			<p><a href="https://www.st-andrews.ac.uk/study/fees-and-funding/postgraduate/scholarships/taught-scholarships/" class="btn btn-action-secondary">All taught postgraduate scholarships</a></p>
		</section>
		<section id="after" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">After the MLitt</h2>
			<h3>Careers</h3>
			<p>Alumni from Masters programmes in the School of Management have secured employment in:</p>
			<ul>
				<li>general management</li> 
				<li>marketing and bank management</li> 
				<li>accountancy</li> 
				<li>investment analysis</li> 
				<li>fund administration</li> 
				<li>financial services.</li>
			</ul>
			<p>The University has a dedicated <a href="#">Careers Centre</a> which can provide advice and support throughout your degree and beyond to help you build your employability skills.</p>


			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Graduate destination', 'Percentage'],
          ['Employed',     96],
          ['Other',      4]
        ]);

        var options = {
          chartArea:{left:0,top:0,width:'100%',height:'100%'},
          pieHole: 0.4,
          legend: 'none',
          pieSliceText: 'none',
          fontName: 'pt sans',
          enableInteractivity: false
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


			<figure style="display:flex;align-items:center;">
				<div id="chart_div" style="height:200px;width:200px;margin-bottom:1em;margin-right:2em;"></div>
				<p><span class="font-scale-5 font-weight--bold">96%</span><br><span class="font-scale-1 font-weight--bold">of graduates in full time employment.</span></p>
			</figure>
			<p><a href="#" class="btn btn-action-secondary">Graduate destinations</a></p>
			<hr>
			<h3>Further study</h3>
			<p>If you are looking to take your studies further upon completing your degree, the School of Management also offers <a href="https://www.st-andrews.ac.uk/management/prospective/pgr/">PhD and MRes research degrees in management</a>.</p>
		</section>

		<section id="how-to-apply" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">How to apply</h2>
	        	<p class="lead"><strong>Application deadline:</strong> Wednesday 11 August 2021</p>
			<p>Admission to this programme will close once the programme is full. Applicants should apply as early as possible to be eligible for certain scholarships and for international visa purposes, and to ensure their application is submitted before the programme is full.</p> 
			<p>To apply, you must provide the following:</p> 
			<ul>
				<li>CV</li> 
				<li>personal statement explaining why you have chosen the programme, why this subject is important to you and why you have applied to study at the University of St Andrews in particular (500 words)</li> 
				<li>one original signed academic reference</li> 
				<li>academic transcripts and degree certificates</li> 
				<li><a href="#">evidence of English language proficiency</a> (required if English is not your first language).</li> 
			</ul>
			<p>A sample of academic writing is not required for this programme.</p> 
			<p>For more guidance, see <a href="#">supporting documents and references</a> for postgraduate taught programmes.</p> 
		</section>
		
		<section id="nextsteps" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">What to do next</h2>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/online-information-events/">Online information events</a></h3>
			<p>Join us for one of our information events where you can find out about different levels of study and specific courses we run. There are also sessions available for parents and college counsellors.</p>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/online-information-events/management-masters/">Postgraduate virtual events</a></h3>
			<p>Join us to talk about our Management Masters programmes at one of our upcoming virtual sessions.</p> 
 
		</section>
		
		<section id="contact" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Contact us</h2>
			<dl class="paired-values-list paired-values-list--divided collapse-top">
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-phone" aria-hidden="true" title="Phone"></i><span class="sr-only">Phone</span></dt>
			    <dd class="paired-values-list__value">+44 (0)1334 46 2200</dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-envelope" aria-hidden="true" title="Email"></i><span class="sr-only">Email</span></dt>
			    <dd class="paired-values-list__value"><a href="mailto:pgmanagement@st-andrews.ac.uk">pgmanagement@st-andrews.ac.uk</a></dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-map-marker-alt" aria-hidden="true" title="Address"></i><span class="sr-only">Address</span></dt>
			    <dd class="paired-values-list__value">School of Management
				University of St Andrews<br>
				The Gateway<br>
				North Haugh<br>
				St Andrews<br>
				KY16 9RJ</dd>
			</dl>
			<p><a href="#" class="btn btn-action-secondary">School of Management website</a></p>
		</section>
		

    </article>
  </div>
</div>
<!-- Prefooter -->
<aside class="sta-grey-light padding-top--half padding-bottom--half"> 
	<div class="sta-container sta-grid__main-aside">
	    <div class="sta-grid-item__main content no-margin-top">
	    	<h2>Legal notices</h2>
			<p>Admission to the University of St&nbsp;Andrews is governed by our:</p>

			<h3>Curriculum development</h3>
			<p>As a research intensive institution, the University ensures that its teaching references the research interests of its staff, which may change from time to time. As a result, programmes are regularly reviewed with the aim of enhancing students' learning experience.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/course-revision-protocol.pdf">Our approach to course revision is described online</a>&nbsp;<acronym>(PDF, 72 KB)</acronym>.</p>
			<h3>Tuition fees</h3>
			<p>The University will clarify compulsory fees and charges it requires any student to pay at the time of offer. The offer will also clarify conditions for any variation of fees.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/fee-setting-protocol.pdf">The University’s approach to fee setting is described online</a>&nbsp;<acronym>(PDF, 84 KB)</acronym>.</p>
		</div>
	</div>
</aside>
</main>

{{> footer examples-footer}}