---
title: Example course page
---

{{> text-banner examples-text-banner.course}}

{{> header}}

{{> category-header examples-content-course.category-header}}

{{> navigation-bar examples-content-course.navigation-bar}}

{{> breadcrumbs examples-content-course.breadcrumbs2}}

<main id="content-begin">

<!-- Key info area-->	
<div class="page-intro__wrapper no-margin-bottom">
	<div class="page-intro page-intro--has-media">
		<div class="page-intro__text">
			<h1 class="page-intro__heading">Gateway to Arts <small>2021 entry</small></h1>
			<p class="lead">The gateway programme is for applicants who have narrowly missed our minimum entry grades but meet our contextual criteria. Our flexible degree structure allows students to benefit from a supported transition programme into the University of St Andrews, before progressing into the third year of a degree programme offered in the <a href="https://www.st-andrews.ac.uk/subjects/study-options/faculties/arts/">Faculty of Arts</a>.</p>
			<div class="alert alert-info">
	        	<dl class="paired-values-list collapse-top font-scale-1 collapse-bottom" aria-label="Key information">
	          		<dt class="paired-values-list__name font-weight--bold">UCAS code</dt>
	          		<dd class="paired-values-list__value">Y003</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Start date</dt>
	          		<dd class="paired-values-list__value">6 September 2021</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Duration</dt>
	          		<dd class="paired-values-list__value">2 years</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Study mode</dt>
	          		<dd class="paired-values-list__value">Full time</dd>       
	        	</dl>
	        </div>
		</div>
		<div class="page-intro__media">
			<figure class="page-intro__media-wrapper"><img src="../assets/docs/images/placeholders/750x500.png" alt=""></figure>
		</div>
	</div>
</div>
<div id="nav-top" class="sticky-cta affix-top">
	<div class="sta-container">
		<a class="btn btn-action" href="/study/register/">Register your interest</a><a class="btn btn-action-secondary" href="/study/apply/ug/">How to apply</a>
		<div class="sticky-cta__label"><span class="font-weight--bold">Gateway to Arts</span> 2021 entry</div>
    </div>
</div>
<!-- Main content area -->
<div class="section__anchor--sticky margin-bottom--half">
  <div class="sta-container sta-grid__main-aside">
    <aside class="sta-grid-item__aside">
    	<nav class="sta-contents sta-contents-aside sta-contents-aside--sticky" aria-labelledby="sta-contents-heading">
    		<h2 id="sta-contents-heading" class="sta-contents__heading">On this page</h2>
	    	<ul id="sta-contents-sticky">
	    		<li><a href="#overview">Overview</a></li>
	    		<li><a href="#entry-requirements">Entry requirements</a></li>
	    		<li><a href="#fees">Fees</a></li>
	    		<li><a href="#alternate-routes">Alternate routes</a></li>
	    		<li><a href="#contact">Contact</a></li>
	    		<li><a href="#nextsteps">What to do next</a></li>
	    	</ul>
	    </nav>
    </aside>
    <article class="sta-grid-item__main content">
    	
    	<section id="overview" class="heading-section content-section section__anchor--sticky">
			<p>You will enter the gateway programme with a specific Honours degree route in mind, and you will take modules relevant for that programme.</p>  

			<p>During the gateway programme, you will be highly supported to prepare you to progress to degree-level study. You will have a designated Adviser of Studies who will provide support and guidance on all academic matters. You will also have a single point of contact with the University’s Admissions team who will be able to signpost and provide guidance on where and when to seek help should the need arise.</p> 

			<p>During the programme, you will take the standard compulsory sub-honours modules for the degree you intend to complete, as well as additional subjects from the full range of modules offered in the Faculty of Arts. See module information, teaching format and assessment for different Honours degrees on the <a href="https://www.st-andrews.ac.uk/subjects/">course pages</a>.</p> 

			<p>You will also be required to attend a peer-led tutorial each week in your main degree subjects.</p>  

			<p>At the end of the second year, if you have met all the academic requirements for your chosen Honours route, you will progress to junior Honours (typically the third year of a four-year Honours course). If you do not meet the requirements, you may be able to progress to a <a href="https://www.st-andrews.ac.uk/subjects/">General degree route</a>.</p>
		</section>
		<section id="entry-requirements" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Entry requirements</h2>
			<p>Typical entry requirements for the gateway programme are:</p>
			<h3>SQA Highers</h3>
    	<dl class="paired-values-list paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">BBBB<div class="font-scale-reset">Minimum grades at Highers can be taken over more than one sitting.</div></dd>
	        	</dl>
	        	<h3>Eligibility</h3> 

				<p>You must also meet at least two of the following contextual criteria:</p> 

				<ul><li>live in Scotland in an area of deprivation as defined by the Scottish Government as SIMD20</li> 

				<li>attend a low progression school</li>  

				<li>are care experienced (as defined by the local authority)</li>  

				<li>were a registered young carer.</li> 
				</ul> 

				<p>Offers are made based on individual applications, and we take into consideration contextual admissions information as well as academic performance.</p> 

				<p>Applicants under serious consideration for this route will be required to attend an interview with a member of the Admissions team and a member of academic staff to discuss their application in more detail.</p> 


		</section>
		
		<section id="fees" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Fees</h2>
			<dl class="paired-values-list paired-values-list--divided font-scale-1 collapse-top" aria-label="Tuition fees by fee status">
			    <dt class="paired-values-list__name font-weight--bold">Home-funded</dt>
			    <dd class="paired-values-list__value">Home-funded fees have yet to be set for 2021 entry.</dd>
			</dl>
			<p>More information on tuition fees can be found on the <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/">undergraduate fees and funding</a> page.</p>
			<h3>Additional costs</h3>
			<p>You may incur additional costs in the course of your education at the University over and above tuition fees in an academic year. See an estimated cost of attendance.</p>
			<h3>Funding and scholarships</h3>
<p>The University of St&nbsp;Andrews offers a number of <a href="/study/fees-and-funding/undergraduate/scholarships/">scholarships</a> and <a href="/study/fees-and-funding/undergraduate/financial-assistance/">support packages</a> to undergraduate students each year.</p>
		</section>
		
		<section id="alternate-routes" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Alternate routes</h2>
			<h3>FE-HE Pathway to Arts</h3> 

			<p>FE-HE pathways are for those who are studying alternative qualifications at further education colleges across Scotland and meet our contextual criteria.</p>  

			<p><a href="https://www.st-andrews.ac.uk/subjects/fe-he-arts/" class="btn btn-action-secondary">FE-HE Pathway to Arts</a></p> 

			<h3>Other gateway programmes</h3> 

			<p>We also offer gateway programmes for those interested in progressing to a degree offered by our Faculty of Science or our Faculty of Medicine.</p>  

			<p><a href="https://www.st-andrews.ac.uk/subjects/gateway-to-science/" class="btn btn-action-secondary">Gateway to Science</a></p> 

			<p><a href="https://www.st-andrews.ac.uk/subjects/medicine/gateway-to-medicine/" class="btn btn-action-secondary">Gateway to Medicine</a></p>
		</section>
		
		<section id="contact" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Contact us</h2>
			<h3>Access and Widening Participation Team</h3>
			<dl class="paired-values-list paired-values-list--divided collapse-top">
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-phone" aria-hidden="true" title="Phone"></i><span class="sr-only">Phone</span></dt>
			    <dd class="paired-values-list__value">+44 (0)1334 46 2346</dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-envelope" aria-hidden="true" title="Email"></i><span class="sr-only">Email</span></dt>
			    <dd class="paired-values-list__value"><a href="mailto:classics@st-andrews.ac.uk">gatewayto@st-andrews.ac.uk </a></dd>
			</dl>
		</section>
		
		<section id="nextsteps" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">What to do next</h2>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/online-information-events/">Online information events</a></h3>
			<p>Join us for one of our information events where you can find out about different levels of study and specific courses we run. There are also sessions available for parents and college counsellors.</p>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/ug/">Undergraduate virtual days</a></h3>
			<p>We encourage all students who are thinking of applying to the University to attend one of our online visiting days.</p> 
 
		</section>
		

    </article>
  </div>
</div>
<!-- Prefooter -->
<aside class="sta-grey-light padding-top--half padding-bottom--half"> 
	<div class="sta-container sta-grid__main-aside">
	    <div class="sta-grid-item__main content no-margin-top">
	    	<h2>Legal notices</h2>
			<p>Admission to the University of St&nbsp;Andrews is governed by our:</p>

			<h3>Curriculum development</h3>
			<p>As a research intensive institution, the University ensures that its teaching references the research interests of its staff, which may change from time to time. As a result, programmes are regularly reviewed with the aim of enhancing students' learning experience.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/course-revision-protocol.pdf">Our approach to course revision is described online</a>&nbsp;<acronym>(PDF, 72 KB)</acronym>.</p>
			<h3>Tuition fees</h3>
			<p>The University will clarify compulsory fees and charges it requires any student to pay at the time of offer. The offer will also clarify conditions for any variation of fees.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/fee-setting-protocol.pdf">The University’s approach to fee setting is described online</a>&nbsp;<acronym>(PDF, 84 KB)</acronym>.</p>
		</div>
	</div>
</aside>
</main>

{{> footer examples-footer}}