---
title: Example course page
---

{{> text-banner examples-text-banner.course}}

{{> header}}

{{> category-header examples-content-course.category-header}}

{{> navigation-bar examples-content-course.navigation-bar}}

{{> breadcrumbs examples-content-course.breadcrumbs4}}

<main id="content-begin">

<!-- Key info area-->	
<div class="page-intro__wrapper no-margin-bottom">
	<div class="page-intro page-intro--has-media">
		<div class="page-intro__text">
			<h1 class="page-intro__heading">French MA (Hons) <small>2021 entry</small></h1>
			<p class="lead">Build your language and communication skills to a high level of expertise, and immerse yourself in the culture, society, history and politics of France and the Francophone world. You can take modules in research-led specialist topics that interest you. St Andrews also offers many opportunities to study or work abroad.</p>
			<div class="alert alert-info">
	        	<dl class="paired-values-list collapse-top font-scale-1 collapse-bottom" aria-label="Key information">
	          		<dt class="paired-values-list__name font-weight--bold">UCAS code</dt>
	          		<dd class="paired-values-list__value">R120</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Start date</dt>
	          		<dd class="paired-values-list__value">6 September 2021</dd>
	          		<dt class="paired-values-list__name font-weight--bold">End date</dt>
	          		<dd class="paired-values-list__value">30 June 2025</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Duration</dt>
	          		<dd class="paired-values-list__value">4 years</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Study mode</dt>
	          		<dd class="paired-values-list__value">Full time</dd>       
	        	</dl>
	        </div>
		</div>
		<div class="page-intro__media">
			<figure class="page-intro__media-wrapper"><img src="../assets/docs/images/placeholders/750x500.png" alt=""></figure>
		</div>
	</div>
</div>
<div id="nav-top" class="sticky-cta affix-top">
	<div class="sta-container">
		<a class="btn btn-action" href="/study/register/">Register your interest</a><a class="btn btn-action-secondary" href="/study/apply/ug/">How to apply</a>
		<div class="sticky-cta__label"><span class="font-weight--bold">French MA (Hons)</span> 2021 entry</div>
    </div>
</div>
<!-- Main content area -->
<div class="section__anchor--sticky margin-bottom--half">
  <div class="sta-container sta-grid__main-aside">
    <aside class="sta-grid-item__aside">
    	<nav class="sta-contents sta-contents-aside sta-contents-aside--sticky" aria-labelledby="sta-contents-heading">
    		<h2 id="sta-contents-heading" class="sta-contents__heading">On this page</h2>
	    	<ul id="sta-contents-sticky">
	    		<li><a href="#overview">Overview</a></li>
	    		<li><a href="#entry-requirements">Entry requirements</a></li>
	    		<li><a href="#course-details">Course details</a></li>
	    		<li><a href="#fees">Fees</a></li>
	    		<li><a href="#joint-honours">Joint Honours degrees</a></li>
	    		<li><a href="#alternate-routes">Alternate routes</a></li>
	    		<li><a href="#careers">Careers</a></li>
	    		<li><a href="#contact">Contact</a></li>
	    		<li><a href="#nextsteps">What to do next</a></li>
	    		<li><a href="#discoveruni">Discover Uni</a></li>
	    	</ul>
	    </nav>
    </aside>
    <article class="sta-grid-item__main content">
    	
    	<section id="overview" class="heading-section content-section section__anchor--sticky">
			<p>In the first two years of this course, you will build on your existing skills in French and be offered a broad view of language, literature, society and culture. You will further develop skills of close reading, listening, speaking, writing and translation.</p> 
			<p>In your third and fourth years (Honours level), you will take modules focused on communication and transferrable skills, while developing your understanding of ideas and debates which shape modern France and the Francophone world. You will be able to choose to specialise in a number of areas such as:</p>
			<ul> 
			<li>literature and culture from the Middle Ages to the present day</li> 
			<li>French politics and culture</li> 
			<li>performance studies</li> 
			<li>intellectual history</li> 
			<li>postcolonial literature and theory</li> 
			<li>gender theory</li> 
			<li>film adaptation</li>
			<li>modern French thought</li> 
			<li>creative writing</li> 
			<li>translation studies.</li> 
			</ul>
			<p>By the end of your course, you will have a high level of competence in language skills and a highly developed appreciation for other cultures and peoples.</p>
			<figure class="blockquote">
		    <blockquote class="font-scale-1">
		        <p>&ldquo;My teachers are so kind and knowledgeable – it's great to be taught by people who are so enthusiastic about their subject. The best part of my degree has been my year abroad in Perpignan where I made fantastic friends, ate lots of pastries, and put my learning into practice. St Andrews has sparked my love of languages, and given me so many wonderful opportunities – merci beaucoup!&rdquo;</p>
		    </blockquote>
		    <figcaption class="blockquote__author">
		        <div><strong>Talia</strong> <br>- Inverness-shire, Scotland</div>
		    </figcaption>
		</figure>
		</section>
		<section id="entry-requirements" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Entry requirements</h2>
			<p>The grades below are the overall standards required to consider you for entry.</p> 
			<p><span class="font-weight--bold">For applicants in the UK</span>, there are three categories of entry requirements: Standard, Minimum and Gateway. The category you should look at depends on your contextual data. If you are unsure which category you fall under, please use our <a href="https://www.st-andrews.ac.uk/subjects/entry/indicator">academic entry qualification indicator</a> and see <a href="https://www.st-andrews.ac.uk/subjects/entry/academic-entry-explained/">academic entry explained</a> for more information.</p>
			<!-- Begin pattern: accordion //-->
<ul class="accordion-group">
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">SQA Highers</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">AAAB <div class="font-scale-reset">including A in French.</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">AABB <div class="font-scale-reset">including A in French.</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold">Gateway entry grades</dt>
	          		<dd class="paired-values-list__value">BBBB</dd>
	        	</dl>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">GCE A-Levels</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">AAB <div class="font-scale-reset">including A in French.</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">ABB <div class="font-scale-reset">including A in French.</div></dd>
	        	</dl>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">IB points</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list  paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">36 (HL 6,6,5) <div class="font-scale-reset">including HL6 in French.</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">36 (HL 6,5,5) <div class="font-scale-reset">including HL6 in French.</div></dd>
	        	</dl>
	</div>
</li>
</ul>
<!-- End pattern: accordion //-->

<h3>General entry requirements</h3>
<p>In addition to meeting the specific entry requirements for this course, you will also need to meet the University’s general entry requirements.</p> 
		<!-- Begin pattern: accordion //-->
<ul class="accordion-group">
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h4 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">SQA qualifications</button>
        </h4>
    </div>
    <div class="accordion-item__content">
<p>SQA National 5 (B) in English and one SQA National 5 (B) from the following:</p>
<ul>
	<li>Biology</li>
	<li>Chemistry</li>
	<li>Computing science</li>
	<li>Geography</li>
	<li>Lifeskills Mathematics (A grade)</li>
	<li>Mathematics</li>
	<li>Physics</li>
	<li>Psychology.</li>
</ul>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h4 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">GCSE qualifications</button>
        </h4>
    </div>
    <div class="accordion-item__content">
<p>GCSE (5) in English language or English literature, and one GCSE (5) from the following:</p>
<ul>
	<li>Biology</li>
	<li>Chemistry</li>
	<li>Computing Science</li>
	<li>Geography</li>
	<li>Mathematics</li>
	<li>Physics</li>
	<li>Psychology.</li>
</ul>
	</div>
</li>
</ul>
<!-- End pattern: accordion //-->
<h3>International applicants</h3>
<p>The University accepts a wide range of qualifications. If you do not have an SQA Higher, GCE A-Level or International Baccalaureate, please see <a href="https://www.st-andrews.ac.uk/subjects/entry/">entry requirements by country</a>.</p>
<p>If English is not your first language, you will need to provide evidence your English language ability. Find out more about <a href="https://www.st-andrews.ac.uk/subjects/entry/language-requirements/undergraduate/">English language requirements</a>.</p>
		</section>
		<section id="course-details" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Course details</h2>


			<h3 id="modules">Modules</h3>
			<div class="tabs-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active in" role="presentation"><a aria-selected="true" href="#tab-1" data-toggle="tab" aria-controls="tab-1" role="tab">First year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-2" data-toggle="tab" aria-controls="tab-2" role="tab">Second year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-3" data-toggle="tab" aria-controls="tab-3" role="tab">Honours</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-1" role="tabpanel">
                        <p>In your first year, you must take the following two modules:</p>
                        <!-- Begin pattern: search results //-->
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">French Language and Literature 1</h4>
						        </a>
						        <p class="search-result__summary">Develops language skills and offers a grounding in the literary and cultural tradition in France.</p>
						    </li>
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">French Language and Literature 2</h4>
						        </a>
						        <p class="search-result__summary">Promotes grammatical competence as well as written and spoken comprehension and production, whilst further pursuing the exploration of Francophone cultures. You will be taught how to read texts in their socio-cultural background and develop skills of literary criticism in French.</p>
						    </li>
						</ul>
						<!-- End pattern: search results //-->
                    </div>
                    <div class="tab-pane fade " id="tab-2" role="tabpanel">
                        <p>Second year students must take the following two modules:</p>
                        <!-- Begin pattern: search results //-->
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Second Level French Language 1</h4>
						        </a>
						        <p class="search-result__summary">Consolidates and extends the analytical and linguistics skill acquired at first level.</p>
						    </li>
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Second Level French Language 2</h4>
						        </a>
						        <p class="search-result__summary">Develops skills in spoken, aural and written French for a variety of academic and communication purposes and in different cultural contexts.</p>
						    </li>
						</ul>
						<!-- End pattern: search results //-->
						<p>You will also choose at least two modules on French literature or civilisation from the Middle Ages to the present. </p>
						
                    </div>
                    <div class="tab-pane fade " id="tab-3" role="tabpanel">
                        <p>If you take French in your third and fourth years, you will choose from a variety of advanced options which incorporate literary, historical and cultural studies into language learning. Modules at Honours level offered in previous years have included (but are not limited to):</p>
                        <ul> 
						<li>African Francophone Fiction</li> 
						<li>An Introduction to the French Classical Period</li> 
						<li>Contemporary French Crime Fiction</li> 
						<li>Creative Writing in French</li> 
						<li>De Gaulle and Since: Topics in the Politics, Culture and Society of the Fifth Republic (1)</li> 
						<li>Diversifying C19th French Poetry</li> 
						<li>From Text to Screen: Novels and Their Film Adaptations</li> 
						<li>Goods and Ads: Consumerism in Modern France</li> 
						<li>Libertine Literature and Libertinage in Eighteenth-Century France</li> 
						<li>Nineteenth-century French Narratives of the Sea</li> 
						<li>Politics, Propaganda and Mythmaking in Medieval France</li> 
						<li>Saint-Domingue: Theatre and Society in a Caribbean Slave Colony</li> 
						<li>Translating French Opera</li> 
						<li>Translation Methodology</li> 
						<li>Women’s Voices in Renaissance France.</li> 
						</ul>
						<p>In their fourth year, students also have the option of undertaking a dissertation of 5,000 or 10,000 words on a topic of their choice, supervised by a specialist member of staff. This independent project helps you develop key research skills which are desired by both prospective employers and by graduate schools offering postgraduate degrees.</p> 
                    </div>
                </div>
            </div>


			
			<h3 id="format">Teaching format</h3>
			<p>In your first two years (known as sub-honours), you will be taught through:</p>
			<ul>
				<li>Lectures – these larger classes provide information, stimulate thought, and suggest directions for further reading and personal study. Typical lecture sizes are between 90 to 120 students in first year and 50 to 70 students in second year.</li> 
				<li>Tutorials – these smaller classes allow you to actively work together with your tutors and your peers to practice language skills, present papers, and discuss texts and issues relevant to the course. Typical tutorial sizes are between 10 to 15 students in both first and second year.</li> 
				<li>Practical language classes.</li>  
			</ul>
 			<p>In your third and fourth year (known as Honours), all your modules will be taught through small seminars of 5 to 15 students.</p>  
 			<p>Outside of class, you will be expected to undertake independent work and study. This may involve, for example:</p> 
			<ul>
				<li>working on individual and group projects</li> 
				<li>undertaking research in the library</li> 
				<li>preparing coursework assignments and presentations</li> 
				<li>preparing for examinations.</li> 
			</ul>
			<h3 id="coursework-grades">Coursework and grades</h3>
			<p>For many of your French modules, your grades will be split between coursework (40%) and examinations (60%). Some Honours modules are assessed entirely by coursework and do not include an end-of semester exam.  </p>
			<p>Coursework can include:</p>
			<ul>
				<li>advanced language exercises and essays</li> 
				<li>listening activities</li> 
				<li>creative pieces</li> 
				<li>commentaries</li> 
				<li>translations</li> 
				<li>reflective pieces</li> 
				<li>learning diaries</li> 
				<li>blogs</li> 
				<li>videos</li> 
				<li>podcasts</li> 
				<li>oral presentations</li> 
				<li>debates</li> 
				<li>round tables.</li>
			</ul>
			<p>Students are encouraged to develop their independent research skills but also to work in groups as required.</p> 
			<p>Your tutors will advise you closely on how to prepare written and oral work. The Department of French aims to provide feedback on every assessment within three weeks to help you improve for future assessments.</p> 
			<p>Examinations are held at the end of each semester during a dedicated exam period. Examinations are either entirely in written format or comprise both written and oral components. There is a dedicated revision week before examples which provides you time to prepare. with revision time provided beforehand.</p>

			<h3 id="study-abroad">Study abroad</h3>
			<p>Students taking French may apply to participate in the University-wide St Andrews Abroad programme or in the School Abroad exchange programme. For information about study abroad options, please see the <a href="#">study abroad</a> site.</p>
			<p>St Andrews also offers the opportunity to add an extra year to your programme working abroad. Find out more about <a href="#">taking French with an integrated year abroad</a>.  

			<h3 id="other-subjects">Taking other subjects</h3>
			<p>In addition to French, you will be required to study an additional two subjects in your first year. This allows you to explore other courses of interest. In your second year, you will usually carry on at least one of these subjects. Find out more about the <a href="/subjects/study-options/ug/degree-routes/honours/">Honours degree structure</a>.</p>
			<p>You can also take French as part of a joint Honours degree in which you will take core modules in two or three subjects. See <a href="#joint-honours">more information on joint options</a> below.</p>

		</section>
		<section id="fees" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Fees</h2>
			<dl class="paired-values-list paired-values-list--divided font-scale-1 collapse-top" aria-label="Tuition fees by fee status">
			    <dt class="paired-values-list__name font-weight--bold">Home-funded</dt>
			    <dd class="paired-values-list__value">&pound;1,820</dd>
			    <dt class="paired-values-list__name font-weight--bold">Rest of the UK</dt>
			    <dd class="paired-values-list__value">&pound;9,250</dd>
			    <dt class="paired-values-list__name font-weight--bold">EU and overseas</dt>
			    <dd class="paired-values-list__value">&pound;25,100</dd>
			</dl>
			<p>More information on tuition fees can be found on the <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/">undergraduate fees and funding</a> page.</p>
			<h3>Additional costs</h3>
			<p>You may incur additional costs in the course of your education at the University over and above tuition fees in an academic year. See an <a href="#">estimated cost of attendance</a>.</p>
			<h3>Funding and scholarships</h3>
<p>The University of St&nbsp;Andrews offers a number of <a href="/study/fees-and-funding/undergraduate/scholarships/">scholarships</a> and <a href="/study/fees-and-funding/undergraduate/financial-assistance/">support packages</a> to undergraduate students each year.</p>
		</section>
		<section id="joint-honours" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Joint Honours degrees</h2>
			<p>You can also take French as part of a <a href="">joint Honours degree</a> in which you will take core modules of your chosen subjects.</p>

			    	<table class="dataTable table table-primary dpl-form" role="grid">
					    <thead>
					        <tr role="row">
					            <th class="sorting_asc" tabindex="0" aria-sort="ascending"  aria-label="Course name: activate to sort column descending">Course name</th>
					            <th class="sorting" tabindex="0" aria-label="UCAS code: activate to sort column ascending">UCAS&nbsp;code</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French MA (Hons)</td>
					        	<td>RVD1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Ancient History</a> and French (with an integrated year abroad) MA (Hons)</td>
					        	<td>RV1D</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French MA (Hons)</td>
					        	<td>RT16</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> MA (Hons)</td>
					        	<td>8T63</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Arabic</a> and French and <a href="#">Persian</a> (with an integrated year abroad) MA (Hons)</td>
					        	<td>8T64</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="#">Biology</a> with French MA (Hons)</td>
					        	<td>CCR1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="#">Chemistry with French BSc (Hons)</a></td>
					        	<td>F1R1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>French and <a href="#">German</a> and <a href="#">Italian</a> MA (Hons)</td>
					        	<td>RR21</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (French and <a href="#">German</a>) and <a href="#">Greek</a> MA (Hons)</td>
					        	<td>R1RR</td>
					       	</tr>
					    </tbody>
					</table>
			<p>Combinations involving Management and German are only available to those with previous knowledge of German. </p>
			<p>Normally, for joint degree programmes, the subject with the higher entry requirements determines the grades you need. However, the Chemistry with French joint degree programmes (both BSc and MChem) have different entry requirements.</p>
			<p><a href="#" class="btn btn-action-secondary">What is a joint Honours degree?</a></p>
			
		</section>
		
		<section id="alternate-routes" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Alternate routes</h2>
			<h3>With an integrated year abroad</h3> 

			<p>You can apply to take French as a five-year course with an integrated year abroad, working as a teacher or tutor in a French-speaking country. </p>  

			<p><a href="#" class="btn btn-action-secondary">Integrated year abroad French MA (Hons)</a></p>
		</section>
		
		<section id="careers" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Careers</h2>
			<p>Modern languages graduates typically pursue careers in:</p>
			<ul>
				<li>translation and interpreting services</li> 
				<li>language teaching</li> 
				<li>international development</li> 
				<li>human resources</li> 
				<li>media and communication</li> 
				<li>International banking and finance</li> 
				<li>the civil service, particularly within the Foreign Office.</li>  
			</ul>
			<p>The University has a dedicated <a href="#">Careers Centre</a> which can provide advice and support throughout your degree and beyond to help you build your employability skills.</p>
			<hr>


			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Graduate destination', 'Percentage'],
          ['Employed',     65],
          ['Other',      35]
        ]);

        var options = {
          chartArea:{left:0,top:0,width:'100%',height:'100%'},
          pieHole: 0.4,
          legend: 'none',
          pieSliceText: 'none',
          fontName: 'pt sans',
          enableInteractivity: false
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


			<figure style="display:flex;align-items:center;">
				<div id="chart_div" style="height:200px;width:200px;margin-bottom:1em;margin-right:2em;"></div>
				<p><span class="font-scale-5 font-weight--bold">65%</span><br><span class="font-scale-1 font-weight--bold">of graduates in full time employment.</span></p>
			</figure>
			<p><a href="#" class="btn btn-action-secondary">Graduate destinations</a></p>
		</section>
		<section id="contact" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Contact us</h2>
			<dl class="paired-values-list paired-values-list--divided collapse-top">
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-phone" aria-hidden="true" title="Phone"></i><span class="sr-only">Phone</span></dt>
			    <dd class="paired-values-list__value">+44 (0)1334 46 3643</dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-envelope" aria-hidden="true" title="Email"></i><span class="sr-only">Email</span></dt>
			    <dd class="paired-values-list__value"><a href="mailto:frenchhod@st-andrews.ac.uk">frenchhod@st-andrews.ac.uk</a></dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-map-marker-alt" aria-hidden="true" title="Address"></i><span class="sr-only">Address</span></dt>
			    <dd class="paired-values-list__value">Department of French<br>
				School of Modern Languages<br>
				University of St Andrews<br>
				Buchanan Building<br>
				Union Street<br>
				St Andrews<br>
				KY16 9PH</dd>
			</dl>
			<p><a href="#" class="btn btn-action-secondary">Department of French website</a></p>
		</section>


		<section id="nextsteps" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">What to do next</h2>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/online-information-events/">Online information events</a></h3>
			<p>Join us for one of our information events where you can find out about different levels of study and specific courses we run. There are also sessions available for parents and college counsellors.</p>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/ug/">Undergraduate virtual days</a></h3>
			<p>We encourage all students who are thinking of applying to the University to attend one of our online visiting days.</p> 
 
		</section>

		<section id="discoveruni" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Discover Uni</h2>
			<p>Discover Uni provides official statistics about higher education courses taken from national surveys and data collected from universities and colleges about all their students. You can use this data to compare information for different degree programmes to help you make a decision about what and where to study.</p>
			<figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFFRNSFRN" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
			<div class="accordion-item">
	<div class="accordion-item__toggle">
		<h3 class="accordion-item__toggle-title">
			<button class="accordion-item__toggle-button" aria-controls="">Joint degree data</button>
		</h3>
	</div>
	<div class="accordion-item__content" id="" aria-hidden="true">
		<ul><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJFRN/FullTime/">Ancient History and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFARBJFRN/FullTime/">
Arabic and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAHIJFRN/FullTime/">
Art History and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFBLSJFRN/FullTime/">
Biblical Studies and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFBIOWFRN/FullTime/">
Biology with French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/USHFCHMWFRN/FullTime/">
Chemistry with French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFCSSJFRN/FullTime/">
Classical Studies and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFCLSJFRN/FullTime/">
Classics and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFCLIJFRN/FullTime/">
Comparative Literature and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJFRN/FullTime/">
English and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJPRS/FullTime/">
French and Persian</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJGGY/FullTime/">
French and Geography</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJGRN/FullTime/">
French and German</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJGRK/FullTime/">
French and Greek</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJHEB/FullTime/">
French and Hebrew</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJIRL/FullTime/">
French and International Relations</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJITN/FullTime/">
French and Italian</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJLTN/FullTime/">
French and Latin</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJMGT/FullTime/">
French and Management</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJMEH/FullTime/">
French and Medieval History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJMHI/FullTime/">
French and Modern History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJPHI/FullTime/">
French and Philosophy</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJPSY/FullTime/">
French and Psychology</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJRSN/FullTime/">
French and Russian</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJSAN/FullTime/">
French and Social Anthropology</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJSPN/FullTime/">
French and Spanish</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFRSNJSUD/FullTime/">
French and Sustainable Development</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRNJTHS/FullTime/">
French and Theological Studies</a></li></ul>
</div></div>
<script>(function (d) {"use strict";var widgetScript = d.createElement("script");widgetScript.id = "unistats-widget-script";widgetScript.src = "//discoveruni.gov.uk/widget/embed-script";var scriptTags = d.getElementsByTagName("script")[0];if (d.getElementById("unistats-widget-script")) { return; }scriptTags.parentNode.insertBefore(widgetScript, scriptTags);} (document));</script>
		</section>

    </article>
  </div>
</div>
<!-- Prefooter -->
<aside class="sta-grey-light padding-top--half padding-bottom--half"> 
	<div class="sta-container sta-grid__main-aside">
	    <div class="sta-grid-item__main content no-margin-top">
	    	<h2>Legal notices</h2>
			<p>Admission to the University of St&nbsp;Andrews is governed by our:</p>

			<h3>Curriculum development</h3>
			<p>As a research intensive institution, the University ensures that its teaching references the research interests of its staff, which may change from time to time. As a result, programmes are regularly reviewed with the aim of enhancing students' learning experience.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/course-revision-protocol.pdf">Our approach to course revision is described online</a>&nbsp;<acronym>(PDF, 72 KB)</acronym>.</p>
			<h3>Tuition fees</h3>
			<p>The University will clarify compulsory fees and charges it requires any student to pay at the time of offer. The offer will also clarify conditions for any variation of fees.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/fee-setting-protocol.pdf">The University’s approach to fee setting is described online</a>&nbsp;<acronym>(PDF, 84 KB)</acronym>.</p>
		</div>
	</div>
</aside>
</main>

{{> footer examples-footer}}