---
title: Example course page
---

{{> text-banner examples-text-banner.course}}

{{> header}}

{{> category-header examples-content-course.category-header}}

{{> navigation-bar examples-content-course.navigation-bar}}

{{> breadcrumbs examples-content-course.breadcrumbs}}

<main id="content-begin">

<!-- Key info area-->	
<div class="page-intro__wrapper">
	<div class="page-intro page-intro--has-media">
		<div class="page-intro__text">
			<h1 class="page-intro__heading">Ancient History MA (Hons) <small>2021 entry</small></h1>
			<p class="lead">Explore the history of Greece and Rome, as well as other peoples of the Mediterranean world. Starting from the beginning of Greek writing and urbanism in the eighth century BCE, you will work your way through to the collapse of the western Roman empire in the fifth century CE.</p>
			<div class="callout callout--info">
	        	<dl class="paired-values-list collapse-top collapse-bottom font-scale-1" aria-label="Key information">
	          		<dt class="paired-values-list__name font-weight--bold">UCAS code</dt>
	          		<dd class="paired-values-list__value">B900</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Start date</dt>
	          		<dd class="paired-values-list__value">September 2021</dd>
	          		<dt class="paired-values-list__name font-weight--bold">End date</dt>
	          		<dd class="paired-values-list__value">June 2025</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Duration</dt>
	          		<dd class="paired-values-list__value">4 years</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Study mode</dt>
	          		<dd class="paired-values-list__value">Full time</dd>                        
	          		<dt class="paired-values-list__name font-weight--bold">Direct entry</dt>
	          		<dd class="paired-values-list__value">Second year</dd> 
	        	</dl>
	      	</div>
		</div>
		<div class="page-intro__media">
			<figure class="page-intro__media-wrapper"><img src="../assets/docs/images/placeholders/research-750x500.jpg" alt=""></figure>
	    	<div class="page-intro__media-cta">
				<p><a class="btn btn-action" href="/study/apply/ug/">How to apply</a></p>
				<p><a class="btn btn-action" href="/study/register/">Register your interest</a></p>
			</div>
		</div>
	</div>
</div>
<!-- Main content area -->
<div class="sta-container sta-grid__aside-main">
    <div class="sta-grid-item__aside">
    	<nav class="contents contents-aside contents-aside--sticky">
    		<h2 class="contents__heading">Contents</h2>
	    	<ul>
	    		<li><a href="#overview">Overview</a></li>
	    		<li><a href="#entry-requirements">Entry requirements</a></li>
	    		<li><a href="#teaching-assessment">Teaching and assessment</a>
	    			<ul>
	    				<li><a href="#format">Teaching format</a></li>
	    				<li><a href="#coursework-grades">Coursework and grades</a></li>
	    				<li><a href="#study-abroad">Study abroad</a></li>
	    				<li><a href="#other-subjects">Taking other subjects</a></li>
	    				<li><a href="#modules">Modules</a></li>
	    			</ul>
	    		</li>
	    		<li><a href="#fees">Fees and funding</a></li>
	    		<li><a href="#joint-honours">Joint Honours degrees</a></li>
	    		<li><a href="#careers">Careers</a></li>
	    		<li><a href="#contact">Contact us</a>
	    			<ul>
	    				<li><a href="#visit">Virtual visits</a></li>
	    			</ul>
	    		</li>
	    		<li><a href="#discoveruni">Discover Uni</a></li>
	    	</ul>
	    </nav>
    </div>
    <div class="sta-grid-item__main content">
    	
    	<section id="overview" class="content-section">
			<p>In this course, you will study the ancient Greek world from the eight century BCE to the time of Alexander the Great, and you will study the history of Rome from its beginnings to the reign of Emperor Augustus.</p>
			<p>Themes studied throughout the course include:</p>
			<ul>
			<li>political and military history</li>
			<li>gender and sexuality</li>
			<li>slavery</li>
			<li>colonization</li>
			<li>religion</li>
			<li>cultural contacts between peoples</li>
			<li>the ecology and economy of the ancient Mediterranean.</li>
			</ul>
			<p>You will study the nature of ancient evidence and the way that Greeks and Romans represented the past and reinvented it to meet their changing needs.</p>
		</section>
		<hr>
		<section id="entry-requirements">
			<h2>Entry requirements</h2>
			<p>Form in here</p>
		</section>
		<hr>
		<section id="teaching-assessment">
			<h2>Teaching and assessment</h2>
			<h3>Teaching format</h3>
			<p>In your first two years (known as sub-honours), you will be taught primarily through:</p>
			<ul>
			<li>lectures (70 to 120 students)</li>
			<li>small group tutorials (8 to 12 students).</li>
			</ul>
			<p>Tutorials provide an opportunity for you to discuss and develop your thinking in a small and friendly atmosphere, guided by an expert tutor.</p>
			<p>In your third and fourth year (known as Honours), all your modules will be taught through seminars of 10 to 20 students. Seminars have a strong emphasis on students’ own contributions through informal class discussion and in group or individual presentations.</p>
			<p>Outside of class, you will be expected to undertake independent work and study. This may involve, for example:</p>
			<ul>
			<li>reading ancient source material in translation</li>
			<li>reading journal articles and books</li>
			<li>working on individual projects</li>
			<li>undertaking research in the library</li>
			<li>preparing coursework assignments and presentations</li>
			<li>preparing for examinations.</li>
			</ul>

			<h3>Coursework and grades</h3>
			<p>For most modules in ancient history, your grades will be split evenly between coursework and examinations. Please see the modules section for assessement information on specific modules.</p>
			<p>Coursework can include:</p>
			<ul>
			<li>research essays</li>
			<li>source analysis</li>
			<li>analysis of material and artistic evidence</li>
			<li>learning diaries</li>
			<li>oral presentations.</li>
			</ul>
			<p>The School of Classics aims to provide feedback on coursework within three weeks to help you improve for future assessments.</p>
			<p>Examinations are held at the end of each semester during a dedicated exam period. There is a dedicated revision week before exams which provides you time to prepare.</p>

			<h3>Study abroad</h3>
			<p>Ancient history students may apply to participate in the University-wide St Andrews Abroad programme or in the School Abroad exchange programme. For information about study abroad options, please see the <a href="#">study abroad</a> site.</p>

			<h3>Taking other subjects</h3>
			<p>In addition to ancient history, you will be required to study an additional two subjects in your first year. This allows you to explore other courses of interest. In your second year, you will usually carry on at least one of these subjects. Find out more about the <a href="/subjects/study-options/ug/degree-routes/honours/">Honours degree structure</a>.</p>
			<p>You can also take Ancient History as part of a joint Honours degree in which you will take core modules in two or three subjects. See joint options below.</p>

			<h3>Modules</h3>
			<div class="tabs-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active in" role="presentation"><a aria-selected="true" href="#tab-1" data-toggle="tab" aria-controls="tab-1" role="tab">First year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-2" data-toggle="tab" aria-controls="tab-2" role="tab">Second year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-3" data-toggle="tab" aria-controls="tab-3" role="tab">Honours</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-1" role="tabpanel">
                        <p>In&nbsp;your first year, you must take the following two modules:</p><ul><li><a href='#'>Culture and Conflict: An introduction to Nineteenth- and Twentieth-Century Literature</a>:&nbsp;introduces a small number of texts, in prose and verse, from the nineteenth and twentieth centuries.</li><li><a href='#'>Explorers and Revolutionaries: Literature 1680-1830</a>:&nbsp;examines travel, colonialism, and different constructions of “man’s natural estate” in the early eighteenth century.</li></ul>
                    </div>
                    <div class="tab-pane fade " id="tab-2" role="tabpanel">
                        <p>Second year students must take the following two modules:</p><ul><li><a href='#'>Mediaeval and Renaissance Texts</a>:&nbsp;introduces early forms of English language and literature, using specially edited texts from Old English, Middle English and Older Scots.</li><li><a href='#'>Drama: Reading and Performance</a>:&nbsp;introduces a number of representative plays from the Renaissance period and from the twentieth century. Emphasis is placed upon the context in which these plays were first created and those in which they are now received.</li></ul>
                    </div>
                    <div class="tab-pane fade " id="tab-3" role="tabpanel">
                        <p>If you decide to take English in your third and fourth years, you choose from a wide variety of advanced options, including modules in Old English, Renaissance literature, Romanticism, the Victorian novel, literary theory, Scottish verse, Restoration drama, Shakespeare, modern American drama, contemporary fiction, creative writing and playwriting.</p><p>Here is a sample of Honours modules which have been offered in previous years:</p><ul><li>Beowulf</li><li>The Younger Romantics: Poetry and Prose (1810-1830)</li><li>Postcolonial Literature and Theory</li><li>Romantic Writing and Women</li><li>Contemporary British Fiction</li><li>Civil Wars on Page and Screen</li></ul><p>In fourth year, students also undertake a 10,000 word dissertation on a topic of their choice. This independent project enables you to develop key research skills which are desired by both prospective employers and by graduate schools offering postgraduate degrees.</p>
                    </div>
                </div>
            </div>
		</section>
		<hr>
		<section id="fees">
			<h2>Fees and funding</h2>
			<dl class="paired-values-list paired-values-list--divided font-scale-1 collapse-top" aria-label="Tuition fees by fee status">
			    <dt class="paired-values-list__name font-weight--bold">Home-funded</dt>
			    <dd class="paired-values-list__value">Tuition fees for Scottish applicants have yet to be set for 2021 entry.</dd>
			    <dt class="paired-values-list__name font-weight--bold">Rest of the UK</dt>
			    <dd class="paired-values-list__value">&pound;9,250</dd>
			    <dt class="paired-values-list__name font-weight--bold">EU and overseas</dt>
			    <dd class="paired-values-list__value">&pound;25,100</dd>
			</dl>
			<p>More information on tuition fees can be found on the <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/">Undergraduate fees and funding</a> page.</p>
			<h3>Additional costs</h3>
			<p>You may incur additional costs in the course of your education at the University over and above tuition fees in an academic year.</p>
			<p><strong>Does this section need links to accommodation costs and info on course specific extra costs</strong></p>
			<h3>Funding and scholarships</h3>
<p>The University of St&nbsp;Andrews offers a number of <a href="/study/fees-and-funding/undergraduate/scholarships/">scholarships</a> and <a href="/study/fees-and-funding/undergraduate/financial-assistance/">support packages</a> to undergraduate students each year.</p>
<h4>Classics bursaries</h4>
<p>The School of Classics offers <a href="https://www.st-andrews.ac.uk/classics/current/travel-awards/">bursaries for travel</a> (including internships) to archaeological sites, summer schools, museums, and other institutions like the British Schools in Athens and Rome.</p>
		</section>
		<hr>
		<section id="joint-honours">
			<h2>Joint Honours degrees</h2>
			<p>You can also take Ancient History as part of a <a href="">joint Honours degree</a> in which you will take core modules of your chosen subjects.</p>
			<!-- Begin pattern: accordion //-->
			<div class='accordion-item'>
			    <div class="accordion-item__toggle">
			        <h3 class="accordion-item__toggle-title">
			            <button class="accordion-item__toggle-button">Ancient History Joint Honours options</button>
			        </h3>
			    </div>
			    <div class="accordion-item__content">
			    	<ul>
			    		<li>Art History</li>
			    		<li>Biblical Studies</li>
			    		<li>Comparative Literature</li>
			    		<li>Economics</li>
			    		<li>Film Studies</li>
			    		<li>International Relations</li>
			    		<li>Latin</li>
			    		<li>Mathematics</li>
			    		<li>Medieval History</li>
			    		<li>Philosophy</li>
			    		<li>Social Anthropology</li>
			    	</ul>
			    	<p><strong>Either one or a combination of any two</strong> of the following modern languages can be combined with a degree in Ancient History.</p> 
			    	<ul>
			    		<li>Arabic</li>
			    		<li>French</li>
			    		<li>German</li>
			    		<li>Italian</li>
			    		<li>Persian</li>
			    		<li>Spanish</li>
			    	</ul>
			    </div>
			</div>
			<!-- End pattern: accordion //-->
			<p><a href="#" class="font-scale-1">What is a joint Honours degree?</a></p>
		</section>
		<hr>
		<section id="careers">
			<h2>Careers</h2>
			<p><strong>Can this section be improved inline with new Careers website?</strong></p>
			<p>Ancient history students traditionally progress into a very wide range of careers. Some continue their academic careers through a postgraduate degree. Other students progress to qualifications in teaching, museum studies or archaeology.</p>
			<p>Recent ancient history graduates have moved into careers including:</p>
			<ul>
			<li>NHS</li>
			<li>civil service</li>
			<li>financial industry</li>
			<li>human resources</li>
			<li>conference management</li>
			<li>heritage management.</li>
			</ul>
			<p>The University’s <a href="#">Careers Centre</a> provides advice and assistance throughout your degree and beyond to help you build your employability skills.</p>
		</section>
		<hr>
		<section id="discoveruni">
			<h2>Discover Uni</h2>
			<p>Discover Uni provides official statistics about higher education courses taken from national surveys and data collected from universities and colleges about all their students. You can use this data to compare information for different degree programmes to help you make a decision about what and where to study.</p><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHSANH" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
			<div class="accordion-item">
	<div class="accordion-item__toggle">
		<h3 class="accordion-item__toggle-title">
			<button class="accordion-item__toggle-button" aria-controls="">Joint degree data</button>
		</h3>
	</div>
	<div class="accordion-item__content" id="" aria-hidden="true"><h4>Ancient History and Art History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJAHI" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Biblical Studies</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJBLS" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Comparative Literature</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJCLI" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Economics</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJECN" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Film Studies</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJFLS" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and French</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJFRN" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and German</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJGRN" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Greek</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJGRK" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and International Relations</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJIRL" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Italian</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJITN" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Latin</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJLTN" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Mathematics</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJMTH" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Medieval History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJMEH" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Persian</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJPRS" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Philosophy</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJPHI" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Social Anthropology</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJSAN" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Ancient History and Spanish</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHJSPN" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (Arabic and French) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFAFATAFA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (Arabic and German) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFAGATAGA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (Arabic and Italian) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFAIATAIA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (Arabic and Persian) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFAPATAPA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (Arabic and Spanish) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFASATASA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (French and German) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFFGATFGA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (French and Italian) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFFIATFIA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (French and Persian) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFFPATFPA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (French and Spanish) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFFSATFSA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (German and Italian) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFGIATGIA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (German and Persian) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFGPATGPA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (German and Spanish) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFGSATGSA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (Italian and Persian) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFIPATIPA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (Italian and Spanish) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFISATISA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
<h4>
Modern Languages (Persian and Spanish) and Ancient History</h4><figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFPSATPSA" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
</div></div>
<script>(function (d) {"use strict";var widgetScript = d.createElement("script");widgetScript.id = "unistats-widget-script";widgetScript.src = "//discoveruni.gov.uk/widget/embed-script";var scriptTags = d.getElementsByTagName("script")[0];if (d.getElementById("unistats-widget-script")) { return; }scriptTags.parentNode.insertBefore(widgetScript, scriptTags);} (document));</script>
		</section>

    </div>
</div>

<!-- Prefooter -->
<aside class="sta-grey-light padding-top--half padding-bottom--half">
<div class="sta-container sta-grid__main-aside">
    <div class="sta-grid-item__main content no-margin-top">
    	<h2>Legal notices</h2>
		<p>Admission to the University of St&nbsp;Andrews is governed by our:</p>
		<h3>Curriculum development</h3>
		<p>As a research intensive institution, the University ensures that its teaching references the research interests of its staff, which may change from time to time. As a result, programmes are regularly reviewed with the aim of enhancing students' learning experience.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/course-revision-protocol.pdf">Our approach to course revision is described online</a>&nbsp;<acronym>(PDF, 72 KB)</acronym>.</p>
		<h3>Tuition fees</h3>
		<p>The University will clarify compulsory fees and charges it requires any student to pay at the time of offer. The offer will also clarify conditions for any variation of fees.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/fee-setting-protocol.pdf">The University’s approach to fee setting is described online</a>&nbsp;<acronym>(PDF, 84 KB)</acronym>.</p>
	</div>
</div>
</aside>
</main>

{{> footer examples-footer}}