---
title: Example course page
---

{{> text-banner examples-text-banner.course}}

{{> header}}

{{> category-header examples-content-course.category-header}}

{{> navigation-bar examples-content-course.navigation-bar}}

{{> breadcrumbs examples-content-course.breadcrumbs3}}

<main id="content-begin">

<!-- Key info area-->	
<div class="page-intro__wrapper no-margin-bottom">
	<div class="page-intro page-intro--has-media">
		<div class="page-intro__text">
			<h1 class="page-intro__heading">Management (MLitt) <small>2021 entry</small></h1>
			<p class="lead">Gain the analytical and management skills required for a professional position with managerial and leadership responsibilities. No previous experience in business or management is needed for this Masters course, and students who successfully complete the programme will receive accreditation from the Chartered Management Institute.</p>
			<div class="alert alert-info">
	        	<dl class="paired-values-list collapse-top font-scale-1 collapse-bottom" aria-label="Key information">
	          		<dt class="paired-values-list__name font-weight--bold">Course type</dt>
	          		<dd class="paired-values-list__value">Postgraduate</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Start date</dt>
	          		<dd class="paired-values-list__value">6 September 2021</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >End date</dt>
	          		<dd class="paired-values-list__value">30 September 2022</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Duration</dt>
	          		<dd class="paired-values-list__value">1 year</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Study mode</dt>
	          		<dd class="paired-values-list__value">Full time</dd>       
	        	</dl>
	        </div>
		</div>
		<div class="page-intro__media">
			<figure class="page-intro__media-wrapper"><img src="../assets/docs/images/placeholders/750x500.png" alt=""></figure>
		</div>
	</div>
</div>
<div id="nav-top" class="sticky-cta affix-top">
	<div class="sta-container">
		<a class="btn btn-action" href="https://portal.st-andrews.ac.uk/postgrad-application/index.php?m=course&dept=20SCMAN">Apply now</a><a class="btn btn-action-secondary" href="https://www.st-andrews.ac.uk/study/register/management/">Register your interest</a>
		<div class="sticky-cta__label"><span class="font-weight--bold">Management (MLitt)</span> 2021 entry</div>
    </div>
</div>
<!-- Main content area -->
<div class="section__anchor--sticky margin-bottom--half">
  <div class="sta-container sta-grid__main-aside">
    <aside class="sta-grid-item__aside">
    	<nav class="sta-contents sta-contents-aside sta-contents-aside--sticky" aria-labelledby="sta-contents-heading">
    		<h2 id="sta-contents-heading" class="sta-contents__heading">On this page</h2>
	    	<ul id="sta-contents-sticky">
	    		<li><a href="#overview">Overview</a></li>
	    		<li><a href="#entry-requirements">Entry requirements</a></li>
	    		<li><a href="#fees">Fees</a></li>
	    		<li><a href="#how-to-apply">How to apply</a></li>
	    		<li><a href="#contact">Contact</a></li>
	    		<li><a href="#nextsteps">What to do next</a></li>
	    	</ul>
	    </nav>
    </aside>
    <article class="sta-grid-item__main content">
    	
    	<section id="overview" class="heading-section content-section section__anchor--sticky">
			<p>The Management MLitt is specifically designed for students from a non-business discipline who have little or no work experience. The course provides a solid foundation in contemporary management methods and core business principles.</p>  
			<p>If you successfully complete the programme, you will receive accreditation from the <a href="https://www.st-andrews.ac.uk/dpl/1.27.0-alpha/examples/course.html">Chartered Management Institute</a>. Chartered managers are recognised as having exceptional management and leadership skills, and will demonstrate to employers you are qualified to the highest level.  </p>
			<figure class="blockquote">
		    <blockquote class="font-scale-1">
		        <p>&ldquo;I like how the lecturers allow us space to develop our own learning and study styles within the context of our core courses. It really taught me how to take the initiative, communicate with staff and enhance my academic writing. St Andrews is full of passionate and friendly students and provides a melting pot of international perspectives in both academic and everyday life.&rdquo;</p>
		    </blockquote>
		    <figcaption class="blockquote__author">
		        <div class="blockquote__author-thumbnail">
		            <img src="../assets/docs/images/profile-pictures/female-002-medium.jpg" alt="Lauren">
		        </div>
		        <div><strong>Lauren</strong> <br>- Georgia, USA</div>
		    </figcaption>
		</figure>
		</section>
		<section id="entry-requirements" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Entry requirements</h2>
			<p><strong>A good 2.1 undergraduate Honours degree in a subject other than business or management</strong> from the UK or the equivalent international qualification.</p>
			<p>Students with a background in business or management are advised to consider these alternate programmes:</p>
			<ul> 
				<li><a href="https://www.st-andrews.ac.uk/subjects/management/international-business-mlitt/">International Business (MLitt)</a></li>
				<li><a href="https://www.st-andrews.ac.uk/subjects/management/marketing-mlitt/">Marketing (MLitt)</a></li>
				<li><a href="https://www.st-andrews.ac.uk/subjects/management/human-resource-management-mlitt/">Human Resource Management (MLitt)</a>.</li>
			</ul> 
			<p>If you studied your first degree outside the UK, see the <a href="https://www.st-andrews.ac.uk/subjects/entry/">international entry requirements</a>.</p>
			<p>The qualifications listed are indicative minimum requirements for entry. Some academic Schools will ask applicants to achieve significantly higher marks than the minimum. Obtaining the listed entry requirements will not guarantee you a place, as the University considers all aspects of every application including, where applicable, the writing sample, personal statement, and supporting documents.</p> 
		</section>
		
		<section id="fees" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Fees</h2>
			<dl class="paired-values-list paired-values-list--divided font-scale-1 collapse-top" aria-label="Tuition fees by fee status">
			    <dt class="paired-values-list__name font-weight--bold">Home-funded</dt>
			    <dd class="paired-values-list__value">&pound;11,990</dd>
			    <dt class="paired-values-list__name font-weight--bold">Overseas</dt>
			    <dd class="paired-values-list__value">&pound;24,240</dd>
			</dl>
			<p>More information on tuition fees can be found on the <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/postgraduate/">postgraduate fees and funding</a> page.</p>
			<h3>Additional costs</h3> 
			<p>You may incur additional costs during your education at the University over and above tuition fees in an academic year. See an <a href="#">estimated cost of attendance</a>.</p> 
			<h3>Funding and scholarships</h3> 
			<p>The University of St Andrews offers a number of <a href="#">scholarships</a>, and you may be eligible for a <a href="#">postgraduate loan</a>.</p>  
			<h4><a href="#">Jane M Klausman Women in Business Scholarship</a></h4> 
			<p>For women pursuing a business or business-related degree.</p>
			<h4><a href="#">Recent graduate discount</a></h4> 
			<p>The University of St Andrews offers a 10% discount in postgraduate tuition fees to students who are eligible to graduate or who have graduated from St Andrews within the last three academic years and are starting a postgraduate programme with the University of St Andrews.</p>
			<p><a href="https://www.st-andrews.ac.uk/study/fees-and-funding/postgraduate/scholarships/taught-scholarships/" class="btn btn-action-secondary">All taught postgraduate scholarships</a></p>
		</section>
		
		<section id="how-to-apply" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">How to apply</h2>
			<p>Admission to this programme will close once the programme is full. Applicants should apply as early as possible to be eligible for certain scholarships and for international visa purposes, and to ensure their application is submitted before the programme is full.</p> 
			<div class="callout callout--info">
				<h3 class="callout__heading">Application deadline</h3>
				<p>Wednesday 11 August 2021</p>
			</div>
			<p>To apply, you must provide the following:</p> 
			<ul>
				<li>CV</li> 
				<li>personal statement explaining why you have chosen the programme, why this subject is important to you and why you have applied to study at the University of St Andrews in particular (500 words)</li> 
				<li>one original signed academic reference</li> 
				<li>academic transcripts and degree certificates</li> 
				<li><a href="#">evidence of English language proficiency</a> (required if English is not your first language).</li> 
			</ul>
			<p>A sample of academic writing is not required for this programme.</p> 
			<p>For more guidance, see <a href="#">supporting documents and references</a> for postgraduate taught programmes.</p> 
		</section>
		
		<section id="contact" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Contact us</h2>
			<h3>Access and Widening Participation Team</h3>
			<dl class="paired-values-list paired-values-list--divided collapse-top">
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-phone" aria-hidden="true" title="Phone"></i><span class="sr-only">Phone</span></dt>
			    <dd class="paired-values-list__value">+44 (0)1334 46 2346</dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-envelope" aria-hidden="true" title="Email"></i><span class="sr-only">Email</span></dt>
			    <dd class="paired-values-list__value"><a href="mailto:classics@st-andrews.ac.uk">gatewayto@st-andrews.ac.uk </a></dd>
			</dl>
		</section>
		
		<section id="nextsteps" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">What to do next</h2>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/online-information-events/">Online information events</a></h3>
			<p>Join us for one of our information events where you can find out about different levels of study and specific courses we run. There are also sessions available for parents and college counsellors.</p>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/ug/">Undergraduate virtual days</a></h3>
			<p>We encourage all students who are thinking of applying to the University to attend one of our online visiting days.</p> 
 
		</section>
		

    </article>
  </div>
</div>
<!-- Prefooter -->
<aside class="sta-grey-light padding-top--half padding-bottom--half"> 
	<div class="sta-container sta-grid__main-aside">
	    <div class="sta-grid-item__main content no-margin-top">
	    	<h2 class="font-scale-2">Legal notices</h2>
			<p>Admission to the University of St&nbsp;Andrews is governed by our:</p>

			<h3 class="font-scale-1">Curriculum development</h3>
			<p>As a research intensive institution, the University ensures that its teaching references the research interests of its staff, which may change from time to time. As a result, programmes are regularly reviewed with the aim of enhancing students' learning experience.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/course-revision-protocol.pdf">Our approach to course revision is described online</a>&nbsp;<acronym>(PDF, 72 KB)</acronym>.</p>
			<h3 class="font-scale-1">Tuition fees</h3>
			<p>The University will clarify compulsory fees and charges it requires any student to pay at the time of offer. The offer will also clarify conditions for any variation of fees.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/fee-setting-protocol.pdf">The University’s approach to fee setting is described online</a>&nbsp;<acronym>(PDF, 84 KB)</acronym>.</p>
		</div>
	</div>
</aside>
</main>

{{> footer examples-footer}}