---
title: Example course page
---

{{> text-banner examples-text-banner.course}}

{{> header}}

{{> category-header examples-content-course.category-header}}

{{> navigation-bar examples-content-course.navigation-bar}}

{{> breadcrumbs examples-content-course.breadcrumbs}}

<main id="content-begin">

<!-- Key info area-->	
<div class="page-intro__wrapper no-margin-bottom">
	<div class="page-intro page-intro--has-media">
		<div class="page-intro__text">
			<h1 class="page-intro__heading">Ancient History MA (Hons) <small>2021 entry</small></h1>
			<p class="lead">Explore the history of Greece and Rome, as well as other peoples of the Mediterranean world. Starting from the beginning of Greek writing and urbanism in the eighth century BCE, you will work your way through to the collapse of the western Roman empire in the fifth century CE.</p>
			<div class="alert alert-info">
	        	<dl class="paired-values-list collapse-top font-scale-1 collapse-bottom" aria-label="Key information">
	          		<dt class="paired-values-list__name font-weight--bold">UCAS code</dt>
	          		<dd class="paired-values-list__value">B900</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Start date</dt>
	          		<dd class="paired-values-list__value">September 2021</dd>
	          		<dt class="paired-values-list__name font-weight--bold">End date</dt>
	          		<dd class="paired-values-list__value">June 2025</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Duration</dt>
	          		<dd class="paired-values-list__value">4 years</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Study mode</dt>
	          		<dd class="paired-values-list__value">Full time</dd>       
	        	</dl>
	        </div>
		</div>
		<div class="page-intro__media">
			<figure class="page-intro__media-wrapper"><img src="../assets/docs/images/placeholders/750x500.png" alt=""></figure>
		</div>
	</div>
</div>
<div id="nav-top" class="sticky-cta affix-top">
	<div class="sta-container">
		<a class="btn btn-action" href="/study/register/">Register your interest</a><a class="btn btn-action-secondary" href="/study/apply/ug/">How to apply</a>
		<div class="sticky-cta__label"><span class="font-weight--bold">Ancient History MA (Hons)</span> 2021 entry</div>
    </div>
</div>
<!-- Main content area -->
<div class="section__anchor--sticky margin-bottom--half">
  <div class="sta-container sta-grid__main-aside">
    <aside class="sta-grid-item__aside">
    	<nav class="sta-contents sta-contents-aside sta-contents-aside--sticky" aria-labelledby="sta-contents-heading">
    		<h2 id="sta-contents-heading" class="sta-contents__heading">On this page</h2>
	    	<ul id="sta-contents-sticky">
	    		<li><a href="#overview">Overview</a></li>
	    		<li><a href="#entry-requirements">Entry requirements</a></li>
	    		<li><a href="#course-details">Course details</a></li>
	    		<li><a href="#fees">Fees</a></li>
	    		<li><a href="#joint-honours">Joint Honours degrees</a></li>
	    		<li><a href="#careers">Careers</a></li>
	    		<li><a href="#contact">Contact</a></li>
	    		<li><a href="#discoveruni">Discover Uni</a></li>
	    	</ul>
	    </nav>
    </aside>
    <article class="sta-grid-item__main content">
    	
    	<section id="overview" class="heading-section content-section section__anchor--sticky">
			<p>In this course, you will study the ancient Greek world from the eight century BCE to the time of Alexander the Great, and you will study the history of Rome from its beginnings to the reign of Emperor Augustus.</p>
			<p>Themes studied throughout the course include:</p>
			<ul>
			<li>political and military history</li>
			<li>gender and sexuality</li>
			<li>slavery</li>
			<li>colonization</li>
			<li>religion</li>
			<li>cultural contacts between peoples</li>
			<li>the ecology and economy of the ancient Mediterranean.</li>
			</ul>
			<p>You will study the nature of ancient evidence and the way that Greeks and Romans represented the past and reinvented it to meet their changing needs.</p>
			<figure class="blockquote">
		    <blockquote class="font-scale-1">
		        <p>&ldquo;I chose Ancient History as St Andrews offers a broad range of classes taught around the research interests of the lecturers, so going into the class you know that it is a topic being actively researched and contributed to by the people teaching you.&rdquo;</p>
		    </blockquote>
		    <figcaption class="blockquote__author">
		        <div class="blockquote__author-thumbnail">
		            <img src="../assets/docs/images/profile-pictures/female-002-medium.jpg" alt="Olivia Liang">
		        </div>
		        <div><strong>Olivia Liang</strong> <br>- Colorado, USA</div>
		    </figcaption>
		</figure>
		</section>
		<section id="entry-requirements" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Entry requirements</h2>
			<p>The grades below are the overall standards required to consider you for entry.</p> 
			<p><span class="font-weight--bold">For applicants in the UK</span>, there are three categories of entry requirements: Standard, Minimum and Gateway. The category you should look at depends on your contextual data. If you are unsure which category you fall under, please use our <a href="https://www.st-andrews.ac.uk/subjects/entry/indicator">academic entry qualification indicator</a> and see <a href="https://www.st-andrews.ac.uk/subjects/entry/academic-entry-explained/">academic entry explained</a> for more information.</p>
			<!-- Begin pattern: accordion //-->
<ul class="accordion-group">
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">SQA Highers</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">AAAB</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">AABB</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Gateway entry grades</dt>
	          		<dd class="paired-values-list__value">BBBB</dd>
	        	</dl>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">GCE A-Levels</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">AAA</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">ABB</dd>
	        	</dl>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">IB points</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list  paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">36 (HL 6,6,5)</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">36 (HL 6,5,5)</dd>
	        	</dl>
	</div>
</li>
</ul>
<!-- End pattern: accordion //-->

<h3>General entry requirements</h3>
<p>In addition to meeting the specific entry requirements for this course, you will also need to meet the University’s general entry requirements.</p> 
		<!-- Begin pattern: accordion //-->
<ul class="accordion-group">
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h4 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">SQA qualifications</button>
        </h4>
    </div>
    <div class="accordion-item__content">
<p>SQA National 5 (B) in English and one SQA National 5 (B) from the following:</p>
<ul>
	<li>Biology</li>
	<li>Chemistry</li>
	<li>Computing science</li>
	<li>Geography</li>
	<li>Lifeskills Mathematics (A grade)</li>
	<li>Mathematics</li>
	<li>Physics</li>
	<li>Psychology.</li>
</ul>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h4 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">GCSE qualifications</button>
        </h4>
    </div>
    <div class="accordion-item__content">
<p>GCSE (5) in English language or English literature, and one GCSE (5) from the following:</p>
<ul>
	<li>Biology</li>
	<li>Chemistry</li>
	<li>Computing Science</li>
	<li>Geography</li>
	<li>Mathematics</li>
	<li>Physics</li>
	<li>Psychology.</li>
</ul>
	</div>
</li>
</ul>
<!-- End pattern: accordion //-->
<h3>International applicants</h3>
<p>The University accepts a wide range of qualifications. If you do not have an SQA Higher, GCE A-Level or International Baccalaureate, please see <a href="https://www.st-andrews.ac.uk/subjects/entry/">entry requirements by country</a>.</p>
<p>If English is not your first language, you will need to provide evidence your English language ability. Find out more about <a href="https://www.st-andrews.ac.uk/subjects/entry/language-requirements/undergraduate/">English language requirements</a>.</p>
		</section>
		<section id="course-details" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Course details</h2>


			<h3 id="modules">Modules</h3>
			<div class="tabs-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active in" role="presentation"><a aria-selected="true" href="#tab-1" data-toggle="tab" aria-controls="tab-1" role="tab">First year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-2" data-toggle="tab" aria-controls="tab-2" role="tab">Second year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-3" data-toggle="tab" aria-controls="tab-3" role="tab">Honours</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-1" role="tabpanel">
                        <p>In your first year, you must take the following two modules:</p>
                        <!-- Begin pattern: search results //-->
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Culture and Conflict: An introduction to Nineteenth- and Twentieth-Century Literature</h4>
						        </a>
						        <p class="search-result__summary">In this module students are introduced to a range of texts, in prose and verse, from the nineteenth and twentieth centuries. Emphasis is laid upon (i) close reading; (ii) the importance of literary-historical context; and (iii) using literary theory.</p>
						    </li>
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Explorers and Revolutionaries: Literature 1680 - 1830</h4>
						        </a>
						        <p class="search-result__summary">This module introduces a range of works from the period 1680-1830. Looking at travel, colonialism, and different constructions of man's natural estate in the early eighteenth century, the module traces the development of these themes into Romanticism's passion for literal and figurative journeys, its revolutionary critique of human enslavement by society, and its fascination with the power of Nature.</p>
						    </li>
						</ul>
						<!-- End pattern: search results //-->
                    </div>
                    <div class="tab-pane fade " id="tab-2" role="tabpanel">
                        <p>Second year students must take the following two modules:</p>
                        <!-- Begin pattern: search results //-->
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Mediaeval and Renaissance Texts</h4>
						        </a>
						        <p class="search-result__summary">Introduces early forms of English language and literature, using specially edited texts from Old English, Middle English and Older Scots</p>
						    </li>
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Drama: Reading and Performance</h4>
						        </a>
						        <p class="search-result__summary">Introduces a number of representative plays from the Renaissance period and from the twentieth century. Emphasis is placed upon the context in which these plays were first created and those in which they are now received.</p>
						    </li>
						</ul>
						<!-- End pattern: search results //-->
						<p>Students can replace one or both of these modules with second-year Classical Studies modules in order to adapt the programme to suit their interests. Second-year modules in Classical Studies are:</p>
						<!-- Begin pattern: search results //-->
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Culture and Thought in the Late Roman Republic</h4>
						        </a>
						        <p class="search-result__summary">Studies the art and literature of Rome in the Late Republic (first century BCE). Key literary texts, such as the passionate poetry of Catullus and the stylish rhetoric of Cicero, are set against the broader backdrop of Roman political, cultural and social life in this turbulent period of civil war and dictatorship.</p>
						    </li>
						    <li class="search-result">
						        <a href="#" class="search-result__link">
						            <h4 class="search-result__heading">Early Greek Poetry and Philosophy</h4>
						        </a>
						        <p class="search-result__summary">Early Greece was an era of beautiful poetry, cutting-edge philosophy and daring social experiment. This module studies the earliest phases of the Greek literary and philosophical tradition in the archaic and early classical Greek world. It explores the diversity of early Greek thought through the poetry and philosophy of the period, and explores themes of conflict, justice, love and the relationship between mortals and gods.</p>
						    </li>
						</ul>
						<!-- End pattern: search results //-->
                    </div>
                    <div class="tab-pane fade " id="tab-3" role="tabpanel">
                        <p>If you decide to take English in your third and fourth years, you choose from a wide variety of advanced options, including modules in Old English, Renaissance literature, Romanticism, the Victorian novel, literary theory, Scottish verse, Restoration drama, Shakespeare, modern American drama, contemporary fiction, creative writing and playwriting.</p><p>Here is a sample of Honours modules which have been offered in previous years:</p><ul><li>Beowulf</li><li>The Younger Romantics: Poetry and Prose (1810-1830)</li><li>Postcolonial Literature and Theory</li><li>Romantic Writing and Women</li><li>Contemporary British Fiction</li><li>Civil Wars on Page and Screen</li></ul><p>In fourth year, students also undertake a 10,000 word dissertation on a topic of their choice. This independent project enables you to develop key research skills which are desired by both prospective employers and by graduate schools offering postgraduate degrees.</p>
                    </div>
                </div>
            </div>


			
			<h3 id="format">Teaching format</h3>
			<p>In your first two years (known as sub-honours), you will be taught primarily through:</p>
			<ul>
			<li>lectures (70 to 120 students)</li>
			<li>small group tutorials (8 to 12 students).</li>
			</ul>
			<p>Tutorials provide an opportunity for you to discuss and develop your thinking in a small and friendly atmosphere, guided by an expert tutor.</p>
			<p>In your third and fourth year (known as Honours), all your modules will be taught through seminars of 10 to 20 students. Seminars have a strong emphasis on students’ own contributions through informal class discussion and in group or individual presentations.</p>
			<p>Outside of class, you will be expected to undertake independent work and study. This may involve, for example:</p>
			<ul>
			<li>reading ancient source material in translation</li>
			<li>reading journal articles and books</li>
			<li>working on individual projects</li>
			<li>undertaking research in the library</li>
			<li>preparing coursework assignments and presentations</li>
			<li>preparing for examinations.</li>
			</ul>

			<h3 id="coursework-grades">Coursework and grades</h3>
			<p>For most modules in ancient history, your grades will be split evenly between coursework and examinations. Please see the modules section for assessement information on specific modules.</p>
			<p>Coursework can include:</p>
			<ul>
			<li>research essays</li>
			<li>source analysis</li>
			<li>analysis of material and artistic evidence</li>
			<li>learning diaries</li>
			<li>oral presentations.</li>
			</ul>
			<p>The School of Classics aims to provide feedback on coursework within three weeks to help you improve for future assessments.</p>
			<p>Examinations are held at the end of each semester during a dedicated exam period. There is a dedicated revision week before exams which provides you time to prepare.</p>

			<h3 id="study-abroad">Study abroad</h3>
			<p>Ancient history students may apply to participate in the University-wide St Andrews Abroad programme or in the School Abroad exchange programme. For information about study abroad options, please see the <a href="#">study abroad</a> site.</p>

			<h3 id="other-subjects">Taking other subjects</h3>
			<p>In addition to ancient history, you will be required to study an additional two subjects in your first year. This allows you to explore other courses of interest. In your second year, you will usually carry on at least one of these subjects. Find out more about the <a href="/subjects/study-options/ug/degree-routes/honours/">Honours degree structure</a>.</p>
			<p>You can also take Ancient History as part of a joint Honours degree in which you will take core modules in two or three subjects. See joint options below.</p>

		</section>
		<section id="fees" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Fees</h2>
			<dl class="paired-values-list paired-values-list--divided font-scale-1 collapse-top" aria-label="Tuition fees by fee status">
			    <dt class="paired-values-list__name font-weight--bold">Home-funded</dt>
			    <dd class="paired-values-list__value">Home-funded fees have yet to be set for 2021 entry.</dd>
			    <dt class="paired-values-list__name font-weight--bold">Rest of the UK</dt>
			    <dd class="paired-values-list__value">&pound;9,250</dd>
			    <dt class="paired-values-list__name font-weight--bold">EU and overseas</dt>
			    <dd class="paired-values-list__value">&pound;25,100</dd>
			</dl>
			<p>More information on tuition fees can be found on the <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/">undergraduate fees and funding</a> page.</p>
			<h3>Additional costs</h3>
			<p>You may incur additional costs in the course of your education at the University over and above tuition fees in an academic year. See an estimated cost of attendance.</p>
			<h3>Funding and scholarships</h3>
<p>The University of St&nbsp;Andrews offers a number of <a href="/study/fees-and-funding/undergraduate/scholarships/">scholarships</a> and <a href="/study/fees-and-funding/undergraduate/financial-assistance/">support packages</a> to undergraduate students each year.</p>
<h4>Classics bursaries</h4>
<p>The School of Classics offers <a href="https://www.st-andrews.ac.uk/classics/current/travel-awards/">bursaries for travel</a> (including internships) to archaeological sites, summer schools, museums, and other institutions like the British Schools in Athens and Rome.</p>
		</section>
		<section id="joint-honours" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Joint Honours degrees</h2>
			<p>You can also take Ancient History as part of a <a href="">joint Honours degree</a> in which you will take core modules of your chosen subjects.</p>
			<!-- Begin pattern: accordion //-->
			<div class='accordion-item'>
			    <div class="accordion-item__toggle">
			        <h3 class="accordion-item__toggle-title">
			            <button class="accordion-item__toggle-button">Ancient History Joint Honours options</button>
			        </h3>
			    </div>
			    <div class="accordion-item__content">
			    	<ul>
			    		<li>Art History</li>
			    		<li>Biblical Studies</li>
			    		<li>Comparative Literature</li>
			    		<li>Economics</li>
			    		<li>Film Studies</li>
			    		<li>International Relations</li>
			    		<li>Latin</li>
			    		<li>Mathematics</li>
			    		<li>Medieval History</li>
			    		<li>Philosophy</li>
			    		<li>Social Anthropology</li>
			    	</ul>
			    	<p><strong>Either one or a combination of any two</strong> of the following modern languages can be combined with a degree in Ancient History.</p> 
			    	<ul>
			    		<li>Arabic</li>
			    		<li>French</li>
			    		<li>German</li>
			    		<li>Italian</li>
			    		<li>Persian</li>
			    		<li>Spanish</li>
			    	</ul>
			    </div>
			</div>
			<!-- End pattern: accordion //-->
			<p><a href="#" class="btn btn-action-secondary">What is a joint Honours degree?</a></p>
		</section>
		
		<section id="careers" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Careers</h2>
			<p>Ancient history students typically pursue careers in:</p>
			<ul>
			<li>NHS</li>
			<li>civil service</li>
			<li>financial industry</li>
			<li>human resources</li>
			<li>conference management</li>
			<li>heritage management.</li>
			</ul>
			<p>The University has a dedicated <a href="#">Careers Centre</a> which can provide advice and support throughout your degree and beyond to help you build your employability skills.</p>
			<hr>


			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Graduate destination', 'Percentage'],
          ['Employed',     84],
          ['Other',      16]
        ]);

        var options = {
          chartArea:{left:0,top:0,width:'100%',height:'100%'},
          pieHole: 0.4,
          legend: 'none',
          pieSliceText: 'none',
          fontName: 'pt sans',
          enableInteractivity: false
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


			<figure style="display:flex;align-items:center;">
				<div id="chart_div" style="height:200px;width:200px;margin-bottom:1em;margin-right:2em;"></div>
				<p><span class="font-scale-5 font-weight--bold">84%</span><br><span class="font-scale-1 font-weight--bold">of graduates in full time employment.</span></p>
			</figure>
			<p><a href="#" class="btn btn-action-secondary">Graduate destinations</a></p>
		</section>
		<section id="contact" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Contact us</h2>
			<dl class="paired-values-list paired-values-list--divided collapse-top">
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-phone" aria-hidden="true" title="Phone"></i><span class="sr-only">Phone</span></dt>
			    <dd class="paired-values-list__value">+44 (0)1334 46 2600</dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-envelope" aria-hidden="true" title="Email"></i><span class="sr-only">Email</span></dt>
			    <dd class="paired-values-list__value"><a href="mailto:classics@st-andrews.ac.uk">classics@st-andrews.ac.uk</a></dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-map-marker-alt" aria-hidden="true" title="Address"></i><span class="sr-only">Address</span></dt>
			    <dd class="paired-values-list__value">School of Classics<br>
				University of St Andrews<br>
				Swallowgate<br>
				Butts Wynd<br>
				St Andrews<br>
				KY16 9AL</dd>
			</dl>
			<p><a href="#" class="btn btn-action-secondary">School of Classics website</a></p>
			<hr>
			<h3>Virtual visiting days</h3>
			<p>If you're interested in studying at St Andrews, join us on a <a href="https://www.st-andrews.ac.uk/study/meet-us/ug/">virtual visiting day</a> or <a href="https://www.st-andrews.ac.uk/study/meet-us/online-information-events/">daily information session</a> to find out about our courses, how to apply, and to meet current students.</p>
			<h4>Upcoming undergraduate virtual visiting days</h4>
			<ul>
				<li>Wednesday 7 April 2021</li>
				<li>Wednesday 14 April 2021</li>
			</ul>
			<p><a href="https://www.st-andrews.ac.uk/study/meet-us/ug/" class="btn btn-action-secondary">Book your virtual visiting day</a></p>
		</section>
		<section id="discoveruni" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Discover Uni</h2>
			<p>Discover Uni provides official statistics about higher education courses taken from national surveys and data collected from universities and colleges about all their students. You can use this data to compare information for different degree programmes to help you make a decision about what and where to study.</p>
			<figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFANHSANH" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
			<div class="accordion-item">
	<div class="accordion-item__toggle">
		<h3 class="accordion-item__toggle-title">
			<button class="accordion-item__toggle-button" aria-controls="">Joint degree data</button>
		</h3>
	</div>
	<div class="accordion-item__content" id="" aria-hidden="true">
		<ul><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJAHI/FullTime/">Ancient History and Art History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJBLS/FullTime/">
Ancient History and Biblical Studies</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJCLI/FullTime/">
Ancient History and Comparative Literature</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJECN/FullTime/">
Ancient History and Economics</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJFLS/FullTime/">
Ancient History and Film Studies</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJFRN/FullTime/">
Ancient History and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJGRN/FullTime/">
Ancient History and German</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJGRK/FullTime/">
Ancient History and Greek</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJIRL/FullTime/">
Ancient History and International Relations</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJITN/FullTime/">
Ancient History and Italian</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJLTN/FullTime/">
Ancient History and Latin</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJMTH/FullTime/">
Ancient History and Mathematics</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJMEH/FullTime/">
Ancient History and Medieval History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJPRS/FullTime/">
Ancient History and Persian</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJPHI/FullTime/">
Ancient History and Philosophy</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJSAN/FullTime/">
Ancient History and Social Anthropology</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFANHJSPN/FullTime/">
Ancient History and Spanish</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAFATAFA/FullTime/">
Modern Languages (Arabic and French) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAGATAGA/FullTime/">
Modern Languages (Arabic and German) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAIATAIA/FullTime/">
Modern Languages (Arabic and Italian) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAPATAPA/FullTime/">
Modern Languages (Arabic and Persian) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFASATASA/FullTime/">
Modern Languages (Arabic and Spanish) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFGATFGA/FullTime/">
Modern Languages (French and German) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFIATFIA/FullTime/">
Modern Languages (French and Italian) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFPATFPA/FullTime/">
Modern Languages (French and Persian) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFSATFSA/FullTime/">
Modern Languages (French and Spanish) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFGIATGIA/FullTime/">
Modern Languages (German and Italian) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFGPATGPA/FullTime/">
Modern Languages (German and Persian) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFGSATGSA/FullTime/">
Modern Languages (German and Spanish) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFIPATIPA/FullTime/">
Modern Languages (Italian and Persian) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFISATISA/FullTime/">
Modern Languages (Italian and Spanish) and Ancient History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFPSATPSA/FullTime/">
Modern Languages (Persian and Spanish) and Ancient History</a></li></ul>
</div></div>
<script>(function (d) {"use strict";var widgetScript = d.createElement("script");widgetScript.id = "unistats-widget-script";widgetScript.src = "//discoveruni.gov.uk/widget/embed-script";var scriptTags = d.getElementsByTagName("script")[0];if (d.getElementById("unistats-widget-script")) { return; }scriptTags.parentNode.insertBefore(widgetScript, scriptTags);} (document));</script>
		</section>

    </article>
  </div>
</div>
<!-- Prefooter -->
<aside class="sta-grey-light padding-top--half padding-bottom--half"> 
	<div class="sta-container sta-grid__main-aside">
	    <div class="sta-grid-item__main content no-margin-top">
	    	<h2 class="font-scale-2">Legal notices</h2>
			<p>Admission to the University of St&nbsp;Andrews is governed by our:</p>

			<h3 class="font-scale-1">Curriculum development</h3>
			<p>As a research intensive institution, the University ensures that its teaching references the research interests of its staff, which may change from time to time. As a result, programmes are regularly reviewed with the aim of enhancing students' learning experience.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/course-revision-protocol.pdf">Our approach to course revision is described online</a>&nbsp;<acronym>(PDF, 72 KB)</acronym>.</p>
			<h3 class="font-scale-1">Tuition fees</h3>
			<p>The University will clarify compulsory fees and charges it requires any student to pay at the time of offer. The offer will also clarify conditions for any variation of fees.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/fee-setting-protocol.pdf">The University’s approach to fee setting is described online</a>&nbsp;<acronym>(PDF, 84 KB)</acronym>.</p>
		</div>
	</div>
</aside>
</main>

{{> footer examples-footer}}