---
script_footer: |

    <script src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <link href="../assets/core/styles/datatables.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="../assets/core/scripts/datatables.js"></script>

    <script>
        $(document).ready(function(){


            $('#unit-users').DataTable({
                bAutoWidth: false,
                'columnDefs': [
                    {
                        'targets': 3,
                        'searchable': false,
                        'orderable': false,
                        'data': null,
                        'render': function(data) {
                            return "<a class='btn btn-primary' href='/expense-claim/user/admin/user-forms.htm?username=" + data.email + "'>View forms</a>";
                        }
                    }
                ]
            });

            

        });

    </script> 
---


<div class="container">

    <h1>DataTables</h1>

    <p>jQuery DataTables.</p>

    <!-- This table is made into a DataTable by a custom call in the JavaScript on this page. //-->

    <table id="unit-users" class="table no-footer" aria-describedby="unit-users_info" role="grid">
            <caption>Users in the system</caption>
            <thead>
                <tr role="row"><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Email Address: activate to sort column ascending">Email Address</th><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending">First Name</th><th class="sorting_asc" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" aria-sort="ascending">Last Name</th><th rowspan="1" colspan="1"></th></tr>
            </thead>
            <tbody><tr role="row" class="odd"><td class="">greg@st.com</td><td class="">Greg</td><td class="sorting_1">C</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=greg@st.com">View forms</a></td></tr><tr role="row" class="even"><td class="">dairygoodness@hotmail.com</td><td class="">Andrew</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=dairygoodness@hotmail.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">leecoomber@hotmail.com</td><td class="">Lee</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=leecoomber@hotmail.com">View forms</a></td></tr><tr role="row" class="even"><td class="">ankit@test.com</td><td class="">Ankit</td><td class="sorting_1">Sawa</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=ankit@test.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">test@test.com</td><td class="">Test</td><td class="sorting_1">Testing</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=test@test.com">View forms</a></td></tr><tr role="row" class="even"><td class="">hannah@hannah.com</td><td class="">Hannah</td><td class="sorting_1">Thomson</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=hannah@hannah.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">greg@st.com</td><td class="">Greg</td><td class="sorting_1">C</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=greg@st.com">View forms</a></td></tr><tr role="row" class="even"><td class="">dairygoodness@hotmail.com</td><td class="">Andrew</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=dairygoodness@hotmail.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">leecoomber@hotmail.com</td><td class="">Lee</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=leecoomber@hotmail.com">View forms</a></td></tr><tr role="row" class="even"><td class="">ankit@test.com</td><td class="">Ankit</td><td class="sorting_1">Sawa</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=ankit@test.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">test@test.com</td><td class="">Test</td><td class="sorting_1">Testing</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=test@test.com">View forms</a></td></tr><tr role="row" class="even"><td class="">hannah@hannah.com</td><td class="">Hannah</td><td class="sorting_1">Thomson</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=hannah@hannah.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">greg@st.com</td><td class="">Greg</td><td class="sorting_1">C</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=greg@st.com">View forms</a></td></tr><tr role="row" class="even"><td class="">dairygoodness@hotmail.com</td><td class="">Andrew</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=dairygoodness@hotmail.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">leecoomber@hotmail.com</td><td class="">Lee</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=leecoomber@hotmail.com">View forms</a></td></tr><tr role="row" class="even"><td class="">ankit@test.com</td><td class="">Ankit</td><td class="sorting_1">Sawa</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=ankit@test.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">test@test.com</td><td class="">Test</td><td class="sorting_1">Testing</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=test@test.com">View forms</a></td></tr><tr role="row" class="even"><td class="">hannah@hannah.com</td><td class="">Hannah</td><td class="sorting_1">Thomson</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=hannah@hannah.com">View forms</a></td></tr></tbody>
        </table>



        <!-- This table is made into a DataTable by the additional of the dataTable class. //-->

        <table id="unit-users2" class="table table-primary dataTable no-footer" role="grid">
            <caption>Users in the system2</caption>
            <thead>
                <tr role="row"><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Email Address: activate to sort column ascending">Email Address</th><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending">First Name</th><th class="sorting_asc" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" aria-sort="ascending">Last Name</th><th rowspan="1" colspan="1"></th></tr>
            </thead>
            <tbody><tr role="row" class="odd"><td class="">greg@st.com</td><td class="">Greg</td><td class="sorting_1">C</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=greg@st.com">View forms</a></td></tr><tr role="row" class="even"><td class="">dairygoodness@hotmail.com</td><td class="">Andrew</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=dairygoodness@hotmail.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">leecoomber@hotmail.com</td><td class="">Lee</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=leecoomber@hotmail.com">View forms</a></td></tr><tr role="row" class="even"><td class="">ankit@test.com</td><td class="">Ankit</td><td class="sorting_1">Sawa</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=ankit@test.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">test@test.com</td><td class="">Test</td><td class="sorting_1">Testing</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=test@test.com">View forms</a></td></tr><tr role="row" class="even"><td class="">hannah@hannah.com</td><td class="">Hannah</td><td class="sorting_1">Thomson</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=hannah@hannah.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">greg@st.com</td><td class="">Greg</td><td class="sorting_1">C</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=greg@st.com">View forms</a></td></tr><tr role="row" class="even"><td class="">dairygoodness@hotmail.com</td><td class="">Andrew</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=dairygoodness@hotmail.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">leecoomber@hotmail.com</td><td class="">Lee</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=leecoomber@hotmail.com">View forms</a></td></tr><tr role="row" class="even"><td class="">ankit@test.com</td><td class="">Ankit</td><td class="sorting_1">Sawa</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=ankit@test.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">test@test.com</td><td class="">Test</td><td class="sorting_1">Testing</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=test@test.com">View forms</a></td></tr><tr role="row" class="even"><td class="">hannah@hannah.com</td><td class="">Hannah</td><td class="sorting_1">Thomson</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=hannah@hannah.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">greg@st.com</td><td class="">Greg</td><td class="sorting_1">C</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=greg@st.com">View forms</a></td></tr><tr role="row" class="even"><td class="">dairygoodness@hotmail.com</td><td class="">Andrew</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=dairygoodness@hotmail.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">leecoomber@hotmail.com</td><td class="">Lee</td><td class="sorting_1">Coomber</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=leecoomber@hotmail.com">View forms</a></td></tr><tr role="row" class="even"><td class="">ankit@test.com</td><td class="">Ankit</td><td class="sorting_1">Sawa</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=ankit@test.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">test@test.com</td><td class="">Test</td><td class="sorting_1">Testing</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=test@test.com">View forms</a></td></tr><tr role="row" class="even"><td class="">hannah@hannah.com</td><td class="">Hannah</td><td class="sorting_1">Thomson</td><td><a class="btn btn-primary" href="/expense-claim/user/admin/user-forms.htm?username=hannah@hannah.com">View forms</a></td></tr></tbody>
        </table>


</div>




