---
title: Example course page
---

{{> text-banner examples-text-banner.course}}

{{> header}}

{{> category-header examples-content-course.category-header}}

{{> navigation-bar examples-content-course.navigation-bar}}

{{> breadcrumbs examples-content-course.breadcrumbs6}}

<main id="content-begin">

<!-- Key info area-->	
<div class="page-intro__wrapper no-margin-bottom">
	<div class="page-intro page-intro--has-media">
		<div class="page-intro__text">
			<h1 class="page-intro__heading">English MA (Hons) <small>2022 entry</small></h1>
			<p class="lead">Closely read literary works from across a range of genres and historical eras, from medieval texts in Old English and Older Scots to Renaissance plays, contemporary poetry, revolutionary 19th-century novels and more. On this course, you will engage with and consider the ideas, human values and historical forces that have helped shape literature.</p>
			<div class="alert alert-info">
	        	<dl class="paired-values-list collapse-top font-scale-1 collapse-bottom" aria-label="Key information">
	          		<dt class="paired-values-list__name font-weight--bold">UCAS code</dt>
	          		<dd class="paired-values-list__value">Q300</dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Start date</dt>
	          		<dd class="paired-values-list__value">5 September 2022</dd>
	          		<dt class="paired-values-list__name font-weight--bold">End date</dt>
	          		<dd class="paired-values-list__value">30 June 2026</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Duration</dt>
	          		<dd class="paired-values-list__value">4 years</dd>
	          		<dt class="paired-values-list__name font-weight--bold">Study mode</dt>
	          		<dd class="paired-values-list__value">Full time</dd>       
	        	</dl>
	        </div>
		</div>
		<div class="page-intro__media">
			<figure class="page-intro__media-wrapper"><img src="https://www.st-andrews.ac.uk/assets/university/subjects/images/english/english-subject-750x500.jpg" alt="Two women in an office with books"></figure>
		</div>
	</div>
</div>
<div id="nav-top" class="sticky-cta affix-top">
	<div class="sta-container">
		<a class="btn btn-action" href="https://www.st-andrews.ac.uk/study/register/">Register your interest</a><a class="btn btn-action-secondary" href="https://www.st-andrews.ac.uk/study/apply/ug/">How to apply</a>
		<div class="sticky-cta__label"><span class="font-weight--bold">English MA (Hons)</span> 2022 entry</div>
    </div>
</div>
<!-- Main content area -->
<div class="section__anchor--sticky margin-bottom--half">
  <div class="sta-container sta-grid__main-aside">
    <aside class="sta-grid-item__aside">
    	<div id="sticky-nav__active-section" style="display:none:"></div>
    	<nav class="sta-contents sta-contents-aside sta-contents-aside--sticky" aria-labelledby="sta-contents-heading">
    		<h2 id="sta-contents-heading" class="sta-contents__heading">On this page</h2>
	    	<ul id="sta-contents-sticky">
	    		<li><a href="#overview">Overview</a></li>
	    		<li><a href="#entry-requirements">Entry requirements</a></li>
	    		<li><a href="#course-details">Course details</a></li>
	    		<li><a href="#fees">Fees</a></li>
	    		<li><a href="#joint-honours">Joint Honours degrees</a></li>
	    		<li><a href="#careers">Careers</a></li>
	    		<li><a href="#contact">Contact</a></li>
	    		<li><a href="#meet">Meet us</a></li>
	    		<li><a href="#unistats">Unistats</a></li>
	    	</ul>
	    </nav>
    </aside>
    <article class="sta-grid-item__main content">
    	
    	<section id="overview" class="heading-section content-section section__anchor--sticky">
			<p>In the first two years of this course, you will read and reflect on a broad range of topics across literary genres from the Middle Ages to the present day.</p>

			<p>At St Andrews, you are encouraged to develop a breadth of knowledge and perspectives. As such, you will take at least one module in each of the following areas:</p>

			<ul>
				<li>medieval literature</li>
				<li>early modern literature</li>
				<li>18th or 19th-century literature.</li>
			</ul> 

			<p>This will equip you with the range of literary experience and critical skills necessary for more in-depth study of specialist subject areas in your third and fourth years (known as Honours years). Specialist subject areas at St Andrews include (but are not limited to):</p> 
			<ul>
				<li>Old English literature</li> 
				<li>literature and ecology</li> 
				<li>Renaissance bodies</li> 
				<li>literature and gender</li> 
				<li>Victorian culture</li> 
				<li>creative writing</li> 
				<li>Cold War writing</li> 
				<li>world literature.</li> 
			</ul> 

			<p>In your final year, you will complete a dissertation on a topic chosen in consultation with teaching staff at the School of English.</p> 

			<p>By the time you graduate, you will:</p>

			<ul>
				<li>have a highly developed sense of independent critical thinking and judgement</li>
				<li>be alert to the possibilities of expressive language</li>
				<li>have developed both a broad, and - in some areas - a deep knowledge of literature in English.</li>
			</ul> 
			<figure class="blockquote">
		    <blockquote class="font-scale-1">
		        <p>&ldquo;I chose to study English here partly due to the excellent reputation of the School and partly for the opportunity to study both well-known and obscure pieces of literature. The small group tutorials are invaluable in sounding out ideas for essays, learning how better to build an argument, and gaining confidence in literary analysis.&rdquo;</p>
		    </blockquote>
		    <figcaption class="blockquote__author">
		<div class="blockquote__author-thumbnail">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://www.st-andrews.ac.uk/assets/university/subjects/images/english/callum-english.jpg" alt="Callum">
		</div>
		<div><strong>Callum</strong>  <br>- Derbyshire, England</div>
	</figcaption>
		</figure>
		</section>
		<section id="entry-requirements" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Entry requirements</h2>
			<div class="callout callout--info" >
			    <h3 class="callout__heading">Do I need to have studied this subject before? </h3><p>Yes, you must have studied English or English Literature at SQA Higher, GCE A-Level or equivalent.</p>
			</div>
			<p>The grades below are the overall standards required to consider you for entry.</p> 
			<p><span class="font-weight--bold">For applicants in the UK</span>, there are three categories of entry requirements: Standard, Minimum and Gateway. The category you should look at depends on your contextual data. If you are unsure which category you fall under, please use our <a href="https://www.st-andrews.ac.uk/subjects/entry/indicator">academic entry qualification indicator</a> and see <a href="https://www.st-andrews.ac.uk/subjects/entry/academic-entry-explained/">academic entry explained</a> for more information.</p>
			<!-- Begin pattern: accordion //-->
<ul class="accordion-group">
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">SQA Highers</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">AAAAB <div class="font-scale-reset">including A in English</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">AABB <div class="font-scale-reset">including A in English</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold">Gateway entry grades</dt>
	          		<dd class="paired-values-list__value">BBBB</dd>
	        	</dl>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">GCE A-Levels</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">AAA <div class="font-scale-reset">including A in English or English Literature</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">ABB <div class="font-scale-reset">including A in English or English Literature</div></dd>
	        	</dl>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h3 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">IB points</button>
        </h3>
    </div>
    <div class="accordion-item__content">
    	<dl class="paired-values-list  paired-values-list--divided">
	          		<dt class="paired-values-list__name font-weight--bold">Standard entry grades</dt>
	          		<dd class="paired-values-list__value">38 (HL 6,6,6) <div class="font-scale-reset">including HL6 in English</div></dd>
	          		<dt class="paired-values-list__name font-weight--bold" >Minimum entry grades</dt>
	          		<dd class="paired-values-list__value">36 (HL 6,5,5) <div class="font-scale-reset">including HL6 in English</div></dd>
	        	</dl>
	</div>
</li>
</ul>
<!-- End pattern: accordion //-->
<p>The University accepts a wide range of qualifications. If you do not have an SQA Higher, GCE A-Level or International Baccalaureate, please see <a href="https://www.st-andrews.ac.uk/subjects/entry/">entry requirements by country</a>.</p>
<h3>University entry requirements</h3>
<p>In addition to meeting the specific entry requirements for this course, you will also need to meet the University’s general entry requirements.</p> 
		<!-- Begin pattern: accordion //-->
<ul class="accordion-group">
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h4 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">SQA qualifications</button>
        </h4>
    </div>
    <div class="accordion-item__content">
<p>SQA National 5 (B) in English and one SQA National 5 (B) from the following:</p>
<ul>
	<li>Biology</li>
	<li>Chemistry</li>
	<li>Computing science</li>
	<li>Geography</li>
	<li>Lifeskills Mathematics (A grade)</li>
	<li>Mathematics</li>
	<li>Physics</li>
	<li>Psychology.</li>
</ul>
	</div>
</li>
<li class='accordion-item'>
    <div class="accordion-item__toggle">
        <h4 class="accordion-item__toggle-title">
            <button class="accordion-item__toggle-button">GCSE qualifications</button>
        </h4>
    </div>
    <div class="accordion-item__content">
<p>GCSE (5) in English language or English literature, and one GCSE (5) from the following:</p>
<ul>
	<li>Biology</li>
	<li>Chemistry</li>
	<li>Computing Science</li>
	<li>Geography</li>
	<li>Mathematics</li>
	<li>Physics</li>
	<li>Psychology.</li>
</ul>
	</div>
</li>
</ul>
<!-- End pattern: accordion //-->
<h3>English language requirements for international applicants</h3>
<p>If English is not your first language, you will need to provide evidence of your English language ability. Find out more about <a href="https://www.st-andrews.ac.uk/subjects/entry/language-requirements/undergraduate/">English language requirements</a>.</p>
		</section>
		<section id="course-details" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Course details</h2>


			<h3 id="modules">Modules</h3>
			<p>The module links below provide information about the module for the current year of entry. Module details may change for 2022 entry.</p>
			<div class="tabs-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active in" role="presentation"><a aria-selected="true" href="#tab-1" data-toggle="tab" aria-controls="tab-1" role="tab">First year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-2" data-toggle="tab" aria-controls="tab-2" role="tab">Second year</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-3" data-toggle="tab" aria-controls="tab-3" role="tab">Third and fourth years (Honours)</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-1" role="tabpanel">
                        <p>In your first year, you must take the following two modules:</p>
                        <!-- Begin pattern: search results //-->
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=EN1003&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Culture and Conflict: An Introduction to Nineteenth- and Twentieth-Century Literature</h4>
						        </a>
						        <p class="search-result__summary">Introduces a small number of texts, in prose and verse, from the 19th and 20th centuries.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=EN1004&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Empires and Revolutions: Literature 1680-1830</h4>
						        </a>
						        <p class="search-result__summary">Examines travel, colonialism, and different constructions of ‘man’s natural estate’ in the 18th century.</p>
						    </li>
						</ul>
						<!-- End pattern: search results //-->
                    </div>
                    <div class="tab-pane fade " id="tab-2" role="tabpanel">
                        <p>In second year, you must take the following modules:</p>
						<ul class="search-results search-results--divided">
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=EN2004&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Drama: Reading and Performance</h4>
						        </a>
						        <p class="search-result__summary">Introduces a number of representative plays from the Renaissance period to the 21st century. Emphasis is placed upon the context in which these plays were first created and those in which they are now received.</p>
						    </li>
						    <li class="search-result">
						        <a href="https://www.st-andrews.ac.uk/subjects/modules/catalogue/?code=EN2003&academic_year=2021/2" class="search-result__link">
						            <h4 class="search-result__heading">Medieval and Renaissance Texts</h4>
						        </a>
						        <p class="search-result__summary">Introduces early forms of English language and literature, using specially edited texts from Old English, Middle English and Older Scots.</p>
						    </li>
						</ul>
												
                    </div>
                    <div class="tab-pane fade " id="tab-3" role="tabpanel">
                        <p>If you decide to take English in your third and fourth years, you choose from a wide variety of advanced options, including:</p>
                        <ul>
                        	<li>contemporary fiction</li>
                        	<li>creative writing</li>
                        	<li>literary theory</li>
                        	<li>Old English</li>
                        	<li>playwriting</li>
                        	<li>Renaissance literature</li>
                        	<li>Restoration drama</li>
                        	<li>Romanticism</li>
                        	<li>Scottish verse</li>
                        	<li>Shakespeare</li>
                        	<li>the Victorian novel.</li>
                        </ul> 

						<p>The School of English offers between 40 and 50 Honours modules in each academic year. Here is a sample of Honours modules which have been offered in previous years:</p> 
						<ul>
							<li>Beowulf</li>
                        	<li>Contemporary Fiction</li>
                        	<li>'Loose Baggy Monsters': The Rise and Fall of the Victorian Novel</li>
                        	<li>Postcolonial Literature and Theory</li>
                        	<li>Reading Popular Music</li>
                        	<li>Romantic Gothic</li>
                        	<li>The Younger Romantics: Poetry and Prose (1810 - 1830).</li>
                        </ul> 

						<p>For more examples, see a full list of Honours modules offered in the previous year: <a href="https://www.st-andrews.ac.uk/assets/university/schools/school-of-english/documents/staff-students/ug/hons-choices.pdf">Honours choices 2021-2022 (PDF)</a></p> 

						<p>In fourth year, you will undertake a substantial dissertation on a topic of your choice. This independent project enables you to develop key research skills which are desired by both prospective employers and by graduate schools offering postgraduate degrees.</p>                     
						</div>
                </div>
            </div>

            <h3 id="other-subjects">Taking other subjects</h3>

			<p>In addition to English, you will be required to study an additional two subjects in your first year. This allows you to explore other courses of interest. In your second year, you will usually carry on at least one of these subjects. Find out more about the <a href="https://www.st-andrews.ac.uk/subjects/study-options/ug/degree-routes/honours/">Honours degree structure</a>.</p> 

			<p>You can also take English as part of a joint Honours degree in which you will take core modules in two or three subjects. See more information on <a href="#joint-honours">joint options</a> below.</p> 
			
			<h3 id="format">Teaching format</h3>
			<p>English modules are taught through a combination of:</p>
			<ul>
				<li>Lectures – these larger classes provide information, stimulate thought, and suggest directions for further reading and personal study. Typical lecture sizes are around 240 students in first year and 150 students in second year. </li> 
				<li>Seminars and tutorials - these smaller classes allow you to actively work together with your tutors and your peers to discuss topics from lectures, present papers and discuss texts and issues relevant to the course. Typical tutorial sizes are between 5 to 9 students in first and second year.  </li>  
			</ul>
 			<p>In third and fourth year, modules are taught in much smaller classes of no more than 20 students.   </p>  
 			<p>Outside of class, you will be expected to undertake independent work and study. This may involve, for example:</p> 
			<ul>
				<li>working on individual and group projects</li> 
				<li>undertaking research in the library</li> 
				<li>preparing coursework assignments and presentations</li> 
				<li>preparing for examinations.</li> 
			</ul>
			<p>Though a good deal of the study of English involves individual effort, group work provides a sense of confirmation, fruitful disagreement, and community to complement the sometimes solitary business of reading and writing. </p>
			<h3 id="coursework-grades">Coursework and grades</h3>
			<p>For your first and second year, you will complete two essays and two examination questions for each of your modules. These are each worth 25% of your total grade.</p>  

			<p>For your third and fourth year, assessment for modules varies, although essays and examinations remain a central component.</p>  

			<p>Coursework may include:</p>
			<ul>
				<li>essays</li>
				<li>oral presentations</li>
				<li>electronic projects</li>
				<li>creative writing portfolios.</li>
			</ul>  

			<p>Several Honours-level modules involve creative coursework such as:</p> 

			<ul>
				<li>literary journal keeping</li>
				<li>writing a short play</li>
				<li>medieval forgery.</li>
			</ul> 

			<p>The School of English aims to provide feedback on assessments and coursework within three weeks to help you improve on future assessments.</p> 

			<p>Most examinations are held at the end of the semester during a dedicated exam period. There is a dedicated revision week before exams which provides you time to prepare.  </p>

			<h3 id="study-abroad">Study abroad</h3>
			<p>Students taking English may apply to participate in the University-wide St Andrews Abroad programme or in the School Abroad exchange programme. For information about study abroad options, please see the <a href="https://www.st-andrews.ac.uk/study-abroad/">study abroad</a> site.</p>

		</section>
		<section id="fees" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Fees</h2>
			<dl class="paired-values-list paired-values-list--divided collapse-top" aria-label="Tuition fees by fee status">
			    <dt class="paired-values-list__name font-weight--bold">Home-funded</dt>
			    <dd class="paired-values-list__value">Tuition fees for Scottish applicants have yet to be set for 2022 entry.</dd>
			    <dt class="paired-values-list__name font-weight--bold">Rest of the UK</dt>
			    <dd class="paired-values-list__value">Tuition fees for applicants from the rest of the UK have yet to be set for 2022 entry.</dd>
			    <dt class="paired-values-list__name font-weight--bold">EU and overseas</dt>
			    <dd class="paired-values-list__value">Tuition fees for EU and overseas applicants have yet to be set for 2022 entry.</dd>
			</dl>
			<p>More information on tuition fees can be found on the <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/">undergraduate fees and funding</a> page.</p>
			<h3>Additional costs</h3>
			<p>You may incur additional costs in the course of your education at the University over and above tuition fees in an academic year. See an <a href="https://www.st-andrews.ac.uk/students/money/internationalstudents/ugcoa/">estimated cost of attendance</a>.</p>
			<h3>Funding and scholarships</h3>
<p>The University of St&nbsp;Andrews offers a number of <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/scholarships/">scholarships</a> and <a href="https://www.st-andrews.ac.uk/study/fees-and-funding/undergraduate/financial-assistance/">support packages</a> to undergraduate students each year.</p>
		</section>
		<section id="joint-honours" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Joint Honours degrees</h2>
			<p>You can also take English as part of a <a href="https://www.st-andrews.ac.uk/subjects/study-options/ug/degree-routes/honours/joint/">joint Honours degree</a> in which you will take core modules in your chosen subjects.</p>

			    	<table class="dataTable table table-primary dpl-form" role="grid">
					    <thead>
					        <tr role="row">
					            <th class="sorting_asc" tabindex="0" aria-sort="ascending"  aria-label="Course name: activate to sort column descending">Course name</th>
					            <th class="sorting" tabindex="0" aria-label="UCAS code: activate to sort column ascending">UCAS&nbsp;code</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and English</td>
					        	<td>TQ63</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/art-history/art-history-ma-2022/">Art History</a> and English</td>
					        	<td>QV33</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/divinity/biblical-studies-ma-2022/">Biblical Studies</a> and English</td>
					        	<td>QVH6</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/classical-studies/classical-studies-ma-2022/">Classical Studies</a> and English</td>
					        	<td>QQ38</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/classics-greek-latin/classics-ma-2022/">Classics</a> and English</td>
					        	<td>QP6T</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/comparative-literature/comparative-literature-ma-2022/">Comparative Literature</a> and English</td>
					        	<td>Q290</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'><a href="https://www.st-andrews.ac.uk/subjects/economics/economics-ma-2022/">Economics</a> and English</td>
					        	<td>LQ13</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/film-studies/film-studies-ma-2022/">Film Studies</a></td>
					        	<td>PQ33</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a></td>
					        	<td>QR31</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> (with Integrated Year Abroad)</td>
					        	<td>QRH1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a></td>
					        	<td>QR32</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a> (with Integrated Year Abroad)</td>
					        	<td>QRH2</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/classics-greek-latin/greek-ma-2022/">Greek</a></td>
					        	<td>QQ37</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/divinity/hebrew-ma-2022/">Hebrew</a></td>
					        	<td>QQ34</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/international-relations/international-relations-ma-2022/">International Relations</a></td>
					        	<td>LQ23</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a></td>
					        	<td>QR33</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a> (with Integrated Year Abroad)</td>
					        	<td>RQ33</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/classics-greek-latin/latin-ma-2022/">Latin</a></td>
					        	<td>QQ36</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/management/management-ma-2022/">Management</a></td>
					        	<td>QN32</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/mathematics/mathematics-ma-2022/">Mathematics</a></td>
					        	<td>Q3G1</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/history/medieval-history-ma-2022/">Medieval History</a></td>
					        	<td>QVH1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/middle-east-studies/middle-east-studies-ma-2022/">Middle East Studies</a></td>
					        	<td>QT36</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/history/modern-history-ma-2022/">Modern History</a></td>
					        	<td>QV31</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a></td>
					        	<td>QT25</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/philosophy/philosophy-ma-2022/">Philosophy</a></td>
					        	<td>QV35</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/psychology/psychology-ma-2022/">Psychology</a> (with optional British Psychological Society accreditation)</td>
					        	<td>CQ83</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a></td>
					        	<td>QR37</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a> (with Integrated Year Abroad)</td>
					        	<td>QRH7</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/history/scottish-history-ma-2022/">Scottish History</a></td>
					        	<td>QVH2</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/social-anthropology/social-anthropology-ma-2022/">Social Anthropology</a></td>
					        	<td>QL36</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a></td>
					        	<td>QR34</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a> (with Integrated Year Abroad)</td>
					        	<td>QRH4</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/sustainable-development/sustainable-development-ma-2022/">Sustainable Development</a></td>
					        	<td>SEN1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>English and <a href="https://www.st-andrews.ac.uk/subjects/divinity/theological-studies-ma-2022/">Theological Studies</a></td>
					        	<td>QV36</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a>) and English</td>
					        	<td>T66H</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a>) and English (with Integrated Year Abroad)</td>
					        	<td>TQ6I</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a>) and English</td>
					        	<td>TRQ3</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a>) and English (with Integrated Year Abroad)</td>
					        	<td>TRQ2</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a>) and English</td>
					        	<td>TRQJ</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a>) and English</td>
					        	<td>9Q12</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English</td>
					        	<td>TQ6H</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>TQPJ</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English</td>
					        	<td>TS6L</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/arabic/arabic-ma-2022/">Arabic</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English (with Integrated Year Abroad)</td>
					        	<td>TRQL</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a>) and English</td>
					        	<td>RR1F</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RRDG</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a>) and English</td>
					        	<td>RRDJ</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RRC3</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a>) and English</td>
					        	<td>7610</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>98Q5</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English</td>
					        	<td>RR1T</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RRCR</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English</td>
					        	<td>RR41</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/french/french-ma-2022/">French</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RR4C</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a> and <a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a>) and English</td>
					        	<td>RR3G</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a> and <a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RRF3</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a> and <a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a>) and English</td>
					        	<td>73Q0</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a> and <a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>63T6</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English</td>
					        	<td>RRT2</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RR2T</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English</td>
					        	<td>RRGL</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/german/german-ma-2022/">German</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RR42</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a> and <a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a>) and English</td>
					        	<td>8003</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a> and <a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>9Q30</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English</td>
					        	<td>RRHR</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RRH7</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English</td>
					        	<td>RRJL</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/italian/italian-ma-2022/">Italian</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RRH4</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English</td>
					        	<td>8030</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a> and <a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a>) and English (with Integrated Year Abroad)</td>
					        	<td>9030</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English</td>
					        	<td>83Q1</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/persian/persian-ma-2022/">Persian</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English (with Integrated Year Abroad)</td>
					        	<td>84T5</td>
					       	</tr>
					        <tr role='row' class='odd'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English</td>
					        	<td>RR74</td>
					       	</tr>
					        <tr role='row' class='even'>
					        	<td class='sorting_1'>Modern Languages (<a href="https://www.st-andrews.ac.uk/subjects/russian/russian-ma-2022/">Russian</a> and <a href="https://www.st-andrews.ac.uk/subjects/spanish/spanish-ma-2022/">Spanish</a>) and English (with Integrated Year Abroad)</td>
					        	<td>RRR4</td>
					       	</tr>
					    </tbody>
					</table>
			<p><a href="https://www.st-andrews.ac.uk/subjects/study-options/ug/degree-routes/honours/joint/" class="btn btn-action-secondary">What is a joint Honours degree?</a></p>
			
		</section>
		
		
		<section id="careers" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Careers</h2>
			<p>English graduates at St Andrews have found careers as:</p>
			<ul>
				<li>art administration (the Barbican Centre and Sotheby's)</li>
				<li>charitable organisations</li>
				<li>internships with the United Nations</li>
				<li>public policy (Scottish Executive and the British Council) </li>
				<li>sales (Waterstones and WHSmith)</li>
				<li>the financial sector (KPMG and Santander)</li>
				<li>writers and editors (Oxford University Press, Penguin Books, Harper Collins and more).</li>  
			</ul>
			<p>The University has a dedicated <a href="https://www.st-andrews.ac.uk/careers/">Careers Centre</a> which can provide advice and support throughout your degree and beyond to help you build your employability skills.</p>
			<hr>


			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Graduate destination', 'Percentage'],
          ['Full-time employment or full-time further study', 62],
          ['Other (Including caring, retired, volunteering, due to start work and unemployed)', 38]
        ]);

        var options = {
          chartArea:{left:0,top:0,width:'100%',height:'100%'},
          pieHole: 0.4,
          legend: 'none',
          pieSliceText: 'none',
          fontName: 'pt sans',
          enableInteractivity: false,
          slices: {
            1: { color: '#00853f' },
            0: { color: '#bfe1cf' }
          },
          reverseCategories: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


			<figure style="display:flex;align-items:center;">
				<div id="chart_div" style="height:200px;width:200px;margin-bottom:1em;margin-right:2em;"></div>
				<p><span class="font-scale-5 font-weight--bold">62%</span><br><span class="font-scale-1 font-weight--bold">of graduates in full-time employment or full-time further study.</span></p>
			</figure>
			<p><a href="https://www.st-andrews.ac.uk/careers/exploring-your-future/destinations/" class="btn btn-action-secondary">Graduate destinations</a></p>
			<hr>
			<h3>Progressing to postgraduate study</h3> 
			<p>Many graduates choose to continue their studies by taking a taught Masters course or by pursuing a research degree (such as a PhD).</p>  
			<p><a href="https://www.st-andrews.ac.uk/subjects/english/" class="btn btn-action-secondary">Postgraduate courses in English at St Andrews</a></p>  
		</section>
		<section id="contact" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Contact us</h2>
			<dl class="paired-values-list paired-values-list--divided collapse-top">
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-phone" aria-hidden="true" title="Phone"></i><span class="sr-only">Phone</span></dt>
			    <dd class="paired-values-list__value"><a href="tel:+441334462666">+44 (0)1334 46 2666</a></dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-envelope" aria-hidden="true" title="Email"></i><span class="sr-only">Email</span></dt>
			    <dd class="paired-values-list__value"><a href="mailto:english@st-andrews.ac.uk">english@st-andrews.ac.uk</a></dd>
			    <dt class="paired-values-list__name font-weight--bold"><i class="fas fa-map-marker-alt" aria-hidden="true" title="Address"></i><span class="sr-only">Address</span></dt>
			    <dd class="paired-values-list__value">School of English<br>
				University of St Andrews<br>
				Castle House<br>
				The Scores<br>
				St Andrews<br>
				KY16 9AL</dd>
			</dl>
			<p><a href="https://www.st-andrews.ac.uk/english/" class="btn btn-action-secondary">School of English website</a></p>
		</section>


		<section id="meet" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Meet us</h2>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/online-information-events/">Online information events</a></h3>
			<p>Join us for one of our information events where you can find out about different levels of study and specific courses we run. There are also sessions available for parents and college counsellors.</p>
			<h3><a href="https://www.st-andrews.ac.uk/study/meet-us/ug/">Visiting days</a></h3>
			<p>We encourage all students who are thinking of applying to the University to attend one of our online visiting days.</p> 
 
		</section>

		<section id="unistats" class="heading-section content-section section__anchor--sticky">
			<h2 class="heading-section__heading">Unistats</h2>
			<p>Discover Uni provides official statistics about higher education courses taken from national surveys and data collected from universities and colleges about all their students. You can use this data to compare information for different degree programmes to help you make a decision about what and where to study.</p>
			<figure><div class="kis-widget reset--link-style" data-institution="10007803" data-course="UAHFENGSENG" data-kismode="FullTime" data-orientation="responsive" data-language="en-GB"></div></figure>
			<div class="accordion-item">
	<div class="accordion-item__toggle">
		<h3 class="accordion-item__toggle-title">
			<button class="accordion-item__toggle-button" aria-controls="">Joint degree data</button>
		</h3>
	</div>
	<div class="accordion-item__content" id="" aria-hidden="true">
		<ul><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFARBJENG/FullTime/">Arabic and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAHIJENG/FullTime/">
Art History and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFBLSJENG/FullTime/">
Biblical Studies and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFCSSJENG/FullTime/">
Classical Studies and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFCLSJENG/FullTime/">
Classics and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFCLIJENG/FullTime/">
Comparative Literature and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFECNJENG/FullTime/">
Economics and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJFLS/FullTime/">
English and Film Studies</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJFRN/FullTime/">
English and French</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJGRN/FullTime/">
English and German</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJGRK/FullTime/">
English and Greek</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJHEB/FullTime/">
English and Hebrew</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJITN/FullTime/">
English and Italian</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJLTN/FullTime/">
English and Latin</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJMGT/FullTime/">
English and Management</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJMTH/FullTime/">
English and Mathematics</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJMES/FullTime/">
English and Middle East Studies</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJMHI/FullTime/">
English and Modern History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJPRS/FullTime/">
English and Persian</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJPHI/FullTime/">
English and Philosophy</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJBPS/FullTime/">
English and Psychology</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJRSN/FullTime/">
English and Russian</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJSCH/FullTime/">
English and Scottish History</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJSAN/FullTime/">
English and Social Anthropology</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJSPN/FullTime/">
English and Spanish</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFENGJTHS/FullTime/">
English and Theological Studies</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAFETAFE/FullTime/">
Modern Languages (Arabic and French) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAGETAGE/FullTime/">
Modern Languages (Arabic and German) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAIETAIE/FullTime/">
Modern Languages (Arabic and Italian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFAPETAPE/FullTime/">
Modern Languages (Arabic and Persian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFARETARE/FullTime/">
Modern Languages (Arabic and Russian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFASETASE/FullTime/">
Modern Languages (Arabic and Spanish) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFGETFGE/FullTime/">
Modern Languages (French and German) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFIETFIE/FullTime/">
Modern Languages (French and Italian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFPETFPE/FullTime/">
Modern Languages (French and Persian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFRETFRE/FullTime/">
Modern Languages (French and Russian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFFSETFSE/FullTime/">
Modern Languages (French and Spanish) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFGIETGIE/FullTime/">
Modern Languages (German and Italian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFGPETGPE/FullTime/">
Modern Languages (German and Persian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFGRETGRE/FullTime/">
Modern Languages (German and Russian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFGSETGSE/FullTime/">
Modern Languages (German and Spanish) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFIPETIPE/FullTime/">
Modern Languages (Italian and Persian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFIRETIRE/FullTime/">
Modern Languages (Italian and Russian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFISETISE/FullTime/">
Modern Languages (Italian and Spanish) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFPRETPRE/FullTime/">
Modern Languages (Persian and Russian) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFPSETPSE/FullTime/">
Modern Languages (Persian and Spanish) and English</a></li><li><a href="https://discoveruni.gov.uk/course-details/10007803/UAHFRSETRSE/FullTime/">
Modern Languages (Russian and Spanish) and English</a></li></ul>
</div></div>
<script>(function (d) {"use strict";var widgetScript = d.createElement("script");widgetScript.id = "unistats-widget-script";widgetScript.src = "//discoveruni.gov.uk/widget/embed-script";var scriptTags = d.getElementsByTagName("script")[0];if (d.getElementById("unistats-widget-script")) { return; }scriptTags.parentNode.insertBefore(widgetScript, scriptTags);} (document));</script>
		</section>

    </article>
  </div>
</div>
<!-- Prefooter -->
<aside class="sta-grey-light padding-top--half padding-bottom--half"> 
	<div class="sta-container sta-grid__main-aside">
	    <div class="sta-grid-item__main content no-margin-top">
	    	<h2>Legal notices</h2>
			<p>Admission to the University of St&nbsp;Andrews is governed by our:</p>

			<h3>Curriculum development</h3>
			<p>As a research intensive institution, the University ensures that its teaching references the research interests of its staff, which may change from time to time. As a result, programmes are regularly reviewed with the aim of enhancing students' learning experience.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/course-revision-protocol.pdf">Our approach to course revision is described online</a>&nbsp;<acronym>(PDF, 72 KB)</acronym>.</p>
			<h3>Tuition fees</h3>
			<p>The University will clarify compulsory fees and charges it requires any student to pay at the time of offer. The offer will also clarify conditions for any variation of fees.&nbsp;<a class="js-ga-track" href="https://www.st-andrews.ac.uk/media/teaching-and-learning/policies/fee-setting-protocol.pdf">The University’s approach to fee setting is described online</a>&nbsp;<acronym>(PDF, 84 KB)</acronym>.</p>
			<h2>Previous years of entry</h2>
			<p>Information about all programmes from previous years of entry can be found in the <a href="https://archive.st-andrews.ac.uk/courses/">archive</a>.</p>
		</div>
	</div>
</aside>
</main>

{{> footer examples-footer}}