---
title: Example error page
---

{{> text-banner examples-text-banner.error}}

{{> header examples-header}}

{{> navigation-bar examples-index.navigation-bar}}

<!-- BODY -->

<div class="hero-banner" style="background-image:url(../../docs/assets/docs/images/background/error-banner.jpg);">
  <div class="container">
    <div class="bg"></div>
    <div class="fg">
      <div class="404-heading" style="color: #444; font-size: 200px; font-weight: 600; text-align: center; text-shadow: 2px 2px 9px rgba(68,68,68,0.7); line-height: 1.1;">404</div>
      <div class="404-sub-heading" style="color: #444; font-size: 50px; font-weight: 600; text-align: center; text-shadow: 2px 2px 9px rgba(68,68,68,0.7); line-height: 2;">Page not found</div>
      <div class="404-text" style="color: #444; font-size: 25px; font-weight: 200; text-align: center; text-shadow: 2px 2px 9px rgba(68,68,68,0.7); line-height: 2;">Sorry, we can't find <strong>http://www.st-andrews.ac.uk:443/404.</strong></div>
      <div class="404-text" style="color: #444; font-size: 25px; font-weight: 200; text-align: center; text-shadow: 2px 2px 9px rgba(68,68,68,0.7); line-height: 2;">That page may never have existed, or it may have been moved or deleted.</strong></div>
      <div class="404-text" style="color: #444; font-size: 25px; font-weight: 200; text-align: center; text-shadow: 2px 2px 9px rgba(68,68,68,0.7); line-height: 2;">Or perhaps it floated out to sea. Sorry about that.</strong></div> 
      </div>
    </div>
</div>


<!-- SEARCH AND CONTACT -->

<div class="container" id="[id]">
  <div class="row">
    <div class="col-sm-8">
      <section class="content" role="main">
      	<!--search box -->
      	<h3>Search the university website</h3>
      </section>
  </div>

  <div class="col-sm-4">
  	<!--digitalteam contact -->
  	<h3>Report a problem</h3>
  	<p>Please report any problems to <a href="mailto: example@st-andrews.ac.uk">example@st-andrews.ac.uk</a></p>
  	<br>
  </div>

</div> <!-- row -->
</div> <!-- container -->


{{> footer examples-footer}}
