---
title: Example event page
---

{{> text-banner examples-text-banner.event}}

{{> header}}

{{> category-header examples-content-event.category-header}}

{{> navigation-bar examples-content-event.navigation-bar}}

<main id="content-begin">
<div class="container margin-bottom">
    <div class="row">
        <article class="content"> 
        	<div class="col-md-8">
        	<div class="article-header">
        		<p><span class="sta-tag sta-tag--info font-scale-minus-1">Limited access</span></p>
				<h1 class="article-header__heading page-heading">Conversation with Tom Tugendhat MP: A Rules-Based International Order<small>The Centre for Global Law and Governance</small></h1>
				<div class="article-header__meta">
					<div class="article-header__meta--group">
						<dl class="metadata-list inherit--colour font-scale-0">
							<dt><i class="far fa-calendar-alt" aria-hidden="true" title="Date"></i><span class="sr-only">Date</span></dt>
							<dd>Wednesday 3 February 2021</dd>		
							<dt><i class="far fa-clock" aria-hidden="true" title="Location"></i><span class="sr-only">Time</span></dt>
							<dd>5:15pm to 6:00pm</dd>
							<dt><i class="fas fa-map-marker-alt" aria-hidden="true" title="Location"></i><p class="sr-only">Location</p></dt>
							<dd><a href="#">Online via MS Teams</a></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
        	<a href="#" class="btn">Add to calendar</a>
        	<a href="#" class="btn">Add to Google calendar</a>
        </div>
        <div class="col-md-8">
			<p>The Centre for Global Law and Governance (CGLG) presents a conversation with Tom Tugendhat MP and Professor of Practice in International Relations, Stephin Gethins on ‘A Rules-Based International Order’.</p>
<p>Tom Tugendhat MP is the Chair of the Foreign Affairs Committee in the UK Parliament. A former intelligence officer in the British Army, Mr Tugendhat served in a range of operational deployments in Afghanistan and Iraq, including helping to establish the National Security Council of Afghanistan.</p>
<p>Mr Tugendhat was first elected as Member of Parliament for Tonbridge, Edenbridge and Malling in the 2015 general election. As Chair of the Foreign Affairs Committee, he has spearheaded a number of initiatives concerning international law and governance, including a recent report, <a href="https://publications.parliament.uk/pa/cm201719/cmselect/cmfaff/612/61202.htm">China and the Rules-Based International System</a>.</p>
<p>The conversation, with Professor Stephen Gethins (School of International Relations), will explore current challenges to a rules-based international system, and the UK’s role in promoting a robust international legal order.</p>
<p>Email <a href="mailto:irevents@st-andrews.ac.uk">irevents@st-andrews.ac.uk</a> to register by 5pm on Monday 1 February.</p>

        </div>
        <aside class="col-md-4">
        	<dl class="metadata-list inherit--colour">
				<dt class="metadata-list--full metadata-list--no-icon">Event type</dt>
				<dd class="metadata-list--full"><a href="https://events.st-andrews.ac.uk/event-type/academic/">Academic</a></dd>
				<dt class="metadata-list--full metadata-list--no-icon">Audience</dt>
				<dd class="metadata-list--full"><a href="https://events.st-andrews.ac.uk/event-type-2/all/">All audiences</a></dd>
				<dt class="metadata-list--full metadata-list--no-icon">Academic Schools and Departments</dt>
				<dd class="metadata-list--full"><a href="https://events.st-andrews.ac.uk/event-type-3/international-relations/">International Relations</a></dd>
				<dt class="metadata-list--full metadata-list--no-icon">Created by</dt>
				<dd class="metadata-list--full">Jennifer Halley <a href="mailto:jwh5@st-andrews.ac.uk">jwh5@st-andrews.ac.uk</a></dd>
				<dt class="metadata-list--full metadata-list--no-icon">Organised by</dt>
				<dd class="metadata-list--full"><a href="https://events.st-andrews.ac.uk/event-organizer/school-of-international-relations/">School of International Relations</a></dd>
			</dl>
        </aside>

    </article>
    </div>
</div>

</main>

{{> footer examples-footer}}