---
title: Form elements page
---

{{> text-banner prototype-text-banner.form-elements}}

{{> header}}

{{> category-header prototype-content-example.category-header}}

{{> navigation-bar prototype-content-example.navigation-bar}}

{{> breadcrumbs prototype-content-example.breadcrumbs}}

<div class="container">
    <div class="row">
        <div class="col-sm-8 sm">
            <fieldset><legend>Example</legend>
                <form>

                    {{> form-elements-input}}

                    {{> form-elements-select-boxes}}

                    {{> form-elements-checkboxes-stacked}}

                    {{> form-elements-hint}}

                    {{> form-elements-input-textarea}}

                    {{> form-elements-conditional-content-radio}}

                    {{> form-elements-conditional-content-select}}

                    {{> form-elements-file-upload}}

                    <input class="btn btn-primary" type="submit" value="Submit">

                    </form>
            </fieldset>
        </div>
    </div>
</div>

<hr>
{{> footer footer-1}}

