---
title: Form elements page
---

{{> text-banner prototype-text-banner.form-elements}}

{{> header}}

{{> category-header prototype-content-example.category-header}}

{{> navigation-bar prototype-content-example.navigation-bar}}

{{> breadcrumbs prototype-content-example.breadcrumbs}}

<div class="container">
    <div class="row">
        <div class="col-8 sm">

            <h3>Example</h3>

            {{> form-elements-checkboxes-stacked}}

            {{> form-elements-checkboxes-inline}}

            {{> form-elements-radio-inline}}

            {{> form-elements-radio-stacked}}

            {{> form-elements-file-upload}}

            {{> form-elements-input}}

            {{> form-elements-input-addon}}

            {{> form-elements-input-textarea}}

            {{> form-elements-hint}}

            {{> form-elements-label}}

            {{> form-elements-select-boxes}}

            {{> form-elements-conditional-content}}

        </div>
    </div>
</div>

{{> footer footer-1}}

