---
title: Example gallery Page
---

{{> text-banner examples-text-banner.gallery}}

{{> header examples-header}}

{{> category-header examples-content-example.category-header}}

{{> navigation-bar examples-content-example.navigation-bar}}

{{> breadcrumbs examples-content-example.breadcrumbs}}

<main id="content-begin">
<div class="page-intro__wrapper">
    <div class="page-intro">
        <div class="page-intro__text">
            <h1 class="page-intro__heading">Example page with a gallery</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque hendrerit neque et tincidunt. Mauris sodales eleifend sodales. Nunc aliquam blandit ipsum ac rutrum.</p>
        </div>
    </div>
</div>
<div class="container">

{{> gallery examples-gallery.gallery}}

</div>
</main>
{{> footer examples-footer}}

