---
title: Example homepage
---

{{> text-banner examples-text-banner.university-home}}

{{> header examples-header}}

{{> navigation-bar examples-index.navigation-bar}}

{{> hero-banner examples-hero-banner}}

{{> search-bar examples-search-bar}}

<div class="container">
    {{> navbox examples-navbox-grid}}
    {{> panel examples-panel-grid}}
</div>
{{> tile-grid examples-tile-grid}}

{{> event-tile-grid examples-event-tile-grid}}

{{> showcase-banner examples-showcase-banner}}

{{> footer examples-homepage-footer}}
