---
title: University of St Andrews - Scotland's first university, founded 1413

---

<!-- Begin pattern: text-banner //--> 

<div class="text-banner danger">
    <div class="container">
        <p class="pull-left"><a href="http://www.st-andrews.ac.uk/">&laquo; Back to current site</a></p>
        <p class="pull-right">The is the Beta version of st-andrews.ac.uk. <nobr><a href='/feedback/'>Leave your feedback</a></nobr>.</p>
        </div>

    </div>
</div>


<!-- End pattern: text-banner //--> 


{{> header }}

{{> navigation-bar prototype-index.navigation-bar}}

{{> hero-banner hero-banner-1}}

{{> navbox-grid navbox-grid-1}}

{{> tile-grid tile-grid-1}}

{{> footer footer-1}}
