---
title: Example homepage
---

{{> text-banner examples-text-banner.university-home}}

{{> header examples-header}}

{{> navigation-bar examples-index.navigation-bar}}

{{> hero-banner examples-hero-banner}}

<div class="container">
    {{> navbox examples-navbox-grid}}
</div>
{{> tile-grid examples-tile-grid}}

{{> footer examples-footer}}
