---
title: Example landing page
---

{{> text-banner examples-text-banner.landing-page}}

{{> header examples-header}}

{{> navigation-bar examples-index.navigation-bar}}

<a name="content-begin"></a>
{{> hero-banner examples-hero-banner}}

{{> page-intro examples-landing.intro}}

<div class="sta-grey-light">
<div class="container">
    {{> navbox examples-navbox-grid}}
    {{> panel examples-panel-grid}}
</div>
</div>

{{> footer examples-footer}}
