---
title: Example long-form content page
---

{{> text-banner examples-text-banner.long-form}}

{{> header}}

<a name="content-begin"></a>
<section class="long-form long-form--inverse long-form--bg-darken" style="background-image: url(../../assets/docs/images/long-form-content/photo-zambia-sunset.jpg);">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h1>St Andrews to Zambia</h1>
                    <p class="lead">The University of St&nbsp;Andrews has strong ties with Zambia and a long history of charity and development work in the country. </p>
                    <p>Each summer, as part of <a href="#volunteer-zambia">Volunteer Zambia</a> and the Wallace Group <a href="#ideals">IDEALS</a> project, staff and students from the University travel to Zambia to undertake sports coaching, teaching and development work in local communities.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form long-form--bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h2>IDEALS and Volunteer Zambia</h2>
                    <p>Two projects from the University of St Andrews provide students and staff the opportunity to travel and work in Zambia. The first, IDEALS, is a project established by the Wallace Group which students from several UK universities travel to Zambia in an effort to create environments that allow the exchange of information, ideas and skills between the UK and Zambia.</p>
                    <p>The second initiative available is Volunteer Zambia, a unique partnership between the University of St Andrews and the Zambian Non-Governmental Organisation, Sport in Action. For 6 weeks, volunteers live and work in a rural Zambian village to help staff and pupils at the local School and the wider village community with literacy skills. Both projects share the same goal: to help remote Zambian communities, while at the same time providing St Andrews students and staff with valuable teaching experience.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <a name="ideals"></a>
                    <h2>IDEALS</h2>
                    <p>IDEALS is a collaborative project, established by the <a href="#">Wallace Group</a></cite> in 2006, that aims to build partnerships to deliver effective and sustainable sports development programmes in Zambia.</p>
                    <p>The Wallace Group consists of seven UK Higher Education institutions (Bath, Cardiff Metropolitan, Durham, Loughborough, Northumbria, St&nbsp;Andrews and Stirling) that have a shared commitment towards establishing sustainable practices of international development. Working in collaboration with <a href="#">Sport in Action</a></cite>, <a href="#">UK Sport</a></cite> and <a href="#">EduSport</a></cite> in Lusaka, these institutions are dedicated to sports excellence and development in Zambia.</p>
                    <p>Through summer volunteer placements, the project provides students with the opportunity to add value to their degree programme and develop their leadership skills, and enables the Wallace Group to build long-term, mutually beneficial relationships between the UK and Zambia.</p>
                    <p>2016 marks a new and exciting era for the Wallace Group, with the IDEALS project coming to an end and the rebranded Volunteer Zambia project coming into place for 2017.</p>

                    <!-- Video 1: The Wallace Group IDEALS project in Zambia. //-->
                    <figure>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/lYXTVz7rXUw" class="embed-responsive-item"></iframe>
                        </div>
                        <figcaption>The Wallace Group IDEALS project in Zambia.</figcaption>
                    </figure>

                    <h3>The experience</h3>
                    <p>Callum Knox, health and fitness manager at the University of St Andrews describes his experience as a Wallace Group staff member in 2016:</p>
                    <blockquote>
                        <p>My immediate impression of Zambia from getting off the plane to arriving at the IDEALS house was that there is a lot of development in process. It seemed like every new road had either new buildings or roads being worked on nearby – this really excited me as it shows the progression the country is making.</p>
                        <p>As the staff member going out, my main responsibility was to support the students and also the other two staff members. I found myself in a different place undertaking a different task every day of my visit. The welcome I received from each placement and area I visited was phenomenal; from young children shouting ‘Hi, hello, you, muzungu?’ with wide eyes and massive smiles to the Peer Leaders asking and enquiring into sports coaching in the UK. </p>
                        <p>As I arrived half way through I found myself amazed by how confident and knowledgeable the students were of the local area and the placements, their Nyanja was great and the way they interacted with both the children they coached as well as any Zambian was respectful and understanding.</p>
                        <p><small>Callum Knox</small></p>
                    </blockquote>
                </div>
                <figure>
                    <img src="../../assets/docs/images/long-form-content/photo-zambia-children.jpg" alt="Students playing football at Sunset.">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="long-form long-form--inverse long-form--bg-darken" style="background-image: url(../../assets/docs/images/long-form-content/photo-zambia-basketball.jpg)">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h2>Saints Sport</h2>
                    <p><a href="#">Saints Sport</a></cite>, the University of St&nbsp;Andrews’ Department of Sport and Exercise, selects five students each year to participate in the summer volunteer placements.</p>
                    <p>Students spend six weeks working with schools in Lusaka delivering P.E. lessons, sport-specific coaching and some classroom-based sessions. The main sports focused on are football, netball, basketball and volleyball.</p>
                    <p>Students then travel to rural communities to spend between ten days and two weeks on a rural placement working with children in some of the most remote areas of Zambia.</p>
                    <p>Those selected to take part in the project can expect to hone their sports leadership and coaching skills; develop skills in teaching English within schools; enhance their work experience portfolio and global awareness; improve their communication, teamwork and problem-solving skills; organise and host sporting tournaments between schools and community sports teams across Lusaka; and work alongside highly skilled coaches at the <a href="#">Olympic Youth Development Centre (OYDC)</a></cite>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h2>Selection and preparation</h2>
                    <p>The selection process for participants is rigorous, including written applications, interviews and practical coaching sessions. Applicants must also be proficient coaches or experienced players in at least one of the four main sports covered.</p>
                    <p>The five students who perform the best throughout the application process are selected by Saints Sports to participate in the summer volunteer placements.</p>
                    <p>In the year running up to their placement students plan, prepare and fundraise to meet both collective and individual fundraising targets. Preparation culminates in a three-day training course in Durham to equip all project participants for life in Zambia.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form long-form--width-medium">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <div class="gallery">
                        <h4 class="thumbnail-gallery__title">Scientists involved with Zambia</h4>
                        <div class="longform_gallery">
                            <figure id="optional-id2">
                                <a href="../../assets/docs/images/long-form-content/portrait-ifor-samuel.jpg" data-lightbox="gallery-longform" data-title="Ifor Samuel<br><em>Physicist</em>"><img src="../../assets/docs/images/long-form-content/portrait-ifor-samuel.jpg" alt="alt text for image 1"></a>
                                <figcaption>Ifor Samuel<br><em>Physicist</em></figcaption>
                            </figure>
                            <figure id="optional-id3">
                                <a href="../../assets/docs/images/long-form-content/portrait-john-allen.jpg" data-lightbox="gallery-longform" data-title="John Allen<br><em>Physicist</em>"><img src="../../assets/docs/images/long-form-content/portrait-john-allen.jpg" alt="alt text for image 2"></a>
                                <figcaption>John Allen<br><em>Physicist</em></figcaption>
                            </figure>
                            <figure id="optional-id4">
                                <a href="../../assets/docs/images/long-form-content/portrait-ashu-kumar-bansal.jpg" data-lightbox="gallery-longform" data-title="Ashu Kumar Bansal<br><em>Optical physicist</em>"><img src="../../assets/docs/images/long-form-content/portrait-ashu-kumar-bansal.jpg" alt="alt text for image 3"></a>
                                <figcaption>Ashu Kumar Bansal<br><em>Optical physicist</em></figcaption>
                            </figure>
                            <figure id="optional-id4">
                                <a href="../../assets/docs/images/long-form-content/portrait-hien-nguyen.jpg" data-lightbox="gallery-longform" data-title="Hien Nguyen<br><em>Polymer chemist</em>"><img src="../../assets/docs/images/long-form-content/portrait-hien-nguyen.jpg" alt="alt text for image 3"></a>
                                <figcaption>Hien Nguyen<br><em>Polymer chemist</em></figcaption>
                            </figure>
                            <figure id="optional-id4">
                                <a href="../../assets/docs/images/long-form-content/portrait-olena-kulyk.jpg" data-lightbox="gallery-longform" data-title="Olena Kulyk<br><em>Biomedical electronics engineer</em>"><img src="../../assets/docs/images/long-form-content/portrait-olena-kulyk.jpg" alt="alt text for image 3"></a>
                                <figcaption>Olena Kulyk<br><em>Biomedical electronics engineer</em></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form long-form--inverse long-form--bg-darken" style="background-image: url(../../assets/docs/images/long-form-content/photo-zambia-lake.jpg)">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h2>The experience</h2>
                    <p>Abbie Bender, a former IDEALS project participant from the University of St&nbsp;Andrews, shares her experience:</p>
                    <blockquote>
                        <p>For the first six weeks I was living with other students in the vibrant and busy capital city Lusaka. Each morning I would go out on placement and coach P.E. sessions to children in the local schools. I would then walk to the orphanage in Chelenje and either play games with the children or do some basic Maths and English tutoring. I would then coach football to the boys U12 team in the afternoons. The children are amazing; they are so receptive and keen to learn that they are a pleasure to coach. I was incredibly sad to leave Chelenje and found it very hard to say goodbye to them, I still miss them and think about them a lot.</p>
                        <p>For my final two weeks in Zambia I was on rural placement in Kazemba. This was a very small settlement about two hours outside of Lusaka, there was a school building and we slept on the floor of one of the classrooms. There was no electricity, running water or bathroom facilities like we are used to in this country. Being in Kazemba taught me so much about the disproportionate importance we place on unnecessary comforts, which we take for granted in our daily routines. I really enjoyed my time on rural placement. I was coaching P.E. everyday and I helped to set up and run an adult literacy programme in the after school hours. Every day was different, we went on long walks to explore the surrounding bush land, we visited a sugar cane field and bought some from the farmer to try the taste of raw sugar, and we ventured along the Chongwe River.</p>
                        <p><small>Abbie Bender</small></p>
                    </blockquote>
                    <p>Abbie’s full account can be read on the <a href="#">Zambia IDEALS project website</a></cite>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h2>Saints Volunteer Academy</h2>
                    <p>Volunteer Zambia and the IDEALS project are just two of many opportunities available to students through the Saints Volunteer Academy. These range from providing sports coaching to local children to international outreach programmes.</p>
                    <h3>Community engagement</h3>
                    <p>There are opportunities for students to get involved with volunteering for one of the University’s sports clubs. Each sports club is required to run outreach programmes to give back to the local community. This could include running taster sessions in local schools, hosting a sports festival, helping coach local after-school clubs or training sessions for local clubs.</p>
                    <h3>International outreach</h3>
                    <p>In addition to the IDEALS project, each summer Saints Sport sends five students to Stellenbosch, South Africa, as part of the Saints Stellenbosch Outreach Project run in partnership with the University of Stellenbosch.</p>
                    <p>The students spend their time in South Africa delivering P.E. lessons, sports coach sessions and some classroom lessons, with the main focus for sports being football and rugby.</p>
                    <h3>Volunteer recognition scheme</h3>
                    <p>Saints Sport, in collaboration with the Students’ Association, have launched a new scheme designed to recognise the hard work done by volunteers throughout the University. Through this scheme the hours put into volunteering can appear on a student’s official academic transcript. More information on how to take part can be found on the <a href="#"> Student's Union website</a>.</p>
                    <p>Further details on local and international volunteer opportunities can be found on the <a href="#">Saints Volunteer Academy website</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form long-form--inverse long-form--bg-darken" style="background-image: url(../../assets/docs/images/long-form-content/photo-zambia-children-sunset.jpg)">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <a name="volunteer-zambia"></a>
                    <h2>Volunteer Zambia</h2>
                    <p>Volunteer Zambia is a partnership between the University of St&nbsp;Andrews and the Zambian Non-Governmental Organisation, <cite><a href="#">Sport in Action</a></cite>.</p>
                    <p>The project involves University staff and students living and working for six weeks in a rural Zambian village to help the community with literacy skills. The project is coordinated by the University’s <cite><a href="#">Student Services</a></cite> and in recent years has focused on the village of Kazemba in Chongwe Province.</p>
                    <p>Kazemba is a village of poverty, and approximately half of the 300 school-aged children are identified as vulnerable and orphans. Progress in school depends upon passing end-of-year exams, so some children repeat years, which results in classes of mixed age groups. School lessons are conducted in English, which presents additional challenges for staff and pupils as there are seven indigenous languages, and many more dialects.</p>
                    <p>Student and staff volunteers from the University of St&nbsp;Andrews support teachers and pupils with developing their English skills and introducing initiatives to improve literacy. In previous years, project participants have introduced a letter exchange with local school pupils, established chess and games clubs, set up a revision club, and introduced grammar lessons as well as delivering day-to-day classroom lessons.</p>
                </div>
                <p>Students from Volunteer Zambia 2016 IDEALS project reflect on the experience.</p>

                <!-- Video 3: about project Zambia.//-->
                <figure>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/ic1F9ndOUiA" class="embed-responsive-item"></iframe>
                    </div>
                    <figcaption> An overview of Volunteer Zambia 2016 at Kazemba Primary, Zambia</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="long-form long-form--bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h2>Fundraising</h2>
                    <p>As with the IDEALS project, all Volunteer Zambia participants have fundraising targets that must be met prior to embarking on their six-week placement. Students have individual fundraising targets of £2,000 and staff volunteers agree a target after discussion of project priorities with teachers in Zambia.</p>
                    <p>In 2016, project volunteers worked with local St Andrews primary school Lawhead in order to raise money for the initiative. Primary 5 and 6 pupils collected shoes and books, held a bake sale and organised an electricity-free day in order to raise money for the school in Kazemba. Pupils also made more personal contact with their Zambian counterparts by exchanging letters through a pen-pal scheme.</p>

                    <!-- Video 2: STV news clip. //-->
                    <figure>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://player.vimeo.com/video/168059885" class="embed-responsive-item"></iframe>
                        </div>
                        <figcaption>An STV news clip on local fundraising efforts for Volunteer Zambia.</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form long-form--inverse long-form--bg-darken" style="background-image: url(../../assets/docs/images/long-form-content/photo-zambia-huts.jpg)">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h2>Targets</h2>
                    <p>The money raised for the 2016 project was intended for several purposes:</p>
                    <p><strong>New batteries to generate power for the school</strong></p>
                    <p>Kazemba school had no electricity, which made the provision of basic classroom resources such as computers and projectors impossible. The school had two solar panels, but funds were needed for the batteries fed by the solar panels.</p>
                    <p><strong>Laptops to facilitate teaching of computer studies</strong></p>
                    <p>As part of the Zambian national curriculum, all pupils at Kazemba must learn computer studies and pass an exam in this subject in order to progress to high school. The school only had two old laptops for the entire cohort, including one donated by the University a few years ago.</p>
                    <p><strong>Vital repairs to the school roof</strong></p>
                    <p>The corrugated iron school roof was in danger of collapse, being supported only by rotten wooden beams. This was a major concern for student safety.</p>
                    <p><strong>Basic science equipment to facilitate teaching</strong></p>
                    <p>The school had no science equipment to support practical science, which is also required as part of the national curriculum. The aim was to provide the school with a mobile science lab, plus any other equipment donations which could be transported.</p>
                    <p><strong>Progression into high school</strong></p>
                    <p>The majority of pupils do not progress to high school because of the inhibitive costs and the need to move away from the village. However, the Volunteer Zambia team are seeking volunteers to sponsor a child through high school so that more pupils have the opportunity to further their education.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form ">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h2>Reflections</h2>
                    <p>Sam Lister and Cat Wilson, 2016 Volunteer Zambia team leaders, share their experience:</p>
                    <blockquote>
                        <p>We are delighted with the success of Volunteer Zambia 2016 and are pleased to report that we reached our fundraising target of £5,000, enabling us to deliver on all of the project priorities we had agreed with the teachers of Kazemba School in November 2015:</p>
                        <ul>
                            <li>The school’s electricity is now up and running.</li>
                            <li>The team took seven laptops to Kazemba to enhance learning and teaching.</li>
                            <li>Science equipment was secured for the school.</li>
                            <li>The roof was repaired.</li>
                            <li>Several new sponsors from our staff community volunteered to support children through their high school education.</li>
                        </ul>
                        <p>The impact of all this is significant, and pupils and teachers were grateful for the strength of the partnership with St Andrews, both the University and the wider community.</p>
                        <p>Furthermore, the St Andrews student volunteers were fantastic and worked extremely hard while in Kazemba to enhance the pupils’ learning experience. The success of the project owes much to their commitment and enthusiasm, and their willingness to be flexible on the ground in Zambia.</p>
                        <p>As team leaders, we enjoyed the project immensely and we formed a real attachment to the village and the many friends we made there. It was an extremely rich and rewarding experience, as well as a wonderful opportunity for professional development.</p>
                        <p><small>Sam Lister</small></p>
                    </blockquote>
                </div>
                <figure>
                    <img src="../../assets/docs/images/long-form-content/photo-zambia-children-playing.jpg" alt="Happy children playing.">
                </figure>
                <div class="long-form__content">
                    <p class="end">31 August 2016</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="long-form long-form--credits">
    <div class="container">
        <div class="row">
            <div class="long-form__wrapper">
                <div class="long-form__content">
                    <h3>Credits</h3>
                    <p>Graphics and design by the University of St Andrews digital communications team. Content written by Felicity Wild and Maria Drummond, digital communications team.</p>
                    <h3>Thanks</h3>
                    <p>Stephen Stewart, director of sport and exercise, Saints Sport.<br>
                    Dr Fergus Knight, marketing and business development manager, Saints Sports.<br>
                    Sam Lister, head of academic partnerships and international experience, University of St Andrews.<br>
                    Catriona Wilson, head of student development, University of St Andrews.<br>
                    Eva Jermutus, student and Volunteer Zambia volunteer.<br>
                    Fiona Murray, student and Volunteer Zambia volunteer.<br>
                    </p>
                    <h3>Contact</h3>
                    <p>Email: <a href="#">proffice@st-andrews.ac.uk</a><br>
                        Phone: 01334 46 xxxx
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer}}