---
title: Example news article page
---

{{> text-banner examples-text-banner.news-landing}}

{{> header}}

{{> category-header examples-content-news-landing.category-header}}

{{> navigation-bar examples-content-news-landing.navigation-bar}}
<a name="content-begin"></a>

{{> featured-news examples-content-news-landing.featured-news}}

<!--{{> news-updates examples-content-news-landing.news-updates-alternate}}-->
{{> news-updates examples-content-news-landing.news-updates}}
{{> tile-grid examples-content-news-landing.tile-grid}}


<div class="container margin-bottom margin-top--half">
    <div class="row">
        <div class="col-md-8 margin-bottom">
        	<h2>More news</h2>
{{> article-list examples-content-news-landing.article-list}}
        </div>
        <div class="col-md-4">
        {{> numerical-list examples-content-news-landing.numerical-list}}
        </div>
    </div>
</div>
</div>
{{> footer examples-footer}}