---
title: Example news article page
---

{{> text-banner examples-text-banner.news-landing}}

{{> header}}

{{> category-header examples-content-news-landing.category-header}}

{{> navigation-bar examples-content-news-landing.navigation-bar}}

{{> featured-news examples-content-news-landing.featured-news}}

<!--{{> news-updates examples-content-news-landing.news-updates-alternate}}-->
{{> news-updates examples-content-news-landing.news-updates}}
<div class="tile-grid light-grey margin-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8">
                <h2 class="sta-grey">News from St&nbsp;Andrews</h2>
            </div>
        </div>
        <div class="row tile-grid__tiles">
                <div class="col-sm-6 col-md-4 tile-grid__tile big-target-click-zone">
            <article class="tile">
                <div class="tile-image-title">
                    <img src="https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Seal-and-seal-pup-360x240.jpg" class="attachment-navbox-size size-navbox-size wp-post-image" alt="" srcset="https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Seal-and-seal-pup-360x240.jpg 360w, https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Seal-and-seal-pup-768x512.jpg 768w, https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Seal-and-seal-pup-445x297.jpg 445w, https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Seal-and-seal-pup-e1567587282396.jpg 750w" sizes="(max-width: 360px) 100vw, 360px" width="360" height="240">                    <h3><a href="https://news.st-andrews.ac.uk/archive/oxytocin-linked-to-growth-in-seal-pups/" role="button" class="big-target-anchor">Oxytocin link to seal growth</a></h3>
                </div>
                <p>Grey seal pups with naturally high oxytocin levels gain more mass before weaning, without increasing the amount they are fed.</p>
                <div class="tile-date">4 September 2019</div>
                <div class="tile-type"><a href="/category/Research">Research</a>                </div>
                <div class="clear"></div>
            </article>
        </div>
            <div class="col-sm-6 col-md-4 tile-grid__tile big-target-click-zone">
            <article class="tile">
                <div class="tile-image-title">
                    <img src="https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Dr-Maggie-Ellis-Astellis-360x240.jpg" class="attachment-navbox-size size-navbox-size wp-post-image" alt="Dr-Maggie-Ellis-Astellis" srcset="https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Dr-Maggie-Ellis-Astellis-360x240.jpg 360w, https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Dr-Maggie-Ellis-Astellis-768x512.jpg 768w, https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Dr-Maggie-Ellis-Astellis-445x297.jpg 445w, https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/Dr-Maggie-Ellis-Astellis-e1568883866769.jpg 750w" sizes="(max-width: 360px) 100vw, 360px" width="360" height="240">                    <h3><a href="https://news.st-andrews.ac.uk/archive/improving-life-with-dementia/" role="button" class="big-target-anchor">Improving life with dementia</a></h3>
                </div>
                <p>The School of Psychology and Neuroscience's world-renowned dementia expert Dr Maggie Ellis is shortlisted as a finalist for Converge 2019.</p>
                <div class="tile-date">19 September 2019</div>
                <div class="tile-type"><a href="/category/Awards">Awards</a>                </div>
                <div class="clear"></div>
            </article>
        </div>
            <div class="col-sm-6 col-md-4 tile-grid__tile big-target-click-zone">
            <article class="tile">
                <div class="tile-image-title">
                    <img src="https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/windfarms-2305554_1920-360x240.jpg" class="attachment-navbox-size size-navbox-size wp-post-image" alt="" srcset="https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/windfarms-2305554_1920-360x240.jpg 360w, https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/windfarms-2305554_1920-445x297.jpg 445w, https://news.st-andrews.ac.uk/wp-content/uploads/2019/09/windfarms-2305554_1920-e1567590491570.jpg 750w" sizes="(max-width: 360px) 100vw, 360px" width="360" height="240">                    <h3><a href="https://news.st-andrews.ac.uk/archive/12m-funding-for-battery-research/" role="button" class="big-target-anchor">Funding for battery research</a></h3>
                </div>
                <p>A University-led project to create a new battery which could revolutionise electric travel and renewable energy storage has been given £12m.</p>
                <div class="tile-date">4 September 2019</div>
                <div class="tile-type"><a href="/category/Research">Research</a>                </div>
                <div class="clear"></div>
            </article>
        </div>
            </div>
    </div>
</div>

<div class="container margin-bottom margin-top--half">
    <div class="row">
        <div class="col-md-8">
        	<h2>More news</h2>
{{> more-news examples-content-news-landing.more-news}}
        </div>
        <div class="col-md-4">
        {{> numerical-list examples-content-news-landing.numerical-list}}
        </div>
    </div>
</div>
</div>
{{> footer examples-footer}}