---
title: Example content page
---

{{> text-banner examples-text-banner.content}}

{{> header}}

{{> category-header examples-content-example.category-header}}

{{> navigation-bar examples-content-example.navigation-bar}}

{{> breadcrumbs examples-content-example.breadcrumbs}}

<main id="content-begin">
<!-- Begin pattern: tabs //-->
<div class="page-intro__wrapper">
    <div class="page-intro">
        <div class="page-intro__text">
            <h1 class="page-intro__heading">People</h1>
            <p class="lead">The English Language Teaching team&nbsp;comprises academic staff, emeritus and honorary staff, PhD students, and support staff.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container ">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active in" role="presentation"><a href="#tab-1" data-toggle="tab" aria-controls="home" role="tab">Academic staff</a></li>
                    <li class="" role="presentation"><a href="#tab-2" data-toggle="tab" aria-controls="home" role="tab">Emeritus and honorary staff</a></li>
                    <li class="" role="presentation"><a href="#tab-3" data-toggle="tab" aria-controls="home" role="tab">PhD students</a></li>
                    <li class="" role="presentation"><a href="#tab-4" data-toggle="tab" aria-controls="home" role="tab">Support staff</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-1" role="tabpanel">
                        {{> contact-card examples-contact-card-5}}
                    </div>
                    <div class="tab-pane fade " id="tab-2" role="tabpanel">
                        {{> contact-card examples-contact-card-6}}
                    </div>
                    <div class="tab-pane fade " id="tab-3" role="tabpanel">
                        {{> contact-card examples-contact-card-7}}
                    </div>
                    <div class="tab-pane fade " id="tab-4" role="tabpanel">
                        {{> contact-card examples-contact-card-8}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End pattern: tabs //-->
</div>
</main>
{{> footer footer-1}}
