---
title: Example search page
---

{{> text-banner examples-text-banner.search}}

{{> header examples-header}}

{{> search-bar examples-search.searchbanner}}


<main id="content-begin">
<div class="container">
<div class="row">
<div class="col-xs-12">
  <div class="margin-top--half margin-bottom">
    <ul class="nav nav-tabs nav-tabs--full-width" role="tablist">
                    <li class="active" role="presentation"><a aria-selected="true" href="#tab-1" role="tab">All results</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-2" role="tab">News</a></li>
                    <li class="" role="presentation"><a aria-selected="false" href="#tab-3" role="tab">Events</a></li>
                </ul>
    <div class="row margin-top--half">
    <div class="col-md-9">

{{> filter-box examples-search.filters}}
    <p><span id="search-page-start">1</span> - <span id="search-page-end">10</span> of <span id="search-total-matching">19</span> documents.</p>

{{> search-results examples-search.results}}
    
    <div class="text-center hidden-print">
      <ul class="pagination pagination-lg">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#" rel="next"><span>Next</span> <span aria-hidden="true">»</span></a></li>
      </ul>
    </div>

    </div>

    <div class="col-md-3 hidden-print">
{{> facet-list examples-search.facets}}
    </div>

    </div>
  </div>
</div>
</div>
</div>
</main>
{{> footer examples-footer}}