---
title: 
---


{{> header prototype-web-app.header}}

{{> navigation-bar prototype-web-app.navigation-bar}}


<!-- Begin pattern: content-full //-->
<div id="subject-intro" class="container">
<div class="row">
<div class="col-sm-11"><section class="content"><a href="/">Home</a> &gt; <a href="/subjects/">Subjects</a> &gt; Philosophy
<h2>Philosophy</h2>
<p class="lead">Our courses in Philosophy provide you with the means of rationally and independently assessing your arguments and the skills of criticism and analysis, clear thinking and principled debate.</p>

</section></div>
</div>
</div>
<!-- End pattern: content-full //-->
<div id="subject-courses">
<div class="container">
<div class="row">
<div class="col-md-9">
<h3>Courses</h3>
<h4>Undergraduate</h4>
<ul>
    <li><a title="MA (Hons) Philosophy" href="http://standrewsdigital.org.uk/ma-hons-philosophy/">Philosophy</a> (MA Hons)</li>
    <li>Logic and Philosophy of Science and Biology (BSc Hons)</li>
    <li>Logic and Philosophy of Science and Computer Science (BSc Hons)</li>
    <li>Logic and Philosophy of Science and Mathematics (BSc Hons)</li>
    <li>Logic and Philosophy of Science and Physics (BSc Hons)</li>
    <li>Logic and Philosophy of Science and Statistics (BSc Hons)</li>
</ul>
<strong>Other subjects you can study with Philosophy (MA Hons)</strong>

Ancient History, Arabic, Art History, Biblical Studies, Classical Studies, Classics, Comparative Literature, Economics, English, French, Geography, German, Greek, International Relations, Italian, Latin, Management, Mathematics, Mediaeval History, Modern History, Psychology, Russian, Scottish History, Social Anthropology, Spanish, Statistics, Theological Studies.
<h4>Postgraduate</h4>
Graduate degrees in Philosophy are offered jointly by the universities of St Andrews and Stirling through the St Andrews and Stirling Graduate Programme in Philosophy (SASP). SASP currently offers the following masters degrees:
<ul>
    <li>Philosophy</li>
    <li>Conversion to Philosophy</li>
    <li>Epistemology, Mind and Language</li>
    <li>History of Philosophy</li>
    <li>Logic and Metaphysics</li>
    <li><a href="http://standrewsdigital.org.uk/subjects/philosophy/mlitt-moral-political-and-legal-philosophy/">Moral, Political and Legal Philosophy</a></li>
</ul>
</div><!-- end .col-md-9 //-->
<div id="subject-testimonial" class="col-md-3">
<p class="tag">Student Perspective</p>
<img class="size-full wp-image-262" src="http://standrewsdigital.org.uk/wp-content/uploads/2015/04/philosophy-testimonial-ben.jpg" alt="philosophy-testimonial-ben" width="275" height="227" />

<blockquote>As a Philosophy student, you will be asked the question ‘what is philosophy?’ on many occasions. While there is no simple answer, the skills that you will learn and the confidence that you will develop by considering some of life’s biggest questions is truly unique. Studying at St Andrews will give you the opportunity to discuss your work with leading practitioners in an environment that naturally inspires philosophical study.</blockquote>

<p>Ben, <em>MA (Hons) Philosophy</em> (Manchester, England)</p>
</div>
<!-- end .col-md-3 //-->

</div>
<!-- end .row //-->

</div>
<!-- end .container //-->

</div>
<!-- end #subject-courses //-->

<!-- Begin pattern: content-full //-->
<div id="#subject-news" class="container">
<div class="row">
<div class="col-sm-12"><section class="content">
<h3>Philosophy research updates</h3>
<mark>CONTENT: need updated stories that are examples of what we really want here. Maybe 3 updates?</mark>
<div class="row">
<div class="col-sm-4">

<a href="http://www.st-andrews.ac.uk/philosophy/news/?newsid=238">Philosophy at St Andrews ranked first in Scotland</a>

In the latest UK-wide assessment of the research of UK universities (REF 2014) the Philosophy Department was ranked 1st in Scotland and 5th in the UK (by grade point average). 83% of research was assessed as either 4* or 3*.

</div>
<div class="col-sm-4">
<p class="newshead"><a href="https://www.st-andrews.ac.uk/students/involve/laidlaw/">The Laidlaw Undergraduate Internship Programme in Research and Leadership</a></p>
The University is launching an exciting new internship programme, "The Laidlaw Undergraduate Internship Programme in Research and Leadership", thanks to the generous support from The Lord Laidlaw of Rothiemay. This is the biggest UG internship programme of its kind in Scotland and is a unique opportunity for students to gain paid professional work experience, contribute to high level research in the University and benefit from an intensive leadership training course.

</div>
<div class="col-sm-4"></div>
</div>
<!-- End pattern: navbox-grid //-->

</section></div>
</div>
</div>
<!-- End pattern: content-full //-->

<!-- Begin pattern: content-full //-->
<div id="subject-intro" class="container">
<div class="row">
<div class="col-sm-12"><section class="content">
<h3>Philosophy research areas</h3>
The St Andrews and Stirling Graduate Programme in Philosophy (SASP) is taught by the Philosophy departments in the universities of St Andrews and Stirling. Current research undertaken by the two departments includes:
<div class="accordion">
<h3>Moral, Political and Legal Philosophy</h3>
<div>The following members of staff are currently undertaking research into these areas in moral, political and legal philosophy.<a href="mailto:ea10@st-andrews.ac.uk">Dr Elizabeth Ashford</a>: Ethics; Political Philosophy; Ancient Philosophy.
<a href="mailto:mb253@st-andrews.ac.uk">Professor Marcia Baron</a>: Ethical Theory; Philosophy of Criminal Law; Kant’s Ethics.
<a href="mailto:rowan.cruft@stir.ac.uk">Dr Rowan Cruft</a>: Moral Philosophy; Political Philosophy; Ethics.
<a href="mailto:bng@st-andrews.ac.uk">Professor Berys Gaut</a>: Aesthetics; Philosophy of Film; Creativity; Ethics.
<a href="kent.hurtig@stir.ac.uk">Dr Kent Hurtig</a>: Moral Philosophy; Epistemology; Philosophy of Action; Philosophy of Mind.
<a href="simonjames.hope@stir.ac.uk">Dr Simon Hope</a>: Moral Philosophy; Political Philosophy.
<a href="mailto:tpm6@st-andrews.ac.uk">Professor T Mulgan</a>: Moral Philosophy; Political Philosophy; Philosophy of Religion.
<a href="mailto:bas7@st-andrews.ac.uk">Dr Ben Sachs</a>: Applied Ethics; Political Philosophy; Social Philosophy; Normative Ethics; Meta-ethics.
<a href="mailto:ben.saunders@stir.ac.uk">Dr Ben Saunders</a>: Political Philosophy; Normative/Applied Ethics.
<a href="mailto:js280@st-andrews.ac.uk">Dr Justin Snedegar</a>: Metaethics; Practical Rationality; Ethics.

</div>
<h3>Epistemology, Philosophy of Mind and Philosophy of Language</h3>
<div><a href="mailto:db71@st-andrews.ac.uk">Dr Derek Ball</a>: Philosophy of Mind; Philosophy of Language.
<a href="mailto:jab30@st-andrews.ac.uk">Professor Jessica Brown</a>: Philosophical Methodology; Epistemology.
<a href="mailto:hwc1@st-andrews.ac.uk">Professor Herman Cappelen</a>: Philosophy of Language; Philosophical Methodology and related areas in Epistemology, Metaphysics and Philosophy of Mind.
<a href="mailto:p.a.ebert@stir.ac.uk">Dr Philip Ebert</a>: Epistemology; Philosophy of Logic and Mathematics; History of Analytic Philosophy.
<a href="mailto:eg35@st-andrews.ac.uk">Dr Ephraim Glick</a>: Philosophy of Language; Metaphysics; Philosophy of Mind; Epistemology.
<a href="mailto:pmg2@st-andrews.ac.uk">Dr Patrick Greenough</a>: Epistemology; Philosophy of Language; Philosophy of Logic.
<a href="mailto:adrian.haddock@stir.ac.uk">Dr Adrian Haddock</a>: Philosophy of Mind; Philosophy of Action; Philosophy of Perception.
<a href="mailto:sjp7@st-andrews.ac.uk">Dr Simon Prosser</a>: Philosophy of Mind; Metaphysics.
<a href="mailto:m.w.wheeler@stir.ac.uk">Professor Michael Wheeler</a>: Philosophy of Science; Philosophy of Mind. Logic and Metaphysics
<a href="mailto:steinvor.arnadottir@stir.ac.uk">Dr Steinvor Toll Arnadottir</a>: Metaphysics of objects.
<a href="mailto:ac117@st-andrews.ac.uk">Dr Aaron Cotnoir</a>: Metaphysics; Philosophical Logic; Philosophy of Language.
<a href="mailto:jjh1@st-andrews.ac.uk">Professor John Haldane</a>: Philosophy of Mind; Philosophy of Value; Philosophy of Religion; Metaphysics; Mediaeval Philosophy.
<a href="mailto:kjh5@st-andrews.ac.uk">Professor Katherine Hawley</a>: Philosophy of Science; Metaphysics; Epistemology.
<a href="mailto:peter.milne@stir.ac.uk">Professor Peter Milne</a>: Formal Logic; Mathematical Logic; Philosophical Logic; Philosophy of Language; Philosophy of Science.
<a href="mailto:bs21@st-andrews.ac.uk">Dr Barbara Sattler</a>: Metaphysics; Aesthetics.
<a href="mailto:Sonia.rocaroyes@stir.ac.uk">Dr Sonia Roca-Royes</a>: Metaphysics; Epistemology of Modality; Philosophy of Mathematics and Logic; Formal Logic and Philosophy of Language.
<a href="mailto:p.m.sullivan@stir.ac.uk">Professor Peter Sullivan</a>: History of Analytical Philosophy; Philosophy of Logic; Philosophy of Mathematics.</div>
<h3>History of Philosophy</h3>
<div><a href="mailto:sjb15@st-andrews.ac.uk">Professor Sarah Broadie</a>: Classical Philosophy.
<a href="mailto:jah15@st-andrews.ac.uk">Dr James Harris</a>: Early Modern Philosophy; Enlightenment Philosophy (especially Hume and Reid).
<a href="mailto:colin.johnston@stir.ac.uk">Dr Colin Johnston</a>: History of Early Analytic Philosophy.
<a href="mailto:bs21@st-andrews.ac.uk">Dr Barbara Sattler</a>: Ancient Philosophy; History of Philosophy;
<a href="mailto:jt28@st-andrews.ac.uk">Dr Jens Timmermann</a>: Ethical Theory; Ancient Philosophy; Kant.</div>
</div>
<!-- end .accordion //-->

</section></div>
</div>
</div>
<!-- End pattern: content-full //-->

<!-- Begin pattern: content-full //-->
<div id="[id]" class="container">
<div class="row">
<div class="col-sm-12"><section class="content">
<h3>Philosophy research groups</h3>
The Philosophy department currently has two research groups:
<div class="row">
<div class="col-md-8"><strong><a href="http://www.st-andrews.ac.uk/ceppa/">The Centre for Ethics, Philosophy and Public Affairs (CEPPA)</a></strong><mark>CONTENT: Rewrite summary</mark>

CEPPA  aims to promote research in philosophy relevant to topics of public importance and to promote the place of philosophy in these topics.

&nbsp;

</div>
<div class="col-md-4"><a class="btn btn-primary" href="http://www.st-andrews.ac.uk/ceppa/">Visit CEPPA</a></div>
</div>
<div class="row">
<div class="col-md-8"><strong><a href="http://www.st-andrews.ac.uk/arche/index.php">Arché: Philosophical Research Centre for Logic, Language, Metaphysics and Epistemology</a></strong>Arché aims to conduct and foster collaborative research on fundamental issues in metaphysics, epistemology and the philosophies of logic, language, mathematics and mind.

</div>
<div class="col-md-4"><a class="btn btn-primary" href="http://www.st-andrews.ac.uk/arche/index.php">Visit Arché </a></div>
</div>
</section></div>
</div>
</div>
<!-- End pattern: content-full //-->

<!-- Begin pattern: content-2col //-->
<div id="subject-funding">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h3>Funding opportunities</h3>
</div>
</div>
<div class="row">
<div class="col-md-6">
<h4>Undergraduate</h4>
The University offers a number of scholarships to undergraduate students, including up to four entrance bursaries, worth £500, to students in Philosophy who are from Scotland.

<a class="btn btn-primary" href="/">Entrance bursary for Scottish students</a>

<a class="btn btn-primary" href="http://www.st-andrews.ac.uk/study/ug/fees-and-funding/scholarships/">Undergraduate scholarships</a>
<h4>MLitt students</h4>
SASP can offer a number of bursaries for students in the MLitt programme courtesy of generous funding provided by the <a href="http://www.st-andrews.ac.uk/~pq/">Philosophy Quarterly</a>. If you apply for the MLitt by <strong>13 February 2015</strong> you will be considered for this award.

There are also a number of scholarships offered by the University available to masters students.

<a class="btn btn-primary" href="http://www.st-andrews.ac.uk/study/pg/fees-and-funding/scholarships/taught/">Postgraduate taught scholarships</a>

</div>
<div class="col-md-6 sidebar content">
<h4>PhD students</h4>
Currently, there is at least one full doctoral studentship available to students accepted onto a PhD programme in Philosophy. This studentship covers maintenance at the <a href="http://www.st-andrews.ac.uk/study/pg/fees-and-funding/scholarships/research-council/ahrc/">AHRC rate</a> and a full tuition fee waiver (at Home/EU fee level) for 3 years.

The University also offers support to students in their applications for AHRC studentships.

<a class="btn btn-primary" href="http://www.st-andrews.ac.uk/study/pg/fees-and-funding/scholarships/research-council/ahrc/">AHRC studenships</a>

<a class="btn btn-primary" href="http://www.st-andrews.ac.uk/study/pg/fees-and-funding/scholarships/research/">Funding for PhD students</a>

</div>
</div>
</div>
</div>
<!-- end #subject-funding //-->

<!-- End pattern: content-2col //-->
<div id="subject-careers" class="container">
<div class="row">
<div class="col-sm-12">
<h3>Careers for graduates in philosophy</h3>
</div>
</div>
<div class="row">
<div class="col-sm-6">

Recent graduates in Philosophy have found openings in local government, television production (Sky Sports), Oddbins as a wine adviser, as a public information intern for the United Nations Commission for Refugees, the National Health Service, the Co-operative Bank, insurance, the Crown Prosecution Service, publishing, and teaching English in Japan.

It is not uncommon for St Andrews philosophy graduates to enter the legal profession after a conversion course or a second degree in law.

A substantial proportion of philosophy graduates choose to pursue an academic career. Find out more about <a href="/">postgraduate study in Philosophy</a>.

</div>
<div class="col-sm-6">

<mark>include case studies from <a href="http://www.st-andrews.ac.uk/careers/alumni/casestudies/?sector=&amp;school=17&amp;nationality=">http://www.st-andrews.ac.uk/careers/alumni/casestudies/?sector=&amp;school=17&amp;nationality=</a></mark>

[image]

Lindsay

[full case study]

[image]

Ed

[full case study]

[image]

Isobel

[full case study]

</div>
</div>
</div>
<div id="subject-visiting-contact">
<div class="container">
<div class="row">
<div class="col-md-6">
<h3>Visiting days</h3>
Students who are interested in Philosophy at St Andrews are welcome to attend a <a href="/">University visiting day</a>.
<ul>
    <li>24 June 2015 Visiting day</li>
    <li>21 July 2015 Visiting day</li>
    <li>27 August 2015 Visiting day</li>
</ul>
</div>
<div class="col-md-6">
<h3>Philosophy at St Andrews</h3>
<strong>Department of Philosophy</strong>
Edgecliffe
The Scores
St Andrews
KY16 9AR

Phone: +44 (0)1334 46 2486
Email: philosophy@st-andrews.ac.uk

<a class="btn btn-primary" href="https://risweb.st-andrews.ac.uk/portal/en/organisations/philosophy(7340ca8b-3421-429f-aa99-ca035cf769de).html">Philosophy research portal</a>

<a class="btn btn-primary" href="http://www.st-andrews.ac.uk/philosophy/">Philosophy website</a>

</div>
</div>
</div>
</div>



{{> footer footer-1}}
