

<div class="container">

    <h1>Tables</h1>


    <h2>Standard tables</h2>

    <p><code>.table</code></p>

    <table class="table">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

        <tr>
            <td>ghi@domain.com</td>
            <td>Gerald</td>
            <td>Houghton</td>
        </tr>

    </table>


    <p><code>.table .table-primary</code></p>

    <table class="table table-primary">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

    </table>

    <p><code>.table .table-success</code></p>

    <table class="table table-success">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

    </table>

    <p><code>.table .table-info</code></p>

    <table class="table table-info">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

    </table>

    <p><code>.table .table-warning</code></p>

    <table class="table table-warning">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

    </table>

    <p><code>.table .table-danger</code></p>

    <table class="table table-danger">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

    </table>

    <p><code>.table .table-secondary</code></p>

    <table class="table table-secondary">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

    </table>

    <p><code>.table .table-tertiary-1</code></p>

    <table class="table table-tertiary-1">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

    </table>

    <p><code>.table .table-tertiary-2</code></p>

    <table class="table table-tertiary-2">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

    </table>

    <p><code>.table .table-tertiary-3</code></p>

    <table class="table table-tertiary-3">
        <tr>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        
        <tr>
            <td>abc@domain.com</td>
            <td>Abacus</td>
            <td>Brixton</td>
        </tr>

        <tr>
            <td>def@domain.com</td>
            <td>Dominicus</td>
            <td>Edwards</td>
        </tr>

    </table>


  

</div>

