---
title: Example web app page
---

{{> text-banner examples-text-banner.web-application}}

{{> header examples-web-app.header}}

{{> category-header examples-web-app.category-header}}

{{> navigation-bar examples-web-app.navigation-bar}}


<div class="container" id="main-content">

<h2>Manage users</h2>

<input type="hidden" id="contextPath" value="/expense-claim">

<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">Current users</h3>
    </div>
    <div class="panel-body">
        <div id="users" class="row">
            <div class="col-md-12">
                <table id="unit-users" class="datatable table no-footer" aria-describedby="unit-users_info" role="grid">
                <thead>
                   <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="First name">First name</th>
                        <th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Last name">Last name</th>
                        <th class="sorting_asc" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Username" aria-sort="ascending">Username</th>
                        <th rowspan="1" colspan="1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="">
                        <td class="">Aaron</td>
                        <td class="">Lott</td>
                        <td class="">al244</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Carley</td>
                        <td class="">Hollis</td>
                        <td class="">ch432</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Charles</td>
                        <td class="">Gibson</td>
                        <td class="">charles.gibson</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Christopher</td>
                        <td class="">Gordon</td>
                        <td class="">cg51</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Duncan</td>
                        <td class="">Sanderson</td>
                        <td class="">ds231</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Duncan</td>
                        <td class="">Stephen</td>
                        <td class="">dbss</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Felicity</td>
                        <td class="">Wild</td>
                        <td class="">fw72</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Gareth</td>
                        <td class="">Saunders</td>
                        <td class="">gjms1</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Jenny</td>
                        <td class="">Hamrick</td>
                        <td class="">jh280</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Lewis</td>
                        <td class="">Wake</td>
                        <td class="">lw75</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Maria</td>
                        <td class="">Drummond</td>
                        <td class="">md223</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Peter</td>
                        <td class="">Woodbridge</td>
                        <td class="">pw42</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Richard</td>
                        <td class="">Gordon</td>
                        <td class="">rg40</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Samuel</td>
                        <td class="">Parsons</td>
                        <td class="">sjp27</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                    <tr role="row" class="">
                        <td class="">Stephen</td>
                        <td class="">Evans</td>
                        <td class="">sde1</td>
                        <td><a class="btn btn-default" href="#">View record</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Find user</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="select2-container" id="s2id_new-unit-form" style="width: 100%;">
                    <a href="#" class="select2-choice select2-default" tabindex="-1"> <span class="select2-chosen" id="select2-chosen-1">Username</span><abbr class="select2-search-choice-close"></abbr> <span class="select2-arrow" role="presentation"><b role="presentation"></b></span>
                    </a>
                    <label for="s2id_autogen1" class="select2-offscreen"></label>
                    <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true"aria-labelledby="select2-chosen-1" id="s2id_autogen1">
                    <div class="select2-drop select2-display-none select2-with-searchbox">
                        <div class="select2-search">
                            <label for="s2id_autogen1_search" class="select2-offscreen"></label>
                        </div>
                        <ul class="select2-results" role="listbox" id="select2-results-1"> </ul>
                    </div>
                </div>
                <input type="hidden" id="new-unit-form" tabindex="-1" title="" style="display: none;">
            </div>
            <div class="col-md-6">
                <button id="add-user-form" class="btn btn-success"><span class="fa fa-search"> Search</span></button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add user</h3>
    </div>
    <div class="panel-body">
        <p class="alert alert-info">A new record will be created when you add a new user.</p>
        <form id="new-user-form" class="must-validate" role="form" action="#" method="POST" novalidate="novalidate">
            <input type="hidden" name="unit" id="unit">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="email">Username</label>
                        <input type="email" class="form-control" required="required" name="email" id="email" aria-required="true">
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="first-name">First name</label>
                        <input type="text" class="form-control" required="required" id="first-name" name="first-name" aria-required="true">
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="last-name">Last name</label>
                        <input type="text" class="form-control" required="required" id="last-name" name="last-name" aria-required="true">
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success toggle-information" toggle-value="submitDiv">Add user</span></button>
                    <div id="submitDiv" class="hidden-info" style="display: none;">
                        <h5>Are you sure you want to add this user?</h5>
                        <button class="btn btn-success">Yes</button>
                        <button class="btn btn-danger toggle-information" toggle-value="submitDiv">No</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



</div>

{{> footer examples-footer}}
