---
title: 
---


{{> header prototype-web-app.header}}

{{> category-header prototype-web-app.category-header}}

{{> navigation-bar prototype-web-app.navigation-bar}}


<div class="container" id="main-content">


<input type="hidden" id="contextPath" value="/expense-claim">


<br><br>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Current users</h3>
    </div>
    <div class="panel-body">
        <div id="users" class="row">
            <div class="col-md-12">
                <table id="unit-users" class="datatable table no-footer" aria-describedby="unit-users_info" role="grid">
                <thead>
                    <tr role="row"><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Email Address: activate to sort column ascending">Email Address</th><th class="sorting" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending">First Name</th><th class="sorting_asc" tabindex="0" aria-controls="unit-users" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" aria-sort="ascending">Last Name</th><th rowspan="1" colspan="1"></th></tr>
                </thead>
                <tbody><tr role="row" class="odd"><td class="">greg@st.com</td><td class="">Greg</td><td class="sorting_1">C</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=greg@st.com">View forms</a></td></tr><tr role="row" class="even"><td class="">dairygoodness@hotmail.com</td><td class="">Andrew</td><td class="sorting_1">Coomber</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=dairygoodness@hotmail.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">leecoomber@hotmail.com</td><td class="">Lee</td><td class="sorting_1">Coomber</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=leecoomber@hotmail.com">View forms</a></td></tr><tr role="row" class="even"><td class="">ankit@test.com</td><td class="">Ankit</td><td class="sorting_1">Sawa</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=ankit@test.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">test@test.com</td><td class="">Test</td><td class="sorting_1">Testing</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=test@test.com">View forms</a></td></tr><tr role="row" class="even"><td class="">hannah@hannah.com</td><td class="">Hannah</td><td class="sorting_1">Thomson</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=hannah@hannah.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">greg@st.com</td><td class="">Greg</td><td class="sorting_1">C</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=greg@st.com">View forms</a></td></tr><tr role="row" class="even"><td class="">dairygoodness@hotmail.com</td><td class="">Andrew</td><td class="sorting_1">Coomber</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=dairygoodness@hotmail.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">leecoomber@hotmail.com</td><td class="">Lee</td><td class="sorting_1">Coomber</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=leecoomber@hotmail.com">View forms</a></td></tr><tr role="row" class="even"><td class="">ankit@test.com</td><td class="">Ankit</td><td class="sorting_1">Sawa</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=ankit@test.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">test@test.com</td><td class="">Test</td><td class="sorting_1">Testing</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=test@test.com">View forms</a></td></tr><tr role="row" class="even"><td class="">hannah@hannah.com</td><td class="">Hannah</td><td class="sorting_1">Thomson</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=hannah@hannah.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">greg@st.com</td><td class="">Greg</td><td class="sorting_1">C</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=greg@st.com">View forms</a></td></tr><tr role="row" class="even"><td class="">dairygoodness@hotmail.com</td><td class="">Andrew</td><td class="sorting_1">Coomber</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=dairygoodness@hotmail.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">leecoomber@hotmail.com</td><td class="">Lee</td><td class="sorting_1">Coomber</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=leecoomber@hotmail.com">View forms</a></td></tr><tr role="row" class="even"><td class="">ankit@test.com</td><td class="">Ankit</td><td class="sorting_1">Sawa</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=ankit@test.com">View forms</a></td></tr><tr role="row" class="odd"><td class="">test@test.com</td><td class="">Test</td><td class="sorting_1">Testing</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=test@test.com">View forms</a></td></tr><tr role="row" class="even"><td class="">hannah@hannah.com</td><td class="">Hannah</td><td class="sorting_1">Thomson</td><td><a class="btn btn-default" href="/expense-claim/user/admin/user-forms.htm?username=hannah@hannah.com">View forms</a></td></tr></tbody>
            </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add form</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="select2-container" id="s2id_new-unit-form" style="width: 100%;"><a href="javascript:void(0)" class="select2-choice select2-default" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-1">Find user</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen1" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-1" id="s2id_autogen1"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen1_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-1" id="s2id_autogen1_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-1">   </ul></div></div><input type="hidden" id="new-unit-form" tabindex="-1" title="" style="display: none;">
            </div>
            <div class="col-md-6">
                <button id="add-user-form" class="btn btn-success"><span class="fa fa-plus"> Add form</span></button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add user</h3>
    </div>
    <div class="panel-body">
        <p class="alert alert-info">A new form will be created when you add a new user.</p>
        <form id="new-user-form" class="must-validate" role="form" action="/expense-claim/user/admin/manage.htm" method="POST" novalidate="novalidate">
            <input type="hidden" name="unit" id="unit">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="email">Email</label>
                        <input type="email" class="form-control" required="required" name="email" id="email" aria-required="true">
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="first-name">First name</label>
                        <input type="text" class="form-control" required="required" id="first-name" name="first-name" aria-required="true">
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="last-name">Last name</label>
                        <input type="text" class="form-control" required="required" id="last-name" name="last-name" aria-required="true">
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success toggle-information" toggle-value="submitDiv">Add user</span></button>
                    <div id="submitDiv" class="hidden-info" style="display: none;">
                        <h5>Are you sure you want to add this user?</h5>
                        <button class="btn btn-success">Yes</button>
                        <button class="btn btn-danger toggle-information" toggle-value="submitDiv">No</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



</div>

{{> footer footer-1}}
