/*********************************/
/* BEGIN Pattern: accordion-mobile  */
/*********************************/

.accordion-mobile-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;

    .accordion-mobile-item__toggle,
    .accordion-mobile-item__content {
        border-top: 1px solid #ccc;
        width: 100%;

        &:last-child {
            border-bottom: 1px solid #ccc;
        }
    }

    .accordion-mobile-item__toggle-title {
        margin: 0;

        .accordion-mobile-item__toggle-button {
            background: none;
            border: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
            padding: 10px 15px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }

    .accordion-mobile-item__content {
        padding: 10px 15px;
        display: none;

        // Visually hide the checkbox, but keep it in focus
        input[type='checkbox'] {
            position: absolute;
            opacity: 0;
            width: 1px;
            height: 1px;
            clip: rect(0, 0, 0, 0);
            margin: -1px;

            + label {
                position: relative;
                padding-left: 40px;
                line-height: 36px;
                cursor: pointer;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 30px;
                    height: 30px;
                    border: 3px solid black;
                    background-color: white;
                }
            }

            &:checked + label:before {
                background-color: white;
                border-color: black;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" d="M9 16.2L4.5 11.7l-1.8 1.8L9 19.8 22.3 6.5l-1.8-1.8L9 16.2z"/></svg>');
                background-repeat: no-repeat;
                background-position: center;
            }

            &:focus + label:before {
                border-width: 4px;
                border-color: black;
                box-shadow: 0 0 0 4px #ffb400; // Additional border using box-shadow for the color #ffb400
            }
        }
    }
}

/*********************************/
/* END Pattern: accordion-mobile */
/*********************************/
