---
title: Google maps
---

<p>Generic Google map with choice for multiple or single location markers. Locations held in local or external JSON data.</p>

<ul>
   <li>May be used by any site to show building locations.</li>
   <li>Populate JSON data with location longitude, latitude and address.</li>
</ul>

<p><strong>External JSON file</strong> Need to add <code>$.getJSON</code> command -- <code>$.getJSON( "FILENAME" , function(locations) {</code> to google.maps.js file as shown in comments within code.</p>

{{#google-maps-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> google-maps}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> google-maps}}</code></pre>
{{/google-maps-options.options}}