---
title: Google maps
---

<p>The Google maps pattern has two main variants, the mulitple point 'My Maps' and the standard single point Google map.</p>

<ul>
	<li>Multiple point - <a href="https://www.google.com/mymaps">My Maps</a> (requires a Google account)</li>
	<li>Single point - <a href="https://www.google.co.uk/maps">Google Maps</a></li>
</ul>

<p>
	<strong>A Google map can only be used within these 3 patterns:</strong>
</p>

<ul>
	<li><a href="../content-whole/index.html">Content whole</a></li>
	<li><a href="../content-halves/index.html">Content halves</a></li>
	<li><a href="../content-thirds/index.html">Content thirds</a></li>
</ul>



<p>See <a href="https://support.google.com/mymaps/answer/3024925?visit_id=1-636197288074485205-308693475&p=lite_addplaces&rd=1">Add places and search results</a> for more information on using Google My Maps.<p>




{{#google-maps-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
</div>
{{> google-maps}}
<div class="container">
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> google-maps}}</code></pre>
{{/google-maps-options.options}}