
/*********************************/
/* BEGIN Pattern: google-maps    */
/*********************************/

#googleMap {
	height: 450px;
	width: 100%;
}

@media (max-width: 750px) {
	#googleMap {
		height: 300px;
	}
}

/*********************************/
/* END Pattern: google-maps      */
/*********************************/
