
/*********************************/
/* BEGIN Pattern: google-maps    */
/*********************************/

div.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 25px;
}
div.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border: none;
}

iframe div#watermark {
    display: none !important;
}

/*********************************/
/* END Pattern: google-maps      */
/*********************************/
