
/*********************************/
/* BEGIN Pattern: content-thirds   */
/*********************************/

/* remove margin of h2 when it's the first element of the content */

.content h2, .content h3, .content h3:nth-child(1), .content h4:nth-child(1) {
    margin-top: 0;
}

section.sta-grey-light {
	background-color: $sta-grey-light;
}


section.sta-blue, 
section.sta-blue-light, 
section.sta-green, 
section.sta-burgundy, 
section.sta-purple, 
section.sta-grey-light {

	h2, p {
		color: white;
	}
}


/*********************************/
/* END Pattern: content-thirds     */
/*********************************/
