
/*********************************/
/* BEGIN Pattern: content-thirds */
/*********************************/

section.sta-grey-light {
	background-color: $sta-grey-light;
}

section,
div {
	&.sta-blue,
	&.sta-blue-light,
	&.sta-green,
	&.sta-burgundy,
	&.ta-purple {

	    color: white;

	    p a, ul a {
	        color: white;
	        text-decoration: underline;
	    }

	    .navbox .navbox-title p a, .btn {
	        text-decoration: none;
	    }
	}
}

/*********************************/
/* END Pattern: content-thirds   */
/*********************************/
