
/*********************************/
/* BEGIN Pattern: content-thirds */
/*********************************/

section.sta-grey-light {
	background-color: $sta-grey-light;
}

section.sta-blue,
section.sta-blue-light,
section.sta-green,
section.sta-burgundy,
section.sta-purple {

    color: white;

    p a, ul a {
        color: white;
        text-decoration: underline;
    }

    .navbox .navbox-title p a, .btn {
        text-decoration: none;
    }

}

/*********************************/
/* END Pattern: content-thirds   */
/*********************************/
