---
title: Content thirds
pattern: content-thirds
examples:
- name: first-col-only
- name: col-with-aside
- name: heading-col-with-aside
---

<p>The content thirds pattern contains a &frac23; width column for the main content and an optional &frac13; width column for related content. There is the option of a heading above the columns and a full-width background colour.</p>

<h2>Usage</h2>

<ul>
    <li>When using the optional heading above the columns it must use heading 2 and sub-headings in the content as heading 3.</li>
    <li>If using a background colour, it must use colours from the DPL palette and comply with accessibility for contrast between text and background: a contrast ratio of 0.8 or above.</li>
    <li>The second column (&frac13;) must only contain a navigation box or related content.</li>
</ul>

<h2>Options</h2>

<ul>
    <li>Content in the second column (&frac13;).</li>
    <li>Heading 2 above the columns.</li>
    <li>Full width background colour.</li>
</ul>
