---
title: Digital Pattern Library
layout: _base.hbs
---


<h1>Digital Pattern Library</h1>


<div class="row">

  <div class="col-md-4">

    <h2>Patterns</h2>

    <ul>
    	{{#each pages }}
    		{{#is basename "index"}}
    		{{else}}
    		<li> <a  href ="{{data.pattern}}/index.html" > {{data.pattern }} </a > </li >
    		{{/is}}
    	{{/each  }}
    </ul>

  </div>

  <div class="col-md-4">

   <h2>Documentation</h2>

    <ul>
      <li><a href="about.html">About the pattern library</a></li>
      <li><a href="using.html">Using core CSS and JavaScript</a></li>
      <li><a href="dependencies.html">JavaScript Dependencies</a></li>
    </ul>


    <h2>Contributing</h2>
    <ul>
      <li><a href="contributing.html">Getting Started</a></li>
      <li><a href="css-style.html">CSS Coding Style Guide</a></li>
      <li><a href="js-style.html">JS Coding Style Guide</a></li>
    </ul>

  </div>

  <div class="col-md-4">

    <p><a href="patchwork.html">Patchwork</a> – The patchwork
    shows all patterns in alphabetical order. Useful for testing or searching for a pattern.</p>

  </div>

</div>
