---
title: Patchwork of Patterns
layout: pattern_example.hbs
---


<div class="header-bar">
  <h1>Patchwork</h1>

  <p>All patterns in library displayed. Jump to: 

    <select name="jumpto" class="anchor-jump">
      <option value="">(select a pattern)</option>
      <option value="header">header</option>
      <option value="navigation-bar">navigation-bar</option>
      <option value="tile">tile</option>
      <option value="tile-grid">tile-grid</option>
      <option value="footer">footer</option> 
    </select>

  </p>

  <p><a href="index.html">Pattern Library</a></p>

  
</div>



<div class="patchwork">

<a name="header"></a>
{{> header}}

<a name="navigation-bar"></a>
{{> navigation-bar navigation-bar-2}}

<a name="tile"></a>
{{> tile tile-1}}

<a name="tile-grid"></a>
{{> tile-grid tile-grid-1 }}

<a name="footer"></a>
{{> footer footer-home}}

</div>