/*************************************/
/* BEGIN Pattern: information-panel  */
/*************************************/
.information-panel {
	color: white;
	padding-top: 30px;


	&.sta-purple-1 {
		background-color: $sta-purple;
	}

	&.sta-purple-2 {
		background-color: darken($sta-purple, 7%);
	}

	&.sta-purple-3 {
		background-color: darken($sta-purple, 14%);
	}

	
	.fa {
		font-size: 7em;
		padding-top: 50px;
	}

}


/*************************************/
/* END Pattern: information-panel    */
/*************************************/