
/*********************************/
/* BEGIN Pattern: paired-values-list */
/*********************************/

.paired-values-list {
    display: grid;
    grid-template-columns: auto 1fr; // 2 column grid

    // IE 11 specific fallback as dynamic grids are not supported
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        overflow: auto;
    }

    // Dividing lines between pairs with vertical padding
    &--divided {
        .paired-values-list__name,
        .paired-values-list__value {
            padding-top: 0.5em;   
            padding-bottom: 0.5em;                
        }
        .paired-values-list__name:not(:first-child),
        .paired-values-list__value:not(:nth-child(2)) {
            border-top: 1px solid rgba(148, 148, 148, 0.31); // Equivalent to Mid grey 2 (#dedede) on white
        }
    }

}

.paired-values-list__name {
    font-weight: normal;
    max-width: 200px;
    padding-right: 1em;

    // IE 11 specific fallback as dynamic grids are not supported
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        clear: both;
        float: left;
    }

    // Deprecated - now just uses font-weight--bold override
    &.selected {
    	font-weight: bold;
    }
}

.paired-values-list__value {

    // IE 11 specific fallback as dynamic grids are not supported
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        float: left;
    }

    &.selected {
    	font-weight: bold;
    }
}

/*********************************/
/* END Pattern: paired-values-list   */
/*********************************/
