/************************************/
/* BEGIN Pattern: long-form-intro   */
/************************************/

.long-form__content .lead {
    font-family: $font-family-sans-serif;
    font-size:   1.8rem;
}

.long-form__content .btn {
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

section.long-form.long-form-intro {
	background-image: url(../images/long-form-content/bg-spark.jpg);
}

// Darkened background image
.long-form--bg-darken {
    &:after {
        background-color: rgba(0,0,0,0.6);
        content: ' ';
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@media (min-width: 992px) {

    .long-form__content .lead {
        font-size: 2.25rem;
    }

}

/**********************************/
/* END Pattern: long-form-intro   */
/**********************************/