<!-- Begin pattern: long-form-intro //-->
<section class="long-form long-form-intro long-form--inverse long-form--bg-darken">
    <div class="container">
    	<div class="row">
    		<div class="long-form__wrapper">
		        <div class="long-form__content">
	            	{{{intro-text}}}
		        </div>
	        </div>
        </div>
    </div>
</section>
<!-- End pattern: long-form-intro //-->
