


.event-listing {

    @extend %card;
    padding: 1em;

    .event-listing__details { 
        // Reset link styles
            box-shadow: none;
            font-weight: normal;
            outline: none;
            text-decoration: none;

        .event-listing__heading {
            color: inherit;
            @extend %font-scale-1;
            margin: 0 0 0.25rem;
        }
    }

     // Make link fill container to cover card when link
            a.event-listing__details:before {
                bottom: 0;
                content: "";
                left: 0;
                overflow: hidden;
                position: absolute;
                right: 0;
                top: 0;
                white-space: nowrap;
                z-index: 1;
            }

        .event-listing__description {
            margin-top:0.25rem;
            max-width: 48em;  // limit width of text to help readability
        }

/*
        .event-listing__date,
        .event-listing__location,
        .event-listing__time  {
            font-size: 1rem; // Don't scale up on larger displays
            font-weight: normal; 
            margin-bottom:0.25rem;
            padding-left: 1.3rem;
            position: relative;
            
            &:before {
                font-family: "Font Awesome 5 Free";
                font-size: inherit; // can't have font-size inherit on line above, so need to override
                text-rendering: auto; // optimizelegibility throws things off #1094
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-style: normal;
                font-weight: 900;
                position: absolute;
                top: -2px;
                left: 0;
            }
        }
        .event-listing__date {
            &:before {
                font-weight: 400;
                content: "\f073";
            }
        }
        .event-listing__location {
            &:before {
                content: "\f3c5";
            }
        }
        .event-listing__time {
            &:before {
                font-weight: 400;
                content: "\f017";
            }
        }
        */

     // Hover styles
        a:hover {
            .event-listing__heading {
                color: $sta-blue-light-hover;
                text-decoration: underline;
                &:before {
                    text-decoration: none;
                }
            }        
        }
        
        a:focus {
            background: none;
            box-shadow: none;
            outline: none;            

            .event-listing__heading {
                color: $sta-blue-light-hover;
                text-decoration: underline;
                &:before {
                    text-decoration: none;
                }
            }
        }

        &:focus-within,
        &:focus {
            box-shadow: none;
            outline: 3px solid $sta-orange-highlight;
            z-index: 5;

            .event-listing__heading {
                color: $sta-blue-light-hover;
                text-decoration: underline;
                &:before {
                    text-decoration: none;
                }
            }
        }

    // Cancelled style
    &.cancelled {
        .event-listing__heading{
            position: relative;
            padding-top: 1.5em;

            &:before {
                background: #ea1a13;
                color: #fff;
                content: 'Cancelled';
                display: inline-block;
                font-size: 1rem;
                font-weight: normal;
                padding: 3px 9px;
                text-shadow: none;
                text-transform: none;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

// Reduce borders when two adjoin
.event-listing + .event-listing {
    margin-top: -1px;
}