/*********************************/
/* BEGIN Pattern: share-options  */
/*********************************/

.share-options {
	ul {
        margin-bottom: 10px;
        padding: 0;

        li {
    		display: inline;
    		list-style-type: none;
    		margin-right: 5px;
    	}
    }

	a {
		text-decoration: none;
		font-weight: 500;
		
		// Remove background on active and focus state
		&:active,
		&:focus {
			background: none;
			box-shadow:none;
		}
	}

	.fa-facebook-square {
		color: rgb(59, 89, 152);
	}

	.fa-twitter-square {
		color: rgb(29, 161, 242);
	}

	.fa-linkedin {
		color: rgb(0, 119, 181);
	}

	.fa-facebook-messenger {
		color: rgb(0, 132, 255);
	}

	.fa-whatsapp {
		color: rgb(37, 211, 102);
	}

	.fa-envelope-square {
		color: rgb(68, 68, 68);
	}

	.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-linkedin-square:hover, .fa-facebook-messenger:hover, .fa-whatsapp:hover, .fa-envelope-square:hover {
		color: $sta-grey;
	}


	@media (max-width: 767px) {
		li.visible-xs {
	    	display: inline !important;
		}
	}

}

.share-options__copy-button {
	float: right;
	margin-top: 6px;
}



/*********************************/
/* END Pattern: share-options    */
/*********************************/