/*********************************/
/* BEGIN Pattern: share-options  */
/*********************************/

#share-options ul li {
	display: inline;
	list-style-type: none;
	margin-right: 5px;
}

/*********************************/ 
/* END Pattern: share-options    */
/*********************************/ 