/*********************************/
/* BEGIN Pattern: share-options  */
/*********************************/

#share-options {
	ul li {
		display: inline;
		list-style-type: none;
		margin-right: 5px;
	}
	.fa-facebook-square {
		color: rgb(59,89,152);
	}
	.fa-twitter-square {
		color: rgb(29,161,242);
	}
	.fa-linkedin-square {
		color: rgb(0,119,181);
	}
	.fa-whatsapp {
		color: rgb(37,211,102);
	}
	.fa-envelope {
		color: rgb(68,68,68);
	}
	.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-linkedin-square:hover, .fa-whatsapp:hover, .fa-envelope:hover {
		color: rgb(106,106,106);
	}
	img.facebook-messenger {
		width: 30.86px; 
		height: 36px;
		color: rgb(0, 132, 255)
		vertical-align: -8px;
	}
}



/*********************************/ 
/* END Pattern: share-options    */
/*********************************/ 