/*********************************/
/* BEGIN Pattern: share-options  */
/*********************************/

#share-options {
	ul li {
		display: inline;
		list-style-type: none;
		margin-right: 5px;
	}

	a {
		text-decoration: none;
	}

	.fa-facebook-square {
		color: rgb(59, 89, 152);
	}

	.fa-twitter-square {
		color: rgb(29, 161, 242);
	}

	.fa-linkedin-square {
		color: rgb(0, 119, 181);
	}

	.fa-whatsapp {
		color: rgb(37, 211, 102);
	}

	.fa-envelope {
		color: rgb(68, 68, 68);
	}

	.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-linkedin-square:hover, .fa-whatsapp:hover, .fa-envelope:hover {
		color: rgb(106, 106, 106);
	}

	svg {
		width: 1.8em;
		height: 1.8em;
		vertical-align: -3px;

		#Bubble_Shape {
			fill: rgb(0, 132, 255);
		}

		&:hover {
			fill: rgb(106, 106, 106);
		}
	}
}

@media (max-width: 767px) {
	#share-options li.visible-xs {
    	display: inline !important;
	}
}


/*********************************/
/* END Pattern: share-options    */
/*********************************/