<!-- Begin pattern: share-options //-->
<div class="share-options">
	{{#if embed}}
	<div class="row">
		<div class="col-md-6">
	{{/if}}
		{{#if title}}<h3>{{title}}</h3>{{/if}}
	    <ul>
		{{#icon}}
			<li {{#if mobile-only}} class="visible-xs"{{/if}}><a href="#"><span class="sr-only">{{title}}</span>
			{{#if class}}
				<i class="{{class}} fa-2x" title="{{title}}" aria-hidden="true"></i>
			{{/if}}
			</a></li>
		{{/icon}}
	    </ul>
	{{#if embed}}
		</div>
		<div class="col-md-6 dpl-form">
			<h3>Embed this video</h3>
			<textarea class="form-control share-options__content-example" rows="3" onfocus="this.select()"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JxHfSwpddCU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></textarea>
			<button class="btn btn-primary share-options__copy-button" type="button">Copy</button>
		</div>
	</div>
	{{/if}}
</div>
<!-- End pattern: share-options //-->