---
title: Header
---

<p>The header pattern includes the logo and search field. On the University homepage, the header also includes audience specific navigation links above the search bar.</p>
<ul>
	<li>The header must be included at the top of all webpages.</li>
	<li>The University logo used for the header must be the "Founded in 1413" variant in black.</li>
	<li>The background colour of the header must always be white.</li>
</ul>

{{#header-options.variants}}
<hr>
<h3>{{option-header}}</h3>
{{{option-description}}}
{{> header}}
<span class="label label-default">Code</span>
<div class="pattern-source html" style="">{{> header}}</div>
{{/header-options.variants}}
