<!-- Begin pattern: header //-->

	<div class="sr-only"><a class="skip" href="#content-begin">Skip to content</a></div>

	<div id="print-header">
    <img src="{{asset "images/furniture/print-crest.png"}}" alt="University of St Andrews" />
  </div>

	<div id="panel-people" class="header-panel">
		<div class="container">
				<ul>
					<li><a href="/students/">Current students</a></li>
					<li><a href="/pgstudents/">Current postgraduates</a></li>
					<li><a href="/staff/">Staff</a></li>
				</ul>
		</div>
	</div>
	<div id="panel-search" class="header-panel" role="search">
		<div class="container">


				<form action="http://www.st-andrews.ac.uk/gsasearch" method="get">
					<div class="row">
						<div class="col-sm-10 col-xs-8">
		        		<input type="text" title="Enter search keywords" maxlength="256" name="q" placeholder="Search..."/>
		        	</div>
		        	<div class="col-sm-2 col-xs-4 text-right">
		        		<input class="" type="submit" value="Search" name="btnG"/>
		        	</div>
		        </div>
		        <input type="hidden" value="StAndrews_ITS" name="site"/>
		        <input type="hidden" value="xml_no_dtd" name="output"/>
		        <input type="hidden" value="StAndrews_ITS" name="client"/>
		        <input type="hidden" value="StAndrews_ITS" name="proxystylesheet"/>
				</form>


		</div>
	</div>

	<header id="header" role="banner">

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-5 col-xs-7 logo-container">
					<div id="header-logo"><h1><a href="http://www.st-andrews.ac.uk/"><img src="{{asset "images/furniture/logo-standard.svg"}}" alt="University of St Andrews" /></a></h1></div>
				</div>

				<div class="col-lg-3  col-lg-offset-5  col-md-5  col-xs-5  col-md-offset-2  text-right  button-container">

					<a class="panel-toggle"
            		   data-target="#panel-people"
            		   data-siblings=".header-panel"><img src="{{asset "images/furniture/user-512.png"}}" alt="Resources for current students and staff" class="icon"></a>

					<a class="panel-toggle"
						data-target="#panel-search"
						data-siblings=".header-panel"><img src="{{asset "images/furniture/search-512.png"}}" alt="Search" class="icon"></a>

				</div>

			</div>

		</div>
	</header>

<!-- End pattern: header //-->
