---
title: Header
pattern: header
examples:
- name: default-header
- name: university-homepage-header
- name: school-header
- name: authenticated-header
- name: web-application-header
---

<p>The header pattern includes the logo and search field. On the University homepage, the header also includes audience specific navigation links above the search bar.</p>

<h2>Usage</h2>

<ul>
	<li>The header should be included at the top of all webpages.</li>
	<li>The University logo used for the header should be the "Founded in 1413" variant in black.</li>
	<li>The background colour of the header should always be white.</li>
</ul>

<h2>Options</h2>

<ul>
	<li><strong>Default header</strong> - should be used on all University webpages except the University homepage, School homepages, or web applications.</li>
	<li><strong>University homepage header</strong> - only used on the University homepage.</li>
	<li><strong>School header</strong> - should be used on every page within a School website.</li>
    <li><strong>Authenticated header</strong> - when a user is authenticated, the header should be altered to include the name of the person logged in and display any user-specific links they may have access to in addition to a link to logout.</li>
    <li><strong>Web application header</strong> - a condensed header that must only be used on web applications.</li>
</ul>