---
title: Header
pattern: header
examples:
- name: example1
---

<p>The Header pattern includes the logo, audience navigation and search.</p>

<h2>Usage</h2>

<ul>
	<li>A Header should be at the top of all pages.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> header}}</div>

<h2>Options</h2>

<ul>
	<li><em>None</em></li>
</ul>
