
/*********************************/
/* BEGIN Pattern: form-elements  */
/*********************************/

.pattern-example {
	border:1px solid #ddd;
	padding:10px;
	margin-bottom:20px;
	}

/*********************************/
/* END Pattern: form-elements    */
/*********************************/
