
/*********************************/
/* BEGIN Pattern: form-elements  */
/*********************************/

.pattern-example {
	border:1px solid #ddd;
	padding:10px;
	margin-bottom:20px;
	}

@media (min-width:768px) {
	.form-control {
		width:50%;
	}
}

/*********************************/
/* END Pattern: form-elements    */
/*********************************/
