<div class="form-group">
	<div class="radio-button">
	    <ul>
	        <li>
	            <input type="radio" id="stacked-1" class="conditional-radio" name="conditional" value="one">
	            <label for="stacked-1">One</label>

	            <div class="check"></div>
	        </li>
	        <li>
	            <input type="radio" id="stacked-2" class="conditional-radio" name="conditional" value="two">
	            <label for="stacked-2">Two</label>

	            <div class="check"></div>
	        </li>
	        <li>
	            <input type="radio" id="stacked-3" class="conditional-radio" name="conditional" value="three">
	            <label for="stacked-3">Three</label>

	            <div class="check"></div>
	        </li>
	        <li>
	            <input type="radio" id="stacked-4" class="conditional-radio" name="conditional" value="other">
	            <label for="stacked-4">Other</label>

	            <div class="check"></div>
	        </li>
	    </ul>
	</div>
	<div class="conditional-content" aria-hidden="true">
		<label class="control-label" for="name">Other</label>
		<input class="form-control" id="name" type="text">
	</div>
</div>