<div class="form-group">
	<label class="control-label" for="firstName-2">First name</label>
	<input class="form-control" id="firstName-2" name="firstName" type="text">
</div>
<div class="form-group">
	<label class="control-label" for="lastName-2">Last name</label>
	<input class="form-control" id="lastName-2" name="lastName" type="text">
</div>