<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1-inline" value="Yes" checked=""> Yes
    </label>
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2-inline" value="No"> No
    </label>
</div>