<div class="form-group">
	<label class="control-label" for="firstName">First name</label>
	<input class="form-control" id="firstName" type="text">
</div>
<div class="form-group">
	<label class="control-label" for="lastName">Last name</label>
	<input class="form-control" id="lastName" type="text">
</div>