<div class="row">
    <div class="col-md-6">
        <div class="form-group select-box">
            <label class="form-label" for="select-box">Status</label>
            <p>Please select your student status.</p>
            <select class="form-control" id="select-box" name="select-box">
                <option value="">Please select one of the following&hellip;</option>
                <option value="ug">Undergraduate</option>
                <option value="pgr">Research postgraduate</option>
                <option value="pgt">Taught postgraduate</option>
            </select>
        </div>
    </div>
</div>