<div class="radio-stacked">
    <div class="container">
        <ul>
            <li>
                <input type="radio" id="stacked-option1" name="stacked-selector">
                <label for="stacked-option1">One</label>

                <div class="check"></div>
            </li>

            <li>
                <input type="radio" id="stacked-option2" name="stacked-selector">
                <label for="stacked-option2">Two</label>

                <div class="check"></div>
            </li>

            <li>
                <input type="radio" id="stacked-option3" name="stacked-selector">
                <label for="stacked-option3">Three</label>

                <div class="check"></div>
            </li>
        </ul>
    </div>
</div>