<div class="checkbox">
    <label>
        <input type="checkbox" value="option1"> Option 1
    </label>
</div>    
<div class="checkbox">
    <label>
        <input type="checkbox" value="option2"> Option 2
    </label>
</div>    
<div class="checkbox">
    <label>
        <input type="checkbox" value="option3"> Option 3
    </label>
</div>