<!-- Begin pattern: form-elements-focus-states //-->

<form>
  <div class="form-group">
    <label class="form-label" for="full-name-f2">Full name</label>
    <input class="form-control" type="text" id="full-name-f2">
  </div>
</form>

<ul>
  <li><b>#FFBF47</b></li>
  <li>$focus-colour</li>
</ul>

<!-- End pattern: form-elements-focus-states //-->
