<label class="form-label" for="email">Enter your email address</label>
<input class="form-control" id="email" name="email" type="text">
<div class="checkbox">
    <label>
        <input type="checkbox">I agree to the terms and conditions
    </label>
</div>