<form action="" class="form">
	<div class="form-group">
		<label for="input-addon">Cost</label>
		<div class="input-group">
			<div class="input-group-addon">£</div>
			<input type="text" class="form-control" id="input-addon" name="input-addon">
			<div class="input-group-addon">.00</div>
		</div>
	</div>
</form>