<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="textArea" class="control-label">Textarea</label>
            <textarea class="form-control" rows="3" id="textArea" name="textArea"></textarea>
        </div>
    </div>
</div>