<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="textArea" class="control-label">Enter your message here</label>
            <textarea class="form-control limit-counter" rows="3" id="textArea" name="textArea" data-length="125"></textarea>
            <div class="textarea_feedback"></div>
        </div>
    </div>
</div>