<div class="form-group">
	<label class="control-label" for="Postcode">Postcode</label>
		<span class="help-block">
			Enter your postcode without any spaces. For example, KY169AL.
	  	</span>
	<input class="form-control" id="postcode" name="postcode" type="text">
</div>