<div class="form-group">
  <label class="form-label" for="select-box">Status</label>
  <select class="form-control" id="select-box">
    <option value="ug">Undergraduate</option>
    <option value="pgr">Research postgraduate</option>
    <option value="pgt">Taught postgraduate</option>
  </select>
</div>