<div class="form-group"> 
	<label for="input-addon">Please enter your St Andrews user ID</label> 
	<div class="input-group"> 
	  	<input type="text" class="form-control" id="input-addon" name="input-addon"> 
	  	<div class="input-group-addon">@st-andrews.ac.uk</div> 
	</div> 
</div> 