<label class="control-label" for="Postcode">
  Postcode
  <span class="help-block">
  	Enter your postcode without any spaces. For example, 'KY169AL'.
  </span>
</label>
<input class="form-control" id="postcode" type="text">