<div class="form-group select-box">
	<label class="form-label" for="select-box">Status</label>
	<p>Please select your student status.</p>
	<select class="conditional-select form-control" id="select-box" name="select-box">
		<option value="">Please select one of the following…</option>
		<option value="ug">Undergraduate</option>
		<option value="pgr">Research postgraduate</option>
		<option value="pgt">Taught postgraduate</option>
		<option value="other">Other</option>
	</select>
	<div class="conditional-content-select" aria-hidden="true">
		<label class="control-label" for="conditional-input2">Other</label>
		<input class="form-control" id="conditional-input2" type="text">
	</div>
</div>