<div class="form-group">
    <div class="radio-button inline">
        <ul>
            <li>
                <input type="radio" id="inline-option1" name="inline-selector">
                <label for="inline-option1">One</label>

                <div class="check"></div>
            </li>

            <li>
                <input type="radio" id="inline-option2" name="inline-selector">
                <label for="inline-option2">Two</label>

                <div class="check"></div>
            </li>

            <li>
                <input type="radio" id="inline-option3" name="inline-selector">
                <label for="inline-option3">Three</label>

                <div class="check"></div>
            </li>
        </ul>
    </div>
</div>