<div class="form-group">
    <div class="checkbox-box inline">
    <label>Options</label>
    <p>Please choose one or more options:</p>
        <ul>
            <li>
                <input type="checkbox" value="option1" id="checkbox-inline1" name="checkbox-inline1">
                <label for="checkbox-inline1">One</label>

                <div class="check glyphicon glyphicon-ok"></div>
            </li>

            <li>
                <input type="checkbox" value="option2" id="checkbox-inline2" name="checkbox-inline2">
                <label for="checkbox-inline2">Two</label>

                <div class="check glyphicon glyphicon-ok"></div>
            </li>

            <li>
                <input type="checkbox" value="option3" id="checkbox-inline3" name="checkbox-inline3">
                <label for="checkbox-inline3">Three</label>

                <div class="check glyphicon glyphicon-ok"></div>
            </li>
        </ul>
    </div>
</div>