<div class="checkbox-box">
    <div class="container">
        <ul>
            <li>
                <input type="checkbox" value="option1" id="checkbox-stacked1">
                <label for="checkbox-stacked1">One</label>

                <div class="check glyphicon glyphicon-ok"></div>
            </li>

            <li>
                <input type="checkbox" value="option2" id="checkbox-stacked2">
                <label for="checkbox-stacked2">Two</label>

                <div class="check glyphicon glyphicon-ok"></div>
            </li>

            <li>
                <input type="checkbox" value="option3" id="checkbox-stacked3">
                <label for="checkbox-stacked3">Three</label>

                <div class="check glyphicon glyphicon-ok"></div>
            </li>
        </ul>
    </div>
</div>