
/***************************************/
/* BEGIN Pattern: image-pattern-duncan */
/***************************************/

 .image-pattern-duncan {
  margin: 0 auto 3em;
 }

 .image-pattern-duncan img {
    margin: 0 auto;
    display: block;
 	position: relative;
 	z-index: 0;
 }

 .image-pattern-duncan p {
    margin-top: 10px;
 }

@media (max-width: 767px) {
  .image-pattern-duncan {
    margin-bottom: 2em;
  }
}

/*************************************/
/* END Pattern: image-pattern-duncan */
/*************************************/
