<!-- Begin pattern: image pattern duncan //-->

<div class="image-pattern-duncan">

    <figure class="figure">

        <img src='{{default url '[path/to/image.jpg]'}}' alt='{{default alt '[alt]'}}'>
        <figcaption class="figure-caption text-center">{{default caption '[caption]'}}</figcaption>

    </figure>
    {{#if paragraph}}
        <p>{{paragraph}}</p>
    {{/if}}
</div>

<!-- End pattern: image pattern duncan //-->
