
/*********************************/
/* BEGIN Pattern: masonry        */
/*********************************/

.masonry {
  position: relative;
  margin-bottom: 30px;
  height: 300px;
  background-color: $sta-grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.masonry.portrait {
  height: 630px;
}

.masonry-image img {
  height: auto!important;
  width: 100%!important;
}

.masonry-title {
  top: 0;
  color: #fff!important;
  width: 100%;
  position: absolute;
  padding: 0;
  text-shadow: 1px 1px 1px rgb(68, 68, 68);

}

.masonry-title h3 {
  padding: 15px;
  background: $sta-blue-T;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.masonry-title p {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  padding: 15px;
}

.masonry-title a {
  color: #fff!important;
  text-decoration: none;
  margin-right: 4px;
}

.masonry:hover{
  cursor:pointer;
}

.masonry:hover h3 {
  background: $sta-blue-T-hover;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}



.masonry-title acronym {
  display: none;
}

.masonry-chevron {
  float: right;
}

.masonry-chevron img {
  height: 35px!important;
  width: 30px!important;
  padding-right: 15px;
  padding-top: 15px;
}


@media (max-width: 992px) {

  .masonry.portrait {
    height: 300px;
  }


}


/*********************************/
/* END Pattern: masonry          */
/*********************************/
