---
title: Masonry
pattern: masonry
examples:
- name: example1
  width: 30%
related:
- name: masonry-grid

---

A 'masonry' is a component of a masonry grid and can either be square or rectangular (portrait or landscape).

<h2>Rules</h2>

<ul>
	<li>...</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> masonry}}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>


<h2>To do</h2>
<ul>
	<li>...</li>
</ul>

