---
title: Masonry (deprecated)
---

<div class="alert alert-danger">
  <strong>This pattern is deprecated.</strong> Do not attempt to use this pattern for any new website developments. It will be removed in a future update.
</div>

<p class="lead">The masonry pattern shows a title, description, link and optional background image, designed to be combined together into a <a href="../masonry-grid/index.html">masonry grid</a>; masonry elements must never appear outside of a masonry grid.</p>

{{#masonry-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
<div style="width: 30%;">
{{>  masonry}}
</div>
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> masonry}}</code></pre>
{{/masonry-options.options}}