---
title: Masonry
pattern: masonry
examples:
- name: example1
  width: 30%
related:
- name: masonry-grid

---

<p>The Masonry pattern shows a title, description, link and optional background image, designed to be combined together into a Masonry grid.</p>

<h2>Rules</h2>

<ul>
	<li>Always displayed in a Masonry grid</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> masonry}}</div>


<h2>Options</h2>

<ul>
	<li>Portrait / landscape</li>
</ul>
