
/**********************************/
/* BEGIN Pattern: news-updates */
/**********************************/

.news-updates figure {
    float: left;
    padding-right: 15px;
    width: 40%;
}

.news-updates-small img{
	margin-bottom:25px;
}

.news-updates h3{
	margin-top:0;
	font-size:18px;
}

figure {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.news-updates:hover {
    cursor: pointer;
}

/*********************************/
/* END Pattern: news-updates  */
/*********************************/
