
/**********************************/
/* BEGIN Pattern: news-updates    */
/**********************************/

.news-updates {

    .no-gutter { //collapse gutters on nested bootstrap columns
        padding: 0;
    }
    .no-gutter--l { //collapse left gutters on nested bootstrap columns
        padding-left: 0;
    }
    .no-gutter--r { //collapse left gutters on nested bootstrap columns
        padding-right: 0;
    }

    .news-updates__article-link { //wrapper for entire link block
        margin-bottom: 16px;

        &:not(.sub-link-active){
            &:hover,
            &:focus {
                cursor: pointer;

                h4 {
                    text-decoration:underline;
                }
            }
        }
    }

    img {
        max-width: 100%;
        padding-bottom: 5px;

        @media (min-width: 768px) {
            padding: 0 15px 0 0;
        }

        &.rounded-thumbnail {
            border-radius: 50%;
            float:right;
            padding: 0;
        }

        &.featured-image {
            padding: 0 0 15px 0;
        }
    }

    h4,
    p {
        margin: 5px 0;
    }
    small {
        font-size: 80%; // override 66% default
    }
    .news-updates__category {
        display: block;
        padding: 5px 10px;
        margin-left: -10px;

        &.news-updates__category--inline {
            @media (min-width: 480px) { //make category inline when space available
                display: inline-block;
                padding-left: 0;
                margin-left: 10px;

                &:before {
                    color: rgb(68, 68, 68);
                    content: "|";
                    font-weight: normal;
                    padding-right: 10px;
                }
            }
        }
    }

    .news-updates__secondary {
        padding-left: 0;
        padding-right: 0;

        &.no-gutter--md-r { //right hand gutter on medium and below
            @media (max-width: 991px) {
                padding: 0 15px 0 0;
            }
        }

        &.no-gutter--md-l {
            @media (max-width: 991px) { //left hand gutter on medium and below
                padding: 0 0 0 15px;
            }
        }
    }

    &.news-updates--case-studies {
        h3 {
            font-size: 2.5em;

            @media (max-width: 767px) {
                font-size: 1.8em;
            }

            @media (max-width: 479px) {
                font-size: 1.5em;
            }
        }

        h4 {
            font-size: 24px;
            line-height: 1.1;
        }

        .news-updates__article-link {
            margin-bottom: 32px;
        }
    }
}

/*********************************/
/* END Pattern: news-updates     */
/*********************************/