---
title: News updates
---

<p>The news updates pattern contains a &frac23; width column for a featured news update and a &frac13; width column for two other updates. Intended for landing pages such as School websites. It provides an entry for articles such as news.</p>

<ul>
	<li>There must be only one news updates section on a page.</li>
	<li>Must be used only within main content of the page.</li>
	<li>Images must be 360 by 240 pixels.</li>
</ul>

{{#news-updates-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> news-updates}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> news-updates}}</code></pre>
{{/news-updates-options.options}}