---
title: News updates
pattern: news-updates
examples:
- name: news-updates
---

<p>The news updates pattern contains a &frac23; width column for a featured news update and a &frac13; width column for two other updates.</p>

<h2>Usage</h2>

<ul>
	<li>There should only be one news updates section on a page.</li>
	<li>Images are 360 by 240 pixels.</li>
</ul>