/*********************************/
/* BEGIN Pattern: search-bar  */
/*********************************/

#search {
	width: 44%;
	margin: 25px 0px 16px;
}

#search-bar {
	padding: 50px 0;
}

#news-tags {
	margin-top: 30px;
		& a{
		margin-top: 10px;
	}
}
div.search-banner-grey {
	background-color: $sta-grey-light;
}
span.search-bar-title {
	border: none; 
	background-color: transparent; 
	padding-left: 0;
}
#search-title {
	text-align: center;
}
/*********************************/
/* END Pattern: search-bar    */
/*********************************/