/*********************************/
/* BEGIN Pattern: search-bar  */
/*********************************/
.search-bar { 
	padding: $page-gutter 0;
	
	
	.results {
		margin-top: $base-spacing;
		display: none;
		
		.btn {
			margin: 0 $small-spacing $small-spacing 0;
		}

		&.results__box {
			// Show results in a box
			background: #fff;
			color: $sta-grey-dark; // Ensure it doesn't inherit the white from blue banner
			padding: $half-gutter;

			// These should change to classes
			h2 {
				margin-top: 0;
			}
			
			.search-result {
				margin-bottom:0.5em;
			}

			a {
				display: inline-block;
			}
		}
	}

	&.search-bar__grey {
		background-color: $sta-grey-light;
	}

	&.search-bar__blue {
		background-color: $sta-blue;
		color: #fff;
	}

	&.search-bar__image {
		background-color: $sta-grey;
		background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
		color: #fff;
		position: relative;

		&:after {
			content: '';
			background: rgba($sta-grey-dark,0.5);
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		.container {
			position: relative;
			z-index: 10;
		}
	}

	&.search-bar__constrained {
		// Now boxed in so change padding
		padding: $half-gutter;
	}
} 

.search-bar__heading {
	@include ms-respond(font-size,2);
	margin-bottom: 5px;
	margin-top: 0;
}

// Add additional margin if no sub-heading
.search-bar__heading + .dpl-form {
	margin-top: 1rem;
}

.search-bar__sub-heading {
	@include ms-respond(font-size,1);
	margin-bottom: 1em;
}

.search-bar__inline-title {
	background: none;
	border: none;
	color: inherit;
}

// Horizontal list - currently tied to just search banner but should be part of splitting out to smaller components in DPLv2
.horizontal-list {
	display: inline-block;
	float: left;
	margin-top: 10px;

	&.horizontal-list--right {
		float: right;
	}

	@media (max-width: 767px){
		display: block;
		float: none;
	}

	.horizontal-list__toggle {

		&:before {
			@extend .fa;
    		@extend .fa-chevron-down;
    		display:none;
		}

		&.open:before {
			@extend .fa-chevron-up;
		}


		@media (max-width: 767px){
		// Dropdown toggle on smaller displays

		  	@include -dpl-transition();
		    background-color: $sta-blue-light;
		    color: white;
		    cursor: pointer;
		    @include ms-respond(font-size,1);
		    margin-bottom: 0;
		    padding: 10px 15px;

			&:hover {
			    background-color: $sta-blue-light-shade25;
			}

			&:focus,
			&:focus-within {
    			outline: 3px solid $sta-orange-highlight;
    			.horizontal-list__toggle-button {
    				text-decoration: underline;
    			}
			}

			&:active {
				background: $sta-orange-highlight;
				color: $sta-grey-dark;
    			outline: 3px solid $sta-orange-highlight;
    			.horizontal-list__toggle-button {
    				text-decoration: underline;
    			}
			}

			&:before {
				display: inline-block;
				float: right;
			}
		}

		@media (min-width: 768px){
			// Hide button on larger displays
			display:none;
		}
	}

	.horizontal-list__toggle-button {
		background: none;
		border: 0;
		margin: 0;
		outline: none;
		padding: 0;
	}

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;

		@media (max-width: 767px){
			background: #fff;
			border: 1px solid $sta-grey;
			border-top: none;
			display: none;
		}

		@media (min-width: 768px){
			display: block !important; // Always visible on large displays
		}

		> Li {
			
			// Vertical on smaller displays
			@media (max-width: 767px){
				a {
					border-top: 1px solid $sta-grey;
					color: inherit;
					display: block;
					font-weight: normal;
					padding: 10px 15px;
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: underline;
						background-color: #f5f5f5;
					}
				}
			}

			// Horizontal on larger displays
			@media (min-width: 768px){
				float:left;
				margin-left: 10px;

				&:before {
					content: '|';
					float: left;
					margin-right: 10px;
					opacity: 0.4;
				}

				&:first-child {
					margin-left: 0;

					&:before {
						content: '';
						margin-right: 0;
					}
				}


				> a {
					color: inherit;
					float: left;
					font-weight: normal;
					text-decoration: underline;
				}
			}
			// Dropdown elements - specific to this pattern

			&.dropdown-wrapper {
				display: block;
				position: relative;
				
				// Style for open dropdowns
				&.open {
					.dropdown-toggle {
						text-decoration: none;
					
						.caret {
							transform: rotate(180deg); // DPL - move to mixin
						}
					}
				}

			}

			.dropdown-toggle {
				.caret {
					margin-left: 8px;
					
					// Discount caret width for centred text on small displays
					@media (max-width: 767px){
						margin-right: -16px;
					}
				}
			}

			.dropdown-menu {
				@media (max-width: 767px){
					float: none;
					margin: 0;
					padding: 0;
					position: relative;
					box-shadow: none;
					width: 100%;
					border: 0;
				}
				@media (min-width: 768px){

				}
					font-size: 1rem;
					min-width: 260px;

					li {
						float: none;
						margin-left: 0;

						a {
							color: inherit;
							float: none;
							font-weight: normal;
							text-decoration: none;
							white-space: normal;
							border: none;

							&:hover,
							&:focus {
								text-decoration: underline;
							}
						}
					}
			}

			// Right align dropdown on rightmost menu item
			&:last-child {
				.dropdown-menu {
					left: auto;
					right: 0;
				}
			}
			
		}

	}
}

/*********************************/
/* END Pattern: search-bar    */
/*********************************/