/*********************************/
/* BEGIN Pattern: search-bar  */
/*********************************/
#search-bar { 
	padding: 50px 0;
	
	.results {
		margin-top: 15px;
		
		.btn {
			margin: 5px;
		}
	}
} 

div.search-banner-grey {
	background-color: $sta-grey-light;
}

span.search-bar-title {
	border: none; 
	background-color: transparent; 
	padding-left: 0;
}

#search-title {
	text-align: center;
}
/*********************************/
/* END Pattern: search-bar    */
/*********************************/