<!-- Begin pattern: search-bar //-->

<div id="course-search" {{#if background-color}} class="{{background-color}}" {{/if}}>
	{{#if search-tags}}
	<div id="search-title">
		<h4>News search</h4>
		<p>Search through our entire news archive</p>
	</div>
	{{/if}}
	<div class="container">
	    <form action="">
	        <div class="input-group input-group-lg">
	            <span class="input-group-addon search-bar-title">{{title}}</span>
	            <input class="form-control" type="text" title="Enter search keywords" maxlength="256" name="s" placeholder="{{placeholder}}">
	            <span class="input-group-btn">
	                <button class="btn btn-primary" value="Search" type="submit">
	                    <i class="fa fa-search" title="Search"></i>
	                </button>
	            </span>
	        </div>
	    </form>
	</div>
</div>
<!-- End pattern: search-bar //-->