---
title: Breadcrumbs
---

<p>The breadcrumbs pattern indicates the current page's location within a navigational hierarchy in relation to the homepage.</p>

<ul>
	<li>Must not be used on the homepage or on <a href="../long-form/index.html">long-form content</a> pages.</li>
    <li>Must be used at the top of content pages, sitting immediately beneath the <a href="../navigation-bar/index.html">navigation bar</a> and above the page content.</li>
</ul>

{{#breadcrumbs-options.options}}
<hr>
<h3>{{option-heading}}</h3>
{{{option-description}}}
{{> breadcrumbs}}
<span class="label label-default">Code</span>
<pre><code class="pattern-source html">{{> breadcrumbs}}</code></pre>
{{/breadcrumbs-options.options}}