---
title: Breadcrumbs
pattern: breadcrumbs
examples:
- name: example1
related:
- name: header
- name: navigation-bar
- name: category-header

---

The breadcrumbs pattern contains a list of parent pages of the current page.

<h2>Rules</h2>

<ul>
	<li>Should be used at the top of the content area (inside the content <code>&lt;div&gt;</code>) for a page.</li>
</ul>

<h2>Syntax</h2>

<div class="pattern-source">{{> breadcrumbs }}</div>


<h2>Options</h2>

<ul>
	<li>...</li>
</ul>
