
<!-- Begin pattern: breadcrumbs //-->

<div class="container">
    <div class="row">
        <div class="col-lg-12 content">
            <h2 class="sr-only">Breadcrumbs navigation</h2>
            <nav>
                <ul class="breadcrumbs">
                    {{#parents}}
                        <li><a href="{{url}}">{{title}}</a></li>
                    {{/parents}}
                    <li>{{current.title}}</li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- End pattern: breadcrumbs //-->