
<div class="swatch {{ color }} ">
    <div class="swatch__title">{{ name }}</div>
    <div class="swatch__base"></div>
    <div class="swatch__selected">Selected</div>
    <div class="swatch__transparent">Transparent</div>
    <div class="swatch__base-hover">Base hover</div>
    <div class="swatch__selected-hover">Selected hover</div>
    <div class="swatch__transparent-hover">Transparent hover</div>
    <div style="clear:both"></div>
</div>
