
<div class="swatch {{ color }} {{ contrast }}">
    <div class="swatch__title"><h3 style='font-family: "Comic Sans MS", cursive, sans-serif; font-weight: bold; font-size: 30px;'>{{ name }}</h3></div>
    <div class="swatch__base"><strong>Base</strong></div>
    <div class="swatch__selected"><strong>Selected</strong></div>
    <div class="swatch__transparent"><strong>Transparent</strong></div>
    <div class="swatch__base-hover"><strong>Base hover</strong></div>
    <div class="swatch__selected-hover"><strong>Selected hover</strong></div>
    <div class="swatch__transparent-hover"><strong>Transparent hover</strong></div>
    <div class="clearfix"></div>
</div>
