
<div class="swatch {{ color }} {{ contrast }}">
    <div class="swatch__title"><h3>{{ name }}</h3></div>
    <div class="swatch__base"><strong>Base</strong></div>
    <div class="swatch__selected"><strong>Selected</strong></div>
    <div class="swatch__base-hover"><strong>Base hover</strong></div>
    <div class="swatch__selected-hover"><strong>Selected hover</strong></div>
    <div class="clearfix"></div>
</div>
