---
title: Typefaces
---

<p>There are two main typefaces used across the University website: <a href="https://fonts.google.com/specimen/PT+Sans">PT Sans</a> and <a href="https://fonts.google.com/specimen/PT+Serif">PT Serif</a>. Both are freely available from <a href="https://fonts.google.com/">Google Fonts</a>.</p>


<h3>Primary typeface</h3>

<p>The University of St Andrews' primary typeface for web is <b>PT Sans</b>. This typeface must be used for body text and headings. The common equivalent typeface available on all computers is Arial. The CSS font stack should look like this:</p>

<pre style="margin-bottom: 2em;"><code>font-family: "PT Sans",Helvetica,Arial,sans-serif;</code></pre>

<h4>PT Sans regular</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-sans">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>a b c d e f g h i j k l m n o p q r s t u v w x y z<br>1 2 3 4 5 6 7 8 9 0</p>
            </section>
        </div>
    </div>
</div>

<h4>PT Sans bold</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-sans"><strong>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>a b c d e f g h i j k l m n o p q r s t u v w x y z<br>1 2 3 4 5 6 7 8 9 0</strong></p>
            </section>
        </div>
    </div>
</div>

<h4>PT Sans italic</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-sans"><em>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>a b c d e f g h i j k l m n o p q r s t u v w x y z<br>1 2 3 4 5 6 7 8 9 0</em></p>
            </section>
        </div>
    </div>
</div>

<hr>

<h3>Secondary typeface</h3>

<p>The University of St Andrews' secondary typeface for web is <b>PT Serif</b>. This typeface must be used only for <a href="../category-header/index.html">category header</a> sections and body text on <a href="../long-form-sections/index.html">long-form</a> pages. The common equivalent typeface available on all computers is Georgia.  The CSS font stack should look like this:</p>

<pre style="margin-bottom: 2em;"><code>font-family: "PT Serif",Georgia,"Times New Roman",Times,serif;</code></pre>

<h4>PT Serif regular</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-serif">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>a b c d e f g h i j k l m n o p q r s t u v w x y z<br>1 2 3 4 5 6 7 8 9 0</p>
            </section>
        </div>
    </div>
</div>

<h4>PT Serif bold</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-serif"><strong>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>a b c d e f g h i j k l m n o p q r s t u v w x y z<br>1 2 3 4 5 6 7 8 9 0</strong></p>
            </section>
        </div>
    </div>
</div>

<h4>PT Serif italic</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section class="content">
                <p class="pt-serif"><em>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>a b c d e f g h i j k l m n o p q r s t u v w x y z<br>1 2 3 4 5 6 7 8 9 0</em></p>
            </section>
        </div>
    </div>
</div>

</div>