<!-- Begin pattern: long-form //-->
<section class="long-form long-form--credits">
    <div class="container"><div class="row"><div class="long-form__wrapper">
        <div class="long-form__content">
            {{{credits-text}}}
        </div>
    </div></div></div>
</section>
<!-- End pattern: long-form //-->