<nav aria-label="{{option-heading}}">
{{#if pagination}}
    <ul class="pagination{{ul-class}}">
        <li{{#if disabled}} class="disabled"{{/if}}><a{{#if disabled}} tabindex="-1" aria-disabled="true"{{/if}} href="#" role="button"><span aria-hidden="true">&laquo;</span><span{{#if hide-button-labels}} class="sr-only"{{/if}}> Previous</span></a></li>
        <li{{#if active-1}} class="active"{{/if}}><a href="#" role="button">1</a></li>
        <li><a href="#" role="button">2</a></li>
        <li{{#if active-3}} class="active"{{/if}}><a href="#" role="button">3</a></li>
        <li><a href="#" role="button">4</a></li>
        <li><a href="#" role="button">5</a></li>
        {{#if split-pager}}
        <li><span>&hellip;</span></li>
        <li><a href="#" role="button">17</a></li>
        {{/if}}
        <li><a href="#" role="button"><span{{#if hide-button-labels}} class="sr-only"{{/if}}>Next </span><span aria-hidden="true">&raquo;</span></a></li>
{{else}}
    <ul class="pager">
        <li{{#if disabled}} class="disabled"{{/if}}><a{{#if disabled}} tabindex="-1" aria-disabled="true"{{/if}} href="#" role="button">Previous</a></li>
        <li><a href="#" role="button">Next</a></li>
    </ul>
{{/if}}
</nav>
