<nav>
{{#if pagination}}
    <ul class="pagination {{ul-class}}">
        <li {{#if disabled}}class="disabled"{{/if}}><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
        <li {{#if active-1}}class="active"{{/if}}><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li {{#if active-3}}class="active"{{/if}}><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
{{else}}
    <ul class="pager">
        <li {{#if disabled}}class="disabled"{{/if}}><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
{{/if}}
</nav>
