<!-- Begin pattern: tables //-->

<table class="table table-striped {{ colour-class }}">
    <thead>
        <tr>
        {{#each table-head}}
            <th>{{ this }}</th>
        {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each table-body}}
        <tr>
            <td>{{{ column-one }}}</td>
            <td>{{ column-two }}</td>
        </tr>
        {{/each}}
    </tbody>

</table>

<!-- End pattern: tables //-->
