// DPL2
// Grid system to layout pages

// Grid settings
$container-max-width: 1670px;
$container-default-width: 1170px; 


// Fallback to DPL 1 container / grid - LOOK TO INCREASE THESE OVER ENTIRE GRID AND ALL PATTERNS - CHANGE FROM PX
.sta-container {
	margin: 0 auto;
	max-width: $container-default-width;
	padding: 0 15px;
}

// Wider container that includes space for fixed width offsets 
.sta-container--wide {
	@media (min-width: 1670px){
		max-width: $container-max-width;
	}
}

.sta-grid {
	display: -ms-grid; // IE11 support
	display: grid;
}

// ! main column
.sta-grid__main {
	display: -ms-grid; // IE11 support
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "main";
}

// ! main column with offset columns (Offsets are 200px wide at large size and 100% when stacked)
.sta-grid__main--with-offsets {

	// Place offsets either side 
	@media (min-width: 1670px){
		display: -ms-grid; // IE11 support
		display: grid;
		-ms-grid-columns: 200px 50px 1fr 50px 200px; // IE11 doesnt support gaps so these must be extra columns
		grid-template-columns: 200px 1fr 200px;
		grid-column-gap: 50px;
		grid-template-rows: auto;
		grid-template-areas: "offset-1 main offset-2";
	}
}

// ! main column with aside column on right (Aside is 300px at large size)
.sta-grid__main-aside {

	// Place aside beside main
	@media (min-width: 900px){
		display: -ms-grid; // IE11 support
		display: grid;
		-ms-grid-columns: 1fr 50px 300px; // IE11 doesnt support gaps so these must be extra columns
		grid-template-columns: 1fr 300px;
		grid-column-gap: 50px;
		grid-template-rows: auto;
		grid-template-areas: "main aside";
	}
}

// ! main column with aside column on left (Aside is 300px wide at large size)
.sta-grid__aside-main {

	// Place aside beside main
	@media (min-width: 900px){
		display: -ms-grid; // IE11 support
		display: grid;
		-ms-grid-columns: 300px 50px 1fr; // IE11 doesnt support gaps so these must be extra columns
		grid-template-columns: 300px 1fr;
		grid-column-gap: 50px;
		grid-template-rows: auto;
		grid-template-areas: "aside main";
	}
}

// ! main column with aside column and offsets (Aside and offsets are fixed width at large size)
.sta-grid__main-aside--with-offsets {

	// Place aside beside main
	@media (min-width: 900px) and (max-width: 1669px){
		display: -ms-grid; // IE11 support
		display: grid;
		-ms-grid-columns: 1fr 50px 300px; // IE11 doesnt support gaps so these must be extra columns
		grid-template-columns: 1fr 300px;
		grid-column-gap: 50px;
		grid-template-rows: auto;
		grid-template-areas: "offset-1 offset-1" "main aside" "offset-2 offset-2";
	}

	// Place offsets either side 
	@media (min-width: 1670px){
		display: -ms-grid; // IE11 support
		display: grid;
		-ms-grid-columns: 200px 50px 1fr 50px 300px 50px 200px; // IE11 doesnt support gaps so these must be extra columns
		grid-template-columns: 200px 1fr 300px 200px;
		grid-column-gap: 50px;
		grid-template-rows: auto;
		grid-template-areas: "offset-1 main aside offset-2";
	}
}


// Place items in grid depending on their name
.sta-grid-item__main {
	grid-area: main;
}

.sta-grid-item__offset-1 {
	grid-area: offset-1;
}

.sta-grid-item__offset-2 {
	grid-area: offset-2;
}

.sta-grid-item__aside {
	grid-area: aside;
}
	
// IE11 support for directly placing an item in the grid
.sta-grid__main-offsets{
	// Place offsets either side 
	@media (min-width: 1670px){
		.sta-grid-item__main {
	        -ms-grid-row: 1;
	        -ms-grid-column: 3;
	    }
	    .sta-grid-item__offset-1 {
	        -ms-grid-row: 1;
	        -ms-grid-column: 1;
		}

		.sta-grid-item__offset-2 {
	        -ms-grid-row: 1;
	        -ms-grid-column: 5;
		}
	}
}

.sta-grid__main-aside {
	// Place aside beside main
	@media (min-width: 900px){
		.sta-grid-item__main {
	        -ms-grid-row: 1;
	        -ms-grid-column: 1;
	    }
	    .sta-grid-item__aside {
	        -ms-grid-row: 1;
	        -ms-grid-column: 3;
		}
	}
}

.sta-grid__main-aside--with-offsets {
	// Place aside beside main
	@media (min-width: 900px) and (max-width: 1669px){
		.sta-grid-item__main {
	        -ms-grid-row: 2;
	        -ms-grid-column: 1;
	    }
		.sta-grid-item__aside {
	        -ms-grid-row: 2;
	        -ms-grid-column: 3;
	    }
	    .sta-grid-item__offset-1 {
	        -ms-grid-row: 1;
	        -ms-grid-column: 1;
	        -ms-grid-column-span: 3;
		}
		.sta-grid-item__offset-2 {
	        -ms-grid-row: 3;
	        -ms-grid-column: 1;
	        -ms-grid-column-span: 3;
		}
	}

	// Place offsets either side 
	@media (min-width: 1670px){
		.sta-grid-item__main {
	        -ms-grid-row: 1;
	        -ms-grid-column: 3;
	    }
		.sta-grid-item__aside {
	        -ms-grid-row: 1;
	        -ms-grid-column: 5;
	    }
	    .sta-grid-item__offset-1 {
	        -ms-grid-row: 1;
	        -ms-grid-column: 1;
		}
		.sta-grid-item__offset-2 {
	        -ms-grid-row: 1;
	        -ms-grid-column: 7;
		}
	}
}

